<form>
	<div class="description"></div>
	<div class="group_fields">
		<label for="date">{{writeString=wns.scheduler.date}}</label>
		<input name="date" class="ui-widget-content autowidth" size="10" /><input name="time" class="ui-widget-content autowidth" size="10" />
	</div>
	<div class="params"></div>
</form>