<form>
	<label for="timezone">{{writeString=wns.scheduler.timezone}}</label><select name="timezone"></select>
	<div class="list"></div>
	<label for="action">{{writeString=wns.scheduler.action}}</label><select name="action"></select>
	<label for="date">{{writeString=wns.scheduler.date}}</label><input name="date" /><input name="time" />
	<button type="submit" class="rapila-icons">+</button>
</form>