<form class="accordion">
	<div class="group_fields" style="float:right;">
		<label for="timezone">{{writeString=wns.timezone}}</label>
		<select name="timezone" class="ui-widget-content input_medium" data-widget-type="timezone_input"></select>
	</div>
	<div class="group_fields">
		<label for="action">{{writeString=wns.scheduler.action}}</label>
		<select class="ui-widget-content input_medium" name="action"></select>
	</div>
	<div class="group_fields">
		<label for="date">{{writeString=wns.scheduler.date}}</label>
		<input name="date" class="ui-widget-content autowidth" size="10" /><input name="time" class="ui-widget-content autowidth" size="10" />
		<button type="submit" class="add_action rapila-icons">+</button>
	</div>
	<div class="list"></div>
</form>