<form>
	<div class="group_fields" style="float:right;">
		<label for="timezone">{{writeString=wns.timezone}}</label>
		<select name="timezone" class="ui-widget-content input_medium" data-widget-type="timezone_input"></select>
	</div>
	<div class="group_fields">
		<label for="action">{{writeString=wns.scheduler.action}}</label>
		<select class="ui-widget-content input_medium" name="action"></select>
		<button type="button" class="add_action rapila-icons">+</button>
	</div>
	<div class="list"></div>
</form>