Widget.types.document_edit = {
	prepare: function() {
		var display_modes = this.getDisplayMode();
		var config_modes = this.getConfigurationModes();
		this.content = (config_modes.document_categories.length === 0) ? jQuery.parseHTML("{{includeTemplate=edit_no_categories}}") : jQuery.parseHTML("{{includeTemplate=edit}}");
		var _this = this;
		jQuery.each(config_modes, function(config_name, options) {
			var select_name = config_name;
			if(select_name === 'document_categories') {
				select_name += '[]';
			}
			_this.content.find("select[name='"+select_name+"']").populate(options, display_modes[config_name]);
		});
		this._element.append(this.content);

		var detail_widget;
		Widget.create('document_detail', function(widget) {
			_this.detail_widget = widget;
			widget.save_callback = _this.reload_preview.bind(_this);
		});
		
		this.result_list = jQuery('<ol/>').addClass('ui-editable-items-list');;
		this.reload_preview();
		this._element.append(this.result_list);
		this.result_list.delegate('img', 'click', function() {
			var id = jQuery(this).data('id');
			_this.detail_widget.setDocumentId(id);
			_this.detail_widget.fill_data();
			_this.detail_widget.open();
		});
	},
	
	reload_preview: function() {
		var _this = this;
		this.result_list.empty();
		// this.allDocuments(function(documents) {
		// 	jQuery.each(documents, function(i, document) {
		// 		_this.result_list.append(jQuery('<img/>').attr({'alt': document.NAME, 'src' : FILE_PREFIX+'/display_document/'+document.ID+'?max_width=100'}).attr({'title' : "{{writeString=wns.edit_entry}}", 'class' : 'pointer'}).data('id', document.ID));
		// 	});
		// });
	},
	
	save: function(callback) {
		this.saveData(this._element.serializeArrayKV(), callback);
	}
};