Widget.types.document_edit = {
	prepare: function() {
		this.content = jQuery("{{includeTemplate=edit}}");
		var display_modes = this.getDisplayMode();
		var _this = this;
		jQuery.each(this.getConfigurationModes(), function(select_name, options) {
			var select_element = _this.content.find("select[name="+select_name+"]");
			jQuery.each(options, function(key, value) {
				var option = jQuery('<option/>').attr('value', key).text(value);
				if(display_modes[select_name] == key) {
					option.attr('selected', true);
				}
				select_element.append(option);
			});
		});
		this._element.append(this.content);

		var detail_widget;
		Widget.create('document_detail', function(widget) {
			_this.detail_widget = widget;
			widget.save_callback = _this.reload_preview.bind(_this);
		});
		
		this.result_list = jQuery('<ol/>');
		this.reload_preview();
		this._element.append(this.result_list);
		this.result_list.delegate('img', 'click', function() {
			var id = jQuery(this).data('id');
			_this.detail_widget.setDocumentId(id);
			_this.detail_widget.fill_data();
			_this.detail_widget.open();
		});
	},
	
	reload_preview: function() {
		var _this = this;
		this.result_list.empty();
		this.allDocuments(function(documents) {
			jQuery.each(documents, function(i, document) {
				_this.result_list.append(jQuery('<img/>').attr({'alt': document.NAME, 'src' : FILE_PREFIX+'/display_document/'+document.ID+'?max_width=100'}).data('id', document.ID));
			});
		});
	},
	
	save: function(callback) {
		
		var data = this._element.serializeArrayKV();
		console.log(this._element,data);
		this.saveData(data, callback);
	}
};