	<div class="group_fields">
		<label>{{writeString=document_list.category_option}}</label>
		<div style="padding:0.3em 1em 0.3em 0;">{{writeString=wns.document_category.no_categories_exists}}<br />{{writeString=wns.document_category.no_categories_display_info}}</div>
	</div>
	<div class="group_fields">
		<label for="list_template">{{writeString=document_list.template_option}}</label>
		<select name="list_template" class="ui-widget-content autowidth"></select>
	</div><br style="clear:left;" />
