	<div class="group_fields">
		<label for="categories[]">{{writeString=document_list.category_option}}</label>
		<select name="categories[]" {{if=eq;1=\{\{writeSettingValue=list_allows_multiple_categories\;section=admin\}\};2=true}} multiple="multiple"{{endIf}} class="ui-widget-content"></select>
	</div>
	<div class="group_fields">
		<label for="list_template">{{writeString=document_list.template_option}}</label>
		<select name="list_template" class="ui-widget-content autowidth"></select>
	</div>
	<div class="group_fields">
		<label for="sort_by">{{writeString=document_list.sort_option}}</label>
		<select name="sort_by" class="ui-widget-content autowidth"></select>
	</div><br style="clear:left;" />
