	<div class="group_fields">
		<label for="document_category_option">{{writeString=document_list.category_option}}</label>
		<select name="document_category_option"></select>
	</div>
	<div class="group_fields">
		<label for="template_option">{{writeString=document_list.category_option}}</label>
		<select name="template_option"></select>
	</div>
	<div class="group_fields">
		<label for="sort_option">{{writeString=document_list.category_option}}</label>
		<select name="sort_option"></select>
	</div><br style="clear:left;" />
