<label for="admin_required">{{writeString=admin_required}}</label><input type="checkbox" {{if=;1=\{\{admin_required\}\};2=true}}checked="checked" {{endIf}}name="admin_required" id="admin_required" /><br />
<label for="allowed_roles">{{writeString=module_manager.allowed_roles}}</label><select name="allowed_roles[]" id="allowed_roles" multiple="multiple" class="autoheight">
  {{allowed_roles}}
</select><br />
