<input type="checkbox" {{if=;1=\{\{admin_required\}\};2=true}}checked="checked" {{endIf}}name="admin_required" id="admin_required" /><label for="admin_required">{{writeString=admin_required}}</label><br />
<select name="allowed_groups[]" id="allowed_groups" multiple="multiple" class="autoheight">
  {{allowed_groups}}
</select><label for="allowed_groups">{{writeString=module_manager.allowed_groups}}</label><br />
