<form method="post" action="{{action}}">
  <fieldset>
    <h1>{{display_name}}</h1>
    {{identifierContext=start;name=description}}
    <p class="description">
      {{description}}
    </p>
    {{identifierContext=end;name=description}}
    <dl>
      <dt>{{writeString=module_manager.author}}</dt><dd>{{author;defaultValue=n/a}}</dd>
      <dt>{{writeString=module_manager.website}}</dt><dd>{{if=~;1=/^http:\/\//;2=\{\{website\}\}}}<a href="{{website}}">{{endIf}}{{website;defaultValue=n/a}}{{if=~;1=/^http:\/\//;2=\{\{website\}\}}}</a>{{endIf}}</dd>
      <dt>{{writeString=module_manager.version}}</dt><dd>{{version;defaultValue=n/a}}</dd>
    </dl>
    <input type="checkbox" {{if=;1=\{\{enabled\}\};2=true}}checked="checked" {{endIf}}{{if=;1=\{\{required\}\};2=true}}disabled="disabled" {{endIf}}name="enabled" id="enabled" /><label for="enabled">{{writeString=enabled}}</label><br />
  </fieldset>
  <button class="save"></button>
</form>