jQuery(document).ready(function() {
	var document_type_list = AdminInterface.content.find('.document_type_list').getWidget();
	var info_bar = AdminInterface.info_bar.getWidget();
	AdminInterface.info_bar.getWidget().add_button('add-new-item', function() {
		Widget.create('document_type_detail', function(widget) {
			widget.open();
			widget.save_callback = function() {
				jQuery('.document_type_list.ui-list').each(function() {
					jQuery(this).getWidget().reload();
				});
			};
		});
	}, 'n', true);
	info_bar.add_row_count_info_for_list(document_type_list);
		
	var sidebar = AdminInterface.sidebar.find('.ui-list').getWidget();
	sidebar.settings.row_click_active_mode = 'toggle';
	sidebar.handle('list.row-click', function(event, row, element) {
		var document_kind = element.data('document_kind');
		if(!element.hasClass('ui-state-active')) {
		 	document_kind = null;
		}
		document_type_list.setOption('document_kind', document_kind);
		document_type_list.reload();
	});

});