<div class="vertical-column-group left" style="width: 70%">
	<ul id="left-column" class="dashboard-column"></ul>
</div>
<div class="vertical-column-group right" style="width: 30%">
	<ul id="right-column" class="dashboard-column clear"></ul>
</div>
