<ul id="column1" class="dashboard-column" style="width: 33.333%"></ul>
<ul id="column2" class="dashboard-column" style="width: 33.333%"></ul>
<ul id="column3" class="dashboard-column" style="width: 33.333%"></ul>