<div class="dashboard-column-group">
	<ul id="head-column" class="dashboard-column"></ul>
</div>
<div class="dashboard-column-group">
	<ul id="column-1" class="dashboard-column" style="width: 33.333%"></ul>
	<ul id="column-2" class="dashboard-column" style="width: 33.333%"></ul>
	<ul id="column-3" class="dashboard-column" style="width: 33.333%"></ul>
</div>
