.ui-corner-all {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.ui-selectable-helper { z-index: 4000 !important; }
.ui-notify {
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.ui-notify .ui-state-highlight { background-image: none; }
.ui-notify.search_info {
  min-width: 50em;
  padding: 0.5em;
  vertical-align: top;
}
.ui-notify.search_info ul {
  margin: 0;
  padding: 0;
}
.ui-notify.search_info li {
  margin: 0;
  margin-left: 1.3em;
  padding: 0.2em 0;
}
.ui-loading {
  background: transparent url('../../images/admin/loader.gif') no-repeat scroll top left;
  min-width: 24px;
  min-height: 24px;
}
.ui-notify > div { padding: 0.3em; }
.ui-notify .ui-icon {
  float: left;
  margin-right: 10px;
}
.ui-icon-application { background-position: -32px -96px; }
.ui-icon-audio { background-position: -144px -160px; }
.ui-icon-text { background-position: -240px -128px; }
.ui-state-default { background: transparent; }
.ui-widget-content .ui-state-default { background: transparent; }
.cmos_alert.ui-dialog-content {
  background-color: #2d3238;
  color: #ffffff;
  padding-bottom: 0px;
}
.cmos_alert.ui-dialog-content p { font-size: 1.1em; }
.cmos_alert.ui-dialog-content .ui-icon { background-image: url("theme/images/ui-icons_b8d600_256x240.png"); }
#admin_sidebar .ui-tree { font-weight: 700; }
#admin_sidebar .ui-list { font-weight: 700; }
#admin_sidebar li.ui-state-active { font-weight: 700; }
#admin_sidebar li.ui-state-hover { font-weight: 700; }
#admin_sidebar li.ui-state-active li { color: #000000; }
.active-sidebar-list-item {
  border: none;
  background-color: #728697;
  background-image: none;
  border-bottom: 1px solid #d4d8dc;
}
#admin_sidebar .ui-list li.ui-state-hover {
  border: none;
  background-color: #728697;
  background-image: none;
  border-bottom: 1px solid #d4d8dc;
}
#admin_sidebar .ui-list li.ui-state-active {
  border: none;
  background-color: #728697;
  background-image: none;
  border-bottom: 1px solid #d4d8dc;
}
#admin_sidebar .ui-list li.ui-state-highlight {
  border: none;
  background-image: none;
  border-bottom: 1px solid #d4d8dc;
}
#admin_sidebar .ui-state-droppable { background-image: url('../../images/admin/ui-state-droppable.png'); }
#admin_sidebar span.sidebar_input_save {
  display: none;
  height: 16px;
  width: 16px;
}
#admin_sidebar span.sidebar_input_save.active { display: inline-block; }
form.page_detail {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
form.page_detail h3 { background-color: #ebedef; }
form.page_detail .status_section { background-color: #ebedef; }
.pages #admin_main { background-color: #ebedef; }
form.page_detail .ui-state-active { background-color: #ebedef; }
form.page_detail .ui-widget-content .ui-state-active { background-color: #ebedef; }
.ui-widget-content h3 { background-color: #ebedef; }
form.page_detail .ui-state-active { background-image: none; }
form.page_detail .ui-widget-content .ui-state-active { background-image: none; }
form.page_detail .status_section {
  border-top: none;
  border-bottom: #c1c2c4 1px solid;
  padding-bottom: 0.5em;
  padding-left: 1.6em;
}
form.page_detail .ui-accordion .ui-accordion-content { padding-top: 0; }
form.page_detail h3 {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  margin: 0;
  font-weight: 1.5em;
  border: none;
  border-bottom: #c1c2c4 1px solid;
}
.ui-dialog-content h3 {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  margin: 0;
  font-weight: 1.5em;
  border: none;
  border-bottom: #c1c2c4 1px solid;
}
form.page_detail .status_section h3 { border-bottom: none; }
form.page_detail h3 a {
  text-decoration: none;
  color: #666666;
}
.ui-dialog-content h3 a {
  text-decoration: none;
  color: #666666;
}
form.page_detail label.for_checkbox {
  margin-right: 2em;
  padding-left: 0.2em;
}
h3.ui-state-default a {
  font-size: 1.2em;
  font-weight: 700;
  color: #666666;
  padding: 0.3em 0.3em 0.3em 1.6em;
  border-bottom: none;
}
h3.ui-state-default a:link {
  font-size: 1.2em;
  font-weight: 700;
  color: #666666;
  padding: 0.3em 0.3em 0.3em 1.6em;
  border-bottom: none;
}
h3.ui-state-default a:visited {
  font-size: 1.2em;
  font-weight: 700;
  color: #666666;
  padding: 0.3em 0.3em 0.3em 1.6em;
  border-bottom: none;
}
h3.status {
  font-size: 1.2em;
  font-weight: 700;
  color: #666666;
  padding: 0.3em 0.3em 0.3em 1.6em;
  border-bottom: none;
}
h3.ui-state-active a {
  font-size: 1.2em;
  font-weight: 700;
  color: #666666;
  padding: 0.3em 0.3em 0.3em 1.6em;
  border-bottom: none;
}
h3.ui-state-active a:link {
  font-size: 1.2em;
  font-weight: 700;
  color: #666666;
  padding: 0.3em 0.3em 0.3em 1.6em;
  border-bottom: none;
}
h3.ui-state-active a:visited {
  font-size: 1.2em;
  font-weight: 700;
  color: #666666;
  padding: 0.3em 0.3em 0.3em 1.6em;
  border-bottom: none;
}
h3.status { padding-left: 0.3em; }
.page_detail .filled_modules {
  min-width: 350px;
  max-width: 500px;
  min-height: 300px;
  float: left;
  background-color: transparent;
  font-size: 4px;
  position: relative;
}
.page_detail .filled_modules.css_parsed { width: 500px; }
.page_detail .available_modules {
  min-width: 125px;
  max-width: 250px;
  margin: 23px 0 0 24px;
  min-height: 150px;
  padding: 0;
  float: left;
}
.page_detail .filled_modules ol.template-container {
  display: block;
  min-height: 70px !important;
  min-width: 150px !important;
  border: 1px solid #eeeeee !important;
  background-color: #ffffff;
  border-color: #dfdfdf;
}
.page_detail .available_modules li {
  list-style: none inside;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 2px 6px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  margin: 2px;
  text-align: left;
  background: #e3ef99 url("../../images/admin/filled_object_bg_gradient.png") repeat-x right bottom;
}
.page_detail .filled_modules ol.template-container li {
  list-style: none inside;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 2px 6px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  margin: 2px;
  text-align: left;
  background: #e3ef99 url("../../images/admin/filled_object_bg_gradient.png") repeat-x right bottom;
}
.page_detail .filled_modules ol.template-container li.language_object_emty { background: #e3ef99 url("../../images/admin/filled_object_bg_gradient_empty.png") repeat-x right bottom; }
.page_detail .filled_modules ol.template-container li {
  margin: 3px;
  padding: 5px 6px;
  min-height: 15.6px;
}
.page_detail .ui-widget-content .ui-icon {
  height: 20px;
  margin: -2px 2px 0 0;
  width: 26px;
}
.page_detail .ui-widget-content .ui-icon.ui-icon-trash { background: transparent url("../../images/admin/icon_trash.png") no-repeat center bottom; }
.page_detail .ui-widget-content .ui-icon.ui-icon-wrench { background: transparent url("../../images/admin/icon_edit_condition.png") no-repeat center bottom; }
.page_detail .ui-widget-content .ui-icon.ui-icon-pencil { background: transparent url("../../images/admin/icon_edit.png") no-repeat center bottom; }
.page_detail .available_modules li {
  padding: 1px 5px;
  background-color: #f2f2f2;
  z-index: 2;
}
.page_detail .filled_modules ol.template-container li {
  white-space: nowrap;
  font-size: 12px;
}
.page_detail .template-container-description {
  white-space: nowrap;
  font-size: 12px;
}
.page_detail .template-container-description {
  font-size: 13px;
  display: block;
  margin-top: 0.5em;
}
.page_detail div.ui-widget-content { border: 0; }
.ui-icon-trash.delete_inactive { background-image: url(''); }
#admin_sidebar .ui-state-droppable {
  border: 0 solid #b8d600;
  background: #e3ef99 url('../../images/admin/ui-state-droppable.png') right top no-repeat;
  color: #5b595b;
  cursor: pointer;
}
.document_detail .preview {
  padding: 0 !important;
  margin-left: -1px;
  border: 1px dashed #dddddd;
  background-color: #fbfbfb;
}
.document_detail .preview.file_exists { border: 1px solid #dddddd; }
.document_detail .ui-state-droppable .preview {
  border: 2px solid #b8d600;
  margin-left: -2px;
  cursor: pointer;
}
.image_browse_area:hover {
  border: 2px solid #b8d600;
  margin-left: -2px;
  cursor: pointer;
}
.document_detail .preview .droppable_info {
  display: block;
  line-height: 1.6em;
  min-height: 7em;
  padding: 2em 1em;
  color: #bebebe;
}
.ui-state-droppable a {
  color: #5b595b;
  cursor: pointer;
}
.ui-widget-content .ui-state-droppable a {
  color: #5b595b;
  cursor: pointer;
}
.ui-state-droppable .ui-icon { background-image: url('../../images/admin/ui-state-droppable.png'); }
.ui-accordion .ui-state-default .ui-icon-triangle-1-s {
  background-image: url('../../images/admin/icon_triangle_open.png');
  background-position: 3px 3px;
}
.ui-accordion .ui-state-active .ui-icon-triangle-1-s {
  background-image: url('../../images/admin/icon_triangle_open_active.png');
  background-position: 3px 3px;
}
.ui-accordion .ui-state-hover .ui-icon-triangle-1-s {
  background-image: url('../../images/admin/icon_triangle_open_active.png');
  background-position: 3px 3px;
}
.ui-accordion .ui-state-default .ui-icon-triangle-1-e {
  background-image: url('../../images/admin/icon_triangle_closed.png');
  background-position: 3px 3px;
}
.ui-accordion .ui-state-active .ui-icon-triangle-1-e {
  background-image: url('../../images/admin/icon_triangle_closed_active.png');
  background-position: 3px 3px;
}
.ui-accordion .ui-state-hover .ui-icon-triangle-1-e {
  background-image: url('../../images/admin/icon_triangle_closed_active.png');
  background-position: 3px 3px;
}
*[data-widget-type=tree].ui-widget-content .ui-icon {
  background-image: url('../../images/admin/icon_triangle_open_active.png');
  background-position: 6px 6px;
}
*[data-widget-type=tree].ui-widget-content .jstree-closed > .ui-icon {
  background-image: url('../../images/admin/icon_triangle_closed.png');
  background-position: 6px 5px;
}
*[data-widget-type=tree].ui-widget-content .jstree-closed > .ui-icon:hover {
  background-image: url('../../images/admin/icon_triangle_closed_active.png');
  background-position: 6px 5px;
}
.ui-accordion .ui-accordion-content.contents_container { padding: 0; }
.ui-accordion .ui-accordion-content.configuration_container { padding: 0; }
fieldset.option_groups {
  margin-top: -1px;
  border: 1px #c4c4c4 solid;
}
fieldset.option_groups:first-child { margin-top: 0; }
.users fieldset.option_groups { padding: 0; }
.ui-accordion .ui-accordion-content.contents_container div.ui-widget-content {
  padding: 0;
  border-color: #cccdcf;
}
.ui-accordion .ui-accordion-content.configuration_container div.ui-widget-content {
  padding: 0;
  border-color: #cccdcf;
}
label span.error_display::before { content: ' '; }
label span.error_display { color: red; }
.delete_drop_zone {
  float: left;
  height: 100px;
  margin: 23px 2px 2px 2px;
  padding: 2px;
  width: 100px;
}
.ui-image-picker-image .ui-icon.ui-icon-trash {
  position: absolute;
  bottom: 2px;
  right: 2px;
}
.add_entry, .remove_entry {
  height: 24px;
  width: 24px;
  margin-top: 0.2em;
  display: inline-block;
  cursor: pointer;
}
td span.remove_entry { margin: 0; }
.delete_entry {
  margin-left: 1.5em;
  display: inline-block;
  cursor: pointer;
}
.error_display_indicator {
  background-image: url("../../images/admin/error_display_indicator_bg.png") !important;
  background-repeat: no-repeat !important;
  background-position: left top !important;
}
