html {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  font-size: 0.75em;
  margin: 0 0;
}
body.login h1 {
  text-align: center;
  font-size: 5em;
  color: #c2c2c2;
}
#admin_area, #admin_info_bar, #viewscreen_loader {
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
}
#admin_area {
  top: 31px;
  bottom: 25px;
  background-color: #ffffff;
}
#admin_sidebar, #admin_main {
  overflow-y: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #f6f6f6;
}
#admin_main {
  padding: 0px 2px 0 0;
  border-left: 1px solid #d4d8dc;
  overflow-y: scroll;
}
#viewscreen_loader {
  top: 31px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(220, 220, 220, 0.5);
  background-repeat: no-repeat;
  background-image: url('../../images/admin/loader_big.gif');
  background-position: center center;
  z-index: 10001;
}
#admin_sidebar {
  left: 0;
  width: 277px;
  border: none;
  border-right: 1px solid #d4d8dc;
  padding: 0px 0;
  background: #dfe1e3;
  z-index: 10;
}
#admin_sidebar .ui-tabs-nav { background: #f6f6f6; }
#admin_sidebar .ui-tabs-nav li a { font-weight: 700; }
#admin_sidebar .ui-tabs-nav .ui-state-active { background: #dfe1e3; }
#admin_main { left: 0; }
#admin_sidebar + #admin_main { left: 277px; }
#admin_main {
  right: 0;
  padding-right: 0;
}
#admin_info_bar {
  left: 0;
  right: 0;
  height: 24px;
  bottom: 0px;
  border-top: 1px solid #d4d8dc;
}
#admin_info_bar .infobar_context { position: relative; }
#admin_info_bar .sidebar_resizer {
  position: relative;
  background-image: url('../../images/admin/sidebar_resizer.png');
  width: 20px;
  height: 24px;
  left: 277px;
  cursor: ew-resize;
  padding-right: 0px;
  border-right: 1px solid #d4d8dc;
  margin-left: -20px;
  float: left;
}
.infobar_right {
  position: relative;
  left: 277px;
  max-width: 75em;
  min-width: 40em;
  margin-right: 307px;
}
.infobar_right button.info-bar-element-page {
  float: right;
  background-color: #dbdbdb;
  color: #777777;
  padding: 0.1 1em 0.1em;
  margin: 0.2em 0.3em;
}
.infobar_right button.info-bar-element-page.ui-state-default { border-color: #999999 #9e9e9e #9e9e9e #9e9e9e; }
.infobar_right button[name=save].info-bar-element-page { background-color: #f1f1f1; }
.infobar_right input {
  float: left;
  width: 20em;
  font-size: 0.95em;
}
.infobar_right form { margin-left: 24px; }
#admin_info_bar .infobar_left { position: absolute; }
#admin_info_bar .info-bar-element {
  float: left;
  height: 24px;
  border: none;
  border-right: 1px solid #d4d8dc;
}
#admin_info_bar select.info-bar-element {
  vertical-align: middle;
  padding: 4px 0 2px;
}
#admin_info_bar .info-bar-button {
  width: 24px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  padding-right: 1px;
  cursor: pointer;
}
#admin_info_bar .info-bar-element {
  line-height: 24px;
  vertical-align: middle;
}
#admin_info_bar .info-bar-element-page {
  background: #f1f1f1 url("../../images/admin/button_gradient_bright.png");
  line-height: auto;
}
#admin_info_bar button.info-bar-element-page[name="save"] {
  color: #e3ef99;
  background: #f1f1f1 url("../../images/admin/button_gradient_dark.png");
}
#admin_info_bar input.info-bar-element {
  border-color: #e4e4e4;
  border-right-style: dotted;
  vertical-align: middle;
}
#admin_info_bar input.info-bar-element.default_state { background-color: transparent; }
#admin_info_bar span.info-bar-element {
  display: block;
  line-height: 24px;
  vertical-align: middle;
}
#admin_info_bar .info-bar-element.row_count_info {
  padding-left: 1em;
  color: #888888;
  border-right: 0;
}
#admin_info_bar .remove-item {
  background-image: url('../../images/admin/remove_item.png');
  background-repeat: no-repeat;
}
.remove-item {
  background-image: url('../../images/admin/remove_item.png');
  background-repeat: no-repeat;
}
#admin_info_bar .action { background-image: url('../../images/admin/action.png'); }
#admin_info_bar .search_field { padding: 0 4px; }
#admin_info_bar .search_button { background-image: url('../../images/admin/search_icon.gif'); }
#admin_info_bar .search_button.active { background-image: url('../../images/admin/search_icon_active.gif'); }
#admin_info_bar .search_field_reset {
  background-image: url('../../images/admin/search_reset.png');
  border: none;
  width: 16px;
  margin-left: -24px;
  z-index: 1;
  border-right: 0;
}
.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000 !important;
  display: none;
  padding: 0.5em 1em;
  font-size: 0.9em !important;
}
input {
  padding: 0.3em;
  margin-bottom: 0.3em;
}
input[type=checkbox] { padding: 0 !important; }
input.default_state { color: #9e9e9e; }
ui-widget { font-size: 0.5em; }
textarea.ui-widget-content { width: 22em; }
#admin_sidebar ol {
  padding: 0;
  margin: 0;
}
.ui-sortable, .ui-draggable, .ui-state-droppable { cursor: move; }
#admin_sidebar input {
  padding: 0 0 0 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  color: #777777;
  font-size: 1em;
  width: 240px;
}
.ui-dialog .ui-dialog-buttonpane button { padding: 0 0.5em; }
.ui-dialog {
  background-color: #000000;
  padding: 0 !important;
}
.ui-widget-content { background: none #f9f9f9; }
div.ui-widget-content { border: 1px solid #999999; }
.ui-tabs a { cursor: pointer !important; }
