.ui-selectable-helper { z-index: 4000 !important; }
.ui-notify {
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.ui-loading {
  background: transparent url('../../images/admin/loader.gif') no-repeat scroll top left;
  min-width: 24px;
  min-height: 24px;
}
.ui-notify > div { padding: 0.3em; }
.ui-notify .ui-icon {
  float: left;
  margin-right: 10px;
}
.ui-icon-application { background-position: -240px -128px; }
#admin_sidebar .ui-tree .ui-icon.ui-icon-is-protected {
  float: right;
  height: 22px;
  width: 29px;
  margin-top: 2px;
  margin-right: 5px;
}
#admin_sidebar .ui-tree .ui-icon.ui-icon-is-hidden {
  float: right;
  height: 22px;
  width: 29px;
  margin-top: 2px;
  margin-right: 5px;
}
#admin_sidebar .ui-tree li span { display: block; }
.ui-state-hover .ui-icon.ui-icon-is-protected { background: transparent url('../../images/admin/protected_active.png') no-repeat; }
.ui-state-active .ui-icon.ui-icon-is-protected { background: transparent url('../../images/admin/protected_active.png') no-repeat; }
.ui-state-hover .ui-icon.ui-icon-is-hidden { background: transparent url('../../images/admin/hidden_active.png') no-repeat; }
.ui-state-active .ui-icon.ui-icon-is-hidden { background: transparent url('../../images/admin/hidden_active.png') no-repeat; }
#admin_sidebar .ui-tree .ui-icon.ui-icon-is-protected { background: transparent url('../../images/admin/protected_default.png') no-repeat; }
.ui-state-default .ui-icon.ui-icon-is-protected { background: transparent url('../../images/admin/protected_default.png') no-repeat; }
#admin_sidebar .ui-tree .ui-icon.ui-icon-is-hidden { background: transparent url('../../images/admin/hidden_default.png') no-repeat; }
.ui-state-default .ui-icon.ui-icon-is-hidden { background: transparent url('../../images/admin/hidden_default.png') no-repeat; }
.ui-image-picker-image {
  float: left;
  margin: 0 5px 5px 0;
  padding: 5px;
}
.ui-widget .status_section {
  font-family: Arial;
  margin-top: 1em;
  padding-right: 2em;
  width: 16em;
  float: right;
  border-left: 1px solid #f2f2f2;
  padding: 0 1em;
}
.ui-widget .status_section select { width: 15em; }
.ui-widget-header {
  color: #efefef;
  border: 0;
}
.ui-dialog .ui-dialog-content { padding: 1.5em 1em 2em; }
.cmos_alert.ui-dialog-content {
  background-color: #2d3238;
  color: #ffffff;
  padding-bottom: 0px;
}
.cmos_alert.ui-dialog-content p { margin-top: 2em; }
.cmos_alert.ui-dialog-content .ui-icon { background-image: url("admin_menu/images/ui-icons_b8d600_256x240.png"); }
.ui-dialog .ui-dialog-titlebar {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border-width: 0;
  padding: 0.6em 0.8em;
}
.ui-state-active .ui-icon { background-image: url("admin_menu/images/ui-icons_000000_256x240.png"); }
.ui-state-hover .ui-icon { background-image: url("admin_menu/images/ui-icons_000000_256x240.png"); }
#admin_sidebar .ui-tree { font-weight: 700; }
#admin_sidebar .ui-list { font-weight: 700; }
#admin_sidebar li.ui-state-active { font-weight: 700; }
#admin_sidebar li.ui-state-hover { font-weight: 700; }
.ui-dialog .ui-dialog-buttonpane {
  margin-top: 0;
  background: url("images/ui-bg_highlight-soft_45_2d3238_1x100.png") repeat-x scroll 50% 50% #2d3238 !important;
  border-top: 0;
}
button.ui-button.ui-state-default {
  line-height: 14px;
  border-color: #000000 #555555 #666666 #555555;
  border-width: 1px 1px 1px 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
#admin_info_bar button.ui-button.info-bar-element.ui-state-default {
  line-height: 14px;
  border-color: #000000 #555555 #666666 #555555;
  border-width: 1px 1px 1px 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
#admin_sidebar li.ui-state-active li { color: #000000; }
.active-sidebar-list-item {
  border: none;
  background-color: #728697;
  background-image: none;
  border-bottom: 1px solid #d4d8dc;
}
#admin_sidebar .ui-list li.ui-state-hover {
  border: none;
  background-color: #728697;
  background-image: none;
  border-bottom: 1px solid #d4d8dc;
}
#admin_sidebar .ui-list .ui-state-active li.ui-state-hover {
  border: none;
  background-color: #728697;
  background-image: none;
  border-bottom: 1px solid #d4d8dc;
}
#admin_sidebar .ui-list li.ui-state-active {
  border: none;
  background-color: #728697;
  background-image: none;
  border-bottom: 1px solid #d4d8dc;
}
#admin_sidebar .ui-tree li li {
  background-image: url('../../images/admin/child_default.gif');
  background-repeat: no-repeat;
  background-position: top left;
}
#admin_sidebar .ui-tree li li.ui-state-hover {
  background-image: url('../../images/admin/child_default.gif');
  background-repeat: no-repeat;
  background-position: top left;
}
#admin_sidebar .ui-tree li li.ui-state-active {
  background-image: url('../../images/admin/child_default.gif');
  background-repeat: no-repeat;
  background-position: top left;
}
#admin_sidebar .ui-tree li ol ol {
  background-image: url('../../images/admin/child_line.gif');
  background-repeat: no-repeat;
  background-position: top left;
}
#admin_sidebar .ui-tree li li:last-child {
  background-image: url('../../images/admin/child_last.gif');
  background-repeat: no-repeat;
  background-position: bottom left;
}
#admin_sidebar .ui-tree li li.ui-state-hover:last-child {
  background-image: url('../../images/admin/child_last.gif');
  background-repeat: no-repeat;
  background-position: bottom left;
}
#admin_sidebar .ui-tree li li.ui-state-active:last-child {
  background-image: url('../../images/admin/child_last.gif');
  background-repeat: no-repeat;
  background-position: bottom left;
}
#admin_sidebar .ui-tree li.ui-state-hover {
  background-color: #728697;
  background-image: none;
  border-bottom: none;
}
#admin_sidebar .ui-tree li.ui-state-hover ol { background-color: #dfe1e3; }
#admin_sidebar .ui-tree li.ui-state-hover ol li { background-color: #dfe1e3; }
#admin_sidebar .ui-tree li.ui-state-active {
  background-color: #728697;
  background-image: none;
  border-bottom: none;
}
#admin_sidebar .ui-tree li.ui-state-active ol { background-color: #dfe1e3; }
#admin_sidebar .ui-tree li.ui-state-active ol li { background-color: #dfe1e3; }
#admin_sidebar .ui-tree li { border: none !important; }
#admin_sidebar > ol.ui-tree > li.ui-state-hover {
  border-bottom: none !important;
  background-color: #728697;
}
#admin_sidebar > ol.ui-tree li.ui-state-active li.ui-state-hover { background-color: #728697; }
#admin_sidebar > ol.ui-tree > li.ui-state-hover li.ui-state-active { background-color: #728697; }
#cmos_admin_menu .cmos-button.ui-state-default { background: url() transparent; }
.ui-state-default { background: url() transparent; }
.ui-widget-content .ui-state-default { background: url() transparent; }
#admin_sidebar li.ui-state-active { color: white; }
#admin_sidebar span.sidebar_input_save {
  display: none;
  height: 16px;
  width: 16px;
}
#admin_sidebar span.sidebar_input_save.active { display: inline-block; }
.ui-widget-content { background: url() #ffffff; }
div.ui-widget-content { border: 1px solid #999999; }
.ui-widget-content input { background-color: #ffffff; }
.ui-widget-content select { background-color: #ffffff; }
.ui-widget-content textarea { background-color: #ffffff; }
form .inner_wrapper {
  padding: 0 0em;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border: none;
  background: url() #f9f9f9;
  border-top: #c1c2c4 1px solid !important;
  border-bottom: #dddfe1 1px solid;
}
form.page_detail {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
form.page_detail h3 { background-color: #ebedef; }
form.page_detail .status_section { background-color: #ebedef; }
.pages #admin_main { background-color: #ebedef; }
form.page_detail .ui-state-active { background-color: #ebedef; }
form.page_detail .ui-widget-content .ui-state-active { background-color: #ebedef; }
form.page_detail .ui-state-active {
  background-image: none;
  color: #000000;
}
form.page_detail .ui-widget-content .ui-state-active {
  background-image: none;
  color: #000000;
}
form.page_detail .status_section {
  border-top: none;
  border-bottom: #c1c2c4 1px solid;
  padding-bottom: 0.5em;
  padding-left: 1.6em;
}
form.page_detail .ui-accordion .ui-accordion-content { padding-top: 0; }
form.page_detail h3 {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  margin: 0;
  font-weight: 1.5em;
  border: none;
  border-bottom: #c1c2c4 1px solid;
}
form.page_detail h3 a {
  text-decoration: none;
  color: #666666;
}
form.page_detail label { display: inline-block; }
form.page_detail label.for_checkbox {
  margin-right: 2em;
  padding-left: 0.2em;
}
.inner_wrapper label { width: 120px; }
form.page_detail h3.ui-state-default a {
  font-size: 1.2em;
  font-weight: 700;
  color: #666666;
  padding: 0.3em 0.3em 0.3em 1.6em;
  border-bottom: none;
}
form.page_detail h3.ui-state-default a:link {
  font-size: 1.2em;
  font-weight: 700;
  color: #666666;
  padding: 0.3em 0.3em 0.3em 1.6em;
  border-bottom: none;
}
form.page_detail h3.ui-state-default a:visited {
  font-size: 1.2em;
  font-weight: 700;
  color: #666666;
  padding: 0.3em 0.3em 0.3em 1.6em;
  border-bottom: none;
}
form.page_detail h3.status {
  font-size: 1.2em;
  font-weight: 700;
  color: #666666;
  padding: 0.3em 0.3em 0.3em 1.6em;
  border-bottom: none;
}
form.page_detail .ui-state-active a {
  font-size: 1.2em;
  font-weight: 700;
  color: #666666;
  padding: 0.3em 0.3em 0.3em 1.6em;
  border-bottom: none;
}
form.page_detail .ui-state-active a:link {
  font-size: 1.2em;
  font-weight: 700;
  color: #666666;
  padding: 0.3em 0.3em 0.3em 1.6em;
  border-bottom: none;
}
form.page_detail .ui-state-active a:visited {
  font-size: 1.2em;
  font-weight: 700;
  color: #666666;
  padding: 0.3em 0.3em 0.3em 1.6em;
  border-bottom: none;
}
form.page_detail h3.status { padding-left: 0.3em; }
.ui-widget-content.path_input {
  font-family: Courier;
  background: url() #ebedef;
  font-size: 1em;
}
input.ui-widget-content.input_long { width: 35em; }
select.ui-widget-content.input_short { width: 18em; }
input.path_input.ui-widget-content:hover { background: url() #ffffff; }
input.path_input.ui-widget-content:selected { background: url() #ffffff; }
.page_properties_container span { margin-left: 1em; }
fieldset.page_properties_container {
  margin-top: 1em;
  margin-left: 0;
  padding-left: 0.2em;
  border: 1px solid #dfe1e3;
  display: none;
}
fieldset.page_properties_container legend {
  margin-left: -0.3em;
  padding-left: 0 0.3em;
}
div.container {
  background-color: #f2f2f2;
  border-bottom: #dddddd 1px solid;
}
.contents_container h4 {
  margin: 0;
  padding: 0.2em 0;
}
.page_detail .filled_modules {
  margin-top: 12px;
  width: 500px;
  min-height: 300px;
  float: left;
  background-color: white;
  border: 1px red solid;
}
.page_detail .available_modules {
  min-width: 100px;
  max-width: 250px;
  margin: 12px 0 0 1em;
  min-height: 150px;
  padding: 0;
  float: left;
  background-color: #f2f2f2;
}
.page_detail .filled_modules ol.template-container {
  display: block;
  min-height: 100px !important;
  width: 220px !important;
  border: 1px solid red !important;
}
.available_modules li {
  list-style: none inside;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 4px 6px;
  border-radius: 3px;
  border: 1px solid #999999;
  margin-bottom: 4px;
}
.filled_modules li {
  list-style: none inside;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 4px 6px;
  border-radius: 3px;
  border: 1px solid #999999;
  margin-bottom: 4px;
}
