@import "admin"

html
	overflow hidden
	font-family Arial, Helvetica, sans-serif

body
	font-size 0.75em
	margin 0 side_window_distance
	.login h1
		text-align center
		font-size 5em
		color #C2C2C2

#admin_area, #admin_info_bar, #viewscreen_loader
	position absolute
	overflow hidden
	left side_window_distance
	right side_window_distance

#admin_area
	top admin_menu_height
	bottom info_bar_height + border_width
	background-color #FFFFFF

#viewscreen_loader
	top admin_menu_height
	left 0
	right 0
	bottom 0
	background-color rgba(220, 220, 220, 0.5)
	background-repeat no-repeat
	background-image url('../../images/admin/loader_big.gif')
	background-position center center
	z-index 10001

#admin_sidebar, #admin_main
	overflow-y auto
	position absolute
	top 0
	bottom 0
	background-color background_color

#admin_main
	padding 0px 2px 0 0
	border-left border
	overflow-y scroll
	left 0

#admin_sidebar + #admin_main
	left initial_sidebar_width

#admin_main
	right 0
	padding-right side_window_distance

#admin_sidebar
	left 0
	width initial_sidebar_width
	border none
	border-right border
	padding 0px 0
	background background_color_sidebar
	z-index 10
	.ui-tabs-nav
		background #F6F6F6
	.ui-tabs-nav li a
		font-weight 700
	.ui-tabs-nav .ui-state-active
		background #DFE1E3
	input
		padding 3px 3px 3px 4px
		margin 0
		border 0
		background-color transparent
		color #777
		font-size 1.2em
		width 230px
		border-bottom 1px solid #DDD
	ol
		padding 0
		margin 0

#admin_info_bar
	left 0
	right 0
	height info_bar_height
	bottom 0px
	border-top border
	.infobar_context
		position relative
	.sidebar_resizer
		position relative
		background-image url('../../images/admin/sidebar_resizer.png')
		width sidebar_resizer_width
		height info_bar_height
		left initial_sidebar_width
		cursor ew-resize
		padding-right 0px
		border-right border
		margin-left -(sidebar_resizer_width)
		float left
	.infobar_right
		position absolute
		left initial_sidebar_width
		right 0
		form
			margin-left 24px
		input
			float left
			width 20em
			font-size 0.95em
		.infobar_commons
			position absolute
			right 0
	.infobar_left
		position absolute
	.info-bar-element
		float left
		height info_bar_height
		border none
		border-right border
		&.rapila-icon
			font-size 1.2em
			color #666666
	select.info-bar-element
		vertical-align middle
		padding 4px 0 2px
	.info-bar-button
		width info_bar_height
		background-color transparent
		background-repeat no-repeat
		background-position center center
		padding-right 1px
		cursor pointer
	.info-bar-element
		line-height info_bar_height
		vertical-align middle
		&.row_count_info
			padding-left 1em
			color #888
			border-right 0
	input.info-bar-element
		border-color #E4E4E4
		border-right-style dotted
		vertical-align middle
		&.default_state
			background-color transparent
	span.info-bar-element
		display block
		line-height info_bar_height
		vertical-align middle
	.search_field
		padding 0 4px
	.search_button
		background-image url('../../images/admin/search_icon.gif')
	.search_button.active
		background-image url('../../images/admin/search_icon_active.gif')
	.search_field_reset
		background-image url('../../images/admin/search_reset.png')
		border none
		width 16px
		margin-left -24px
		z-index 1
		border-right 0

.tooltip,
.cke_skin_kama .tooltip
	background-color white
	font-size 12px
	line-height 1.2em
	position absolute
	top 0
	left 0
	z-index 10000
	display none
	padding 0.5em 1em
	font-size 0.9em

input
	padding 0.3em
	margin-bottom 0.3em
	&[type=checkbox]
		padding 0
	&.default_state
		color #9E9E9E

ui-widget
	font-size 0.5em

textarea.ui-widget-content
	width 22em

.ui-sortable, .ui-draggable, .ui-state-droppable
	cursor move

.ui-dialog
	background-color #000
	padding 0 !important
  .ui-dialog-buttonpane button
 		padding 0 0.5em

.ui-widget-content
	background none #F9F9F9

div.ui-widget-content
	border 1px solid #999

.ui-tabs a
	cursor pointer

