.ui-corner-all{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.ui-selectable-helper{z-index:4000 !important}
.ui-notify{margin-left:auto;margin-right:auto;width:auto;}
.ui-notify .ui-state-highlight{background-image:none}
.ui-notify.search_info{min-width:50em;padding:.5em;vertical-align:top}
.ui-notify.search_info ul{margin:0;padding:0}
.ui-notify.search_info li{margin:0;margin-left:1.3em;padding:.2em 0}
.ui-loading{background:transparent url("../../images/admin/loader.gif") no-repeat scroll top left;min-width:24px;min-height:24px}
.ui-loading-add{background:transparent url("../../images/admin/loader_add_button.gif") no-repeat scroll top left;min-width:24px;min-height:24px}
.ui-notify > div{padding:.3em}
.ui-notify .ui-icon{float:left;margin-right:10px}
.ui-icon-application{background-position:-32px -96px}
.ui-icon-audio{background-position:-144px -160px}
.ui-icon-text{background-position:-240px -128px}
.ui-state-default,#admin_sidebar .ui-state-default{background:transparent}
.rapila_alert.ui-dialog-content{background-color:#2d3238;color:#fff;padding-bottom:0}
.rapila_alert.ui-dialog-content p{font-size:1.1em}
.rapila_alert.ui-dialog-content .ui-icon{background-image:url("theme/images/ui-icons_b8d600_256x240.png")}
#admin_sidebar .ui-tree,#admin_sidebar .ui-list,#admin_sidebar .ui-list-row.ui-state-active,#admin_sidebar .ui-list-row.ui-state-hover{font-weight:700}
#admin_sidebar .ui-tree li.ui-state-active li{color:#000}
#admin_sidebar .ui-state-droppable{background-image:none}
#admin_sidebar span.sidebar_input_save{float:right;margin-top:2px;display:none;height:16px;width:16px}
#admin_sidebar span.sidebar_input_save.active{display:inline-block}
form.page_detail{background-color:#fff;margin:0;padding:0;vertical-align:top}
form.page_detail .status_section,.pages #admin_main,.ui-widget-content h3{background-color:#ebedef}
form.page_detail .ui-state-active,form.page_detail .ui-widget-content .ui-state-active{background-image:none}
form.page_detail .status_section{border-top:none;border-bottom:#c1c2c4 1px solid;padding-bottom:.5em;padding-left:1.6em}
form.page_detail .status_section h3{border-bottom:none}
.status_section h3{font-size:12px;background-color:transparent;border-bottom:none;margin-bottom:.5em}
form.page_detail h3 a,.ui-dialog-content h3 a{text-decoration:none;color:#666}
form.page_detail label.for_checkbox,input[type=checkbox] + label.for_checkbox{margin-right:2em;padding-left:.2em;display:inline-block;padding-right:.5em}
h3.status{padding-left:.3em}
#admin_main .ui-list .ui-list-row.ui-state-hover,#admin_main .ui-list .ui-list-row.ui-state-active{background-image:url("theme/images/selected_row.png");background-repeat:repeat;background-attachment:scroll;border:0}
#admin_main .ui-list tr.ui-list-row.ui-state-hover .ui-icon,#admin_main .ui-list tr.ui-list-row.ui-state-highlight .ui-icon{background-image:url("theme/images/ui-icons_000000_256x240.png")}
#admin_main .ui-list td:first-child,#admin_main .ui-list th:first-child{min-width:15em}
#admin_sidebar .ui-list th:first-child{padding-left:5px}
#admin_sidebar .ui-list .ui-list-row.ui-state-hover,#admin_sidebar .ui-list .ui-list-row.ui-state-active{border:none;background-color:#728697;background-image:none;border-bottom:1px solid #d4d8dc}
#admin_sidebar .ui-list .ui-list-row.ui-state-highlight{border:none;background-image:none;border-bottom:1px solid #d4d8dc}
#admin_sidebar .ui-list .ui-list-row{cursor:pointer;background-color:transparent}
#admin_sidebar .ui-list .ui-state-active{color:#fff}
#admin_sidebar .ui-list .ui-list-row{font-size:1.2em;padding:3px 3px 3px 10px;border-bottom:1px solid #ddd;line-height:20px}
#admin_sidebar .ui-list ol > li.ui-list-row.ui-state-hover{border:none}
#admin_sidebar .ui-list .ui-list-row,#admin_sidebar .ui-list .ui-list-row .ui-list-cell:first-child{padding-left:5px}
#admin_sidebar .ui-list li.ui-list-headrow span{padding-left:5px}
#admin_sidebar .ui-list th{line-height:14px}
.page_detail .filled_modules{min-width:350px;max-width:500px;min-height:300px;float:left;background-color:transparent;font-size:4px;position:relative}
.page_detail .filled_modules.css_parsed{width:500px}
.page_detail .available_modules{min-width:125px;max-width:250px;margin:23px 0 0 24px;min-height:150px;padding:0;float:left}
.page_detail .filled_modules ol.template-container{display:block;min-height:70px !important;min-width:150px !important;border:1px solid #eee !important;background-color:#fff;border-color:#dfdfdf}
.page_detail .available_modules li,.page_detail .filled_modules ol.template-container li{list-style:none inside;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;padding:2px 6px;border:1px solid #ccc;margin:2px;text-align:left;background:#e3ef99 url("../../images/admin/filled_object_bg_gradient.png") repeat-x right bottom}
.page_detail .filled_modules ol.template-container li.language_object_emty{background:#e3ef99 url("../../images/admin/filled_object_bg_gradient_empty.png") repeat-x right bottom}
.page_detail .filled_modules ol.template-container li{margin:3px;padding:5px 6px;min-height:15.6px}
.page_detail .ui-widget-content .template-container .ui-icon{height:20px;margin:-2px 2px 0 0;width:26px}
.page_detail .ui-widget-content .template-container .ui-icon.ui-icon-trash{background:transparent url("../../images/admin/icon_trash.png") no-repeat center bottom}
.page_detail .ui-widget-content .template-container .ui-icon.ui-icon-wrench{background:transparent url("../../images/admin/icon_edit_condition.png") no-repeat center bottom}
.page_detail .ui-widget-content .template-container .ui-icon.ui-icon-pencil{background:transparent url("../../images/admin/icon_edit.png") no-repeat center bottom}
.page_detail .available_modules li{padding:1px 5px;background-color:#f2f2f2;z-index:2}
.page_detail .filled_modules ol.template-container li,.page_detail .template-container-description{white-space:nowrap;font-size:12px}
.page_detail .template-container-description{font-size:13px;display:block;margin-top:.5em}
.page_detail div.ui-widget-content{border:0}
.ui-icon-trash.delete_inactive{background-image:none}
#admin_sidebar .ui-state-droppable,.image_browse_area.ui-state-droppable{color:#5b595b;cursor:pointer}
.pointer{cursor:pointer}
.image_browse_area.ui-state-droppable,div.ui-state-droppable{border:1px solid #b8d600;cursor:pointer}
.image_browse_area.ui-state-droppable{background-color:#e3ef99}
.ui-state-droppable a,.ui-widget-content .ui-state-droppable a{color:#5b595b;cursor:pointer}
*[data-widget-type=tree].ui-widget-content .ui-icon{background-image:url("../../images/admin/icon_triangle_open_active.png");background-position:6px 6px}
*[data-widget-type=tree].ui-widget-content .jstree-closed > .ui-icon{background-image:url("../../images/admin/icon_triangle_closed.png");background-position:6px 5px}
*[data-widget-type=tree].ui-widget-content .jstree-closed > .ui-icon:hover{background-image:url("../../images/admin/icon_triangle_closed_active.png");background-position:6px 5px}
.users fieldset.option_groups{padding:0}
.ui-accordion .ui-accordion-content.contents_container	div.ui-widget-content,.ui-accordion .ui-accordion-content.configuration_container	 div.ui-widget-content{padding:0;border-color:#cccdcf}
label span.error_display::before,legend span.error_display::before,label span.error_display::-moz-before,label span.error_display::-webkit-before,legend span.error_display::-moz-before,legend span.error_display::-webkit-before{content:" "}
label span.error_display,legend span.error_display{color:#f00}
.delete_drop_zone{float:left;height:100px;margin:23px 2px 2px 2px;padding:2px;width:100px}
.add_entry,.remove_entry{height:24px;width:24px;margin-top:.2em;display:inline-block;cursor:pointer}
td span.remove_entry{margin:0}
.delete_entry{margin-left:1.5em;display:inline-block;cursor:pointer}
.error_display_indicator{background-image:url("../../images/admin/error_display_indicator_bg.png") !important;background-repeat:no-repeat !important;background-position:left top !important}
.ui-progressbar{margin-top:.3em;height:1.5em;background-color:#999}
