
.ui-widget {
  font-family: Arial, Helvetica, sans-serif;
}

.ui-selectable-helper {
	z-index: 4000 !important;
}

.ui-notify {
	margin-left: auto;
	margin-right: auto;
	width: auto;
}

.ui-loading {
	background: transparent url('../../images/admin/loader.gif') no-repeat scroll top left;
	min-width: 24px;
	min-height: 24px;
}

.ui-notify > div {
	padding: 0.3em;
}

.ui-notify .ui-icon {
	float: left;
	margin-right: 10px;
}

.ui-icon-application { background-position: -240px -128px; }

.ui-image-picker-image {
	float: left;
	margin: 0 5px 5px 0;
	padding: 5px;
}

table.ui-list {
	width: 100%;
	margin: 5px 0 0 0;
	padding: 0;
}

table.ui-list col.file_info {
	text-align: right;
}

#admin_main .ui-list .ui-list-row:nth-child(2n+2) {
	background-color: #E9E9E9;
}

#admin_main .ui-list td:first-child,
#admin_main .ui-list th:first-child {
	min-width: 15em;
	padding-left:5px;
}

.ui-list tr.ui-state-hover {
	border: 0;
}

table.ui-list th {
	text-align: left;
	vertical-align: bottom;
	height: 22px;
}

table.ui-list { border-collapse: collapse; }
table.ui-list td { padding: .3em .5em .3em 0.2em;}

table.ui-list .ui-list-cell a {
  color: #333 !important;
	text-decoration: underline;
}

.ui-state-highlight {
	border: 0;
}

.ui-widget .status_section {
	font-family: Arial;
	margin-top: 1em;
	padding-right: 2em;
	width:13em;
	float:right;
	height:100%;
	border-left: 1px solid #f2f2f2;padding:0 1em;"
}

.ui-widget-header {
	color: #EFEFEF;
	border: 0;
}

.ui-dialog .ui-dialog-content {
	padding: 1.5em 1em 2em;
}

.cmos_alert.ui-dialog-content {
	background-color: #2D3238;
	color: #FFF;
	padding-bottom: 0px;
}

.cmos_alert.ui-dialog-content p {
	margin-top:2em;
}

.cmos_alert.ui-dialog-content .ui-icon {
	background-image:url("admin_menu/images/ui-icons_b8d600_256x240.png");
}

div.ui-dialog-titlebar.ui-corner-all,
div.ui-corner-all  {
	-moz-border-radius:0px 0px 0px 0px;
	border-width: 0;
	padding: .6em .8em;
}

body.login h1 {
	text-align: center;
	font-size: 5em;
	color: #C2C2C2;
}

.ui-dialog .ui-dialog-buttonpane {
	margin-top: 0;
	background: url("images/ui-bg_highlight-soft_45_2d3238_1x100.png") repeat-x scroll 50% 50% #2D3238 !important;
	border-top: 0;
}

button.ui-button.ui-state-default {
	border-color: #000 #555 #666 #555;
}

#admin_sidebar .ui-list li.ui-state-hover,
#admin_sidebar .ui-list li.ui-state-active {
	border-top: none;
	border-left: none;
	border-right: none;
	background: url() #728697;
	border-bottom: 1px solid @border_color !important;
}

#admin_sidebar .ui-tree li.ui-state-hover,
#admin_sidebar .ui-tree li.ui-state-active {
	border-left: none;
	border-right: none;
	border-top: 1px solid @border_color !important;
	background: url() #728697;
}

#admin_sidebar li.ui-state-active {
	color: white;
}

#admin_sidebar span.sidebar_input_save {
	display: none;
	height: 16px;
	width: 16px;
/*	background: url('../../images/admin/save_icon.gif') no-repeat 0 2px;*/
}

#admin_sidebar span.sidebar_input_save.active {
	display: inline-block;
}

th.ui-list-heading select {
	border: solid 1px #CDCDCD;
	background-color: transparent;
}

th.ui-list-heading {
	font-family: Arial;
	color: #000;
	border-bottom: solid 1px #E9E9E9;
	height: 20px;
}

th.ui-list-heading.sortable span {
	color: #444;
	padding-right: 1.0em;
}

th.ui-list-heading.sortable {
	cursor: pointer;
}

th.ui-list-heading.sortable.asc span,
th.ui-list-heading.sortable.desc span {
	background-image: url('../../images/admin/sort_desc.png');
	background-position: right;
	background-repeat: no-repeat;
}

th.ui-list-heading.sortable.desc span {
	background-image: url('../../images/admin/sort_asc.png');
}


