<form>
	<label for="role_key">{{writeString=widget.role.role_key}}</label>
	<input type="text" name="role_key" class="ui-widget-content" /><br />
	<label for="description">{{writeString=widget.role.description}}</label>
	<input type="text" name="description" class="ui-widget-content" /><br />
	<div class="role_rights"></div>
</form>