<form>
	<div class="status_section">
		<div class="hide_if_not_saved">
			<label>{{writeString=widget.created_info}}:</label><span class="created_info status"></span><br />
			<label>{{writeString=widget.updated.info}}:</label><span class="updated_info status"></span>
		</div>
	</div>
	<label for="role_key" class="validate-role_key_required">{{writeString=widget.role.role_key}}</label>
	<input type="text" name="role_key" class="ui-widget-content" /><br />
	<label for="description">{{writeString=widget.role.description}}</label>
	<textarea rows="4" cols="50" name="description" class="ui-widget-content"></textarea><br />
	<div id="rights">
  </div>	
	<div class="role_rights">
  	<legend class="toggler open">{{writeString=group.legend_right}}</legend>
  	<label for="add_right">{{writeString=right.create}}</label><button type="button" class="new" id="add_right" 	title="{{writeString=right.create}}">&nbsp;</button>

	</div>
</form>