<form>
	<div class="status_section">
		<div class="hide_if_not_saved">
			<label>{{writeString=wns.created_info}}:</label><span class="created_info status"></span><br />
			<label>{{writeString=wns.updated.info}}:</label><span class="updated_info status"></span>
		</div>
	</div>
	<label for="role_key" class="validate-role_key_required">{{writeString=wns.role.role_key}}</label>
	<input type="text" name="role_key" class="ui-widget-content" /><br />
	<label for="description">{{writeString=wns.role.description}}</label>
	<textarea rows="2" cols="50" name="description" class="ui-widget-content"></textarea><br />
	<div id="rights">
  </div>	
	<label class="toggler open">{{writeString=wns.role.legend_page_rights}}</label>
	<div class="rights_container">
	</div>
</form>