<fieldset class="role-rights">
	<select name="page_id[]" class="page_options ui-widget-content autowidth" data-widget-type="page_input">
		{{options_pages}}
	</select>	<input type="checkbox" name="is_inherited[]" />
	<label class="inherit rights_option" for="is_inherited[]" title="{{writeString=wns.right.is_inherited_title}}">{{writeString=wns.right.is_inherited}}</label>
	<br />
	<div class="ui-icon ui-icon-trash delete_right delete_entry" style="float: right;margin-top:.8em;"> </div>
	<input type="checkbox" name="may_edit_page_details[]" />
	<label class="edit rights_option" for="may_edit_page_details[]" title="{{writeString=wns.right.may_edit_page_details_title}}">{{writeString=wns.right.may_edit_page_details}}</label>
	<input type="checkbox" name="may_edit_page_contents[]" />
	<label class="edit_content rights_option" for="may_edit_page_contents[]" title="{{writeString=wns.right.may_edit_page_contents_title}}">{{writeString=wns.right.may_edit_page_contents}}</label>
	<input type="checkbox" name="may_delete[]" />
	<label class="delete rights_option" for="may_delete[]" title="{{writeString=wns.right.may_delete_page_title}}">{{writeString=wns.right.may_delete_page}}</label>
	<input type="checkbox" name="may_create_children[]" />
	<label class="new rights_option" for="may_create_children[]" title="{{writeString=wns.right.may_create_children_title}}">{{writeString=wns.right.may_create_children}}</label>
	<input type="checkbox" name="may_view_page[]" />
	<label class="view rights_option" for="may_view_page[]" title="{{writeString=wns.right.may_view_page_title}}">{{writeString=wns.right.may_view_page}}</label>
</fieldset>
