<fieldset class="urights">
	<select name="page_id_" class="page_options ui-widget-content autowidth" data-widget-type="page_input">
		{{options_pages}}
	</select>	<input type="checkbox" name="is_inherited_" value="1" />
	<label class="inherit rights_option" for="is_inherited_" title="{{writeString=user.right_is_inherited}}">{{writeString=widget.right.is_inherited}}</label>
	<br />
	<input type="checkbox" name="may_edit_page_details_" value="1" />
	<label class="edit rights_option" for="may_edit_page_details_" title="{{writeString=widget.right.may_edit_page_details}}">{{writeString=widget.right.may_edit_page_details}}</label>
	<input type="checkbox" name="may_edit_page_contents_" value="1" />
	<label class="edit_content rights_option" for="may_edit_page_contents_" title="{{writeString=widget.right.may_edit_page_contents}}">{{writeString=widget.right.may_edit_page_contents}}</label>
	<input type="checkbox" name="may_delete_" value="1" />
	<label class="delete rights_option" for="may_delete_" title="{{writeString=user.may_delete}}">{{writeString=widget.right.may_delete_page}}</label>
	<input type="checkbox" name="may_create_children_" value="1" />
	<label class="new rights_option" for="may_create_children_" title="{{writeString=user.may_create_children}}">{{writeString=widget.right.may_create_children}}</label>
	<input type="checkbox" name="may_view_page_" value="1" />
	<label class="view rights_option" for="may_view_page_" title="{{writeString=user.may_view_page}}">{{writeString=widget.right.may_view_page}}</label>
</fieldset>
