textarea.ui-widget-content {
	width: 40em;
}

.role-rights label {
	display: inline-block;
}

select.page_options {
	margin-right: 2em;
}

fieldset.role-rights {
	border: 1px solid #DFDFDF;
	margin: 0;
	margin-top: -1px;
	padding: 3px;
}

fieldset.role-rights:first-child {
	margin-top: 0px;
}