Widget.types.role_detail = {
	initialize: function() {
		this.content = jQuery.parseHTML("{{includeTemplate=edit}}");
		this.right_content = jQuery.parseHTML("{{includeTemplate=right}}");
		this.content.find('div.hide_if_not_saved').hide();
		Widget.create('detail', function(widget) {
			this.detail_widget = widget.set_instance(this);
			jQuery.extend(widget.settings, {
				title: "{{writeString=widget.role.create}}",
				width: 540
			});
			widget.content = this.content;
			// this.content.find("select[name='page_id_']").prepareWidget();
			if(this.auto_open) {
				this.open();
			}
		}.bind(this));
	},
	
	open: function() {
		if(!this.detail_widget) {
			this.auto_open = true;
			return false;
		}
		this.detail_widget.open();
	},
	
	fill_data: function() {
		this.getRoleData(function(role_data) {
			this.content.find("input[name='role_key']").val(role_data.RoleKey);
			this.content.find("textarea[name='description']").val(role_data.Description);
			this.content.find(".updated_info").text(role_data.UpdatedInfo);
			this.content.find(".created_info").text(role_data.CreatedInfo);
			this.content.find('div.hide_if_not_saved').show();
			this.content.find('.rights_container').after(jQuery('<a/>').addClass('add-new-item info-bar-button').attr('style', 'height:24px;width:24px;display:inline:block;').text(' '));
			this.detail_widget.set_title(this.detail_widget.settings.title = role_data.RoleKey);
		});
	},
	
	close: function() {
		this.detail_widget.close();
		this.close_callback();
	},
	
	save_callback: jQuery.noop,
	close_callback: jQuery.noop
};