<fieldset class="media_entry">
	<div class="group_fields">
		<label for="document_id[]">{{writeString=document}}</label>
	</div>
	<div class="group_fields">
		<label for="url[]">{{writeString=or_url}}</label> <input class="autowidth" type="text" name="url[]" />
	</div>
	<div class="group_fields">
		<label for="width[]">{{writeString=width}}</label> <input class="autowidth" type="text" name="width[]" size="4" />
	</div>
	<div class="group_fields">
		<label for="height[]">{{writeString=height}}</label> <input class="autoheight" type="text" name="height[]" size="4" />
	</div>
	<div class="group_fields">
		<label for="mimetype[]">{{writeString=document.mimetype}}</label> <input class="autowidth" type="text" name="mimetype[]" />
	</div>
	<div class="ui-icon ui-icon-trash delete_entry delete_media"> </div>
</fieldset>