<form>
	<label for="days">Days: </label><input type="number" name="days" />
	<label>Modules: </label><input type="checkbox" name="modules[]" value="Page" /><label for="modules[]">{{writeString=wns.module.pages}}</label> <input type="checkbox" name="modules[]" value="Document" /><label for="modules[]">{{writeString=wns.module.document}}</label> <input type="checkbox" name="modules[]" value="Link" /><label for="modules[]">{{writeString=wns.module.links}}</label>
</form>