<form>
	<label for="days">Days: </label><input type="number" name="days" />
	<label>Modules: </label><input type="checkbox" name="models[]" value="Page" /><label for="models[]">{{writeString=module.admin.pages}}</label> <input type="checkbox" name="models[]" value="Document" /><label for="models[]">{{writeString=module.admin.documents}}</label> <input type="checkbox" name="models[]" value="Link" /><label for="models[]">{{writeString=module.admin.links}}</label>
</form>