Widget.types.recent_activity = {
	prepare: function() {
		this.changed_dashboard_config();
	},
	
	changed_dashboard_config: function() {
		this._element.empty();
		var list = jQuery('<ol/>').appendTo(this._element);
		this.listRecentlyChanged(this.settings.dashboard, function(result) {
			jQuery.each(result, function(i, res) {
				list.append(jQuery('<li/>').text(res.message))
			});
		});
	},
	
	dashboard_config_form: function() {
		var form = jQuery.parseHTML('{{includeTemplate=config_form}}');
		form.find('input[name=days]').val(this.settings.dashboard.days);
		jQuery.each(this.settings.dashboard.modules, function(i, type) {
			type && form.find('input[type=checkbox][value="'+type+'"]').attr('checked', true);
		});
		return form;
	},
	
	settings: {
		dashboard: {
			days: 2,
			modules: ['Page', 'Document']
		}
	}
};