<form action="{{writeLink=to_self}}" method='post'>
  <label for="previous_revision">{{writeString=previous_revision}}</label> <input type="text" id="previous_revision" name="previous_revision" />
</form>