<h1>{{quoteString=\{\{writeString=module.backend.migration\}\};alternate=true}} Module Info</h1>
<fieldset class="divider module_info"><legend class="toggler open">{{writeString=module_info}}</legend>
  <div style="display:block;">
  <p>{{writeString=migration.module_info}}</p>
  </div>
</fieldset>
