<h1>Module Info: {{writeString=module.backend.migration}}</h1>
<fieldset class="divider module_info"><legend class="toggler open">{{writeString=module_info}}</legend>
  <div style="display:block;">
  <p>{{writeString=migration.info_message}}</p>
  </div>
</fieldset>
