[submodule "lib/vendor/cssparser"]
	path = lib/vendor/cssparser
	url = https://github.com/sabberworm/PHP-CSS-Parser.git
[submodule "web/js/widget/html5-formdata"]
	path = web/js/widget/html5-formdata
	url = https://github.com/francois2metz/html5-formdata.git
[submodule "lib/vendor/phing"]
	path = lib/vendor/phing
	url = https://github.com/phingofficial/phing.git
[submodule "lib/vendor/propel"]
	path = lib/vendor/propel
	url = https://github.com/propelorm/Propel.git
[submodule "web/js/widget/popover"]
	path = web/js/widget/popover
    url = https://github.com/rapila/jquery-popover.git
[submodule "lib/vendor/nib"]
	path = lib/vendor/nib
	url = https://github.com/visionmedia/nib.git
[submodule "web/js/widget/ckeditor-plugins/youtube"]
	path = web/js/widget/ckeditor-plugins/youtube
	url = https://github.com/fonini/ckeditor-youtube-plugin.git
