[submodule "lib/vendor/cssparser"]
	path = lib/vendor/cssparser
	url = git://github.com/sabberworm/PHP-CSS-Parser.git
[submodule "web/js/widget/html5-formdata"]
	path = web/js/widget/html5-formdata
	url = https://github.com/francois2metz/html5-formdata.git
