body > .popover {
 z-index: 2000;
}

body > .popover > .content {
	overflow-x: hidden;
	overflow-y: scroll;
}

body > .popover > .content ul,
body > .popover > .content ol {
	list-style-type: none;
}
