jQuery(document).ready(function() {
	jQuery('.page_list').each(function() {
		jQuery(this).prepareWidget(function(widget) {
			var page_detail = null;
			Widget.create('page_detail', function(detail) {
				page_detail = detail;
				page_detail.save_callback = function() {
					widget.update_row(page_detail.current_row);
				};
			});
			widget.handle('list.row-click', function(event, rowIndex, row) {
				var page_id = element.data('id');
				if(element.hasClass('ui-state-active')) {
					element.removeClass('ui-state-active');
				 	page_id = null;
				} else {
					element.siblings().removeClass('ui-state-active');
					element.addClass('ui-state-active');
				}
				page_detail.current_row = row;
				page_detail.fill_data();
				page_detail.open();
				event.preventDefault();
				event.stopPropagation();
			});
		});
	});
});
