.detail-widget.detail-widget-content_display_condition .suggestions ul { padding-left: 1.5em; }
.detail-widget.detail-widget-content_display_condition .suggestions h2 { font-size: 1.0em; }
.detail-widget.detail-widget-content_display_condition li.ui-state-hover { border: none !important;}
