<form>
	<input type="text" name="condition_left"/>
	<select name="comparison">
		<option value="eq">=</option>
		<option value="ne">≠</option>
		<option value="lt">&lt;</option>
		<option value="lte">≤</option>
		<option value="gt">&gt;</option>
		<option value="gte">≥</option>
		<option value="~">Regex-Match</option>
		<option value="contains">Contains</option>
	</select>
	<input type="text" name="condition_right" />
	<div class="suggestions">
		<h2>Suggestions</h2>
		<ul>
			<li data-condition_left="" data-condition_right="" data-comparison="eq">Remove Condition</li>
			<li data-condition_left="&#123;&#123;writeRequestValue=aParam&#125;&#125;" data-condition_right="aVal" data-comparison="eq">Display if a request paramater equals a certain value</li>
			<li data-condition_left="&#123;&#123;writeRequestValue=aParam&#125;&#125;" data-condition_right="" data-comparison="ne">Display if a certain request parameter is set</li>
			<li data-condition_left="&#123;&#123;writeSessionAttribute=isAuthenticated&#125;&#125;" data-condition_right="true" data-comparison="eq">Display if user is logged in</li>
			<li data-condition_left="&#123;&#123;writeSettingValue=multilingual;section=general&#125;&#125;" data-condition_right="true" data-comparison="eq">Display if site is multilingual</li>
			<li data-condition_left="&#123;&#123;writeDate=Y&#125;&#125;" data-condition_right="{{writeDate=Y}}" data-comparison="eq">Display if current year is {{writeDate=Y}}</li>
		</ul>
		{{writeString=widget.page.condition_examples}}
	</div>
</form>
