jQuery(document).ready(function() {
	AdminInterface.sidebar.find('.ui-list').prepareWidget(function(sidebar_widget) {
	});
	
	Widget.create('dashboard_control', function(dashboard_control) {
		
	});
});
