<h1>{{writeString=settings.configure_menu}}</h1>
<fieldset>
  <div id="sections">
  {{section_list}}
  </div>
</fieldset>
<fieldset class="divider">
  <div class="module_info">
    <p>{{writeString=settings.options_info}}<br />{{writeString=settings.options_exclude_info}}</p>
  </div>
</fieldset>
<fieldset class="divider nolegend">
  <label for="save_button">{{writeString=settings.save}}</label><button class="save" id="save_button"></button>
</fieldset>
<fieldset class="divider">
  <div id="unassigned_modules">
    <h1>{{writeString=settings.available_backend_modules}}</h1>
    {{module_list}}
  </div>
  <br clear="left" />
</fieldset>
