<div class="module" id="module-{{name}}">
  <button class="remove"></button>
  <h3>{{title}}</h3>
  <p>
    <em>{{path}}</em><br />
    <span title="{{description}}">{{truncate=\{\{description\}\};length=60}}</span>
  </p>
</div>