<h1>{{quoteString=\{\{id\}\};alternate=true;defaultValue=\{\{writeString=new_entry\}\}}} <span class="id_info">[id: {{id}}] </span></h1>
<form action="{{action}}" method="post">
<fieldset class="divider">
  <label for="id">Id</label>
  <input type="text" id="id" name="id" value="{{id}}" /><br /> {{writeFlashValue=language_id_required}}
</fieldset>
<fieldset class="divider">
  <label for="sort">{{writeString=sort}}</label>
  <input type="text" id="sort" class="autowidth" name="sort" value="{{sort}}" size="2" /><br />
</fieldset>
<fieldset class="divider">
  <label for="is_active">{{writeString=is_active}}</label>
  <input type="checkbox" name="is_active" id="is_active" value="1" {{is_active}}/><br />
</fieldset>
<fieldset class="divider nolegend">
  <label>{{writeString=save}}</label><button type="submit"></button>
</fieldset>
</form>
{{identifierContext=start;name=delete_button}}<fieldset class="divider">
  {{delete_button}}
</fieldset>{{identifierContext=end;name=delete_button}}

