div[data-widget-type='language_tabs'] .ui-tabs-nav.ui-widget-header {
	padding-left: 21px;
}

.ui-dialog div[data-widget-type='language_tabs'] .ui-tabs-nav.ui-widget-header {
	padding-left: 0;
}

div[data-widget-type='language_tabs'] .ui-tabs .ui-tabs-panel {
	background-color: #fcfcfc;
}