div[data-widget-type='language_tabs']	.ui-tabs-nav .ui-state-active a {
	margin-top: -1px;
}
	
div[data-widget-type='language_tabs']	.ui-tabs-nav  .ui-state-active {
	position: relative;
	top: 1px;
}
div[data-widget-type='language_tabs']	.ui-tabs-nav  .ui-state-active a {
	color: black;
}

div[data-widget-type='language_tabs'].ui-tabs .ui-tabs-nav li a {
	padding: 0.5em 1.5em 0.2em;
}

div[data-widget-type='language_tabs']	.ui-tabs-nav.ui-widget-header {
	padding-left: 26px;
	background: #FFFFFF url('');
}

div[data-widget-type='language_tabs']	.ui-tabs-nav li.ui-state-active {
	background-color: #FFF;
}

div[data-widget-type='language_tabs']	.ui-tabs-nav li {
	margin: 2px 2px 0 2px;
	border-color: #CCCDCF;
	background-color: #EBEDEF;
}

div[data-widget-type='language_tabs']	.ui-tabs-panel .panel_content {
	border-top: 1px #CCCDCF solid;
	padding: 0 0 20px 26px;
	margin-left: 0;
}

.ui-tabs .ui-tabs-panel {
	border-top: 1px solid #CCCDCF;
}

