div[data-widget-type='language_tabs'] > .ui-tabs-nav.ui-widget-header,
div[data-widget-type='language_tabs'] > .ui-widget-content {
	padding-left: 12px;
}

.ui-dialog div[data-widget-type='language_tabs'] {
	margin-left: -14px;
	margin-right: -12px;
}

div[data-widget-type='language_tabs'] > .ui-tabs .ui-tabs-panel {
	background-color: #fcfcfc;
}
