Widget.types.tag_area = {
	prepare: function() {
		this._element.addClass('tag_area');
		if(this.settings.dnd) {
			this.dnd = Widget.create('model_drag_and_drop');
		}
		if(this.settings.auto_load) {
			this.reload_tags();
		}
		Widget.handle('tag-saved', this.reload_tags.bind(this));
	},
	
	reload_tags: function() {
		var _this = this;
		this.listTags(function(all_tags) {
			this._element.empty();
			jQuery.each(all_tags, function(i, tag) {
				_this.append_tag(tag.Name);
			});
		});
	},
	
	append_tag: function(name, display_name) {
		var _this = this;
		if(!display_name) {
			display_name = name;
		}
		var tag = jQuery('<span/>').addClass('tag');
		tag.data('tag-name', name);
		if(this.dnd) {
			this.dnd.init_dnd(tag, "Tag", name);
		}
		tag.append(jQuery('<span/>').addClass('tag_start').text(' '));
		tag.append(jQuery('<span/>').addClass('tag_repeat').text(display_name));
		var end = jQuery('<span/>').addClass('tag_end').text(' ');
		if(this.settings.deletable) {
			end.addClass('deletable');
			end.click(this.delete_tag.bind(this, tag));
			end.text(' ✗');
		}
		tag.append(end);
		tag.appendTo(this._element);
		tag.bind('dblclick', function() {
			_this.tagId(name, function(id) {
				if(id !== null) {
					Widget.create('tag_detail', function(tag_detail) {
						tag_detail.setTagId(id);
						tag_detail.auto_open = true;
					}, function(tag_detail) {
						tag_detail.fill_data();
					});
				}
			});
		});
		this._element.append(document.createTextNode(' '));
	},
	
	delete_tag: function(tag) {
		var name = tag.data('tag-name');
		this.deleteTag(name, function(result) {
			if(result) {
				tag.remove();
			}
		});
		return false;
	},
	
	settings: {
		auto_load: true,
		dnd: true,
		deletable: false
	}
};