.tag {
	white-space: nowrap;
}

.tag > * {
	height: 22px;
	display: inline-block;
	background-repeat: no-repeat;
	padding-top: 10px;
}

.tag_area .no_tags_message {
	color: #f9f9f9;
	padding: 0.5em;
}
.tag_area.has_tags > .no_tags_message {
	display: none;
}

.tag > .tag_start {
	background-image: url("{{writeDirectInclude=admin/tag_start.png;template=location_only}}");
	width: 20px;
}

.tag > .tag_repeat {
	background-image: url("{{writeDirectInclude=admin/tag_repeat.png;template=location_only}}");
	background-repeat: repeat-x;
}

.tag > .tag_end {
	background-image: url("{{writeDirectInclude=admin/tag_end.png;template=location_only}}");
	padding-left: 1px;
	line-height: 14px;
	width: 12px;
}

.tag > .tag_end.deletable {
	cursor: pointer;
	color: #e3ef99;
}
