<form class="inline delete_form" action="{{action}}" method="post" title="{{writeParameterizedString=delete_item;name=\{\{name\}\};position=last}}">
  <input type="hidden" name="action" value="delete" />
  <label>{{delete_label}}</label><button type="submit" class="delete show_button_only"></button>
{{identifierContext=start;name=options_delete_what}}<select id="delete_what" name="delete_what">{{options_delete_what}}</select> {{writeString=delete_options}}{{identifierContext=end;name=options_delete_what}}
</form>