<h1>{{quoteString=\{\{name\}\};alternate=true;defaultValue=\{\{writeString=new_entry\}\}}}</h1>{{identifierContext=start;name=parent_title}}
<form action="{{action}}" method="post">
  <div id="pages_detail">
    <fieldset><legend>{{writeString=page.info}}</legend>
      {{identifierContext=start;name=dummy}}<label for="parent_id">{{writeString=page.parent}}</label>
      <select id="parent_id" name="parent_id" class="{{dummy}}"{{parent_id_option_disabled}}>{{parent_id_options}}</select><br />{{identifierContext=end;name=dummy}}
      <label for="name" class="helptext" title="{{writeString=page.path_name_info}}">{{writeString=page.path_name}}</label>
      <input class="short" type="text" name="name" id="name" value="{{name}}" size="20" />
      {{writeFlashValue=parent_id_is_self}}
      {{writeFlashValue=parent_id_forbidden}}
      {{writeFlashValue=page_name}}
      {{writeFlashValue=page_name_duplicated}}
    </fieldset>     
    {{titles}}
    {{writeFlashValue=page_title}}
    <fieldset><legend>{{writeString=page.status}}</legend>
      <div id="check_boxes_container">
        <label class="{{status_is_inactive}}" for="is_inactive">{{writeString=is_inactive}}</label>
        <input type="checkbox" name="is_inactive" id="is_inactive" value="1" {{is_inactive}} /><br />
        <label class="{{status_is_hidden}}" for="is_hidden">{{writeString=is_hidden}}</label>
        <input type="checkbox" name="is_hidden" id="is_hidden" value="1" {{is_hidden}} /><br />
        <label for="is_folder">{{writeString=is_folder}}</label>
        <input type="checkbox" name="is_folder" id="is_folder" value="1" {{is_folder}} /><br />
        <label for="is_protected">{{writeString=is_protected}}</label>
        <input type="checkbox" name="is_protected" id="is_protected" value="1" {{is_protected}} />
      </div>
      <div id="selectors_container">
        <label for="sort"{{hide_if_needed}}>{{writeString=page.sort}}</label>
        <select {{hide_if_needed}}id="sort" name="sort"{{sort_option_disabled}}>{{sort_options}}</select>
        <label class="helptext" for="page_type" style="float:left;" title="{{writeString=helptext.page_type}}">{{writeString=page.type}}</label>  
        <select id="page_type" name="page_type" style="margin-right:0;">{{page_type_options}}</select>
        <label class="helptext" for="template_name" style="float:left;" title="{{writeString=helptext.template}}">{{writeString=template}}</label>  
        <select id="template_name" name="template_name" style="margin-right:0;">{{template_name_options}}</select>
      </div>
    </fieldset>
    {{writeFlashValue=page_create_forbidden}}
    {{writeFlashValue=page_detail_forbidden}}
    {{writeFlashValue=page_delete_has_children}}
    {{writeFlashValue=page_delete_has_references}}
    {{page_properties}}    
    <fieldset>
      {{identifierContext=start;name=may_edit_page}}
      <label>{{writeString=page.save}}</label>
      <button type="submit" title="{{writeString=save}}" class="{{may_edit_page}}" name="submit" id="edit_page"></button>
      {{identifierContext=end;name=may_edit_page}}
    </fieldset>
    <fieldset>
        {{delete_button_page}}
        {{writeFlashValue=page_delete_forbidden}}
    </fieldset>
  </div>
</form>
<div id="clone_area">
  {{includeTemplate=property_detail;omitIdentifiers}}
</div>
{{includeTemplate=backend/references;fromBase}}