<fieldset class="page_edit_tabs">
  <span class="current page_structure">{{writeString=page.structure}}</span><a class="page_content" href="{{content_link}}" title="">{{writeString=page.contents}}</a>
</fieldset>