<fieldset class="page_edit_tabs">
  <a class="current" href="{{page_edit_link}}" title="">{{writeString=page.structure}}</a><a href="{{content_link}}" title="">{{writeString=page.contents}}</a>
</fieldset>