<h1>Module Info: {{writeString=module.backend.pages}}</h1>
<fieldset class="divider module_info">
  <p>{{writeString=page.choose_or_create}}</p>
  <p>{{create_link}}</p>
</fieldset>
<fieldset class="divider module_info"><legend class="toggler {{toggler_style}}">{{writeString=module_info}}</legend>
  <div style="display:{{display_style}};">
  <p>{{writeString=pages.info_message}}</p>
  </div>
</fieldset>