<label for="property_name_{{id;defaultValue=new_}}">N</label>
<div class="grouped_items">
  <input class="autowidth" type="text" id="property_name_{{id;defaultValue=new_}}" value="{{name}}" name="property_name_{{id;defaultValue=[]}}" />
  <label for="property_value_{{id;defaultValue=new_}}">V</label> <input class="autowidth" type="text" id="property_value_{{id;defaultValue=new_}}"  value="{{value}}" name="property_value_{{id;defaultValue=[]}}" />
</div>