<fieldset>
<legend>{{writeString=content}}</legend>
  <label for="edit_content">{{writeString=content_edit}}</label>
  <button class="edit" id="edit_content" onclick="location.href='{{content_link}}';" title="{{writeString=content_edit}}"></button>
</fieldset>