<fieldset class="divider properties"><legend class="toggler">{{writeString=page.properties}}</legend>
  <div style="display: none;">
    {{properties}}
  <label for="new_property">+</label>
  <button type="button" class="new" title="{{writeString=create_new_property}}" name="new_property" id="new_property"></button>
  <a class="info" style="cursor:help;">&nbsp;</a>
  <div id="page_properties_info">
    <h3>{{page_properties_title}}</h3>
    <p>{{page_property_identifiers}}</p>
  </div>
  </div>
</fieldset>