  <fieldset class="languages"><legend class="toggler{{display_class}}">{{language}}</legend>
    <div style="display:{{display_style}};">
      <div>
        <label for="long_title_{{language_id}}">{{writeString=page.title}}</label>
        <input type="text" id="long_title_{{language_id}}" name="long_title[{{language_id}}]" value="{{long_title}}" size="40" />
      </div>
      <div>
        <label for="title_{{language_id}}">{{writeString=page.title_short}}</label>
        <input class="short" type="text" id="title_{{language_id}}" name="title[{{language_id}}]" value="{{title}}" size="20" />
      </div>
      <div>
        <label for="keywords_{{language_id}}" class="helptext dimm" title="{{writeString=helptext.keywords}}">[{{writeString=page.keywords}}]</label>
        <input class="keywords" type="text" id="keywords_{{language_id}}" name="keywords[{{language_id}}]" value="{{keywords}}" size="40" />
      </div>
    </div>
  </fieldset>
