<h1>SQL Upload</h1>
<fieldset>
  <form action="{{writeLink=to_self}}" method="post" enctype="multipart/form-data">
  	<label for="choose_file">
  		{{writeString=mysql_dump_loader.choose}}
  	</label>
  	<input type="file" name="choose_file" id="choose_file" />
  	<button type="submit" class="go" title="{{writeString=go}}"></button>
  </form>
</fieldset>