jQuery(document).ready(function() {
	AdminInterface.content.find('table.group_list').prepareWidget(function(group_list) {
		
		// Add info_bar elements
		AdminInterface.info_bar.prepareWidget(function(info_bar) {
			info_bar.add_button('add-new-item', function() {
				Widget.create('group_detail', function(widget) {
					widget.open();
					widget.save_callback = function() {
						group_list.reload();
					};
				});
			}, 'n', true).add_search_input("{{writeString=wns.search.enter_search}}", function(search) {
				if(group_list.setSearch(search)) {
					group_list.reload();
				}
			}).add_row_count_info_for_list(group_list);
		});
	});
});