<h2>{{writeString=widget.settings.type.admin_menu}}</h2>
<div id="menu_customizer">
	<div>
		<h3>{{writeString=widget.settings.left_menu}}</h3>
		<div class="ui-widget-header admin_menu_left"></div>
		<h3>{{writeString=widget.settings.right_menu}}</h3>
		<div class="ui-widget-header admin_menu_right"></div>
	</div>
</div>
<h3>{{writeString=widget.settings.available_modules}}</h3>
<div id="available_modules" class="ui-widget ui-state-highlight ui-corner-all">
	
</div>
