<h2>{{writeString=widget.settings.type.admin_menu}}</h2>
<div class="menu">
	<div class="ui-widget-header ui-widget ui-highlight">
		<div class="admin_menu_left"></div>
		<div class="admin_menu_right"></div>
	</div>
</div>