(function() {
	var interfaces = {
		admin_menu: function(content) {
			content.html('{{includeTemplate=interface.admin_menu}}');
			var menu = {};
			jQuery.extend(true, menu, jQuery("#rapila_admin_menu").data('widget'));
			var clone = content.find('#menu_customizer');
			menu._element = clone;
			menu.settings.attach_events = false;
			menu.prepare();
		}
	};

	jQuery(document).ready(function() {
		Widget.createWithElement('list', function(sidebar) {
			sidebar.settings.row_click_active_mode = 'activate';
		}, function(sidebar) {
			sidebar._element.appendTo(AdminInterface.sidebar);
		
			sidebar.handle('list-selection_changed', function(event, selection) {
				AdminInterface.content.empty().data('setting_key', selection[0] && selection[0].key);
				interfaces[key](AdminInterface.content);
			});
		}, '{{writeRequestValue=chooser}}');
	});	
})();
