<form>
	<div class="status_section">
		<input type="checkbox" name="is_active" value="1" />
		<label for="is_active">{{writeString=is_active}}</label><br />
	</div>
	<label for="language_id">{{writeString=language}}</label>
	<input type="text" name="language_id" class="ui-widget-content" /><br />
</form>