Widget.types.language_detail = {
	initialize: function() {
		this.content = jQuery.parseHTML("{{includeTemplate=edit}}");
		Widget.create('detail', function(widget) {
			this.detail_widget = widget.set_instance(this);
			jQuery.extend(widget.settings, {
				title: "{{writeString=widget.language.create}}",
				width: 400
			});
			widget.content = this.content;
			if(this.auto_open) {
				this.open();
			}
		}.bind(this));
	},
	
	open: function() {
		if(!this.detail_widget) {
			this.auto_open = true;
			return false;
		}
		this.detail_widget.open();
		this.detail_widget.content.find('input[name=language_id]').focus();
	},
	
	fill_data: function() {
		this.getLanguageData(function(language_data) {
			this.content.find("input[name='language_id']").val(language_data.Id);
			this.content.find("input[name='is_active']").attr('checked', language_data.IsActive);
			this.content.find(".updated_info").text(language_data.UpdatedInfo);
			this.content.find(".created_info").text(language_data.CreatedInfo);
			this.detail_widget.set_title(this.detail_widget.settings.title = "{{writeString=widget.content_language}}"+language_data.LanguageName);
			var language_missing = this.detail_widget.content.find('div.check_static_strings');
			if(language_data.LanguageStringMissing) {
				language_missing.text(language_data.LanguageStringMissing).show();
			} else {
				language_missing.text('').hide();
			}
		});
	},

	close: function() {
		this.detail_widget.close();
		this.close_callback();
	},
	
	save_callback: jQuery.noop,
	close_callback: jQuery.noop
};