Widget.types.sidebar_input = {
	initialize: function() {
		this.sidebar = AdminInterface.sidebar;
	},
	
	add_new_sidebar_input: function(default_value, save_callback, cleanup_callback, fire_handler) {
		if(jQuery("input[name='sidebar_input']").select().length > 0) {
			return this;
		}
		if(!default_value) {
			default_value = "{{writeString=wns.new_entry}}";
		}
		if(save_callback.constructor === String) {
			var model_name = save_callback;
			save_callback = function(name, cleanup_callback) {
				this.createEntry(model_name, name, cleanup_callback);
			}.bind(this);
		}
		if(cleanup_callback.constructor === Widget.types.list) {
			var widget = cleanup_callback;
			cleanup_callback = function() {
				var row_data = widget.active_row();
				if(row_data.length>0) {
						// TODO: re-setting the last selected item after reload should be default functionality
					row_data = widget.collect_row_data(row_data);
					widget.handle('reloaded', function() {
						widget.activate_row(widget.row_from_row_data(row_data));
					}, true);
				}
				widget.reload();
				if(fire_handler) {
					Widget.fire(fire_handler);
				}
			};
		}
		var new_input_container = jQuery('<div/>').attr('id', 'new_sidebar_input').addClass('ui-list-row');
		var sidebar_input = jQuery('<input/>').attr({'name' : 'sidebar_input', 'type' : 'text', 'value' : default_value});
		var sidebar_input_save = jQuery('<span/>').addClass('sidebar_input_save button ui-icon ui-icon-disk');
		this.sidebar.append(new_input_container.append(sidebar_input_save).append(sidebar_input));
		sidebar_input.focus().select();
		sidebar_input.blur(function() {
			if(sidebar_input.val() === '' || sidebar_input.val() === default_value) { 
				new_input_container.remove();
			}
		}).keyup(function(event) {
			if(sidebar_input.val() !== '' && sidebar_input.val() !== default_value) {
				sidebar_input_save.addClass('active');
			}
			if(event.which === 13) {
				return sidebar_input_save.click();
			}
			if(event.which === 27) { 
				new_input_container.remove();
			}
		});
		sidebar_input_save.click(function() {
			if(sidebar_input.val() === default_value) {
				return false;
			}
			save_callback(sidebar_input.val(), function() {
				new_input_container.remove();
				cleanup_callback.apply(sidebar_input, arguments);
			});
		});
		return this;
	},
	
	remove_sidebar_item: function(item, remove_callback, cleanup_callback) {
		
	}
};