jQuery(document).ready(function() {
	jQuery('table.role_list').each(function() {
		jQuery(this).prepareWidget(function(widget) {
			Widget.callStaticWidgetMethod('detail', 'connect_detail_with_list', 'role', widget, 'setRoleId');
			widget.handle('list.cell-click', function(event, rowIndex, col, row, cell) {
				if(col.identifier === 'delete') {
					var role_key = widget.cell_for_identifier('role_key', row).text();
					Widget.confirm("{{writeString=widget.delete_confirm}}", "{{writeString=widget.role.delete_alert}} "+role_key, function(confirmed) {
						if(confirmed) {
							this.delete_row(row);
						}
					}.bind(this));
					event.stopPropagation();
				}
			});
		});
	});
});
