jQuery(document).ready(function() {
	jQuery('table.role_list').each(function() {
		jQuery(this).prepareWidget(function(widget) {
			Widget.callStatic('detail', 'connect_detail_with_list', 'role', widget, 'setRoleId');
			widget.handle('list.cell-click', function(event, rowIndex, col, row, cell) {
				if(col.identifier === 'delete') {
					var role_key = widget.cell_for_identifier('role_key', row).text();
					var delete_message = AdminInterface.strings.get_string('wns.role.delete_warning', { role_key: role_key});
					Widget.confirm("{{writeString=wns.delete_warning_title}}", delete_message, function(confirmed) {
						if(confirmed) {
							this.delete_row(row);
						}
					}.bind(this));
					event.stopPropagation();
				}
			});
			AdminInterface.strings.handle_strings_for_list_result('wns.roles.no_result', ['group_name'], widget);
		});
	});
});
