jQuery(document).ready(function() {
	// init main content
	AdminInterface.content.find('table.link_list').prepareWidget(function(link_list) {

		// init sidebar
		var sidebar;
		AdminInterface.sidebar.find('.ui-list').prepareWidget(function(widget) {
			sidebar = widget;
			sidebar.settings.row_click_active_mode = 'activate';
			var initial_selection = "{{writeRequestValue=link_category_id}}";
			if(initial_selection) {
				initial_selection = isNaN(initial_selection) ? initial_selection : parseInt(initial_selection);
				sidebar.handle('list.loaded', function() {
					sidebar.activate_row(sidebar.row_from_row_data({id: initial_selection}));
				}, true, true);
			}
			
			sidebar.handle('list.row-click', function(event, row, element) {
				var link_category_id = element.data('link_category_id');
				if(!element.hasClass('ui-state-active')) {
					// handle initial_selection for custom elements
				 	link_category_id = null;
				}
				link_list.setOption('link_category_id', link_category_id);
				link_list.reload();
			});
		});

		// init info_bar
		AdminInterface.info_bar.prepareWidget(function(info_bar) {
			info_bar.add_button('add-new-item', function() {
				Widget.create('link_detail', function(widget) {
					widget.content.find("select[name='link_category_id']").val(link_list.getOption('link_category_id'));
					widget.open();
					widget.save_callback = function() {
						link_list.reload();
					};
				});
			}, 'n', true).add_button('add-new-item', function() {
				Widget.create('sidebar_input', function(widget) {
					widget.add_new_sidebar_input("{{writeString=link_category.default_name}}", 'LinkCategory', function() {
						var row_data = sidebar.active_row();
						if(row_data.length>0) {
								// TODO: re-setting the last selected item after reload should be default functionality
							row_data = sidebar.collect_row_data(row_data);
							sidebar.handle('list.reloaded', function() {
								sidebar.activate_row(sidebar.row_from_row_data(row_data));
							}, true);
						}
						sidebar.reload();
					});
				});
			}).add_search_input("{{writeString=search.link}}", function(search) {
				if(link_list.setSearch(search)) {
					link_list.reload();
				}
			});

			// add row_count_info
			info_bar.add_row_count_info_for_list(link_list);
		});
	});
});