jQuery(document).ready(function() {

	var sidebar = AdminInterface.sidebar;
	var content_list = AdminInterface.content;
	var info_bar = AdminInterface.info_bar;

	var handlers = [];

	sidebar.children('[data-widget-type]').prepareWidget(function(widget) {
		sidebar = widget;
	}.deferred(handlers));
	content_list.children('[data-widget-type]').prepareWidget(function(widget) {
		content_list = widget;
	}.deferred(handlers));
	info_bar.prepareWidget(function(widget) {
		info_bar = widget;
	}.deferred(handlers));

	jQuery.when.apply(jQuery, handlers).then(function() {
		AdminInterface.strings.handle_strings_for_list_result('wns.links.no_result', ['link_category_name', 'language_name', 'tag_name'], content_list);

		// add buttons and search_input
		info_bar.add_button('add-new-item', function() {
			Widget.create('link_detail', function(widget) {
				widget.settings.initial_category_id = sidebar.active_row().data('link_category_id');
				widget.open();
				widget.handle('saved', function() {
					content_list.reload();
				});
			});
		}, 'n', true).add_button('add-new-item', function() {
			Widget.create('sidebar_input', function(widget) {
				widget.add_new_sidebar_input("{{writeString=wns.link_category.default_name}}", 'LinkCategory', sidebar, 'rapila-link_category_changed');
			});
		}).add_search_input("{{writeString=wns.search.enter_search}}", function(search) {
			if(content_list.setSearch(search)) {
				content_list.reload();
			}
		}).add_row_count_info_for_list(content_list).add_pager_for_list(content_list);

		// tag remove and drop handlers
		Widget.handle('rapila-tag-removed-from-Link', function(event, result) {
			if(result.was_last_of_model) {
				content_list.reload('force');
			}
		});
		Widget.create('model_drag_and_drop').handle('model-dragged-onto-Link', function(event, item_id, dragged_model, dragged_item_id, status, success) {
			if(dragged_model !== 'Tag') {
				return;
			}
			if(success.is_first_of_model) {
				content_list.reload('force');
			}
		});

		// sidebar items edit and delete buttons
		var remove_item = info_bar.add_button('remove-item', function() {
			var row = sidebar.active_row();
			var rowData = sidebar.collect_row_data(row);
			if(rowData.link_category_id) {
				function remove_active_category() {
					sidebar.delete_row(row);
					Widget.fire('rapila-link_category_changed', {removed: true, id: rowData.link_category_id});
				}
				content_list.getOption('categoryHasLinks', rowData.link_category_id, function(has_links) {
					if(has_links) {
						Widget.confirm("{{writeString=wns.rapila_alert.information}}", "{{writeString=wns.link_category.delete_information}}", function(confirmed) {
							if(confirmed) {
								remove_active_category();
								content_list.setOption('link_category_id', null);
								content_list.reload();
							}
						});
					} else {
						remove_active_category();
					}
				});
			}
		}).disable();

		var edit_item = info_bar.add_button('edit-item', function() {
			Widget.create('link_category_detail', function(widget) {
				widget.setLinkCategoryId(sidebar.active_row_datas()[0].link_category_id);
				widget.open();
				widget.fill_data();
			});
		}).disable();

		Widget.handle('rapila-link_category_changed', function(event, info) {
			if(info.updated) {
				sidebar.update_row(sidebar.row_from_row_data({link_category_id: info.id}));
			} else if (info.removed) {
				var row = sidebar.row_from_row_data({link_category_id: info.id});
				if(row) {
					row.remove();
				}
			}
		});

		// sidebar selection change handler
		sidebar.settings.row_click_active_mode = 'activate';
		sidebar.handle('list-selection_changed', function(event, selection) {
			var link_category_id = selection[0] && selection[0].link_category_id;
			var has_detail = selection.length === 1 && link_category_id.constructor === Number;
			remove_item[has_detail ? 'enable' : 'disable']();
			edit_item[has_detail ? 'enable' : 'disable']();
			content_list.setOption('link_category_id', link_category_id);
			content_list.reload();
		});
	});
});