<fieldset class="divider"><legend class="toggler open">{{writeString=content.edit_configuration}}</legend>
  <label>{{writeString=mode}}</label>
<select id="mode_select" name="login_type">{{login_types}}</select>
</fieldset>
