<label for="password_reset_user_name">{{writeString=user_name}}</label>
<input type="text" name="password_reset_user_name" id="password_reset_user_name" /><br />
{{writeFlashValue=login.empty_fields}}
<button type="submit" class="login" id="send" title="{{writeString=login.send_password_recovery_form}}">{{writeString=send}}</button>
<div class="form_message">{{writeString=login.password_reset_message}}<br /></div>
