<div id="rapila_admin_menu" style="display:block;" data-widget-type="admin_menu" data-widget-session="{{session}}">
	<div class="ui-widget-header ui-widget">
		<div class="admin_menu_left">
			<h2>{{domain_name}} | {{login_title}}</h2>
		</div>
	</div>
</div>		
<div class="ui-widget ui-corner-all">
	<form action="{{action}}" method="post">
		{{function_template}}
	</form>
</div>
