Widget.types.document_list_frontend_config = {
	prepare: function() {
		var display_modes = this.getConfigData() || {};
		var config_modes = this.getConfigurationModes();
		this.content = (config_modes.document_categories.length === 0) ? Widget.parseHTML("{{includeTemplate=edit_no_categories}}") : Widget.parseHTML("{{includeTemplate=edit}}");
		var _this = this;
		jQuery.each(config_modes, function(config_name, options) {
			var select_name = config_name;
			if(select_name === 'document_categories') {
				select_name += '[]';
			}
			if(select_name === 'tags') {
				select_name += '[]';
			}
			var select = _this.content.find("select[name='"+select_name+"']").populate(options, display_modes[config_name], (select_name === 'list_template'));
			if(config_name !== 'list_template') {
				select.change(_this.reload_preview.bind(_this));
			}
		});
		this._element.append(this.content);

		this.result_list = jQuery('<ol/>').addClass('ui-editable-items-list');
		this._element.append(this.result_list);

		var detail_widget;
		Widget.create('document_detail', function(widget) {
			_this.detail_widget = widget;
			widget.save_callback = _this.reload_preview.bind(_this);
		});
		
		this.reload_preview();
		this.result_list.delegate('li', 'click', function() {
			var id = jQuery(this).data('id');
			_this.detail_widget.setDocumentId(id);
			_this.detail_widget.fill_data();
			_this.detail_widget.open();
		});
	},
	
	reload_preview: function() {
		var _this = this;
		this.result_list.empty();
		var options = this._element.serializeArrayKV();
		if(options.tags && options.tags[0] === '') {
			options.tags = [];
		}
		this.allDocuments(options, function(files) {
			jQuery.each(files, function(id, name) {
				_this.result_list.append(jQuery('<li/>').text(name).attr('title', "{{writeString=wns.edit_entry}}").data('id', id));
			});
		});
	},
	
	save: function() {
		return this._element.serializeArrayKV();
	},
		
	additional_buttons: [
		{
			text: '{{writeString=documents.do_admin}}',
			icon: 'wrench',
			action: jQuery.openLink.bind(window, "{{writeLink=documents;manager=AdminManager}}")
		}
	]
};
