Event.observe(window, "dom:loaded", function() {
	var document_order_add = $('form_field_add');
	if(!document_order_add) {
	  return;
	}
	
	var switcher_fields = $$('.switcher_field');
  switcher_fields.each(function(switcher_field) {
      add_conditional_to_switcher_field(switcher_field);
  });
  
  //Add the move event handler to all the up buttons
  var move_fields = $$('.form_element_group .button.up');
  var move_handler = function(event) {
    var form_element_group = this.up('.form_element_group');
    var previous = form_element_group.previous();
    if(previous) {
      previous.insert({before: form_element_group});
    } else {
      $(form_element_group.parentNode).insert({bottom: form_element_group});
    }
  };
  move_fields.each(function(move_field) {
    Event.observe(move_field, 'click', move_handler.bindAsEventListener(move_field));
  });
	
	var prototyper = new FormPrototyper($('clone_area'), $('form_fields'), Insertion.Bottom, {callback: function(elements) {
    elements.invoke('getElementsBySelector', '.button.up').each(function(move_fields) {
      move_fields.each(function(move_field) {
      	//Add the move handler when the insert callback is executed
        Event.observe(move_field, 'click', move_handler.bindAsEventListener(move_field));
      });
    });
	}});
	prototyper.bind_to(document_order_add, 'click');

	$$("#form_fields span.button.remove").each(function(delete_button) {
	  Event.observe(delete_button, "click", function(event) {
	    var up = delete_button.up();
	    var label = up.previous();
	    label.remove();up.remove();
	    Event.stop(event);
	  })
	});
});

function conditional_change_handler(event) {
	$$(".conditional_field-for-"+this.id).invoke('hide');
	$$(".conditional_field-for-"+this.id+"."+$F(this)).invoke('show');
}

function add_conditional_to_switcher_field(switcher_field) {
    var change_handler_bound = conditional_change_handler.bindAsEventListener(switcher_field);
    Event.observe(switcher_field, 'change', change_handler_bound);
    change_handler_bound();
}


Event.observe(window, "dom:loaded", function() {
	var template_addition = $('template_addition');
  var template_addition_preview = $('e_mail_template_name');
  live_preview_handler = function(event) {
	  if($F(template_addition) == '') {
      template_addition_preview.innerHTML = 'e_mail_form_output.tmpl';
	  } else {
      template_addition_preview.innerHTML = 'e_mail_form_output_'+$F(template_addition)+'.tmpl';
	  }
  };
	Event.observe(template_addition, 'keyup', live_preview_handler);
  live_preview_handler();
});