<label for="request_method">{{writeString=form.request_method}}</label> <select id="request_method" name="request_method">{{request_methods}}</select><br />
<label for="form_type">{{writeString=form.form_type}}</label> <select id="form_type" name="form_type" class="switcher_field">{{form_types}}</select><br />
<div class="conditional_field-for-form_type external"><label for="form_action">{{writeString=form.action}}</label> <input type="text" id="form_action" name="form_action" value="{{form_action}}" /><br /></div>
<div class="conditional_field-for-form_type email"><label for="email_address">{{writeString=email}}</label> <input type="text" id="email_address" name="email_address" value="{{email_address}}" /><br />
  <label for="template_addition">{{writeString=form.template_name_addition}}</label><input type="text" id="template_addition" name="template_addition" value="{{template_addition}}" /> {{writeString=name}}: <span id="e_mail_template_name" style="font-style:italic;"></span><br /></div>
<div class="conditional_field-for-form_type manager"><label for="manager">{{writeString=form_type.manager}}</label> <select name="manager" id="manager">{{manager}}</select><br /></div>
<div id="form_fields" style="padding-top:.5em;">
  {{form_fields}}
</div>
<label>&nbsp;</label><span id="form_field_add" title="{{writeString=form.add}}" class="button add">&nbsp;</span>
<br />
<div id="clone_area">
  {{includeTemplate=backend_form_field}}
</div>
<div><label>&nbsp;</label>{{writeString=form.field_name_short}} = {{writeString=form.field_name}} | {{writeString=form.label_short}} = {{writeString=form.label}} | {{writeString=form.default_value_short}} = {{writeString=form.default_value}} |  {{writeString=form.class_name_short}} = {{writeString=form.class_name}} |  {{writeString=form.is_required_short}} = {{writeString=form.is_required}}
</div>
