<form method="{{method}}" class="email_form" action="{{writeLink=form/\{\{writeSessionAttribute=language\}\}/\{\{option=object_id\}\};manager=FileManager;position=last}}">
  {{form_objects}}
  {{if;1=comment;2=ignore}}
  {{re_captcha}}
  {{endIf}}
</form>