<form method="{{method}}" class="email_form" action="{{writeLink=form/\{\{writeSessionAttribute=language\}\}/\{\{option=object_id\}\};manager=FileManager;position=last}}">
  {{form_objects}}
  <p><label>&nbsp;</label> {{re_captcha}}</p><br />{{writeFlashValue=captcha}}
</form>