<input name="user_name" class="ui-widget-content input_default_state" value="{{writeString=widget.username}}" />
<input name="password" type="text" class="ui-widget-content input_default_state" id="password_input_fake" value="{{writeString=widget.password}}" />
<input name="password" type="password" class="ui-widget-content" id="password_input_correct" style="display:none;" /><br />
<a href="#" class="password_forgotten">{{writeString=login.username_or_password_forgotten}}</a>
<input type="submit" class="ui-helper-hidden-accessible" /><br />

<div class="ui-notify ui-alert ui-state-error ui-corner-all" style="display: none;">
	<div>
		<span class="ui-icon ui-icon-alert"> </span><span class="error"></span>
	</div>
</div><br />