Widget.types.login_window = {
	initialize: function() {
		this.login_markup = jQuery('<div class="cmos_alert"><form/></div>');
		var _this = this;
		this.login_markup.children('form').append("{{includeTemplate=login_window.incl}}").bind('submit', function(event) {
			event.preventDefault();
			event.stopPropagation();
			var form = jQuery(this);
			var attributes = form.serializeArrayKV();
			_this.login(attributes.user_name, attributes.password, function(result, error) {
				if(error) {
					_this.login_markup.find('.error').text(error.message).parents('.ui-alert').show();
				} else {
					_this.login_markup.dialog('close');
					Widget.fire('cmos.logged_in');
				}
			});
		});
		this.login_markup.dialog({
			title: '{{writeString=widget.login_at_site}}',
			autoOpen: false,
			modal: true,
			resizable: false,
			closeOnEscape: false,
			dialogClass: 'login_window',
			buttons: [{
				text: "{{writeString=login}}",
				className: 'primary ui-state-highlight',
				click: function() {
					_this.login_markup.children('form').submit();
				}
			}, {
				text: "{{writeString=widget.cancel}}",
				className: 'secondary',
				click: function() {
					window.location.href = "{{writeLink=;password_forgotten=true;manager=LoginManager;is_absolute=true}}";
				}
			}]
		});
		this.login_markup.find('.input_default_state').each(function() {
			var input = jQuery(this);
			input.data('default_value', input.val());
		}).bind('focus', function(event) {
			var input = jQuery(this);
			if(!event.originalEvent) {
				//Is artificial focus – ignore
				input.select();
				return;
			}
			if(input.is('.input_default_state')) {
				input.removeClass('input_default_state').val('');
			}
			if(input.is('[name="password"]')) {
				input[0].type = "password";
			}
		}).bind('keypress', function() {
			var input = jQuery(this);
			if(input.is('.input_default_state')) {
				input.removeClass('input_default_state');
			}
		}).bind('blur', function() {
			var input = jQuery(this);
			if(!input.val()) {
				input.addClass('input_default_state');
				input.val(input.data('default_value'));
				if(input.is('[name="password"]')) {
					input[0].type = "text";
				}
			}
		});
	},
	
	show: function() {
		this.login_markup.dialog('open');
	}
};

jQuery(document).ready(function() {
	Widget.create('login_window', function(login_window) {
		if(!login_window.getIsLoggedIn()) {
			login_window.show();
		} else {
			Widget.fire('cmos.logged_in');
		}
	});
});