<input name="user_name" class="ui-widget-content" />
<input name="password" type="password" class="ui-widget-content" /><br />
<input type="submit" class="ui-helper-hidden-accessible" />

<div class="ui-notify ui-alert ui-state-error ui-corner-all" style="display: none;">
	<div>
		<span class="ui-icon ui-icon-alert"> </span><span class="error"></span>
	</div>
</div><br />