Widget.types.login_window = {
	initialize: function() {
		this.login_markup = jQuery('<div class="cmos_alert"><form/></div>');
		var _this = this;
		this.login_markup.children('form').append(jQuery.parseHTML("{{includeTemplate=login_window.incl}}")).bind('submit', function(event) {
			event.preventDefault();
			event.stopPropagation();
			var form = jQuery(this);
			var attributes = form.serializeArrayKV();
			_this.login(attributes.user_name, attributes.password, function(result, error) {
				if(error) {
					_this.login_markup.find('.error').text(error.message).parents('.ui-alert').show();
				} else {
					_this.login_markup.dialog('close');
					Widget.fire('cmos-logged_in');
				}
			});
		}).find('.password_forgotten').click(function() {
			// values reset and hide errormessage
			var username = _this.login_markup.find('input[name="user_name"]');
			var password = _this.login_markup.find('input[name="password"]');
			username.val(username.data('default_value')).addClass('input_default_state');
			password.val(password.data('default_value')).addClass('input_default_state');
			_this.login_markup.find('.ui-notify').hide();
			
			var forgotten_alert = jQuery('<div class="cmos_alert"><form/></div>');
			forgotten_alert.children('form').append(jQuery.parseHTML("{{includeTemplate=password_forgotten_window.incl}}")).bind('submit', function(event) {
				event.preventDefault();
				event.stopPropagation();
				var input_field = forgotten_alert.find('input[name="user_name_or_email"]').keyup(function() {
					if(jQuery(this).val() != '') {
						forgotten_alert.find('.ui-notify').hide();
					}
				});
				_this.resetRequest(input_field.val(), function(result, error) {
					var error_element = forgotten_alert.find('.ui-notify');
					if(error) { 
						error_element.show().find('.error').text(error.message);
					} else {
						error_element.hide();
						var sent_text = "{{writeString=widget.request.sent_info}}";
						forgotten_alert.find('div.password_forgotten_info').text(sent_text);
						setTimeout(function() {
							forgotten_alert.parents('.reset_window').slideUp(function() {forgotten_alert.dialog('destroy')});
						}, 2000);
					}
				});
			});
			forgotten_alert.dialog({
				title: '{{writeString=widget.passwort_forgotten}}',
				autoOpen: true,
				closeOnEscape: true,
				modal: false,
				resizable: false,
				dialogClass: 'reset_window',
				buttons: [{
					text: "{{writeString=widget.request.send}}",
					className: 'primary ui-state-highlight',
					click: function() {
						forgotten_alert.children('form').submit();
					}
				}]
			});
		});
		this.login_markup.dialog({
			title: '{{writeString=widget.login_at_site}}',
			autoOpen: false,
			modal: true,
			resizable: false,
			closeOnEscape: false,
			dialogClass: 'login_window',
			buttons: [{
				text: "{{writeString=login}}",
				className: 'primary ui-state-highlight',
				click: function() {
					_this.login_markup.children('form').submit();
				}
			}],
			open: function(event, ui) { jQuery(".ui-dialog-titlebar-close").hide(); },
		});
		this.login_markup.find('.input_default_state').each(function() {
			var input = jQuery(this);
			input.data('default_value', input.val());
		}).bind('focus', function(event) {
			var input = jQuery(this);
			if(!event.originalEvent) {
				//Is artificial focus – ignore
				input.select();
				return;
			}
			if(input.is('.input_default_state')) {
				input.removeClass('input_default_state').val('');
			}
			if(input.is('[name="password"]')) {
				input[0].type = "password";
			}
		}).bind('keypress', function() {
			var input = jQuery(this);
			if(input.is('.input_default_state')) {
				input.removeClass('input_default_state');
			}
		}).bind('blur', function() {
			var input = jQuery(this);
			if(!input.val()) {
				input.addClass('input_default_state');
				input.val(input.data('default_value'));
				if(input.is('[name="password"]')) {
					input[0].type = "text";
				}
			}
		});
	},
	
	show: function() {
		this.login_markup.dialog('open');
	}
};

jQuery(document).ready(function() {
	Widget.create('login_window', function(login_window) {
		if(!login_window.getIsLoggedIn()) {
			login_window.show();
		} else {
			Widget.fire('cmos-logged_in');
		}
	});
});