<input name="user_name_or_email" class="ui-widget-content input_default_state" value="" />
<div class="password_forgotten_info">{{writeString=login.username_or_password_forgotten_message}}</div>
<input type="submit" class="ui-helper-hidden-accessible" /><br />

<div class="ui-notify ui-alert ui-state-error ui-corner-all" style="display: none;">
	<div>
		<span class="ui-icon ui-icon-alert"> </span><span class="error"></span>
	</div>
</div><br />
