<div class="filled_modules"></div>
<ul class="available_modules draggable"></ul>
<div class="delete_drop_zone droppable help" title="{{writeString=wns.page.drop_object_all_languages}}"><span>&nbsp;</span></div>
<br clear="both" />
