<h1>{{module_info_link}}  {{quoteString=\{\{title\}\};alternate=true;defaultValue=\{\{writeString=new_entry\}\}}}</h1>
<fieldset class="page_edit_tabs">
  <a href="{{page_edit_link}}" title="">{{writeString=page.structure}}</a><a class="current" href="{{content_edit_link}}" title="">{{writeString=page.contents}}</a> 
</fieldset>
{{containers}}

