<fieldset id="fieldset_{{container_name}}" class="show"><legend title="{{writeString=container}}: {{container_name}}" style="cursor:help;"><a class="info" href="#" title="{{writeString=helptext.\{\{container_name\}\};position=last}}">{{writeString=helptext.label_\{\{container_name\}\};position=last}}</a>&nbsp;&nbsp;[{{container_name}}{{identifierContext=start;name=inherit_info}}: <span class="attention">{{inherit_info}}</span>{{identifierContext=end;name=inherit_info}}]</legend>
  <div class="object_list">
    {{objects}}
  </div>
  <div class="arrow_list">{{arrow_up}}</div>
  <form style="clear: left;" action="{{new_link}}" method="get">
      <select name="module_name">
        {{module_name_options}}
      </select>
      <button type="submit" class="new autowidth" title="{{writeString=content_edit.add_new}}" disabled="disabled">{{writeString=content_edit.add_new}}</button>
  </form><br />
</fieldset>