<h1>{{module_info_link}}  {{quoteString=\{\{page_title\}\};alternate=true;defaultValue=\{\{writeString=new_entry\}\}}} </h1>
<fieldset class="page_edit_tabs">
  <a href="{{page_edit_link}}" title="">{{writeString=page.structure}}</a><a class="current edit_detail" href="{{content_edit_link}}" title="">{{writeString=page.contents_detail}}</a>
</fieldset>
  <form enctype="multipart/form-data" method="post" action="{{action}}">
  <input type="hidden" name="timestamp" value="{{timestamp}}" />
  {{writeFlashValue=page_content_changed_since}}
  {{content}}
  <fieldset class="divider condition" style="margin-left:0;"><legend class="toggler{{toggler_style}}">{{writeString=object_visibility_condition}}</legend>
    <div style="display: none;">
      <input type="text" name="comparison_1" class="autowidth" size="50" value="{{comparison_1}}" />
      <select name="comparator" class="autowidth">
        {{comparator_options}}
      </select>
      <input type="text" name="comparison_2" class="autowidth" size="50" value="{{comparison_2}}" />
    </div>
  </fieldset>{{identifierContext=start;name=language_revision}}
  {{language_revision}}{{identifierContext=end;name=language_revision}}
  <fieldset class="divider">
    <input type="hidden" name="module_name" value="{{module_name}}" />
    <label for="save">{{writeString=content_save}}</label>
    <button style="width:16px;float:left;" type="submit" name="save" id="save"></button>
  </fieldset>
  </form>
  {{identifierContext=start;name=language_object_revisions}}
  <fieldset class="divider nolegend" style="padding-top:.5em;">
    <form enctype="multipart/form-data" method="get" action="{{writeLink=to_self;ignore_request=true;position=last}}">
    <label for="revision">{{writeString=load_from_backup}}</label><select id="language_object_revision_id" name="language_object_revision_id" onchange="$(this).up().submit();">{{language_object_revisions}}</select>
    </form>
  </fieldset>
{{identifierContext=end;name=language_object_revisions}}
