<h1>{{module_info_link}}  {{quoteString=\{\{title\}\};alternate=true;defaultValue=\{\{writeString=new_entry\}\}}}</h1>
<fieldset class="page_edit_tabs">
  <a class="page_structure" href="{{page_edit_link}}" title="">{{writeString=page.structure}}</a><span class="current page_content" href="{{content_edit_link}}" title="">{{writeString=page.contents}}</span> 
</fieldset>
{{containers}}

