<li>
	<span class="draft_status">{{writeString=wns.content.is_draft;defaultValue=draft}}</span>
	<span class="remove_button ui-icon ui-icon-trash" title="{{writeString=wns.delete_content_object}}" style="float: right; cursor: pointer;"></span>
	<span class="edit_condition_button ui-icon ui-icon-wrench" title="{{writeString=wns.edit_display_conditions}}" style="float: right; cursor: pointer;"></span>
	<span class="edit_button ui-icon ui-icon-pencil" title="{{writeString=wns.edit_language_content}}" style="float: right; cursor: pointer;"></span>
	<span class="module_name"></span>
</li>
