<li>
	<span class="draft_status">{{writeString=wns.content.is_draft;defaultValue=draft}}</span>
	<span class="module_name"></span>
	<span class="remove_button rapila-icon" title="{{writeString=wns.delete_content_object}}">trash</span>
	<span class="edit_condition_button rapila-icon" title="{{writeString=wns.edit_display_conditions}}">settings</span>
	<span class="edit_button rapila-icon" title="{{writeString=wns.edit_language_content}}">edit</span>
</li>
