Widget.types.page_type.types.default = {
	handle_preview: function(page_id, page_type) {
		
	},
	
	handle_admin: function(page_id, container, page_type) {
		var filled_modules = jQuery('<div/>').addClass('filled_modules').appendTo(container);
		var available_modules = jQuery('<ul/>').addClass('available_modules draggable').appendTo(container);
		
		page_type.callPageTypeMethod('adminListPossibleFrontendModules', function(modules) {
			var dragOptions = {
				cursor: "move",
				helper: function(event) {
					var element = jQuery(this).clone().appendTo(available_modules);
					element.data('object_data', jQuery(this).data('object_data'));
					return element;
				},
				containment: ".contents_container",
				connectToSortable: '.filled_modules > .target'
			}
			jQuery.each(modules, function(object_type, module_name) {
				var element = jQuery('<li/>').text(module_name).data('object_data', {object_type: object_type}).draggable(dragOptions);
				element.appendTo(available_modules);
			});
		});
		
		page_type.callPageTypeMethod('adminListFilledFrontendModules', function(containers) {
			jQuery.each(containers, function(container_name, params) {
				var target = jQuery('<ul>').addClass('target '+container_name).attr('style', "float:left;width:40%;min-height:300px;border:1px solid red;").appendTo(filled_modules);
				console.log(container_name);

				jQuery.each(params.contents, function(object_id, content) {
					jQuery('<li/>').text(content.object_type_display_name).data('object_data', {object_id: object_id, object_type: content.object_type, container: container_name}).appendTo(target);
				});
			});
			
			filled_modules.find('.target').sortable({
				connectWith: filled_modules.find('.target')
			}).bind('sortstop', function(event, ui) {
				// console.log(ui);
			});
		});
		
		//Parser stuff
		page_type.callPageTypeMethod('adminGetContainers', function(container_html) {
			jQuery.parseHTML(container_html).appendTo(filled_modules);
		});
	}
};