<div class="preview_bar"><div class="ui-icon ui-corner-all ui-icon-pencil edit" title="{{writeString=wns.edit_entry}}"></div><div class="ui-icon ui-corner-all ui-icon-close cancel" title="{{writeString=wns.cancel}}"></div><div class="ui-icon ui-corner-all ui-icon-check save" title="{{writeString=wns.save}}"></div><div class="additional-buttons"></div><div class="ui-loading ui-corner-all"></div></div>