<div class="preview_bar">
	<div class="rapila-icon edit" title="{{writeString=wns.edit_entry}}">edit</div>
	<div class="rapila-icon cancel" title="{{writeString=wns.cancel}}">close</div>
	<div class="rapila-icon save" title="{{writeString=wns.save}}">save</div>
	<div class="additional-buttons"></div><div class="ui-loading ui-corner-all"></div>
</div>