<div class="preview_bar"><div class="ui-icon ui-icon-pencil edit"></div><div class="ui-icon ui-icon-close cancel"></div><div class="ui-icon ui-icon-check save"></div><div class="ui-loading"></div></div>