Event.observe(document, "dom:loaded", function() {
	var execute_reordering = function(request) {
		if(request.status === 200) {
			var objects = this.up("fieldset").select(".object");
			objects[this.item_number].parentNode.insertBefore(objects[this.item_number], objects[this.item_number-1]);
		}
	};
	
	var event_click_handler = function(event) {
		var parameters = {};
		parameters.container = this.getAttribute("container");
		parameters.page_id = this.getAttribute("page_id");
		parameters.item_number = this.item_number;
    new Ajax.Request(get_ajax_path("content"), {onComplete: execute_reordering.bind(this), method: 'post', postBody: Object.toQueryString(parameters)});
	};
	
	$$('.up_arrow').each(function(up_arrow) {
		if(up_arrow.hasClassName('placeholder')) {
			return;
		}
		up_arrow.item_number = $(up_arrow.parentNode).select('.up_arrow').indexOf(up_arrow);
		Event.observe(up_arrow, "click", event_click_handler.bindAsEventListener(up_arrow));
	});
	
	$$('select[name=module_name]').each(function(module_name_select) {
    module_name_select.add_button = module_name_select.next();
    Event.observe(module_name_select, 'change', function() {
      module_name_select.add_button.disabled = $F(module_name_select) == '' ? 'disabled' : '';
    });
  });
});