<fieldset class="divider properties">
<label for="categories">{{writeString=choose_category}}</label><select id="categories" name="categories" multiple="multiple" style="height:auto;">{{categories}}</select><br />
<label for="list_template">{{writeString=list_template}}</label><select id="list_template" name="list_template">{{list_templates}}</select>
</fieldset>
<fieldset class="divider properties">
  <label>&nbsp;</label>{{documents_edit_link}}
</fieldset>