<fieldset class="divider"><legend class="toggler open">{{writeString=content.edit_module}}</legend>
  <div class="form_message content_edit_links">{{identifierContext=start;name=documents_edit_link}}{{documents_edit_link}}<br />{{identifierContext=end;name=documents_edit_link}}</div>
</fieldset>
<fieldset class="divider"><legend class="toggler open">{{writeString=content.edit_configuration}}</legend>
  <label for="categories">{{writeString=content_edit.choose_category}}</label><select id="categories" name="categories[]" multiple="multiple" style="height:auto;">{{categories}}</select><br />
  <label for="list_template">{{writeString=list_template}}</label><select id="list_template" name="list_template">{{list_templates}}</select>
</fieldset>
