jQuery(document).ready(function() {
	jQuery('table.link_list').each(function() {
		jQuery(this).prepareWidget(function(widget) {
			Widget.callStaticWidgetMethod('detail', 'connect_detail_with_list', 'link', widget, 'setLinkId');
			widget.handle('list.cell-click', function(event, rowIndex, col, row, cell) {
				if(col.identifier === 'delete') {
					var file_name = widget.cell_for_identifier('name', row).text();
					var delete_message = AdminInterface.strings.get_parameterized_string('wns.link.delete_warning', { link_name: file_name});
					Widget.confirm("{{writeString=wns.delete_warning_title}}", delete_message, function(confirmed) {
						if(confirmed) {
							this.delete_row(row);
						}
					}.bind(this));
					event.stopPropagation();
				}
				if(col.identifier === 'is_inactive') {
					this.toggle_boolean(row, col.identifier);
					event.stopPropagation();
				}				
			});
			AdminInterface.strings.handle_strings_for_list_result('wns.links.no_result', ['link_category_name'], widget);
		});
	});
});