jQuery(document).ready(function() {
	jQuery('table.link_list').each(function() {
		jQuery(this).prepareWidget(function(widget) {
			Widget.callStaticWidgetMethod('detail', 'connect_detail_with_list', 'link', widget, 'setLinkId');
			widget.handle('list.cell-click', function(event, rowIndex, col, row, cell) {
				if(col.identifier === 'delete') {
					var file_name = widget.cell_for_identifier('name', row).text();
					Widget.confirm("{{writeString=widget.delete_confirm}}", "{{writeString=widget.link.delete_alert}} "+file_name, function(confirmed) {
						if(confirmed) {
							this.delete_row(row);
						}
					}.bind(this));
					event.stopPropagation();
				}
				if(col.identifier === 'is_inactive') {
					this.toggle_boolean(row, col.identifier);
					event.stopPropagation();
				}				
			});
			widget.handle('list.reloaded', function(event, list_length) {
				if(list_length === 0) {
					var message = "Keine Links gefunden mit den folgenden Kriterien<ul>";
					var search = widget.getSearch();
					if(search !== null) {
						message = message + '<li>Suchbegriff "'+search+'"</li>';
					}
					var category_id = widget.getOption('link_category_id');
					if(category_id !== '__all') {
						if(category_id === '__without') {
							message = message + '<li>keine Linkkategorie</li>';
						} else {
							var active_category = AdminInterface.sidebar.find('li.ui-state-active').text();
							message = message + '<li>Linkkategorie "'+active_category+'"</li>';
						}
					}
					message = message + '</ul>';
					Widget.notifyUser('info', message, {isHTML: true, closable: true});
				}
			}, false, true);
		});
	});
});