*[data-widget-type=list] {
	border: none;
}

*[data-widget-type=list] .ui-state-active {
	background: none;
	border: 0;
}

*[data-widget-type=list] .ui-state-hover {
	cursor: default;
}

tr.ui-list-headrow th.file_info, 
table.ui-list td.file_info {
	text-align: right;
	padding-right: 2em;
}

.ui-list .ui-list-headrow span {
	padding-top: 3px;
	padding-bottom: 1px;
	display: inline-block;
}

tr.ui-list-headrow th.sort, 
table.ui-list td.sort {
	text-align: right;
	padding-right: 1em;
	color: #999;
}

tr.ui-list-headrow th.sort {
	padding-right: 0em;
}

tr.ui-list-headrow th.file_info {
	padding-right: 1.0em;
}

table.ui-list {
	width: 100%;
	margin: 0;
	padding: 0;
}

table.ui-list { border-collapse: collapse; border-spacing: 0;}
table.ui-list td { padding: .3em .5em .3em 0.2em; vertical-align: top;}

table.ui-list .ui-list-cell a {
	color: #333 !important;
	text-decoration: underline;
}

ul.ui-list li.ui-list-headrow,
table.ui-list tr.ui-list-headrow th {
	color: #000;
	text-align: left;
	vertical-align: bottom;
	font-size: 1em;
	padding: 8px 2px 1px 1px;
	background-color:#F6F6F6;
	border-top: 0;
	border-bottom: solid 1px #E9E9E9;
}

*[data-widget-type=list] .ui-list-row {
	background-color: #F6F6F6;
}

*[data-widget-type=list] .ui-list-row:nth-child(2n+2) {
	background-color: #E9E9E9;
}

.ui-list-row.magic_column-all,
.ui-list-row.magic_column-without {
	font-style: oblique;
	color: #777;
}

th.ui-list-heading select {
	border: solid 1px #CDCDCD;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	background-color: transparent;
	margin: 0;
}
th.ui-list-heading.sortable:hover span,
th.ui-list-heading.sortable.asc span,
th.ui-list-heading.sortable.desc span {
	background-image: url("{{writeConstantValue=INT_IMAGES_DIR_FE}}/admin/sort_asc.png");
	background-position: right;
	background-repeat: no-repeat;
}

th.ui-list-heading.sortable.asc:hover span {
	background-image: url("{{writeConstantValue=INT_IMAGES_DIR_FE}}/admin/sort_asc_hover.png");
}

th.ui-list-heading.sortable.desc span {
	background-image: url("{{writeConstantValue=INT_IMAGES_DIR_FE}}/admin/sort_desc.png");
}

th.ui-list-heading.sortable:hover span,
th.ui-list-heading.sortable.desc:hover span {
	background-image: url("{{writeConstantValue=INT_IMAGES_DIR_FE}}/admin/sort_desc_hover.png");
}

div[data-widget-type='documents_list'] {
	margin: 0;
	padding-top: 0 !important;
}

th.ui-list-heading.sortable span {
	color: #444;
	padding-right: 1.0em;
}

th.ui-list-heading.sortable {
	cursor: pointer;
}

