.ui-dialog-content > [data-widget-type="list"] {
  margin: 2em -1em -0.5em;
  width: calc(100% + 2em);
}

.ui-dialog-content > [data-widget-type="list"] .ui-list-headrow th:first-child,
.ui-dialog-content > [data-widget-type="list"] .ui-list-row td:first-child {
	padding-left: 1em;
}
