<object type="application/x-shockwave-flash" data="{{writeConstantValue=INT_WEB_DIR_FE}}/media/mediaplayer.swf" width="{{width}}" height="{{height}}">
	<param name="allowScriptAccess" value="always" />
	<param name="movie" value="{{writeConstantValue=INT_WEB_DIR_FE}}/media/mediaplayer.swf" />
	<param name="quality" value="high" />
	<param name="scaleMode" value="showAll" />
	<param name="allowfullscreen" value="true" />
	<param name="wmode" value="transparent" />
	<param name="allowNetworking" value="all" />
	<param name="flashvars" value="file={{src}}&amp;type=flv" />
	{{content}}
</object>