<h1>{{quoteString=\{\{extension\}\};alternate=true;defaultValue=\{\{writeString=new_entry\}\}}}</h1>
<form action="{{action}}" method="post">
<fieldset><legend>{{writeString=document.type}} [id:{{id}}]</legend>
  <label for="extension">{{writeString=document.extension}}</label>
  <input type="text" id="extension" name="extension" value="{{extension}}" /><br />
  <label for="mimetype">{{writeString=document.mimetype}}</label>
  <input type="text" id="mimetype" name="mimetype" value="{{mimetype}}" /><br />
  <label for="is_office_doc">{{writeString=document.is_of_office_use}}</label>
  <input type="checkbox" name="is_office_doc" id="is_office_doc" value="1" {{is_office_doc}}/><br />
</fieldset>
<fieldset class="divider nolegend">
  <label for="save">{{writeString=save}}</label><button id="save" type="submit" title="{{writeString=save}}"></button>
</fieldset>
</form>
{{identifierContext=start;name=delete_button}}<fieldset class="divider">
  {{delete_button}}
</fieldset>{{identifierContext=end;name=delete_button}}
