<div><button class="edit{{class_active}}" onclick="location.href='{{link}}';"><span style="display:inline-block;min-width:2em;">[{{count}}]</span> {{document_kind}} <span style="color:blue;display:inline-block; width: 3em;">{{extension}}</span></button></div>