<h1>{{quoteString=\{\{writeString=module.backend.document_types\}\};alternate=true}} Module Info</h1>

<fieldset class="divider module_info nolegend">
  <p>{{writeString=document_types.choose_or_create}}</p>
  <p>{{create_link}}</p>
</fieldset>