Widget.types.documentation_display = {
	prepare: function() {
		var _this = this;
		this._element.on('click', '*[data-documentation-part]', function(event) {
			if(!event.altKey) {
				return;
			}
			var key = jQuery(this).data('documentationPart');
			event.stopPropagation();
			event.preventDefault();
			_this.partFor(key, function(result) {
				var html = jQuery('<div/>').html(result.content);
				Widget.notifyUser(Widget.logSeverity.DOCUMENTATION, html, {
					closeDelay: null,
					identifier: 'documentation-'+key,
					closable: true,
					hideIcon: true,
					isHTML: true,
					buttons: {
						link: {click: function(event) {
							jQuery.openLink(result.url, event);
						}}
					}
				});
			});
			return false;
		});
		this._element.on('keydown', function(event) {
			if(event.altKey) {
				_this._element.addClass('highlight-documentation');
			}
		});
		this._element.on('keyup', function(event) {
			_this._element.removeClass('highlight-documentation');
		});
	}

};