Widget.types.page_input = {
	prepare: function() {
		var _this = this;
		var option = jQuery('<option/>');
		this.pages(this.settings.include_virtual, function(pages) {
			jQuery.each(pages, function(i, data) {
				option.clone().text((new Array(data.level+1)).join('  ')+data.name).attr('value', data.page_id).appendTo(_this._element);
			});
			if(this.settings.default_value_label) {
				this._element.prepend(option.clone().attr('value', '').text(this.settings.default_value_label));
				this._element.val('');
			}
			if(this.settings.initial_value) {
				this.value(this.settings.initial_value);
			}
			if(this.settings.disabled) {
				this._element.attr('disabled', true);
			}
		});
	},
	
	value: function(set) {
		if(arguments.length) {
			this.settings.initial_value = set;
			return this._element.val(set);
		}
		return this._element.val();
	},
	
	val: function(set) {
		return this.value(set);
	},
	
	proxy_url: function() {
		var value = this.value();
		return "{{writeLink=internal_link_proxy;manager=FileManager}}/"+value;
	},
	
	settings: {
		default_value_label: null,
		initial_value: null,
		include_virtual: false
	}
};
