Widget.types.page_input = {
	prepare: function() {
		var _this = this;
		var option = jQuery('<option/>');
		this.pages(function(pages) {
			jQuery.each(pages, function(page_id, page_info) {
				option.clone().text(page_info.value).attr('value', page_id).addClass('level'+page_info.level).appendTo(_this._element);
			});
			if(this.settings.default_value_label) {
				this._element.prepend(option.clone().attr('value', '').text(this.settings.default_value_label));
				this._element.val('');
			}
			if(this.settings.initial_value) {
				this.value(this.settings.initial_value);
			}
			if(this.settings.disabled) {
				this._element.attr('disabled', true);
			}
		});
	},
	
	value: function(set) {
		if(set !== undefined) {
			this.settings.initial_value = set;
		}
		return this._element.val(set);
	},
	
	proxy_url: function() {
		var value = this.value();
		return "{{writeLink=internal_link_proxy;manager=FileManager}}/"+value;
	},
	
	settings: {
		default_value_label: null,
		initial_value: null
	}
};
