window.FILE_PREFIX = "{{writeConstantValue=MAIN_DIR_FE_PHP}}{{writeManagerPrefix=FileManager}}";
jQuery(document).ready(function() {
	window.AdminInterface = {
		sidebar: jQuery("#admin_sidebar"),
		content: jQuery('#admin_main'),
		info_bar: jQuery('#admin_info_bar'),
		loader: jQuery('#viewscreen_loader').hide().data('loadCount', 0),
		current_admin_module: {{current_admin_module;defaultValue=null;templateFlag=JAVASCRIPT_ESCAPE}},
		content_language: "{{writeSessionAttribute=content_language}}",
		strings: Widget.create('string'),
		translations: {
			cancelButtonText: "{{writeString=wns.cancel}}",
			okButtonText: "{{writeString=wns.ok}}",
			discardAlertTitle: "{{writeString=wns.discard_change.confirm_title}}",
			discardAlertMessage: "{{writeString=wns.discard_change.confirm_message}}",
			dashboardChangeTitle: "{{writeString=wns.dashboard_edit.change_title}}",
			dashboardAvailableColors: "{{writeString=wns.dashboard_edit.available_colors}}",
			editEntry: "{{writeString=wns.edit_entry}}",
			saveEntry: "{{writeString=wns.save_entry}}"
		}
	};
});