window.FILE_PREFIX = "{{writeConstantValue=MAIN_DIR_FE}}{{writeManagerPrefix=FileManager}}";
jQuery(document).ready(function() {
	window.AdminInterface = {
		sidebar: jQuery("#admin_sidebar"),
		content: jQuery('#admin_main'),
		info_bar: jQuery('#admin_info_bar'),
		loader: jQuery('#viewscreen_loader').hide().data('load-count', 0),
		current_admin_module: {{current_admin_module;defaultValue=null;templateFlag=JAVASCRIPT_ESCAPE}},
		content_language: "{{writeSessionAttribute=content_language}}",
		strings: Widget.create('string'),
		translations: {
			cancelButtonText: "{{writeString=widget.cancel}}",
			okButtonText: "{{writeString=widget.ok}}"
		}
	};
});