	<head>
		<title>{{title}}</title>
		{{writeResourceIncludes}}
		{{addResourceInclude=admin/login.ico}}
		<script type="text/javascript">
		<!--//--><![CDATA[//><!--
			Widget.handle('cmos-logged_in', function() {
				window.location.search = window.location.search;
			});
		//--><!]]>
		</script>
	</head>
	<body class="login">
		<h1>admin : {{writeServerVariable=HTTP_HOST;}}</h1>
		<noscript>
			<h2>{{writeString=widget.admin.script_warning}}</h2>
		</noscript>
	</body>
</html>