@font-face
	font-family 'Rapila-Icons'
	src url('../../fonts/Rapila-UI-Icons.woff') format('woff'), url('../../fonts/Rapila-UI-Icons.otf') format('truetype'), url('../../fonts/Rapila-UI-Icons.svg#Rapila-UI-Icons') format('svg')
	font-weight normal
	font-style normal

.ui-state-droppable,
.ui-widget-content.ui-state-droppable
	background-image url('../../images/admin/drag_and_drop.png')
	background-repeat no-repeat
	background-position center center
	color #666
	cursor pointer

.ui-state-droppable-hover,
#admin_sidebar .ui-list .ui-list-row.ui-state-droppable-hover,
.ui-dialog.document_detail .ui-state-droppable-hover .preview.ui-state-droppable
	background-color #e3ef99 !important
	background-image url('../../images/admin/drag_and_drop_hover.png')
	background-repeat no-repeat
	background-position center center
	
.ui-dialog.document_detail .ui-state-droppable-hover
	background-color #FFFFFF !important

#admin_sidebar .ui-list .ui-list-row.ui-state-droppable-hover,
#admin_sidebar .ui-list .ui-list-row.ui-state-active.ui-state-droppable-hover
	background-image url('../../images/admin/drag_and_drop_sidebar_hover.png')
	background-position right center
	
#admin_sidebar .ui-list .ui-list-row.ui-state-active.ui-state-droppable-hover
	background-image url('../../images/admin/drag_and_drop_sidebar_active_hover.png')
	background-color #9FA665 !important

.ui-state-droppable td,
.ui-state-droppable-hover td
	background-color #e3ef99

.ui-state-hover
	border-width 0

label
	color #666666
	float none
	font-family Arial
	font-size 0.95em
	display block
	padding-bottom 0.1em
	margin-top 0.8em
	text-align left
	width auto

.status_section 
	label
		display inline-block
		padding-right 0.5em
	.hide_if_not_saved label:first-child
		margin-top 0.9em
		label
			width 5em
			margin-top 0.2em

.hide_if_not_saved 
	label
		display inline-block
	&.bottom 
		label
			margin-left 1em
			&:first-child
				margin-left 0em

select,
input,
textarea
	&.ui-widget-content
		border-color #dfdfdf
		width 21.5em
		padding 0.2em
input[type=checkbox],
input[type=checkbox].ui-widget-content
	width auto

select
	&.display_mode
		min-width 21.5em
		margin-bottom 1em
	&.ui-widget-content
		padding 0.1em
	&[data-widget-type=page_input]
		background-color #ffffff
		border 1px solid #dbdbdb
		min-width 15em
		margin-bottom 0.5em
	option.default
		font-style oblique
		
select,
input,
textarea
	&.ui-widget-content
		&:hover,
		&:focus
			border-color #b5b5b5

.ui-image-picker-image
	float left
	line-height 160px
	margin 0 5px 5px 0
	padding 5px
	vertical-align middle
	text-align center
	&.ui-icon.ui-icon-trash
		position absolute
		bottom 2px
		right 2px
	object
		vertical-align middle
	&.ui-widget-content
		position relative
		border none
		background-color white
		margin 0 1px 2px
		text-align center
		vertical-align middle

.ui-sortable-handle, .ui-sortable-handle_inactive
	background-image url('../../images/admin/sortable_handler_inactive.png')
	background-repeat no-repeat
	background-position center center
	min-width 16px
	height 12px

.ui-sortable .ui-sortable-handle
	background-image url('../../images/admin/sortable_handler.png')
	cursor pointer

.ui-placeholder
	background-color #d3d3d3

.rapila-button
	padding 0.2em 1em 0.1em 1em
	margin-right 0.2em
	cursor pointer

*[data-widget-type=document_thumbnail_view] .ui-state-hover
	background #e3ef99
	background-image none

*[data-widget-type=image_picker] select
	background-color #ffffff
	border 1px solid #dbdbdb
	min-width 15em
	margin-bottom 0.5em

.cke_dialog_ui_hbox_first label
	margin-right 0.5em

fieldset
	&.option_groups
		border 1px #dfdfdf solid
		margin-top -1px
		margin-left 0
		padding 0.75em
		&:first-child
			margin-left 0
			margin-top 0.1em

.ui-widget-content 
	.status_section
		font-family Arial
		padding-right 2em
		width 16.2em
		float right
		border-left 1px solid #f2f2f2
		padding 0 1em
		fieldset
			border 1px dotted #c0c0c0
			padding 0
		select
			width 15em

.ui-widget-header
	color #efefef
	font-weight bold
	border 0
.ui-dialog 
	.ui-dialog-titlebar
		&.ui-widget-header
			border-radius 3px 3px 0 0
			padding 0.6em 0.8em 2em
			background #2d3238
		.ui-dialog-titlebar-close
			margin-top -20px
	.ui-dialog-title
		float left
		margin 0.1em 1em 0.2em 0

.ui-state-active .ui-icon
	background-image url("../admin/theme/images/ui-icons_000000_256x240.png")

.ui-state-hover .ui-icon
	background-image url("../admin/theme/images/ui-icons_000000_256x240.png")

.ui-dialog-buttonpane.ui-widget-content
	margin-top 0
	background #2d3238
	border-top 0

.ui-dialog-buttonpane,
.ui-dialog-content
	button.ui-state-focus,
	button.ui-state-highlight,
	button.ui-state-hover
		color #e3ef99
.ui-widget-content .ui-state-hover
	color #e3ef99
		

.ui-dialog-content
	cursor auto
	overflow-y auto
	&.ui-accordion
		padding 0
		> .ui-accordion-content
			padding 1em 2.2em

button.ui-button.ui-state-default
	background url("../../images/admin/button_gradient_dark.png") repeat scroll 0 0 transparent
	line-height 14px
	border-color #000000 #555555 #666666 #555555
	border-width 1px 1px 1px 1px
	-moz-border-radius 3px
	-webkit-border-radius 3px

#admin_info_bar button.ui-button.info-bar-element.ui-state-default
	background url("../../images/admin/button_gradient_dark.png") repeat scroll 0 0 transparent
	line-height 14px
	border-color #000000 #555555 #666666 #555555
	border-width 1px 1px 1px 1px
	-moz-border-radius 3px
	-webkit-border-radius 3px

button.rapila-button
	&.dashboard
		background transparent url("../../images/admin/dashboard_icon.gif") no-repeat center
	&.logout_link
		border-radius 12px
		background transparent url("../../images/admin/logout_icon.gif") no-repeat center

.ui-widget-content
	background-image none
	input,
	select,
	textarea
		background-color #ffffff

.ui-state-active,
.ui-widget-content .ui-state-active
	color inherit

button.primary, button.ui-state-active, button.ui-state-hover
	color #e3ef99

.group_fields
	display inline-block
	vertical-align top

input.ui-widget-content
	&.input_long
		width 35em
	&.input_short
		width 6em
	&.input_medium
		width 15em

.autowidth, 
input.ui-widget-content.autowidth, 
select.ui-widget-content.autowidth
	width auto

.ui-tabs 
	.ui-tabs-nav 
		li
			margin 2px 2px 0 2px
			background-color #ebedef
			a
				padding 0.5em 1.5em 0.2em
		li.ui-state-active
			background-color #ffffff
	.ui-tabs-panel
		border-top 1px solid #cccdcf
		padding 0
	#list.ui-tabs-panel,
	#thumbnail.ui-tabs-panel
		border-top 0
	
.ui-tabs-nav 
	.ui-state-active
		position relative
		top 1px
		a
			margin-top -1px
			color black
	&.ui-widget-header
		background transparent url('')
	li.ui-state-default
		background transparent
		border 1px solid #cccdcf
	
.ui-accordion-content > .ui-tabs > .ui-tabs-nav.ui-widget-header,
.ui-accordion-content > form > .ui-tabs > .ui-tabs-nav.ui-widget-header
	background-color #ebedef

div.inner-tab-panel-content 
	margin-left:-26px
	margin-top:15px
	> div
		margin-left 26px
	.ui-tabs-nav.ui-widget-header
		border-bottom 1px solid #CCCDCF
	
.ui-state-default a.tab_content_active
	color black

.add-new-item, .remove-item, .edit-item, .item-action, .print_area
	background-image url('../../images/admin/add_new_item.png')
	background-repeat no-repeat
	display inline-block
	height 16px
	width 16px

.remove-item
	background-image url('../../images/admin/remove_item.png')

.edit-item
	background-image url('../../images/admin/edit_item.png')

.item-action
	background-image url('../../images/admin/action.png')

.print_area
	background-image url('../../images/admin/print.gif')
	width 24px

.preview_edit
	cursor pointer

.rapila-icon
	font-family 'Rapila-Icons'

.help
	cursor help

ol.ui-editable-items-list
	list-style-type none
	margin 1em 0 .5em 0
	padding 0
	select
		margin-bottom 0.3em
	li
		list-style none
		padding 0.2em 0
		cursor pointer
		&::before
			content " "
			background-image url(../admin/theme/images/ui-icons_727272_256x240.png)
			display inline-block
			text-indent -99999px
			overflow hidden
			background-repeat no-repeat
			background-position -64px -112px
			padding-right 0.3em
			height 16px
			width 16px
		&.display_info::before
			content ''
			content none
			width 0
			background-image none

ol.ui-editable-items-list li:nth-child(2n+2),
table.ui-editable-items-list,
tbody.ui-editable-items-list
	tr:nth-child(2n+2) td
		background-color #fbfbfb
	
.ui-accordion 
	.ui-accordion-content
		background-color #ffffff
		border none
		padding-top 0
		&.contents_container
			padding 0
		&.configuration_container
			padding 0
			&.page-type-journal
				background-color #EBEDEF
	.ui-accordion-header 
		background none repeat scroll 0 0 #ebedef
		border-width 0 0 1px 0
		border-color #c1c2c4
		border-style solid
		border-radius 0px
		font-weight 1.5em
		margin 1px 0 0 0
		a
			border-bottom none
			font-size 1.2em
			font-weight 700
			color #666666
			padding 0.3em 0.3em 0.3em 1.6em
	.ui-state-active 
		.ui-icon-triangle-1-s
			background-image url("../../images/admin/icon_triangle_open_active.png")
			background-position 3px 3px
		.ui-icon-triangle-1-e
			background-image url("../../images/admin/icon_triangle_closed_active.png")
			background-position 3px 3px
	.ui-state-hover 
		.ui-icon-triangle-1-s
			background-image url("../../images/admin/icon_triangle_open_active.png")
			background-position 3px 3px
		.ui-icon-triangle-1-e
			background-image url("../../images/admin/icon_triangle_closed_active.png")
			background-position 3px 3px

.ui-icon.toggle_show_all,
.ui-accordion .ui-state-default .ui-icon-triangle-1-s
	background-image url("../../images/admin/icon_triangle_open.png")
	background-position 3px 3px

.ui-icon.toggle_show_all.closed,
.ui-accordion .ui-state-default .ui-icon-triangle-1-e
	background-image url("../../images/admin/icon_triangle_closed.png")
	background-position 3px 3px

div.ui-dialog.file_upload_error
	z-index 20000 !important

// Widget-Notifications
#widget-notifications
	position fixed
	left 278px
	top 58px
	z-index 2005
	
	.ui-notify
		margin-bottom 5px
		.ui-badge,
		.close-handle.ui-icon
			float right
			display block
			margin-top -8px
			margin-right -8px
		.ui-badge
			background-color red
			border-radius 12px
			border-radius 12px
			font-weight bold
			color white
			padding 1px 5px
		.close-handle.ui-icon
			margin-right 0
			margin-top -12px
			cursor pointer
	

