@font-face{font-family:'Rapila-Icons';src:url("../../fonts/Rapila-UI-Icons.woff") format('woff'),url("../../fonts/Rapila-UI-Icons.otf") format('truetype'),url("../../fonts/Rapila-UI-Icons.svg#Rapila-UI-Icons") format('svg');font-weight:normal;font-style:normal}
.ui-widget{font-family:Arial,Helvetica,sans-serif;font-size:1em;}
.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button{font-family:Arial,Helvetica,sans-serif}
.ui-state-droppable,.ui-widget-content.ui-state-droppable{background-image:url("../../images/admin/drag_and_drop.png");background-repeat:no-repeat;background-position:center center;color:#666;cursor:pointer}
.ui-state-droppable-hover,#admin_sidebar .ui-list .ui-list-row.ui-state-droppable-hover,.ui-dialog.document_detail .ui-state-droppable-hover .preview.ui-state-droppable{background-color:#e3ef99 !important;background-image:url("../../images/admin/drag_and_drop_hover.png");background-repeat:no-repeat;background-position:center center}
.ui-dialog.document_detail .ui-state-droppable-hover{background-color:#fff !important}
#admin_sidebar .ui-list .ui-list-row.ui-state-droppable-hover,#admin_sidebar .ui-list .ui-list-row.ui-state-active.ui-state-droppable-hover{background-image:url("../../images/admin/drag_and_drop_sidebar_hover.png");background-position:right center}
#admin_sidebar .ui-list .ui-list-row.ui-state-active.ui-state-droppable-hover{background-image:url("../../images/admin/drag_and_drop_sidebar_active_hover.png");background-color:#9fa665 !important}
.ui-state-droppable td,.ui-state-droppable-hover td{background-color:#e3ef99}
.ui-state-hover{border-width:0}
label{color:#666;float:none;font-family:Arial;font-size:.95em;display:block;padding-bottom:.1em;margin-top:.8em;text-align:left;width:auto}
.status_section label{display:inline-block;padding-right:.5em}
.status_section .hide_if_not_saved label:first-child{margin-top:.9em;}
.status_section .hide_if_not_saved label:first-child label{width:5em;margin-top:.2em}
.hide_if_not_saved label{display:inline-block}
.hide_if_not_saved.bottom label{margin-left:1em;}
.hide_if_not_saved.bottom label:first-child{margin-left:0}
select.ui-widget-content,input.ui-widget-content,textarea.ui-widget-content{border-color:#dfdfdf;width:21.5em;padding:.2em}
input[type=checkbox],input[type=checkbox].ui-widget-content{width:auto}
select.display_mode{min-width:21.5em;margin-bottom:1em}
select.ui-widget-content{padding:.1em}
select[data-widget-type=page_input]{background-color:#fff;border:1px solid #dbdbdb;min-width:15em;margin-bottom:.5em}
select option.default{font-style:oblique}
select.ui-widget-content:hover,input.ui-widget-content:hover,textarea.ui-widget-content:hover,select.ui-widget-content:focus,input.ui-widget-content:focus,textarea.ui-widget-content:focus{border-color:#b5b5b5}
.ui-image-picker-image{float:left;line-height:160px;margin:0 5px 5px 0;padding:5px;vertical-align:middle;text-align:center;}
.ui-image-picker-image object{vertical-align:middle}
.ui-image-picker-image.ui-widget-content{position:relative;border:none;background-color:#fff;margin:0 1px 2px;text-align:center;vertical-align:middle}
.ui-sortable-handle,.ui-sortable-handle_inactive{background-image:url("../../images/admin/sortable_handler_inactive.png");background-repeat:no-repeat;background-position:center center;min-width:16px;height:12px}
.ui-sortable .ui-sortable-handle{background-image:url("../../images/admin/sortable_handler.png");cursor:pointer}
.ui-placeholder{background-color:#d3d3d3}
*[data-widget-type=document_thumbnail_view] .ui-state-hover{background:#e3ef99;background-image:none}
*[data-widget-type=image_picker] select{background-color:#fff;border:1px solid #dbdbdb;min-width:15em;margin-bottom:.5em}
.cke_dialog_ui_hbox_first label{margin-right:.5em}
fieldset.option_groups{border:1px #dfdfdf solid;margin-top:-1px;margin-left:0;padding:.75em;}
fieldset.option_groups:first-child{margin-left:0;margin-top:.1em}
fieldset.option_groups > label{display:inline-block}
.ui-widget-content .status_section{font-family:Arial;padding-right:2em;width:16.2em;float:right;border-left:1px solid #f2f2f2;padding:0 1em;}
.ui-widget-content .status_section fieldset{border:1px dotted #c0c0c0;padding:0}
.ui-widget-content .status_section select{width:15em}
.ui-widget-header{color:#efefef;font-weight:bold;border:0}
.ui-dialog .ui-dialog-titlebar.ui-widget-header{-webkit-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;padding:.6em .8em 2em;background:#2d3238}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close{background:none;border:none;margin-top:-20px}
.ui-dialog .ui-dialog-title{float:left;margin:.1em 1em .2em 0}
.ui-state-active .ui-icon{background-image:url("../admin/theme/images/ui-icons_000000_256x240.png")}
.ui-state-hover .ui-icon{background-image:url("../admin/theme/images/ui-icons_000000_256x240.png")}
.ui-dialog-buttonpane.ui-widget-content{margin-top:0;background:#2d3238;border-top:0}
.ui-dialog-buttonpane .ui-state-focus,.ui-dialog-content .ui-state-focus,#rapila_admin_menu .ui-state-focus,.ui-dialog-titlebar .ui-state-focus,.ui-dialog-buttonpane .ui-state-highlight,.ui-dialog-content .ui-state-highlight,#rapila_admin_menu .ui-state-highlight,.ui-dialog-titlebar .ui-state-highlight,.ui-dialog-buttonpane .ui-state-hover,.ui-dialog-content .ui-state-hover,#rapila_admin_menu .ui-state-hover,.ui-dialog-titlebar .ui-state-hover{color:#e3ef99;}
.ui-dialog-buttonpane .ui-state-focus .ui-icon,.ui-dialog-content .ui-state-focus .ui-icon,#rapila_admin_menu .ui-state-focus .ui-icon,.ui-dialog-titlebar .ui-state-focus .ui-icon,.ui-dialog-buttonpane .ui-state-highlight .ui-icon,.ui-dialog-content .ui-state-highlight .ui-icon,#rapila_admin_menu .ui-state-highlight .ui-icon,.ui-dialog-titlebar .ui-state-highlight .ui-icon,.ui-dialog-buttonpane .ui-state-hover .ui-icon,.ui-dialog-content .ui-state-hover .ui-icon,#rapila_admin_menu .ui-state-hover .ui-icon,.ui-dialog-titlebar .ui-state-hover .ui-icon{background-image:url("../admin/theme/images/ui-icons_b8d600_256x240.png")}
.ui-dialog-content{cursor:auto;overflow-y:auto;}
.ui-dialog-content.ui-accordion{padding:0;}
.ui-dialog-content.ui-accordion > .ui-accordion-content{padding:1em 2.2em}
button.ui-button.ui-state-default{background:url("../../images/admin/button_gradient_dark.png") repeat scroll 0 0 transparent;line-height:14px;border-color:#000 #555 #666 #555;border-width:1px 1px 1px 1px;-webkit-border-radius:3px;border-radius:3px}
#admin_info_bar button.ui-button.info-bar-element.ui-state-default{background:url("../../images/admin/button_gradient_dark.png") repeat scroll 0 0 transparent;line-height:14px;border-color:#000 #555 #666 #555;border-width:1px 1px 1px 1px;-webkit-border-radius:3px;border-radius:3px}
button.rapila-button{padding:0 2em;height:22px;margin-right:.2em;cursor:pointer;}
button.rapila-button.dashboard{background:transparent url("../../images/admin/dashboard_icon.gif") no-repeat center}
button.rapila-button.logout_link{-webkit-border-radius:12px;border-radius:12px;background:transparent url("../../images/admin/logout_icon.gif") no-repeat center}
button.rapila-button.ui-button-text-only .ui-button-text{padding:0}
.ui-widget-content{background-image:none;}
.ui-widget-content input,.ui-widget-content select,.ui-widget-content textarea{background-color:#fff}
.ui-state-active,.ui-widget-content .ui-state-active{color:inherit}
button.primary,button.ui-state-active,button.ui-state-hover{color:#e3ef99}
.group_fields{display:inline-block;vertical-align:top}
input.ui-widget-content.input_long{width:35em}
input.ui-widget-content.input_short{width:6em}
input.ui-widget-content.input_medium{width:15em}
.autowidth,input.ui-widget-content.autowidth,select.ui-widget-content.autowidth{width:auto}
.ui-tabs{border:none;}
.ui-tabs .ui-tabs-nav li{margin:2px 2px 0 2px;background-color:#ebedef;}
.ui-tabs .ui-tabs-nav li a{padding:.5em 1.5em .2em}
.ui-tabs .ui-tabs-nav li.ui-state-default{background:transparent;border:1px solid #cccdcf}
.ui-tabs .ui-tabs-nav li.ui-state-active{background-color:#fff;position:relative;border-bottom:none;}
.ui-tabs .ui-tabs-nav li.ui-state-active a{color:#000}
.ui-tabs .ui-tabs-nav.ui-widget-header{background:transparent url("")}
.ui-tabs .ui-tabs-panel{border-top:1px solid #cccdcf;padding:0;margin-top:-1px}
.ui-tabs #list.ui-tabs-panel,.ui-tabs #thumbnail.ui-tabs-panel{border-top:0}
.ui-accordion-content > .ui-tabs > .ui-tabs-nav.ui-widget-header,.ui-accordion-content > form > .ui-tabs > .ui-tabs-nav.ui-widget-header{background-color:#ebedef}
div.inner-tab-panel-content{margin-left:-26px;margin-top:15px;}
div.inner-tab-panel-content > div{margin-left:26px}
div.inner-tab-panel-content .ui-tabs-nav.ui-widget-header{border-bottom:1px solid #cccdcf}
.ui-state-default li.tab_content_active{color:#000}
.add-new-item,.remove-item,.edit-item,.item-action,.print_area{background-image:url("../../images/admin/add_new_item.png");background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.remove-item{background-image:url("../../images/admin/remove_item.png")}
.edit-item{background-image:url("../../images/admin/edit_item.png")}
.item-action{background-image:url("../../images/admin/action.png")}
.print_area{background-image:url("../../images/admin/print.gif");width:24px}
.preview_edit{cursor:pointer}
.rapila-icon{font-family:'Rapila-Icons'}
.help{cursor:help}
ol.ui-editable-items-list{list-style-type:none;margin:1em 0 .5em 0;padding:0;}
ol.ui-editable-items-list select{margin-bottom:.3em}
ol.ui-editable-items-list li{list-style:none;padding:.2em 0;cursor:pointer;}
ol.ui-editable-items-list li::before{content:" ";background-image:url("../admin/theme/images/ui-icons_727272_256x240.png");display:inline-block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat;background-position:-64px -112px;padding-right:.3em;height:16px;width:16px}
ol.ui-editable-items-list li.display_info::before{content:'';content:none;width:0;background-image:none}
ol.ui-editable-items-list li:nth-child(2n+2) tr:nth-child(2n+2) td,ul.ui-editable-items-list li:nth-child(2n+2) tr:nth-child(2n+2) td,table.ui-editable-items-list tr:nth-child(2n+2) td,tbody.ui-editable-items-list tr:nth-child(2n+2) td{background-color:#fbfbfb}
.ui-accordion .ui-accordion-content{background-color:#fff;border:none;padding-top:0;}
.ui-accordion .ui-accordion-content.contents_container{padding:0}
.ui-accordion .ui-accordion-content.configuration_container{padding:0;}
.ui-accordion .ui-accordion-content.configuration_container.page-type-journal{background-color:#ebedef}
.ui-accordion .ui-accordion-header{background:none repeat scroll 0 0 #ebedef;border-width:0 0 1px 0;border-color:#c1c2c4;border-style:solid;-webkit-border-radius:0;border-radius:0;font-weight:1.5em;margin:1px 0 0 0;}
.ui-accordion .ui-accordion-header a{border-bottom:none;font-size:1.2em;font-weight:700;color:#666;padding:.3em .3em .3em 1.6em}
.ui-accordion .ui-state-active .ui-icon-triangle-1-s{background-image:url("../../images/admin/icon_triangle_open_active.png");background-position:3px 3px}
.ui-accordion .ui-state-active .ui-icon-triangle-1-e{background-image:url("../../images/admin/icon_triangle_closed_active.png");background-position:3px 3px}
.ui-accordion .ui-state-hover .ui-icon-triangle-1-s{background-image:url("../../images/admin/icon_triangle_open_active.png");background-position:3px 3px}
.ui-accordion .ui-state-hover .ui-icon-triangle-1-e{background-image:url("../../images/admin/icon_triangle_closed_active.png");background-position:3px 3px}
.ui-accordion .ui-accordion-icons{padding-left:0}
.ui-icon.toggle_show_all,.ui-accordion .ui-state-default .ui-icon-triangle-1-s{background-image:url("../../images/admin/icon_triangle_open.png");background-position:3px 3px}
.ui-icon.toggle_show_all.closed,.ui-accordion .ui-state-default .ui-icon-triangle-1-e{background-image:url("../../images/admin/icon_triangle_closed.png");background-position:3px 3px}
div.ui-dialog.file_upload_error{z-index:20000 !important}
#widget-notifications{position:fixed;left:278px;top:58px;z-index:2005;}
#widget-notifications .ui-notify{margin-bottom:5px;}
#widget-notifications .ui-notify .ui-badge,#widget-notifications .ui-notify .close-handle.ui-icon{float:right;display:block;margin-top:-8px;margin-right:-8px}
#widget-notifications .ui-notify .ui-badge{background-color:#f00;-webkit-border-radius:12px;border-radius:12px;-webkit-border-radius:12px;border-radius:12px;font-weight:bold;color:#fff;padding:1px 5px}
#widget-notifications .ui-notify .close-handle.ui-icon{margin-right:0;margin-top:-12px;cursor:pointer}
.highlight-documentation *[data-documentation-part]{cursor:help !important}
.ui-my-icon{height:20px;margin:-2px 2px 0 0;width:26px;}
.ui-my-icon.ui-icon-trash{background:transparent url("../../images/admin/icon_trash.png") no-repeat center bottom}
.ui-my-icon.ui-icon-wrench{background:transparent url("../../images/admin/icon_edit_condition.png") no-repeat center bottom}
.ui-my-icon.ui-icon-pencil{background:transparent url("../../images/admin/icon_edit.png") no-repeat center bottom}
