.ui-image-picker-image {
  float: left;
  margin: 0 5px 5px 0;
  padding: 5px;
  vertical-align: middle;
  text-align: center;
}

.ui-image-picker-image.ui-placeholder {
  vertical-align: middle;
  text-align: center;
}

.ui-image-picker-image.ui-widget-content { border: none; }
.ui-placeholder { background-color: #d3d3d3; }
