.ui-dialog.document_detail .download_document.ui-icon.ui-icon-circle-zoomout {
	display: inline-block;
	margin-left: 1em;
}

.ui-dialog.document_detail .preview.file_exists {
	border: 1px solid #DDD; 
	text-align: center;
}

.ui-dialog.document_detail .preview.file_exists img {
	display: block;
	margin: 0 auto;
}

.ui-dialog.document_detail .preview {
	width: 190px;
	background-color: #fff;
	margin-left: -1px
}

.ui-dialog.document_detail .ui-state-droppable .preview {
	border: 1px solid #f2f2f2;
	background-color: #b8d600
	cursor: pointer;
}

.ui-dialog.document_detail .preview .droppable_info {
	display: block;
	line-height: 1.6em;
	min-height: 8em;
	padding: 1em 1em;
}

.ui-dialog.document_detail .status_section {
	 width: 21em;
}
	
.ui-download-document {
	padding: .2em 1.4em .2em 0;
	display: inline-block;
	color: #888888;
	text-decoration: underline;
	background-image: url("{{writeConstantValue=INT_IMAGES_DIR_FE}}/admin/icon_download.png");
	background-repeat: no-repeat;
	background-position: right center;
}

.ui-download-document:hover {
	background-image: url("{{writeConstantValue=INT_IMAGES_DIR_FE}}/admin/icon_download_active.png");
}

