.detail-widget-document_detail form.ui-dialog-content.ui-state-droppable .droppable_info {
	margin-top: 10px;
}

form.ui-widget-content.ui-state-droppable {
	background: none;
}

.detail-widget-document_detail .preview.file_exists img {
	display: block;
	margin: 0 auto;
}

.ui-widget-content input[name='file_upload'] {
	border: 1px solid #e9e9e9;
	border-radius: 3px;
	padding: 0.1em;
	margin-right: 5px;
	width: 22em;
}

.detail-widget-document_detail .preview.droppable_info {
	display: block;
	line-height: 1.6em;
	min-height: 8em;
	padding: 1em 1em;
	vertical-align: middle;
}

.detail-widget-document_detail .status_section {
	width: 21em;
}

.detail-widget-document_detail .hide_if_not_saved {
	margin-top: 0.5em;
}

.ui-download-document {
	padding: .3em 1.3em .2em 0;
	display: inline-block;
	color: #888888;
	text-decoration: underline;
	background-image: url("{{writeDirectInclude=admin/icon_download.png;template=location_only}}");
	background-repeat: no-repeat;
	background-position: right center;
}

.ui-download-document:hover {
	background-image: url("{{writeDirectInclude=admin/icon_download_active.png;template=location_only}}");
}

