.ui-dialog.detail-widget-detail-widget-document_detail form.ui-dialog-content.ui-state-droppable {
	background-color: #ffffff !important;
	background-image: none !important;
}

.ui-dialog.detail-widget-document_detail form.ui-dialog-content.ui-state-droppable .droppable_info {
	background-image: url("{{writeDirectInclude=admin/drag_drop_white_hover.png;template=location_only}}");
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: 10px;
}

.ui-dialog.detail-widget-document_detail .preview.file_exists img {
	display: block;
	margin: 0 auto;
}

.ui-dialog.detail-widget-document_detail .preview {
	width: 190px;
	background-color: #fff;
	margin-left: -1px
}
.ui-widget-content input[name='file_upload'] {
	border: 1px solid #e9e9e9;
	border-radius: 3px;
	padding: 0.1em;
	margin-right: 5px;
	width: 22em;
}

.ui-dialog.detail-widget-document_detail .preview.ui-state-droppable {
	padding: 10px;
}

.ui-dialog.detail-widget-document_detail .ui-state-droppable .preview {
	border: 1px solid #b8d600;
	cursor: pointer;
}

.ui-dialog.detail-widget-document_detail .preview.droppable_info {
	display: block;
	line-height: 1.6em;
	min-height: 8em;
	padding: 1em 1em;
	vertical-align: middle;
}

.ui-dialog.detail-widget-document_detail .status_section {
	width: 21em;
}

.ui-dialog.detail-widget-document_detail .status_section br {
	font-size: 0;
	line-height: 0.3em;
}

.ui-dialog.detail-widget-document_detail .hide_if_not_saved {
	margin-top: 0.5em;
}

.ui-download-document {
	padding: .3em 1.3em .2em 0;
	display: inline-block;
	color: #888888;
	text-decoration: underline;
	background-image: url("{{writeDirectInclude=admin/icon_download.png;template=location_only}}");
	background-repeat: no-repeat;
	background-position: right center;
}

.ui-download-document:hover {
	background-image: url("{{writeDirectInclude=admin/icon_download_active.png;template=location_only}}");
}

