Widget.types.document_detail = {
	initialize: function() {
		this.content = jQuery("{{includeTemplate=edit}}");
		Widget.create('detail', function(widget) {
			this.detail_widget = widget.set_instance(this);
			this.current_detail_id = null;
			jQuery.extend(widget.settings, {
				title: "{{writeString=create}}",
				width: 550,
				dialogClass: "document_detail"
			});
			widget.content = this.content;
			this.content.find("select[name='document_category_id']").prepareWidget();
			this.content.find("select[name='language_id']").prepareWidget();
			
			var document_detail = this;
			
			var upload_error = function(error) {
				document_detail.upload_button.button('enable');
				document_detail.file_upload.attr('disabled', false);
				document_detail.upload_button.hide();
				if(error) {
					document_detail.detail_widget.validate_with({upload: jQuery('<div class="ui-state-error error_display"/>').text(error.message)});
				}
			};
			var upload_success = function(result) {
				upload_error();
				var is_new = document_detail.current_detail_id === null;
				if(is_new) {
					document_detail.setDocumentId(result);
				}
				document_detail.fill_data(!is_new);
				//TODO: reload list row and info part of detail
			};
			
			this.uploader = Widget.create('file_upload');
			this.uploader.allow_drag_to(document_detail.content, null, function(target) {
				// console.log(document_detail.current_detail_id, upload_success,upload_error):
				return {document_id: document_detail.current_detail_id, callback: upload_success, error: upload_error};
			}, true);

			this.upload_button = this.content.find("button.do_upload").button().hide().click(function(event) {
				document_detail.upload_button.button('disable');
				document_detail.file_upload.attr('disabled', true);
				var file = document_detail.file_upload[0].files[0];
				document_detail.uploader.upload_file(file, {document_id: document_detail.current_detail_id, callback: upload_success, error: upload_error});
			});
			this.file_upload = this.content.find("input[name='file_upload']").change(function(event) {
				document_detail.detail_widget.clear_validation();
				var files = this.files;
				if(files.length === 1) {
					document_detail.upload_button.show();
				} else {
					document_detail.upload_button.hide();
				}
			});
			if(this.auto_open) {
				this.open();
			}
		}.bind(this));
	},
	
	open: function() {
		if(!this.detail_widget) {
			this.auto_open = true;
			return false;
		}
		this.detail_widget.open();
		this.detail_widget.content.find('input[name=name]').focus();
	},
	
	fill_data: function(is_upload_only) {
		this.detail_widget.set_is_loading(true);
		this.getDocumentData(function(document_data) {
			this.content.find(".preview").text('');
			this.preview(function(result) {
				this.content.find(".preview").html(result);
			});
			this.content.find(".updated_info").text(document_data.UpdatedInfo);
			this.content.find(".created_info").text(document_data.CreatedInfo);
			this.content.find(".detail_id").text(document_data.Id);
			this.content.find(".file_size").text(document_data.FileInfo);
			this.content.find(".original_name").text(document_data.OriginalName);
			
			if(!is_upload_only) {
				if(document_data.DocumentCategoryId === null) {
					document_data.DocumentCategoryId = '';
				}
				if(document_data.LanguageId === null) {
					document_data.LanguageId = '';
				}
				if(document_data.Id != null) {
					this.content.find("label[for='file_upload']").text("{{writeString=widget.document.file_upload_replace}}");
				}
				this.content.find("input[name='name']").val(document_data.Name);
				this.content.find("textarea[name='description']").val(document_data.Description);
				this.content.find("select[name='document_category_id']").val(document_data.DocumentCategoryId);
				this.content.find("select[name='language_id']").val(document_data.LanguageId);
				this.content.find("input[name='is_protected']").attr('checked', document_data.IsProtected);
				this.content.find("input[name='is_inactive']").attr('checked', document_data.IsInactive);
				this.current_detail_id = document_data.Id;
				this.detail_widget.set_title(this.detail_widget.settings.title = "{{writeString=widget.document}}"+' '+document_data.Name);
			}
			this.detail_widget.set_is_loading(false);
		});
	},
	
	close: function() {
		this.detail_widget.close();
		this.close_callback();
	},
	
	save_callback: jQuery.noop,
	close_callback: jQuery.noop
};