<form enctype="multipart/form-data">
	<div class="tags_in_detail"></div>
	<label for="file_upload" class="validate-upload validate-document.requires_file validate-upload_error_php_max_size validate-upload_error">{{writeString=wns.document.file_upload}}</label>
	<input type="file" name="file_upload" class="ui-widget-content" /><button class="upload_file" disabled="disabled">{{writeString=wns.document.upload}}</button><br />
	<div class="status_section">
		<div class="preview droppable_info ui-state-droppable">
		  <div>{{writeString=wns.draganddrop.hint}}
		  </div>
		</div>
		<div class="hide_if_not_saved">
			<a href="#" class="ui-download-document" title="{{writeString=wns.document.download}}">{{writeString=wns.document.download}}</a>
			<div>
				<label>{{writeString=wns.document.info}}:</label><span class="file_size status"></span>
			</div>
			<div>
				<label>{{writeString=wns.created_info}}:</label><span class="created_info status"></span>
			</div>
			<div>
				<label>{{writeString=wns.updated.info}}:</label><span class="updated_info status"></span>
			</div>
			<div>
				<label>{{writeString=wns.document.original_name}}</label><span class="original_name"></span>
			</div>
			<div>
				<label>{{writeString=wns.id}}</label><span class="detail_id"></span>
			</div>
		</div>
	</div>
	<div>
		<label for="name">{{writeString=wns.name}}</label>
		<input type="text" name="name" class="ui-widget-content" /><br />
		<label for="description">{{writeString=document.description_legend_label}}</label>
		<textarea rows="2" cols="30" name="description" class="ui-widget-content"></textarea>
		<label for="document_category_id">{{writeString=wns.document.document_category}}</label>
		<select name="document_category_id" class="ui-widget-content" data-widget-type="document_category_input"></select><br />
		<label for="language_id">{{writeString=wns.language}}</label>
		<select name="language_id" class="ui-widget-content" data-widget-type="language_input"></select><br />
		<div class="group_fields">
			<label for="content_created_at">{{writeString=wns.document.content_created_at}}</label>	
			<input type="text" name="content_created_at" class="ui-widget-content autowidth" size="10" /><br />
		</div>
		<div class="group_fields" style="margin-left:2em;">
			<label for="is_protected">{{writeString=wns.is_protected}}</label>
			<input type="checkbox" name="is_protected" />	
		</div>
		<br clear="left" />
		<div class="group_fields">
			<label for="author">{{writeString=wns.document.author-license}}</label>	
			<input type="text" name="author" class="ui-widget-content help" style="width:10em;margin-right:1em;" title="{{writeString=wns.document.author-license_type.info}}" />
		</div>
		<div class="group_fields">
			<label for="license">{{writeString=wns.document.author-license_type}}</label>	
			<input type="text" name="license" class="ui-widget-content" data-widget-type="popover" style="width:10em;"/><br />
		</div>
	</div>
</form>
