<form enctype="multipart/form-data">
	<label for="file_upload" class="validate-upload validate-document.requires_file validate-upload_error_php_max_size validate-upload_error">{{writeString=wns.document.file_upload}}</label>
	<input type="file" name="file_upload" class="ui-widget-content" /><br />
	<div class="status_section">
		<div class="preview">
		  <div class="droppable_info">{{writeString=wns.draganddrop}}<br />{{writeString=wns.draganddrop.hint}}
		  </div>
		</div>
		<div class="hide_if_not_saved">
  		<label>{{writeString=wns.document.info}}:</label><span class="file_size status"></span><a href="#" class="download_document ui-icon ui-icon-circle-zoomout" title="{{writeString=wns.document.download}}"> </a><br />
  		<label>{{writeString=wns.created_info}}:</label><span class="created_info status"></span><br />
  		<label>{{writeString=wns.updated.info}}:</label><span class="updated_info status"></span><br />
  		<label>{{writeString=wns.document.original_name}}</label><span class="original_name"></span><br />
  		<label>ID:</label><span class="detail_id">{{id}}<br />
		</div>
	</div>
	<div>
		<label for="name">{{writeString=wns.name}}</label>
		<input type="text" name="name" class="ui-widget-content" /><br />
		<label for="description">{{writeString=document.description_legend_label}}</label>
		<textarea rows="2" cols="30" name="description" class="ui-widget-content"></textarea>
		<label for="document_category_id">{{writeString=wns.document.document_category}}</label>
		<select name="document_category_id" class="ui-widget-content" data-widget-type="document_category_input"></select><br />
		<label for="language_id">{{writeString=wns.language}}</label>
		<select name="language_id" class="ui-widget-content" data-widget-type="language_input"></select><br />
		<input type="checkbox" name="is_protected" style="display: inline-block;" class="for_checkbox" /><label for="is_protected" class="for_checkbox">{{writeString=wns.is_protected}}</label>	
		<br clear="left" />
		<label for="content_created_at">{{writeString=wns.document.content_created_at}}</label>	
		<input type="text" name="content_created_at" class="ui-widget-content" /><br />
		<label for="author">{{writeString=wns.document.author-license}}</label>	
		<input type="text" name="author" class="ui-widget-content" style="width:10em;margin-right:1em;" /><input type="text" name="license" class="ui-widget-content" data-widget-type="popover" style="width:10em;"/>
	</div>
</form>
