{{identifierContext=start;name=references}}<fieldset><legend>{{writeString=reference.existing_references}}</legend>
  <p class="show_image">{{references}}</p>
</fieldset>{{identifierContext=end;name=references}}