<div id="tag_panel_opener" class="link">{{writeString=tags}} [{{count_tags}}]</div>
<div id="tag_panel" model_name="{{model_name}}" tagged_item_id="{{tagged_item_id}}">
  <input type="text" id="add_tag_input" value="" size="13" />
</div>