<h1>{{module_info_link}} {{quoteString=\{\{name\}\};alternate=true;defaultValue=\{\{writeString=new_entry\}\}}} <span class="id_info">[id: {{id}}] </span></h1>
<form action="{{action}}" enctype="multipart/form-data" method="post">
  <fieldset class="divider">
    <input type="hidden" name="id" value="{{id}}" />
    <label for="document_upload">{{writeString=upload}}</label>
    <input type="file" id="document_upload" name="document_upload" size="50" /><br />
    {{writeFlashValue=no_upload}}
    {{writeFlashValue=document_type}}
    {{writeFlashValue=upload_error}}
    {{writeFlashValue=upload_error_php_max_size}}
    <label for="name">{{writeString=name}}</label>
    <input type="text" name="name" id="name" value="{{file_name}}" /><br />
    <label for="description">{{writeString=description}}</label>
    <input type="text" name="description" id="description" value="{{description}}" /><br />
  </fieldset>  
  <fieldset class="divider">
    <label for="document_category_id">{{writeString=document_category}}</label>{{identifierContext=start;name=doc_category_options}}
    <select name="document_category_id" id="document_category_id">
      {{doc_category_options}}
    </select>{{identifierContext=end;name=doc_category_options}} {{edit_document_category_link}}<br />
    {{identifierContext=start;name=available_language_options}}<label for="language_id">{{writeString=language}}</label>
    <select name="language_id" id="language_id">
      {{available_language_options}}
    </select><br />{{identifierContext=end;name=available_language_options}}
  </fieldset>{{identifierContext=start;name=is_protected}}<fieldset class="divider">
<label for="is_protected">{{writeString=is_protected}}</label><input type="checkbox" name="is_protected" id="is_protected" value="1" {{is_protected_checked}} />
  </fieldset>{{identifierContext=end;name=is_protected}}  {{identifierContext=start;name=document_type}}
  <fieldset class="divider">
    <label>{{writeString=document.info}}</label>
    <div id="document_info"> {{document_type}} {{document_link}}&nbsp;&nbsp;&nbsp;{{writeString=owner}}: {{owner}}&nbsp;&nbsp;&nbsp; {{date_updated}}</div>
  </fieldset>{{identifierContext=end;name=document_type}}
  <fieldset class="divider nolegend">
    <label>{{writeString=save}}</label><button type="submit" title="{{writeString=save}}"></button>
  </fieldset>
</form>
{{identifierContext=start;name=delete_button}}<fieldset class="divider">
  {{delete_button}}
</fieldset>{{identifierContext=end;name=delete_button}}
{{identifierContext=start;name=image}}<fieldset><legend>{{writeString=preview}}</legend><p class="show_image">{{image}}</p></fieldset>{{identifierContext=end;name=image}}
{{identifierContext=start;name=references}}<fieldset><legend>{{writeString=reference.existing_references}}</legend><p class="show_image">{{references}}</p></fieldset>{{identifierContext=end;name=references}}
