<fieldset id="resource_toggle">
  {{filter_selector}}
</fieldset>
<div id="list_header">
  {{sort_link}}
</div>
<div id="chooser_list_short">
  {{identifierContext=start;name=no_document_message}}<div>{{no_document_message}}</div>{{identifierContext=end;name=no_document_message}}{{result}}
</div>