<div><button class="edit has_text{{class_active}}" onclick="location.href='{{link}}';" title="{{writeParameterizedString=edit.item_title;title=\{\{title\}\};position=last}}">{{name}}{{doc_type}}</button></div>