.filled-container {
	min-height: 3em;
}

.filled-container:hover {
	background-color: rgba(167, 167, 167, 0.2);
}

.filled-container.editing:hover {
	background-color: transparent;
}

.filled-container:hover,
.filled-container.editing {
	outline: 2px solid #C1C1C1;
}