.ui-dialog {
	background-color: #000;
	padding: 0 !important;
}
.ui-widget-content {
	background: none #F9F9F9;
}

div.ui-widget-content {
	border: 1px solid #999;
}

#cmos_admin_menu,
.ui-dialog,
.filled-container.editing {
	font-size: 12px;
}

.filled-container {
	padding-bottom: 20px;
}

.filled-container.editing {
	margin-bottom: 20px;
	position: relative;
	z-index: 1000;
}

.filled-container.editing form {
	padding: 0.5em 1em;
}

#activity-indicator {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 1002;
}

.ui-loading {
	background: transparent url('../../images/preview/loader.gif') no-repeat scroll top left;
	min-width: 17px;
	min-height: 17px;
}

.filled-container {
	min-height: 3em;
}

/* clearfix */
.filled-container:before,
.filled-container:after {
	content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;
}

.filled-container:after {
	clear: both;
}

.filled-container {
	zoom: 1;
	margin-bottom: 6px;
}

.filled-container.editing,
.filled-container.editing:hover {
	background: #F9F9F9;
}

.filled-container:hover {
	background-color: rgba(167, 167, 167, 0.2);
}
/*
.filled-container.editing:hover {
	background-color: transparent;
}
*/
.filled-container:hover,
.filled-container.editing {
	outline: 1px solid #C1C1C1;
}

.preview_bar {
	display: block;
	position: absolute;
	z-index: 1001;
}

.preview_bar .ui-icon {
	padding: 1px;
	border: 1px solid white;
	cursor: pointer;
}

.preview_bar > div {
	float: left;
	display: none;
}

.preview_bar .ui-icon {
	background-color: #C1C1C1;
}

.preview_bar .ui-icon.edit,
.preview_bar.editing .ui-icon,
.preview_bar.editing .additional-buttons,
.preview_bar.loading .ui-loading {
	display: block;
}

.preview_bar.editing .ui-icon.edit,
.preview_bar.loading .ui-icon.edit {
	display: none;
}

.preview_bar .ui-icon:hover {
	border-color: #21669b;
}

.preview_edit {
	cursor: pointer;
}
