@import 'nib'

#rapila_admin_menu, .filled-container.editing:not([data-editing-object-type="text"]), .ui-dialog:not('.cke_reset_all')
	//General styles
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	color: black;

	// http://meyerweb.com/eric/tools/css/reset/ 
	// v2.0 | 20110126
	// License: none (public domain)

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	
	// Own reset styles
	span
		display: inline
	
	.cke_skin_kama .cke_wrapper
		display: block
		padding: 5px
	
	.cke_skin_kama .cke_voice_label
		display: none
	
	.cke_skin_kama .cke_toolgroup
		margin-right: 6px
	
	.cke_dialog_body a
		display: inline

.ui-dialog
	padding 0 !important
	border 0 !important
	.ui-dialog-content.ui-accordion > .ui-accordion-content
		height auto !important

#rapila_admin_menu .ui-widget,
.ui-dialog.ui-widget
	font-size 12px

/*#rapila_admin_menu .ui-widget-header
	background linear-gradient(rgba((#2D3238-10%), 0.7), rgba((#2D3238+10%), 0.9))
*/