<form>
	<div class="status_section">
		<label for="is_externally_managed">{{writeString=wns.is_externally_managed}}</label>
		<input type="checkbox" name="is_externally_managed" />
		<div class="hide_if_not_saved">
			<label>{{writeString=wns.created_info}}:</label><span class="created_info status"></span><br />
			<label>{{writeString=wns.updated.info}}:</label><span class="updated_info status"></span><br />
			<label>{{writeString=wns.id}}</label><span class="detail_id">{{id}}</span>
		</div>
	</div>
	<label for="name" class="validate-name_required">{{writeString=wns.name}}</label>
	<input type="text" name="name" class="ui-widget-content" /><br />
</form>