<div>
	<input type="hidden" name="edited_languages[]" />
	<label for="text">{{writeString=wns.string.string_text}}</label>
	<textarea rows="4" cols="50" name="text[]" class="ui-widget-content"></textarea>
</div>
