.tagged_items .ui-icon.ui-icon-trash {
	display: inline-block;
	margin-left: 1em;
}

ul.tagged_items {
	margin: 0 0 1em 0;
	padding-left: 1.1em;
}

.detail-widget-tag_detail.ui-widget-content textarea {
	height: 20px;
	width: 70%;
}

.detail-widget-tag_detail .status_section {
	width: 18em;
}
