Widget.types.user_kind_input = {
	prepare: function() {
		this.fill_content();
		this._element.change(function() {
			if(this.settings.store_value) {
				this.setSelectedUserKind(this._element.val());
			}
			this.fire('value-changed', this._element.val());
		}.bind(this));
	},

	fill_content: function() {
		this._element.empty();
		this.option = jQuery('<option/>');
		this._staticMethods.allUserKinds(function(user_kinds) {
			jQuery.each(user_kinds, function(value, name) {
				this.option.clone().text(name).val(value).appendTo(this._element);
			}.bind(this));
			var current_value = this.getSelectedUserKind();
			if(current_value === null) {
				current_value = '';
			}
			this._element.val(current_value);
		}.bind(this));
	},

	settings: {
		store_value: false
	}
};