Widget.types.user_kind_input = {
	prepare: function() {
		var option = jQuery('<option/>');
		var user_kinds = this.getUserKinds();
		jQuery.each(user_kinds, function(value, name) {
			option.clone().text(name).val(value).appendTo(this._element);
		}.bind(this));
		this._element.change(function() {
			this.setUserKind(this._element.val());
			this.fire('value-changed', this._element.val());
		}.bind(this));
		var current_value = this.getUserKind();
		if(current_value === null) {
			current_value = '';
		}
		this._element.val(current_value);
	},
	
	settings: {
		store_value: false
	}
};