    {{includeTemplate=be_custom_css}}
    {{includeTemplate=be_custom_js}}
  </head>
  <body>
  <div id="admin_navigation">
    <div id="admin_header"><a id="admin_domain_title" href="{{web_link}}">{{domain_name}}&nbsp;</a></div>
    <div id="toolbar">
      <div class="inner">
        <div id="my_dashboard">{{my_dashboard_link}}</div>
        <a id="by_minicms" href="http://wiki.mini-cms.ch/w/Introduction" title="wiki.mini-cms.ch">by MiniCMS</a>
        <a id="preview" href="{{web_link}}" title="{{writeParameterizedString=preview_title}}">&nbsp;</a>
        <div class="direct_links">{{direct_links}}</div>
        <div>
          <form id="site_link_chooser" method="get" action="{{page_url}}">
            <select class="{{site_select_class}}{{site_links_not_selected}}" name="select_link" id="site_link" onchange="$('site_link_chooser').submit();">
              {{available_site_links}}
            </select>
          </form>  
        </div>{{identifierContext=start;name=available_language_options}}
        <div>
          <form id="language_chooser" method="{{method}}" action="{{page_url}}">
            <select class="{{language_choice_active}}" {{language_choice_disabled}}title="{{title_language_select}}" name="content_language" id="content_language" onchange="$('language_chooser').submit();">
              {{available_language_options}}
            </select>
            {{request_values}}
          </form>
        </div>{{identifierContext=end;name=available_language_options}}{{identifierContext=start;name=static_language}}
        <div class="locked_language_chooser" title="{{writeString=locked_for_action}}">{{static_language}}</div>{{identifierContext=end;name=static_language}}
        <div id="user">
          <span class="popup link">{{user_name}}</span><a id="logout_link" href="{{logout_link}}">&nbsp;</a>
          <div class="popup" style="display:none;">
            <a class="links" style="padding-bottom:.5em;" href="{{link_to_user}}">{{writeParameterizedString=user.edit_profile;user_name=\{\{user_shortcut\}\}}}</a>
            <a class="links" style="padding-bottom:.5em;" href="{{link_to_settings}}">{{writeParameterizedString=user.edit_settings;user_name=\{\{user_shortcut\}\}}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="bottom_wrapper">
    <div id="chooser">
{{identifierContext=start;name=new_entry_action}}<form id="new_entry_form" action="{{new_entry_action}}" method="get">{{custom_select}}<button type="submit" class="new create" name="action" value="create" title="{{writeString=create}}">{{writeString=new_entry}}</button></form>{{identifierContext=end;name=new_entry_action}}
      <h1 class="module_title">{{module_name}}</h1>
          {{chooser}}
          {{search_panel}}
    </div>
    <div id="detail">{{detail}}
    </div>
    {{tag_panel}}
  </div>
  </body>
</html>
