<h1>{{quoteString=\{\{dashboard\}\};alternate=true;}}</h1>
<fieldset class="module_info">
  <p>Hallo {{user_name}}</p>
  <p>Deine Administration wurde etwas entschlackt und verbessert!<br />
    Hier wird es in Zukunft einiges neues geben, so z.B.:</p>
  <ul>
    <li>Notizen und News</li>
    <li>Wichtige Statusbotschaften</li>
    <li>Hinweise Todo, speziell bezüglich Custom Modulen und Backup</li>
  </ul>
  <p>Viel Vergnügen</p>
</fieldset>
