.ui-widget-header
	color #efefef
	font-weight bold
	border 0

.ui-dialog
	.ui-dialog-buttonpane
		padding-left 1em
		.ui-dialog-buttonset
			width 100%
			float none
			.ui-button:not(.special)
				float right
	.ui-dialog-titlebar
		&.ui-widget-header
			border-radius 3px 3px 0 0
			padding 0.6em 0.8em 2em
			background #2d3238
		.ui-dialog-titlebar-close
			background none !important
			border none
			margin-top -20px
			&:hover
				color #e3ef99 !important
	.ui-dialog-title
		float left
		margin 0.1em 1em 0.2em 0

.ui-dialog-buttonpane.ui-widget-content
	margin-top 0
	background #2d3238
	border-top 0

// Parts of the UI on a black background need to have green highlights
.ui-dialog-buttonpane,
#rapila_admin_menu,
.ui-dialog-titlebar
	.ui-state-focus,
	.ui-state-highlight,
	.ui-state-hover,
	:focus, :hover
		color #e3ef99
		.ui-icon
			background-image url("../jquery-ui-theme/images/ui-icons_b8d600_256x240.png")

.ui-dialog-content
	cursor auto
	overflow-y auto
	table
		.ui-state-focus,
		.ui-state-highlight,
		.ui-state-hover
			color #000
	&.ui-accordion
		padding 0
		> .ui-accordion-content
			padding 1em 2.2em
			&.reset_padding
				padding 0
