label
	color #666666
	float none
	font-family Arial
	font-size 0.95em
	display block
	padding-bottom 0.1em
	margin-top 0.8em
	text-align left
	width auto

.status_section
	label
	.hide_if_not_saved
		display inline-block
		padding-right 0.5em
		label
			width 6em
			margin-top 0.4em
			margin-right 0.3em

.ui-widget-content
	.status_section
		font-family Arial
		padding-right 2em
		width 16.2em
		float right
		border-left 1px solid #f2f2f2
		padding 0 1em
		fieldset
			border 1px dotted #c0c0c0
			padding 0
		select
			width 15em

.hide_if_not_saved
	margin-top 0.8em
	label
		display inline-block
	&.bottom
		label
			margin-left 1em
			&:first-child
				margin-left 0em

select,
input,
textarea
	&.ui-widget-content
		border-color #dfdfdf
		width 21.5em
		padding 0.2em
		&:hover,
		&:focus
			border-color #b5b5b5
input[type=checkbox],
input[type=checkbox].ui-widget-content
	width auto

select
	&.display_mode
		min-width 21.5em
		margin-bottom 1em
	&.ui-widget-content
		padding 0.1em
	&[data-widget-type=page_input]
		background-color #ffffff
		border 1px solid #dbdbdb
		min-width 15em
		margin-bottom 0.5em
	option.default
		font-style oblique

input.ui-widget-content
	&.input_long
		width 35em
	&.input_short
		width 6em
	&.input_medium
		width 15em

.cke_dialog_ui_hbox_first label
	margin-right 0.5em

fieldset
	&.option_groups
		border 1px #dfdfdf solid
		margin-top -1px
		margin-left 0
		padding 0.75em
		&:first-child
			margin-left 0
			margin-top 0.1em
		> label
			display inline-block

.group_fields
	display inline-block
	vertical-align top

.autowidth,
input.ui-widget-content.autowidth,
select.ui-widget-content.autowidth
	width auto

// Buttons
button.rapila-button
	height 22px
	margin-right 0.2em
	cursor pointer
	&.ui-button-text-only
		.ui-button-text
			padding 0

button
	&.primary,
	&.ui-state-active,
	&.ui-state-hover
		color #e3ef99 !important

.ui-dialog
	iframe.cke_wysiwyg_frame
		padding 0 2px
