@font-face
	font-family 'Rapila-Icons'
	src url('../../fonts/Rapila-UI-Icons.woff') format('woff')
	font-weight normal
	font-style normal

// overwrite jquery-ui styles
.ui-widget
	font-family Arial,Helvetica,sans-serif
	font-size 1.0em
	input,select,textarea,button
		font-family Arial,Helvetica,sans-serif

.ui-state-droppable,
.ui-widget-content.ui-state-droppable,
body .cke_dialog .ui-state-droppable
	background-image url('../../images/admin/drag_and_drop.png')
	background-repeat no-repeat
	background-position bottom right
	color #666
	cursor pointer
body .cke_dialog .ui-state-droppable
	padding-bottom 2em

.ui-state-droppable-hover,
.ui-dialog.document_detail .ui-state-droppable-hover .preview.ui-state-droppable
	background-color #e5f671 !important
	background-image url('../../images/admin/drag_and_drop-hover.png')
	background-repeat no-repeat
	background-position bottom right

#admin_sidebar .ui-list-row.ui-state-droppable-hover,
#admin_sidebar .ui-list-row.ui-state-active.ui-state-droppable-hover
	background-repeat no-repeat
	background-position center right
	background-image url('../../images/admin/drag_and_drop_sidebar_hover.png')
#admin_sidebar .ui-list-row.ui-state-active.ui-state-droppable-hover,
.tags_in_detail .tag_area.ui-droppable
	background-image url('../../images/admin/drag_and_drop_sidebar_active_hover.png')
	background-repeat no-repeat
	background-position center right
#admin_sidebar .ui-list-row.ui-state-active.ui-state-droppable-hover
	background-color #9FA665 !important

.ui-state-droppable td,
.ui-state-droppable-hover td,
.ui-accordion .ui-accordion-content.ui-state-droppable
	background-color #eff4cc

.ui-state-hover
	border-width 0

.ui-state-active .ui-icon
	background-image url("../jquery-ui-theme/images/ui-icons_000000_256x240.png")

.ui-state-hover .ui-icon
	background-image url("../jquery-ui-theme/images/ui-icons_000000_256x240.png")

.rapila-icon,
button.rapila-icon
	font-family 'Rapila-Icons', Arial
	line-height 24px
	cursor pointer
	-ms-font-feature-settings "liga" 1, "dlig" 1
	-moz-font-feature-settings "liga=1", "dlig=1"
	-moz-font-feature-settings "liga" 1, "dlig" 1
	font-feature-settings "liga" 1, "dlig" 1
	font-variant-ligatures common-ligatures
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

	.ui-button-text
		vertical-align middle
	&.disabled
		opacity 0.3
		cursor default
.pager
	.rapila-icon
		margin 0 4px

option.rapila-icon
	font-size 3em
	line-height 1.2
	padding 0.3em 0 0.3em 0.3em

// Documentation
.highlight-documentation *[data-documentation-part]
	cursor help !important
	position relative
	&::after
		content " "
		position absolute
		background-color rgba(yellow, 0.3)
		top 0
		bottom 0
		left 0
		right 0
		z-index 2000

.ui-my-icon
	height 20px
	margin -2px 2px 0 0
	width 26px
	&.ui-icon-trash
		background transparent url("../../images/admin/icon_trash.png") no-repeat center bottom
	&.ui-icon-wrench
		background transparent url("../../images/admin/icon_edit_condition.png") no-repeat center bottom
	&.ui-icon-pencil
		background transparent url("../../images/admin/icon_edit.png") no-repeat center bottom

.add-new-item,
.remove-item,
.edit-item,
.item-action,
.print_area,
.go-to-documentation
	background-image url('../../images/admin/add_new_item.png')
	background-repeat no-repeat
	display inline-block
	height 16px
	width 16px

.remove-item
	background-image url('../../images/admin/remove_item.png')

.edit-item
	background-image url('../../images/admin/edit_item.png')

.item-action
	background-image url('../../images/admin/action.png')

.print_area
	background-image url('../../images/admin/print.gif')
	width 24px

.go-to-documentation
	background-image url('../../images/admin/documentation.png')

.preview_edit
	cursor pointer

.help
	cursor help

label span.error_display:before,
legend span.error_display:before
	content ' '

label span.error_display,
legend span.error_display,
.error_display
	color red
