{{writeString=wns.hello}} {{first_name}} {{last_name}},
{{identifierContext=start;name=username}}
{{username_info}}{{identifierContext=end;name=username}}
{{writeParameterizedString=wns.login.password_recover_email_text1;reset_link=\{\{new_pw_url\}\}}}

{{ignore_or_reset_info}}