	<head>
		<title>{{domain_name}} | {{login_title}}</title>
		<style type="text/css">
		<!--/*--><![CDATA[/*><!--*/
			body {
				background-color: white;
				font-family: Verdana;
			}
		/*]]>*/-->
		</style>
	</head>
	<body onload="document.getElementById('user_name').select()">
		<h2>{{domain_name}} | {{login_title}}</h2>
		<form action="{{action}}" method="post">
			{{includeTemplate=login_action_\{\{login_action\}\};position=last}}
		</form>
	</body>
</html>