<label for="password_reset_user_name">{{writeString=widget.user_name}}</label>
<input type="text" name="password_reset_user_name" id="password_reset_user_name" /><br />
{{writeFlashValue=login.empty_fields}}
<div class="form_message" style="width:40em;"><p>{{writeString=widget.login.password_reset_message}}</p></div>
<label for="send_new_passord_request">{{writeString=widget.send}}</label><button type="submit" name="send_new_passord_request" style="width:auto;" class="login" id="send" title="{{writeString=widget.login.send_password_recovery_form}}"></button>

