<div style="float:left;width:45em;">
<label for="user_name">{{writeString=user_name}}</label>
<input type="text" class="autowidth" size="30" name="user_name" id="user_name" value="{{user_name}}" /><br />
<label for="password">{{writeString=password}}</label>
<input type="password" class="autowidth" size="30" name="password" id="password" value="{{password}}" autocomplete="off" /><br />
{{writeFlashValue=login_welcome}}{{if;1=\{\{writeFlashValue=login_welcome\}\}}}<br />{{endIf}}
{{writeFlashValue=login_welcome2}}
{{writeFlashValue=login_check_params}}
{{writeFlashValue=login.empty_fields}}
{{writeFlashValue=login.recovery_link_sent}}
{{writeFlashValue=login.recovery.invalid}}
{{writeFlashValue=login_user_inactive}}
{{writeFlashValue=backend_login_denied}}
<label for="login">Login</label><button type="submit" class="login" id="login" style="width:5em;" title="{{writeString=login_confirm}}"></button><br />
</div>
<div style="margin-left:1em;">
  <p class="password_forgotten">{{writeString=login.password_forgotten}}<br /><br /><a class="edit_related_link create_related" href="{{action_password_forgotten}}">{{writeString=login.password_reset}}</a></p>
</div>
