<label for="password_reset_user_name">{{writeString=user_name}}</label>
<input type="text" name="password_reset_user_name" id="password_reset_user_name" /><br />
{{writeFlashValue=login.empty_fields}}
<label for="send_new_passord_request">{{writeString=send}}</label><button type="submit" name="send_new_passord_request" style="width:auto;" class="login" id="send" title="{{writeString=login.send_password_recovery_form}}"></button>
<div class="form_message" style="width:40em;"><br />{{writeString=login.password_reset_message}}</div>
