<p class="form_message">{{writeString=widget.login.password_reset_information}}</p>
<label for="new_password">{{writeString=new_password}}</label>
<input type="password" name="new_password" id="new_password" /><br />
<label for="new_password_retype">{{writeString=widget.password_confirm}}</label>
<input type="password" name="new_password_retype" id="new_password_retype" /><br />
{{writeFlashValue=login.empty_fields}}
{{writeFlashValue=password_confirm}}
{{writeFlashValue=password_length}}
<input type="hidden" name="recover_hint" value="{{writeRequestValue=recover_hint}}" /><input type="hidden" name="recover_username" value="{{writeRequestValue=recover_username}}" /><br />
<label for="send">{{writeString=widget.send}}</label><button type="submit" class="login" id="send" title="{{writeString=widget.login.send_password_recovery_form}}"></button>