<li id="page-tree-item-{{id}}" class="navigation_level_{{level}} {{status}}">
  <button type="submit" onclick="location.href='{{link_prefix}}{{id}}';" class="{{class_doc_status}}" title="{{doc_status}}"></button>
  <a class="{{if=eq;1=\{\{id\}\};2=\{\{current_page_id\}\}}}current{{endIf}} level_{{level}}{{is_inactive}} {{status}}" href="{{link_prefix}}{{id}}" title="{{writeParameterizedString=edit_page;title=\{\{title\}\};position=last}}">{{truncate=\{\{title\}\};length=30;position=last;}}</a> {{language_warning}}
  {{identifierContext=start;name=children}}
  <ul class="main_sub_navigation">
    {{children}}
  </ul>
  {{identifierContext=end;name=children}}
</li>

