<li id="page-tree-item-{{id}}" class="navigation_level_{{level}} {{status}}">
  <form class="inline" action="{{link_prefix}}" method="post">
    <input type="hidden" name="parent_id" value="{{id}}" />
    <input type="hidden" name="action" value="create" />
    <button type="submit" class="{{new_page}}" title="{{writeParameterizedString=page.create_child;title=\{\{long_title\}\}}}"></button>
  </form>
  {{title}} {{language_warning}}
  {{identifierContext=start;name=children}}
  <ul class="main_sub_navigation">
    {{children}}
  </ul>
  {{identifierContext=end;name=children}}
</li>