*[data-widget-type=document_thumbnail_view] {
	clear: both;
	overflow-y: auto;
	padding-left: 5px;
	background: #F6F6F6;
}

*[data-widget-type=document_thumbnail_view] .ui-state-hover .ui-icon.ui-icon-trash{
	background-image: url("{{writeConstantValue=INT_CSS_DIR_FE}}/admin/theme/images/ui-icons_727272_256x240.png");
}