Widget.types.document_thumbnail_view = {
	initialize: function() {
		this.settings.allows_multiselect = this.getInitialAllowsMultiselect();
	},
	
	prepare: function() {
		this.reload();
	},
	
	reload: function() {
		Widget.load();
		this._element.empty();
		this.listDocuments(this.settings.thumbnail_size, function(result) {
			var picker_object = this;
			jQuery.each(result, function() {
				picker_object.insert_thumbnail(this);
			});
			var buttons = {};
			if(this.settings.allows_multiselect) {
				this._element.selectable({
					selecting: function(event, ui) {
						jQuery(ui.selecting).addClass('ui-state-active');
					},
					unselecting: function(event, ui) {
						jQuery(ui.unselecting).removeClass('ui-state-active');
					},
					filter: "> div",
					stop: function() {
						
						//FIXME: Change button active state, add selected ids to document_ids
						var document_ids = [];
						picker_object.fire('selected', document_ids, ui.selected);
					}
				});
				buttons["{{writeString=modules.widget.image_picker.insert}}"] = function() {
					var selected = picker_object._element.children('.ui-selected');
					if(selected.length > 0) {
						var collection = [];
						selected.each(function() {
							collection[collection.length] = jQuery(this).data('document_id');
						});
						selected.removeClass('ui-selected ui-state-active');
						picker_object.callback.apply(picker_object, collection);
					}
				};
			} else {
				this._element.children('div').bind('click', function() {
					var document_id = jQuery(this).data('document_id');
					picker_object.fire('clicked', this, document_id);
				});
			}
			Widget.end_load();
		});
	},
	
	insert_thumbnail: function(theDocument) {
		var px_size = ''+this.settings.thumbnail_size+'px';
		var document_id = theDocument.id;
		var doc = jQuery('<div/>').addClass('ui-widget ui-widget-content ui-image-picker-image ui-placeholder');
		doc.css({width: px_size, height: px_size});
		doc.html(theDocument.preview);
		doc.data('document_id', document_id);
		Widget.tooltip(doc, theDocument.name);
		doc.hover(function() {
			doc.addClass('ui-state-hover');
		}, function() {
			doc.removeClass('ui-state-hover');
		});
		this._element.append(doc);
	},
	
	append_thumbnail_with_document_id: function(document_id) {
		this.singleDocument(document_id, this.settings.thumbnail_size, function(theDocument) {
			this.insert_thumbnail(theDocument);
		});
	},
	
	document_url_from_id: function(document_id, image_width) {
		return FILE_PREFIX+'/display_document/'+document_id+(image_width ? '?max_width='+image_width : '');
	},
	
	settings: {
		allows_multiselect: true,
		thumbnail_size: 50
	}
};
