(function($) {
	var originalFix = $.event.fix;
	$.event.fix = function(event) {
		event = originalFix.call(this, event);
		if(event.originalEvent && (event.type.indexOf('drag') === 0 || event.type.indexOf('drop') === 0)) {
			event.dataTransfer = event.originalEvent.dataTransfer;
		}
		return event;
	};
})(jQuery);

Widget.types.file_upload = {
	allow_drag_to: function(element, selector, callback, single_file_only) {
		var file_upload = this;
		var current_drag_is_file = false;
		element.bind('dragenter', function(event) {
			current_drag_is_file = event.dataTransfer.files !== null || event.dataTransfer.types.contains("Files");
			if(single_file_only && event.dataTransfer.files && event.dataTransfer.files.length > 1) {
				current_drag_is_file = false;
			}
			if(!selector) {
				element.addClass('ui-state-droppable');
			}
		}).bind('dragover', function(event) {
			
			if(!selector) {
				event.originalEvent.preventDefault();
				if(element.has(event.target).length > 0) {
					element.addClass('ui-state-droppable');
				}
				return false;
			}
			if(!current_drag_is_file) {
				return;
			}
			var target = jQuery(event.target);
			if(!target.is(selector)) {
				return;
			}
			//console.log('dragover', element.find(selector));
			element.find(selector).removeClass('ui-state-droppable');
			target.addClass('ui-state-droppable');
			event.originalEvent.preventDefault();
			return false;
		}).bind('dragleave', function(event) {
			
			//if (event.target != element[0]) 
			//console.log('dragleave', event.target);
		
			if(selector) {
				element.find(selector).removeClass('ui-state-droppable');
			} else {
				element.removeClass('ui-state-droppable');
			}
		}).bind('drop', function(event) {
			if(single_file_only && event.dataTransfer.files.length > 1) {
				return false;
			}
			if(!current_drag_is_file || event.dataTransfer.files.length < 1) {
				Widget.notifyUser(Widget.logSeverity.INFO, '{{writeString=wns.file_upload.dropped_element_is_not_file}}');
				return false;
			}
			var target = jQuery(event.target);
			
			var i = 0;
			for(i=0;i<event.dataTransfer.files.length;i++) {
				var file = event.dataTransfer.files.item(i);
				var callback_result = callback(target, file);
				if(callback_result) {
					file_upload.upload_file(file, callback_result);
				}
			}
			
			current_drag_is_file = false;
			return false;
		});
	},
	
	upload_file: function(file) {
		var options = {document_category_id: null, is_protected: false, language_id: null, document_id: null, name: file.name, type: file.type, callback: jQuery.noop};
		jQuery.extend(options, arguments[1] || {});
		this.accepts(file.name, file.type, function(result, error) {
			if(error) {
				if(options.unacceptable) {
					options.unacceptable(error);
				} else {
					var _this = this;
					jQuery('<div/>').text(error.message).dialog({buttons: {
						"{{writeString=wns.document_type.allow}}": function() {
							jQuery(this).dialog("close");
							_this.do_upload(file, options, true);
						},
						"{{writeString=wns.cancel}}": function() {
							jQuery(this).dialog("close");
						}
					}});
				}
			} else {
				this.do_upload(file, options);
			}
		});
	},
	
	do_upload: function(file, options, create_type) {
		var file_uploader = this;
		var size = file.size;
		var notification = jQuery(document.createElement('div')).text('{{writeString=wns.upload_status}} '+(parseInt(size/1024, 10))+' KiB');
		var progress = jQuery('<div/>').progressbar({value: 0}).appendTo(notification);
		notification = Widget.notifyUser(Widget.logSeverity.INFO, notification, {closeDelay: null});
		var json_options = new WidgetJSONOptions({
			upload_progess_callback: function(event) {
				progress.progressbar('value', (event.loaded/size)*100);
			},
			content_type: 'multipart/form-data',
			additional_params: {
				file: file
			},
			call_callback: true,
			callback_handles_error: false
		});
		file_uploader.uploadFile('file', options, create_type, function(result, error) {
			if(!error) {
				jQuery('.ui-state-droppable').removeClass('ui-state-droppable');
				progress.progressbar('value', 100);
				notification.enable_close_button();
				notification.reset_timeout(2000);
				Widget.notifyUser(Widget.logSeverity.INFO, '{{writeString=wns.upload_success}}', {identifier: 'cmos.file_uploaded.into.'+options.document_category_id, closable: true});
				this.fire('file-uploaded', result, options);
				options.callback(result, options);
			} else {
				notification.close();
			}
		}, json_options);
	}
};