(function($) {
	var originalFix = $.event.fix;
	$.event.fix = function(event) {
		event = originalFix.call(this, event);
		if(event.type.indexOf('drag') == 0 || event.type.indexOf('drop') == 0 ) {
			event.dataTransfer = event.originalEvent.dataTransfer;
		}
		return event;
	}
})(jQuery);

Widget.types.file_upload = {
	initialize: function() {
	},
	
	allow_drag_to: function(element, selector, callback) {
		var file_upload = this;
		var current_drag_is_file = false;
		element.bind('dragenter', function(event) {
			current_drag_is_file = event.dataTransfer.files !== null || event.dataTransfer.types.contains("Files");
		}).bind('dragover', function(event) {
			if(!current_drag_is_file) {
				return;
			}
			element.find(selector).removeClass('ui-state-highlight');
			var target = jQuery(event.target);
			if(!target.is(selector)) {
				return;
			}
			target.addClass('ui-state-highlight');
			event.originalEvent.preventDefault();
			return false;
		}).bind('dragleave', function(event) {
			element.find(selector).removeClass('ui-state-highlight');
		}).bind('drop', function(event) {
			if(!current_drag_is_file || event.dataTransfer.files.length < 1) {
				Widget.notifyUser('info', '{{writeString=Gedropptes Element enthält keine Files}}');
				return false;
			}
			var target = jQuery(event.target);
			
			var i = 0;
			for(i=0;i<event.dataTransfer.files.length;i++) {
				file_upload.upload_file(event.dataTransfer.files.item(i), callback(target));
			}
			
			current_drag_is_file = false;
			return false;
		});
	},
	
	upload_file: function(file) {
		var options = {document_category_id: null, is_protected: false, language_id: null, document_id: null, name: file.name, type: file.type, callback: jQuery.noop};
		jQuery.extend(options, arguments[1] || {});
		this.accepts(file.name, file.type, function(result, error) {
			if(error) {
				options.error ? options.error(error) : jQuery('<div/>').text(error.message).dialog();
			} else {
				this.do_upload(file, options);
			}
		});
	},
	
	do_upload: function(file, options) {
		var file_uploader = this;
		var fileReader = new FileReader();
		var size = file.size;
		var notification = jQuery(document.createElement('div')).text('{{writeString=upload_status}} '+size+' KiB');
		var progress = jQuery('<div/>').progressbar({value: 0}).appendTo(notification);
		notification = Widget.notifyUser('info', notification, {closeDelay: null});
		fileReader.onload = function() {
			file_uploader.uploadFile(window.btoa(fileReader.result), options, WidgetJSONOptions.with_upload_progess_callback(function(event) {
				progress.progressbar('value', (event.loaded/size)*100);
			}), function(result, error) {
				if(!error) {
					progress.progressbar('value', 100);
					notification.enable_close_button();
					Widget.notifyUser('info', '{{writeString=upload_success}}', {identifier: 'cmos.file_uploaded.into.'+options.document_category_id, closeDelay: false, closable: true});
					this.fire('file.uploaded', result);
					options.callback(result);
				} else {
					options.error ? options.error(error) : Widget.notifyUser('alert', error.message);
				}
			});
		};
		fileReader.readAsBinaryString(file);
	}
};