jQuery(document).ready(function() {
	AdminInterface.sidebar.find('.ui-list').prepareWidget(function(sidebar) {
		sidebar.settings.row_click_active_mode = 'toggle';
		sidebar.handle('list.row-click', function(event, row, element) {
			var action = element.data('action');
			if(!element.hasClass('ui-state-active')) {
			 	action = null;
			}
			sidebar.setOption('action', action);
			sidebar.reload();
		});
	});
});