Widget.types.info_bar = {
	initialize: function() {
		var _this = this;
		this.sidebar = AdminInterface.sidebar;
		this.content_area = AdminInterface.content;
		this.button_prototype = jQuery('<a/>').addClass('info-bar-button').text(' ');

		var methods = {};
		
		var add_item = function(opts) {
			opts = jQuery.extend({
				identifier: Widget.uuid(),
				element: null,
				parent: 'left',
				is_before: false,
				accesskey: null,
				action: null,
				disabled: false,
				class_name: '',
				disable: function() {
					this.element.fadeTo('slow', 0.3);
					this.disabled = true;
					return this;
				},
				enable: function() {
					this.element.fadeTo('slow', 1);
					this.disabled = false;
					return this;
				}
			}, opts);
			if(opts.parent.constructor === String) {
				opts.parent = _this['infobar_'+opts.parent];
			} else if(opts.parent.constructor === Boolean) {
				opts.parent = opts.parent ? _this.infobar_right : _this.infobar_left;
			} else if(opts.parent.element) {
				opts.parent = opts.parent.element;
			}
			var func = opts.is_before ? opts.element.prependTo : opts.element.appendTo;
			if(opts.accesskey) {
				opts.element.attr('accesskey', opts.accesskey);
			}
			opts.element.addClass('info-bar-element').addClass(opts.class_name);
			func.call(opts.element, opts.parent);
			if(opts.action) {
				opts.element.click(function(event) {
					if(!opts.disabled) {
						opts.action.call(this, event, opts);
					}
				});
			}
			
			// Allow chaining of add_* method calls
			return jQuery.extend(opts, methods);
		};

		jQuery.extend(methods, {
			add_element: function(element, is_right_container, is_before, accesskey) {
				return add_item({
					element: element,
					parent: is_right_container,
					is_before: is_before,
					accesskey: accesskey
				});
			},
	
			add_button: function(class_name, action, accesskey, is_right_container, is_before, title_text) {
				if(title_text === undefined && class_name === 'add-new-item') {
					title_text = "{{writeString=wns.create_new_entry}}";
				}
				var element = _this.button_prototype.clone();
				element.attr('title', title_text);
				return add_item({
					element: element,
					class_name: class_name,
					accesskey: accesskey,
					action: action,
					parent: is_right_container,
					is_before: is_before
				});
			},
	
			add_menu: function(class_name) {
				return this;
			},
	
			add_menu_item: function(parent, label, action, accesskey, class_name) {
				return this;
			},
	
			add_search_input: function(default_value, click_handler) {
				if(!default_value) {
					default_value = "{{writeString=wns.search.enter_search}}";
				}
				var search_input = jQuery('<input/>', {name: 'search', value: default_value, type: 'text', autocomplete: 'off'});
				var result = add_item({
					element: search_input,
					parent: 'right',
					accesskey: 'f',
					class_name: 'default_state search_field'
				});
				
				var previous_search = null;

				var clear_button = this.add_button('search_field_reset', null, null, true).element.hide();
				var search_button = this.add_button('search_button', function() {
					if((search_input.is('.default_state') || search_input.val() === '') && !previous_search) {
						Widget.notifyUser(Widget.logSeverity.INFO, "{{writeString=wns.not_applicable.add_search_word}}");
						return;
					}
					if(search_input.is('.default_state')) {
						previous_search = null;
					} else {
						previous_search = search_input.val();
					}
					click_handler(previous_search);
				}, null, true).element;
				clear_button.click(function(event) {
					search_input.val('').focus();
					search_button.removeClass('active');
					previous_search = null;
					click_handler(previous_search);
					jQuery(this).hide();
				});

				search_input.focus(function() {
					if(search_input.is('.default_state')) {
						search_input.removeClass('default_state').val('');
					}
				}).blur(function() {
					if(search_input.val() === '') { 
						search_input.addClass('default_state').val(default_value);
					}
				}).bind('keyup', function(event) {
					if(event.which === 27) { 
						return clear_button.click();
					}
					if(search_input.val() === '') {
						clear_button.hide();
						search_button.removeClass('active');
					} else {
						clear_button.show();
						search_button.addClass('active');
					}
					if(event.which === 13) {
						return search_button.click();
					}
				});

				return result;
			},

			add_row_count_info_for_list: function(list) {
				var row_count_info = jQuery('<span/>').addClass('row_count_info');
				list.handle('reloaded', function() {
					row_count_info.text("{{writeParameterizedString=wns.list_count;total=$\{total\};current=$\{current\}}}".replace(/\$\{total\}/, this.getNumberOfRows()).replace('${current}', this.current_row_count()));
				}, false, true);
				return add_item({element: row_count_info, parent: 'right'});
			}
		});

		jQuery.extend(this, methods);
	},
	
	prepare: function() {
		this.resizer = this._element.find('.sidebar_resizer');
		this.infobar_left = this._element.find('.infobar_left');
		this.infobar_right = this._element.find('.infobar_right');
		this.admin_menu_right = this._element.find('.admin_menu_right');
		this.admin_menu_left = this._element.find('.admin_menu_left');
		
		if(this.sidebar.length === 0) {
			this.resizer.remove();
			this.infobar_left.remove();
			this.infobar_right.css('left', 0);
			return;
		}
		this.resizer.draggable({
			axis: 'x',
			containment: 'parent',
			drag: this.resizer_moved.bind(this)
		});
	},
	
	resizer_moved: function(event, ui) {
		if(ui.position.left>this.settings.max_width) {
			ui.position.left = this.settings.max_width;
		} else if(ui.position.left < this.settings.min_width) {
			ui.position.left = this.settings.min_width;
		}
		var px = ''+ui.position.left+'px';
		this.sidebar.css('width', px);
		this.content_area.css('left', px);
		this.infobar_right.css('left', px);
		this.admin_menu_right.css('left', px);
		this.admin_menu_left.css('width', px);
	},
	
	settings: {
		max_width: 480,
		min_width: 100
	}
};
