jQuery(document).ready(function() {
	var page_detail = null;
	var page_tree = null;
	
	var initial_selection = {{writeRequestValue=initial_page_id}};

	Widget.createWithElement('page_detail', function(event, widget) {
		page_detail = widget;
		widget.handle('saved', function(event) {
			var page_id = widget.current_page_id;
			var element = page_tree.element_with_data(page_id);
			page_tree.update_element(element, page_id);
		});
		widget.load_page(initial_selection);
		AdminInterface.content.append(widget._element);
	}, jQuery.noop);
	
	// init main content
	var click_handler = function(event, element, page_id) {
		page_detail.load_page(page_id);
		// jQuery("div.accordion").accordion( "activate", 0);
	};
	
	var icon_handler = function(event, element, child) {
		if(child.IsProtected) {
			page_tree.add_icon('is-protected', element);
		}		
		if(child.IsHidden) {
			page_tree.add_icon('is-hidden', element);
		}
	};
	
	Widget.createWithElement('tree', function(event, widget) {
		page_tree = widget;
		AdminInterface.sidebar.append(widget._element);
		widget.handle('tree.clicked', click_handler).handle('tree.inserted', icon_handler).handle('tree.updated', icon_handler);
	}, function(widget) {
		widget.settings.description_from_item = function(item) {
			return item.Name;
		};
		widget.settings.has_children = function(item) {
			return item.TreeRight-item.TreeLeft > 1;
		};
		widget.settings.data_from_element = function(element) {
			return element.data('tree-data').Id;
		};
		widget.settings.is_open = function(item) {
			return item.TreeLeft <= {{writeRequestValue=initial_page_tree_left}} && item.TreeRight > {{writeRequestValue=initial_page_tree_left}};
		};
		widget.settings.is_active = function(item) {
			return item.Id === initial_selection;
		};
	}, '{{writeRequestValue=tree_session}}');
	var info_bar = AdminInterface.info_bar.getWidget();
	info_bar.add_button('add-new-item', function() {
		Widget.create('page_detail', function(widget) {
			widget.open();
			widget.save_callback = function() {
				jQuery('.ui-tree').each(function() {
					jQuery(this).getWidget().reload();
				});
			};
		});
	}, 'n', false).
	add_element(jQuery("{{includeTemplate=infobar_button.incl}}").text("{{writeString=widget.save}}").attr('name', 'save').click(function() {
		page_detail.save();
	}), true, false).
	add_element(jQuery("{{includeTemplate=infobar_button.incl}}").text("{{writeString=widget.cancel}}").attr('name', 'cancel').click(function () {
		page_detail.fill_data();
		page_detail.enable_input();
	}), true, false).
	add_element(jQuery("{{includeTemplate=infobar_button.incl}}").text("{{writeString=widget.page.delete}}").attr('name', 'delete').click(function () {
		alert('delete page');
		// page_detail.delete();
	}), true, false);

	// init language change
	Widget.handle('cmos.language_changed', function() {
		// reload the sidebar and page detail
	});
});


