jQuery(document).ready(function() {
	var page_list = AdminInterface.sidebar.find('.page_list').getWidget();
	AdminInterface.info_bar.getWidget().add_button('add-new-item', function() {
		Widget.create('page_detail', function(widget) {
			widget.open();
			widget.save_callback = function() {
				jQuery('.page_list.ui-list').each(function() {
					jQuery(this).getWidget().reload();
				});
			};
		});
	}, 'n', false);
});


