jQuery(document).ready(function() {
	var page_detail = null;
	var page_tree = null;
	
	var initial_selection = {{writeRequestValue=initial_page_id}};

	Widget.createWithElement('page_detail', function(widget) {
		widget.settings.delete_callback = function(page_id) {
			// do not remove element if NotPermittedException
			if(!arguments[1]) {
				page_tree.remove_element_with_identifier(page_id);
			} 
		};
		//Add event handlers in intermediate callback
		page_detail = widget;
		page_detail.handle('loading', function() {
			Widget.load();
			// info_bar_buttons.hide();
			page_detail.disable_input();
		});
		page_detail.handle('loaded', function() {
			Widget.callStatic('permission', 'mayEditPageDetailsAndDelete', page_detail.current_page_id, function(may) {
				if(may[0]) {
					page_detail.enable_input(may[1]);
				} else if(may[1]) {
					page_detail.enable_delete();
				}
			});
			Widget.end_load();
		});
		page_detail.handle('saved', function(event) {
			var page_id = page_detail.current_page_id;
			var element = page_tree.element_with_identifier(page_id);
			page_tree.reload_element(page_tree.parent_of(element));
		});
	}, function(widget) {
		widget.disable_input();
		AdminInterface.content.append(widget._element);
		// widget.load_page(initial_selection);
	});
	
	//Info bar stuff
	AdminInterface.info_bar.prepareWidget(function(info_bar) {
		info_bar.add_button('add-new-item', function() {
			Widget.create('sidebar_input', function(sidebar_input) {
				sidebar_input.add_new_sidebar_input("{{writeString=wns.page.new_entry_placeholder}}", function(name, cleanup_callback) {
					//This is the save callback
					var page_id = page_tree.current_element_identifier;
					page_detail.createPage(page_id, name, function(result, error) {
						if(!error) {
							cleanup_callback(page_id);
						}
					}, WidgetJSONOptions.with_callback_handles_error(false));
				}, function(page_id) {
					page_tree.reload_element(page_tree.element_with_identifier(page_id), true);
				});
			});
		}, 'n', false, true, "{{writeString=wns.page.create}}");
		info_bar.add_tag_panel();
	});
	
	// init main content
	var click_handler = function(event, element, page_id, has_changed) {
		if(has_changed) {
			page_detail.load_page(page_id);
		}
	};
	
	Widget.createWithElement('tree', function(widget) {
		jQuery.extend(widget.settings, {
			description_from_item: function(item) {
				return item.Name;
			},
			has_children: function(item) {
				return item.TreeRight-item.TreeLeft > 1;
			},
			may_create_child: function(item) {
				return item.UserMayCreateChildren;
			},
			may_create_sibling: function(item) {
				return item.UserMayCreateSiblings;
			},
			may_move_item: function(item) {
				//if the user may create siblings, she’s got the may_create_children right on the parent => she’s also allowed to move around child pages
				return item.UserMayCreateSiblings;
			},
			identifier_from_data: function(data) {
				return data.Id;
			},
			is_open: function(item) {
				return item.TreeLeft <= {{writeRequestValue=initial_page_tree_left}} && item.TreeRight > {{writeRequestValue=initial_page_tree_left}};
			},
			is_active: function(item) {
				return item.Id === initial_selection;
			},
			custom_class: function(item) {
				if(item.IsInactive) {
					return 'page_is_inactive';
				}
			},
			icons_from_item: function(item) {
				var result = [];
				if(item.IsProtected) {
					result.push('is-protected');
				}		
				if(item.IsHidden) {
					result.push('is-hidden');
				}
				return result;
			}
		});
	}, function(widget) {
		page_tree = widget;
		AdminInterface.sidebar.append(widget._element);
		widget.handle('tree_item-activated', click_handler).handle('updated', jQuery.noop);//TODO: update icons on update
	}, '{{writeRequestValue=tree_session}}');

});


