/* [data-widget-type=tree] */

/*#admin_sidebar .ui-tree li.ui-state-hover,
#admin_sidebar .ui-tree li.ui-state-active {
	list-style: none;
	padding: 0;
	margin: 0;	
	background-color: @sidebar_highlight_color;
}
*/

.ui-tree li a.ui-state-default {
	border: none;
}
.ui-tree { list-style: none inside; }
#admin_sidebar .ui-tree li li { font-size: 1em; }
.ui-tree li { clear: left; }
.ui-tree .tree-opener { float: left; }
.ui-tree .tree-opener.no-children { background-image: none; }
#admin_sidebar > .ui-tree ol li {
	border-bottom: none;
	border-bottom: 1px solid #d4d8dc;
}
#admin_sidebar > .ui-tree > ol > li:first-child { border-bottom: none; }
#admin_sidebar > .ui-tree ol ol li {
	border-bottom: none;
	border-top: none;
}
#admin_sidebar > .ui-tree ol ol li:first-child {
	border-bottom: none;
	border-top: none;
}
#admin_sidebar > .ui-tree ol ol li.ui-state-hover {
	border-bottom: none;
	border-top: none;
}
#admin_sidebar > .ui-tree ol ol li.ui-state-active {
	border-bottom: none;
	border-top: none;
}
#admin_sidebar .ui-tree li a {
  color: #444444;
  text-decoration: none;
}
#admin_sidebar .ui-tree div.ui-icon { margin: 0.3em 0 0 0; }
#admin_sidebar .ui-tree li {
  font-size: 1.2em;
  padding: 0 0 0 0;
  line-height: 25px;
  vertical-align: middle;
  border-bottom: none;
}
#admin_sidebar .ui-tree > li ol { padding-left: 18px; }
#admin_sidebar .ui-tree li.show-children ol {
  margin-left: -10px;
  margin-top: 3px;
}
