Widget.types.tree = {
	prepare: function() {
		var widget = this;
		this.settings.tag_name = this.settings.tag_name || (this._element.is('ul') ? 'ul' : 'ol');
		
		// Item click handler
		this._element.delegate('.ui-tree li', 'click', function(event) {
			// Open the item
			var element = jQuery(this);
			var opener = element.children('.tree-opener');
			if(!opener.is('.no-children')) {
				if(opener.is('.opened') && jQuery(event.target)[0] === opener[0]) {
					widget.close(element, opener);
				} else {
					widget.open(element, opener);
				}
			}
			if(jQuery(event.target).is('.tree-opener')) {
				return;
			}
			// Select it
			widget.activate(element);
		});	
		this._element.delegate('.ui-tree li', 'hover', function(event) {
			var element = jQuery(this);
			element.toggleClass('ui-state-hover');
		});
		
		this.reload();
	},
	
	activate: function(element) {
		this._element.find('li').removeClass('ui-state-active');
		element.addClass('ui-state-active');
		this.fire('tree_item.activated', element, this.settings.data_from_element(element));
	},
	
	parent_of: function(element) {
		if(element.parent()[0] === this._element[0]) {
			return null;
		}
		return element.parent().closest('li');
	},
	
	remove_element_with_data: function(data) {
		var element = this.element_with_data(data);
		var parent = this.parent_of(element);
		var is_selected = element.is('.ui-state-active');
		element.remove();
		this.update_element(parent);
		if(is_selected) {
			this.activate(parent);
		}
	},
	
	current_element: function() {
		return this._element.find('li.ui-state-active');
	},
	
	current_element_data: function() {
		return this.settings.data_from_element(this.current_element());
	},
	
	all_pages: function() {
		return jQuery('#admin_sidebar').find('li');
	},
	
	element_with_data: function(data) {
		var result = null;
		var widget = this;
		this._element.find('li').each(function() {
			if(widget.settings.data_from_element(jQuery(this)) === data) {
				result = jQuery(this);
				return false;
			}
		});
		return result;
	},
	
	update_element: function(element) {
		var data = arguments[1] || this.settings.data_from_element(element);
		this.loadItem(data, function(item) {
			var icons = element.children('.ui-icons').empty();
			var name = element.children('span').text(this.settings.description_from_item(item));
			var opener = element.children('.tree-opener').removeClass('no-children');
			if(!this.settings.has_children(item)) {
				element.removeClass('opened');
				opener.addClass('no-children').removeClass('opened closed');
			}
			this.fire('updated', element, item);
		});
	},
	
	/**
	* Reloads the children of a given element (li) as well as its properties. The item retains its open/closed state
	* @param element the element to reload
	*/
	reload_element: function(element) {
		this.update_element(element);
		opener = element.children('.tree-opener');
		var sub_list = element.find(this.settings.tag_name);
		if(sub_list.length === 0 && !opener.is('.no-children')) {
			return;
		}
		sub_list.remove();
		if(opener.is('.opened') || opener.is('.no-children')) {
			opener.removeClass('opened no-children').addClass('closed');
			//Reload immediately
			this.open(element, opener);
		}
	},
	
	reload: function() {
		this._element.empty();
		this.open_item(this._element);
	},
	
	open: function(element, opener) {
		opener = opener || element.children('.tree-opener');
		if(opener.is('.opened')) {
			return false;
		}
		element.addClass('opened');
		opener.removeClass('closed ui-icon-triangle-1-e').addClass('opened ui-icon-triangle-1-s');
		var sub_list = element.find(this.settings.tag_name).show();
		if(sub_list.length === 0) {
			this.open_item(element, this.settings.data_from_element(element));
		}
	},
	
	close: function(element, opener) {
		opener = opener || element.children('.tree-opener');
		if(opener.is('.closed')) {
			return;
		}
		element.removeClass('opened');
		opener.removeClass('opened ui-icon-triangle-1-s').addClass('closed ui-icon-triangle-1-e');
		element.find(this.settings.tag_name).hide();
	},
	
	open_item: function(item, data) {
		var tree = this;
		this.listChildren(data, function(children) {
			jQuery.each(children, function(i, child) {
				tree.add_item(item, child);
			});
		});
	},
	
	add_item: function(parent, child) {
		if(parent === null) {
			parent = this._element;
		}
		if(parent.is('li')) {
			if(parent.children(this.settings.tag_name).length > 0) {
				parent = parent.children(this.settings.tag_name);
			} else {
				var new_parent = jQuery(document.createElement(this.settings.tag_name));
				new_parent.addClass(this._element[0].className).addClass("tree_level_"+child.TreeLevel);
				parent = new_parent.appendTo(parent);
			}
		}
		// var element = jQuery("<li/>").text(this.settings.description_from_item(child));
		var element = jQuery("<li/>").append(jQuery("<span/>").text(this.settings.description_from_item(child)));
		var opener = jQuery("<div/>").addClass('tree-opener ui-icon no-children');
		var icons = jQuery('<div/>').addClass('ui-icons');
		
		if(this.settings.has_children(child)) {
			opener.removeClass('no-children');
			opener.addClass('ui-icon-triangle-1-e closed');
		}
		element.prepend(icons);
		element.prepend(opener);
		element.data('tree-data', child);
		parent.append(element);
		if(this.settings.is_open(child)) {
			this.open(element, opener);
		}
		if(this.settings.is_active(child)) {
			this.activate(element);
		}
		this.fire('tree_item.inserted', element, child);
		return parent;
	},
	
	update_elements: function() {
		var tree = this;
		tree._element.find('li').each(function() {
			tree.update_element(jQuery(this));
		});
	},
	
	add_icon: function(name, element) {
		var icons = element.children('.ui-icons');
		icons.append(jQuery('<div/>').addClass('ui-icon ui-icon-'+name));
	},
	
	settings: {
		description_from_item: jQuery.noop,
		has_children: jQuery.noop,
		data_from_element: jQuery.noop,
		is_open: jQuery.noop,
		is_active: jQuery.noop
	}
};
