div.ui-widget-content[data-widget-type=tree] {
	border: none;
	background: transparent;
}

*[data-widget-type=tree] li a.ui-state-default {
	border: none;
}

li.jstree-last.jstree-leaf {
	height: 25px;
	min-height: 25px;
}
*[data-widget-type=tree] li > a,
*[data-widget-type=tree] li ins {
	height: 25px;
	line-height: 25px;
}

*[data-widget-type=tree] { list-style: none inside; }

*[data-widget-type=tree] li,
*[data-widget-type=tree] li > a ins {
	clear: left;
	cursor: pointer;
}
*[data-widget-type=tree] li ins {
	cursor: default;
}
*[data-widget-type=tree] ul ins.jstree-custom-icon {
	position: absolute;
	right: 0;
}
*[data-widget-type=tree] ul ins.jstree-custom-icon:nth-child(2) {
	right: 30px;
}

*[data-widget-type=tree] .tree-opener { float: left; }

*[data-widget-type=tree] .tree-opener.no-children { background-image: none; }

*[data-widget-type=tree] li > a,
*[data-widget-type=tree] li > a.ui-state-default {
  color: #444444;
  font-weight: 700;
  text-decoration: none;
}

*[data-widget-type=tree] li.page_is_inactive > a {
  color: #888888;
}

*[data-widget-type=tree] ul .ui-icon {
	top: 3px;
	position: relative;
}

*[data-widget-type=tree] ul li {
  font-size: 1.2em;
  padding: 0 0 0 0;
  line-height: 25px;
  vertical-align: middle;
  position: relative;
  border-bottom: none;
}

*[data-widget-type=tree] ul li li { font-size: 1em; }

*[data-widget-type=tree] ul li.show-children ol {
  margin-left: -10px;
  margin-top: 3px;
}

*[data-widget-type=tree] ul .ui-icon-folder-collapsed {
	display: none;
}

*[data-widget-type=tree] li .jstree-custom-icon {
  height: 22px;
  width: 29px;
  margin-top: 0;
  margin-left: 5px;
}

*[data-widget-type=tree] li.ui-state-hover > a,
*[data-widget-type=tree] li.ui-state-active > a { color: white; }

*[data-widget-type=tree] li li,
*[data-widget-type=tree] li li.ui-state-hover,
*[data-widget-type=tree] li li.ui-state-active {
	background-image: url("{{writeDirectInclude=admin/tree_child_default.png;template=location_only}}");
  background-repeat: no-repeat;
  background-position: top left;
}
*[data-widget-type=tree] li ol ol {
	background-image: url("{{writeDirectInclude=admin/tree_child_line.png;template=location_only}}");
  background-repeat: repeat-y;
  background-position: top left;
}
*[data-widget-type=tree] li li:last-child {
	background-image: url("{{writeDirectInclude=admin/tree_child_last.png;template=location_only}}");
  background-repeat: no-repeat;
  background-position: left -975px;
}
*[data-widget-type=tree] li li.ui-state-hover:last-child,
*[data-widget-type=tree] li li.ui-state-active:last-child {
	background-image: url("{{writeDirectInclude=admin/tree_child_last.png;template=location_only}}");
  background-repeat: no-repeat;
  background-position: bottom left;
}
*[data-widget-type=tree] li.opened:last-child,
*[data-widget-type=tree] li.ui-state-hover.opened:last-child {
	background-image: url("{{writeDirectInclude=admin/tree_child_last_opener.png;template=location_only}}");
  background-repeat: no-repeat;
  background-position: top left;
}
*[data-widget-type=tree] li.opened:last-child > ol { background-image: none; }
*[data-widget-type=tree] li.ui-state-hover {
  background-color: #728697;
  background-image: none;
  border-bottom: none;
}

*[data-widget-type=tree] li.ui-state-active {
  background-color: #728697;
  background-image: none;
  border-bottom: none;
}
*[data-widget-type=tree] li.ui-state-active ol { background-color: #dfe1e3; }
*[data-widget-type=tree] li.ui-state-active ol li { background-color: #dfe1e3; }
*[data-widget-type=tree] li.ui-state-active { background-color: #728697 !important; }
*[data-widget-type=tree] li { border: none !important; }
*[data-widget-type=tree] > ol.ui-tree > li.ui-state-hover {
  border-bottom: none !important;
  background-color: #728697;
}
*[data-widget-type=tree] > ol.ui-tree li.ui-state-active li.ui-state-hover { background-color: #728697; }
*[data-widget-type=tree] > ol.ui-tree > li.ui-state-hover li.ui-state-active { background-color: #728697; }


*[data-widget-type=tree] .ui-state-hover ul,
*[data-widget-type=tree] .ui-state-active ul {
	background-color: #DFE1E3;
	background-image: url("{{writeDirectInclude=admin/tree_child_line.png;template=location_only}}");
	background-repeat: repeat-y;
	background-position: top left;
}

*[data-widget-type=tree] li li:last-child ul {
	background: #DFE1E3;
}

*[data-widget-type=tree] .ui-icon.ui-icon-is-protected {
	background: transparent url('{{writeDirectInclude=admin/page_protected_default.png;template=location_only}}') no-repeat;
}
.ui-state-default .ui-icon.ui-icon-is-protected {
	background: transparent url('{{writeDirectInclude=admin/page_protected_default.png;template=location_only}}') no-repeat;
}
*[data-widget-type=tree] .ui-icon.ui-icon-is-hidden {
	background: transparent url('{{writeDirectInclude=admin/page_hidden_default.png;template=location_only}}') no-repeat;
}
.ui-state-default .ui-icon.ui-icon-is-hidden {
	background: transparent url('{{writeDirectInclude=admin/page_hidden_default.png;template=location_only}}') no-repeat;
}
.ui-state-hover > a > .ui-icon.ui-icon-is-protected {
	background: transparent url('{{writeDirectInclude=admin/page_protected_active.png;template=location_only}}') no-repeat;
}
.ui-state-hover > a > .ui-icon.ui-icon-is-hidden {
	background: transparent url('{{writeDirectInclude=admin/page_hidden_active.png;template=location_only}}') no-repeat;
}
.ui-state-active > a > .ui-icon.ui-icon-is-protected {
	background: transparent url('{{writeDirectInclude=admin/page_protected_active.png;template=location_only}}') no-repeat;
}
.ui-state-active > a > .ui-icon.ui-icon-is-hidden {
	background: transparent url('{{writeDirectInclude=admin/page_hidden_active.png;template=location_only}}') no-repeat;
}

#vakata-dragged {
	color: white;
	width: 200px;
	background: #728697;
	font-weight: 700;
}

#vakata-dragged ins { } 
#vakata-dragged .jstree-ok { } 
#vakata-dragged .jstree-invalid { } 
body #jstree-marker {
	background-color: #e3ef99;
	color: #666;
	height: 10px;
	width: 10px;
	font-size: 15px; 
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #999;
	z-index: 10001;
}
#jstree-marker-line {
	background-color: #666;
	border:1px solid #e3ef99; border-left:0;
	z-index: 10000;
}

