<label for="types">{{writeString=tag_types}}</label><select id="types" name="types[]" multiple="multiple" size="3" style="height:auto;">{{type_options}}</select><br />
<label for="template">{{writeString=template}}</label><select id="template" name="template">{{template_options}}</select>
<label for="data">{{writeString=tags}}</label><div id="tag_area"> </div>
<input type="hidden" id="data" name="data" size="55" value="{{text}}" /><br />
<br clear="left" />