<h1>{{quoteString=\{\{name\}\};alternate=true;defaultValue=\{\{writeString=check\}\}}}</h1>
<fieldset><pre>
  {{messages}}
</pre>
</fieldset>
<fieldset class="divider">
  {{writeParameterizedString=check.text}}
</fieldset>
