jQuery(document).ready(function() {
	// init main content
	AdminInterface.content.find('table.role_list').prepareWidget(function(role_list) {
		// init sidebar
		var sidebar;
		AdminInterface.sidebar.find('.ui-list').prepareWidget(function(widget) {
			sidebar = widget;
			sidebar.settings.row_click_active_mode = 'activate';
			var initial_selection = "{{writeRequestValue=group_id}}";
			if(initial_selection) {
				initial_selection = isNaN(initial_selection) ? initial_selection : parseInt(initial_selection, 10);
				sidebar.handle('loaded', function() {
					sidebar.activate_row(sidebar.row_from_row_data({id: initial_selection}));
				}, true, true);
			}
			
			sidebar.handle('list-selection_changed', function(event, selection) {
				role_list.setOption('group_id', selection[0] && selection[0].group_id);
				role_list.reload();
			});
		});

		// init infobar
		AdminInterface.info_bar.prepareWidget(function(info_bar) {
			info_bar.add_button('add-new-item', function() {
				Widget.create('role_detail', function(widget) {
					// widget.content.find("select[name='group_id']").val(link_list.getOption('link_category_id'));
					widget.open();
					widget.save_callback = function() {
						role_list.reload();
					};
				});
			}, 'n', true).add_button('add-new-item', function() {
				Widget.create('sidebar_input', function(widget) {
					widget.add_new_sidebar_input("{{writeString=wns.group.default_name}}", 'Group', sidebar);
				});
			}).add_search_input("{{writeString=wns.search.enter_search}}", function(search) {
				if(role_list.setSearch(search)) {
					role_list.reload();
				}
			});
	
			// add row_count_info
			info_bar.add_row_count_info_for_list(role_list);
		});
	});
});