jQuery(document).ready(function() {

	var handlers = [];
	
	var sidebar = null;
	AdminInterface.sidebar.children('[data-widget-type]').prepareWidget(function(widget) {
		sidebar = widget;
	}.deferred(handlers));
	
	var content_list = null;
	AdminInterface.content.children('[data-widget-type]').prepareWidget(function(widget) {
		content_list = widget;
	}.deferred(handlers));
	
	var info_bar = null;
	AdminInterface.info_bar.prepareWidget(function(widget) {
		info_bar = widget;
	}.deferred(handlers));

	jQuery.when.apply(jQuery, handlers).then(function() {
		// Add info_bar elements
		info_bar.add_button('add-new-item', function() {
			Widget.create('role_detail', function(widget) {
				widget.open();
				widget.save_callback = function() {
					content_list.reload();
				};
			});
		}, 'n', true).add_button('add-new-item', function() {
			Widget.create('sidebar_input', function(widget) {
				widget.add_new_sidebar_input("{{writeString=wns.group.default_name}}", 'Group', sidebar);
			});
		}).add_search_input("{{writeString=wns.search.enter_search}}", function(search) {
			if(content_list.setSearch(search)) {
				content_list.reload();
			}
		}).add_row_count_info_for_list(content_list);

		var remove_item = info_bar.add_button('remove-item', function() {
			var rowData = sidebar.collect_row_data(sidebar.active_row());
			if(rowData.group_id) {
				content_list.getOption('groupHasRoles', rowData.group_id, function(result) {
					if(!result) {
						return sidebar.delete_row(sidebar.active_row());
					}
					var delete_message = "{{writeString=wns.group.delete_information}}";
					Widget.confirm("{{writeString=wns.rapila_alert.information}}", delete_message, function(confirmed) {
						if(confirmed) {
							content_list.setOption('groupId', null);
							sidebar.delete_row(sidebar.active_row());
						}
					}.bind(this));
				});
			};
		}).disable();
		
		var edit_item = info_bar.add_button('edit-item', function() {
			Widget.create('group_detail', function(widget) {
				widget.setGroupId(sidebar.active_row_datas()[0].group_id);
				widget.open();
				widget.fill_data();
				widget.save_callback = function() {
					sidebar.reload();
					content_list.reload();
				};
			});
		}).disable();
		
		// Sidebar
		sidebar.settings.row_click_active_mode = 'activate';
		sidebar.handle('list-selection_changed', function(event, selection) {
			var group_id = selection[0] && selection[0].group_id;
			var has_detail = selection.length === 1 && group_id.constructor === Number;
			remove_item[has_detail ? 'enable' : 'disable']();
			edit_item[has_detail ? 'enable' : 'disable']();
			content_list.setOption('group_id', group_id);
			content_list.reload();
		});
	});
});
