Widget.types.documentation = {

	prepare: function() {
		var _this = this;

		this.container =jQuery('<div/>').addClass('accordion').hide();
		this._element.append(this.container);

		this.panel_prototype = jQuery('<div/>').addClass('panel');
		this.part_prototype = jQuery('<a/>');
		this.heading_prototype = jQuery('<h4/>').append(jQuery('<a/>').attr('href', '#'));

		this.loadDocumentations(function(documentations) {
			jQuery.each(documentations, function(key, documentation) {
				// append heading
				_this.append_heading(documentation.title);

				// make and append panel
				var parts_panel = _this.panel_prototype.clone();
				_this.container.append(parts_panel);

				jQuery.each(documentation.parts, function(key, part) {
					parts_panel.append(_this.part_prototype.clone().text(part.title).attr('href', part.url));
				});
			});

			// Append optional support tab and content
			this.loadSupportTab(function(support) {
				if(support.heading && support.link) {
					this.append_heading(support.heading);
					var parts_panel = this.panel_prototype.clone();
					parts_panel.append(this.part_prototype.clone().text(support.link_text).attr('href', support.link));
					this.container.append(parts_panel);
				}
				_this.container.accordion({active: 0, heightStyle: 'content', collapsible:false});
				_this.container.show();
			});
		});
	},

	append_heading: function(title) {
		var heading = this.heading_prototype.clone();
		heading.find('a').text(title);
		this.container.append(heading);
	}
};
