*[data-widget-type='documentation'] a {
	display: block;
	margin-top: 1em;
	padding-top: 5px;
	border-top: 1px solid #555;
	text-decoration: none;
}

.dashboard-widget-content > *[data-widget-type='documentation'] a.is_part {
	border-top-width: 0;
	margin-top: 0;
	padding-bottom: 5px;
	padding-left: 0.3em;
}

*[data-widget-type='documentation'] a.is_part:before {
	content: "• ";
}