#dashboard-columns .dashboard-widget .dashboard-widget-content.documentation {
	padding: 0;
}

.dashboard-widget-content.documentation .ui-accordion-content {
	background-color: transparent;
	padding-bottom: 5px;
}

#dashboard-columns .dashboard-widget .dashboard-widget-content.documentation h4 {
	border-bottom: 1px solid #555;
	border-top: 1px solid #555;
	margin-top: 0;
	margin-bottom: -1px;
	padding: 3px 0 0px;
	background-color: #444;
	display: flex;
}
#dashboard-columns .dashboard-widget .dashboard-widget-content.documentation h4 .ui-accordion-header-icon {
	margin: 3px 3px 0 2px;
}

#dashboard-columns .dashboard-widget .dashboard-widget-content.documentation h4:first-child {
	margin-top: 0;
}

.dashboard-widget-content.documentation .ui-accordion a {
	font-size: 12px;
	line-height: 1.4;
	display: block;
	text-decoration: none;
}
.dashboard-widget-content.documentation .ui-accordion .ui-accordion-header {
	background: none;
}

.dashboard-widget-content.documentation .ui-accordion .ui-accordion-header a {
	font-size: 1.0em;
	padding-top: 3px;
	padding-left: 0;
}

*[data-widget-type='documentation'] .panel a {
	margin: 1px 0;
	padding: 2px 0 2px 0;
	border-top: 1px solid #555;
}

*[data-widget-type='documentation'] .panel a:first-child {
	border-top: none;
	padding-top: 6px;
}