Widget.types.tag_input = {
	prepare: function() {
		this.reload();
		Widget.handle('rapila-tags_changed', this.reload.bind(this));
	},
	
	reload: function() {
		this._element.empty();
		this._element.populate({'': '-------'});
		this._element.populate(this.getTags(this.settings.model_name), this.getSelectedTagId());
	},
	
	val: function(value) {
		if(value) {
			this._element.val(value);
			return;
		}
		return this._element.val();
	},
	
	settings: {
		model_name: null
	}
	
};
