Widget.types.image_picker = {
	set_callback: function(callback) {
		this.settings.callback = callback;
	},
	
	prepare: function() {
		var _this = this;
		this.image_area = jQuery('<div/>').addClass('image_browse_area').appendTo(this._element);
		var ajax_loader = jQuery('<div/>').addClass();
		
		var file_uploader = Widget.create('file_upload');
		file_uploader.allow_drag_to(this.image_area, null, function(target) {
			return {
				document_category_id: _this.document_category_input.val(),
				callback: _this.reload.bind(_this),
				error: function() {}
			};
		});
		
		Widget.createWithElement('document_category_input', function(document_category_input) {
			document_category_input.settings.custom_option = "{{writeString=wns.document_cateogy_input.custom_option}}";
			document_category_input.settings.categories_with_documents_only = true;
			document_category_input.handle('element_set', function() {
				_this.document_category_input = document_category_input;
				document_category_input._element.prependTo(_this._element);
			});
		}, function(document_category_input) {
			document_category_input._element.change(function() {
				var category = document_category_input.val();
				console.log(category);
				if(category) {
					_this.setAllowedCategories([category]);
				} else {
					_this.setAllowedCategories(null);
				}
				_this.reload();
			});
		});
		this.reload();
		if(this.settings.allows_multiselect) {
			this.image_area.selectable({
				selecting: function(event, ui) {
					jQuery(ui.selecting).addClass('ui-state-active');
				},
				unselecting: function(event, ui) {
					jQuery(ui.unselecting).removeClass('ui-state-active');
				},
				filter: "> div",
				stop: function() {
					//Change button active state
				}
			});
		} else {
			this.image_area.delegate('div.ui-image-picker-image', 'click', function() {
				var document_id = jQuery(this).data('document_id');
				_this.settings.callback(document_id);
				if(_this.is_popup) {
					_this._element.dialog('close');
				}
			});
		}
	},
	
	reload: function() {
		var _this = this;
		Widget.load();
		this.listImages(function(result, error) {
			if(error) {
				return;
			}
			this.image_area.empty();
			jQuery.each(result, function() {
				var document_id = this.id;
				var url = _this.document_url_from_id(document_id, 50);
				var image = jQuery('<div><img/></div>').addClass('ui-widget ui-widget-content ui-image-picker-image');
				image.children('img').attr({src: url, width: '50'});
				image.data('document_id', document_id);
				Widget.tooltip(image, this.name);
				image.hover(function() {
					image.addClass('ui-state-hover');
				}, function() {
					image.removeClass('ui-state-hover');
				});
				_this.image_area.append(image);
			});
			Widget.end_load();
		});
	},
	
	open_chooser: function() {
		var _this = this;
		if(!this.is_popup) {
			var buttons = {};
			buttons["{{writeString=wns.image_picker.insert}}"] = function() {
				var selected = _this.image_area.children('.ui-selected');
				if(selected.length > 0) {
					var collection = [];
					selected.each(function() {
						collection[collection.length] = jQuery(this).data('document_id');
					});
					selected.removeClass('ui-selected ui-state-active');
					_this.settings.callback.apply(_this, collection);
				}
				_this._element.dialog('close');
			};
			this._element.dialog({title: "{{writeString=wns.image_picker.pick_image}}", buttons: buttons, width: 600, maxHeight: 800});
			return;
		}
		this.is_popup = true;
		this._element.dialog('open');
	}, 
	
	remove_picture: function() {
		this.settings.callback();
	},
	
	document_url_from_id: function(document_id, image_width) {
		return FILE_PREFIX+'/display_document/'+document_id+(image_width ? '?max_width='+image_width : '');
	},
	
	settings: {
		callback: jQuery.noop,
		allows_multiselect: false,
	}
};
