general:
  # for plugins that need to call php via cli
  php_path: 'php'
  multilingual: true
  # general caching of files like configuration yaml files and language ini files
  caching: true
  template_caching: true
  # @see http://www.php.net/manual/en/timezones.php
  timezone: "Europe/Zurich"
  # those don’t work well in some environments
  send_not_modified_headers: true

routing:
  routes:
    content:      'FrontendManager'
    get_file:     'FileManager'
    get_ajax:     'FileManager'
    cms_login:    'LoginManager'
    goto:         'GotoManager'
    admin:        'AdminManager'
    preview:      'PreviewManager'
  default: 'content'

# give the page name as value here (be sure not to have allocated the name to more than one page)
error_pages:
  not_found: "error-404"
  # server_error is ignored for the time being
  server_error: "internal_server_error"

domain_holder:
  domain: 'example.com'
  name:   'Example Site'
  email:  'info@example.com'

developer:
  email: cms@example.com

admin:
  title: 'CMS Admin — {{module_name}}'
  
  # set this to false if your containers overlap
  use_parsed_css_in_config: true
  
  # document edit and delete can be restricted to owner only (if is not admin), defaults to false
  document_delete_allow_from_creator_only: false
  list_allows_multiple_categories: false

  # hide externally managed categories
  hide_externally_managed_link_categories: true
  hide_externally_managed_document_categories: true
  
  registered_user_languages: ['de', 'en', 'es']

error_handling:
  should_stop_on_recoverable_errors: false
  print_errors: false
  log_errors: true
  mail_errors: false
  
login:
  password_min_length: 4

# default config for ckeditor
# important note: always requires space after comma ", " in order to function properly
text_module:  
  toolbar: 
    - 
      - ["Bold", "Italic"]
      - ["Link", "Unlink", "Anchor", "-", "Image"]
      - ["NumberedList", "BulletedList", "Blockquote"]
      - ["Undo", "Redo", "-", "Find"]
      - ["Styles", "Format"]
    -
      - ["Subscript", "Superscript", "-", "Maximize"]
      - ["HorizontalRule", "Smiley", "SpecialChar", "-", "RemoveFormat", "PasteText", "Scayt", "ShowBlocks"]
      - ["Source"]
  richtext_width: 700
 
security:
  generate_digest_secrets: false
  
frontend:
  title: ''
  main_template: general
#possible values: strict, transitional, html4_strict, html4_transitional, none (which means the content type will always be text/html, the encoding will be default and the doctype has to be hardcoded in the template)
  doctype: strict
  protect_email_addresses: false
  display_string_keys: false #override this to see all used string keys directly in frontend
  re_captcha_private_key: '6Lfm_gQAAAAAALjNy87IkZ8An1gryBROu40vxgJi'
  re_captcha_public_key: '6Lfm_gQAAAAAACIbK9PxwwhDhkGJHcHEcdIRRRR9'
  re_captcha_theme: 'white'

encoding:
  db: utf-8
  browser: utf-8
  #possible values: full, xml_only. xml_only is much faster and results in smaller file sizes, however, full encoding may help if you have encoding issues with certain browsers
  entities: xml_only

session_default:
  language: en &fe_language
  content_language: *fe_language
  
#language_chooser default
language_chooser:
  link_separator: ""
  template: 'language'
  template_active: 'language_active'
  show_active_language: true
