Widget.types.documents_view = {
	initialize: function() {
		this.settings.document_category_id = this.getInitialDocumentCategoryId();
		this.settings.search_string = this.getInitialSearchString();
		this.settings.document_kind = this.getInitialDocumentKind();
		this.settings.thumbnail_size = this.getInitialThumbnailSize();
	},
	
	prepare: function() {
		var documents_view = this;
		this._element.append('<ul/>');
		var tabs_settings = {
			add: function(event, ui) {
				var panel = jQuery(ui.panel);
				var tab = jQuery(ui.tab);
				var item = tab.attr('href').substring(1);
				if(documents_view.tab_views[item]) {
					tab.data('type', documents_view.tab_views[item]);
					tab.data('panel', panel);
				}
			},
			show: function(event, ui) {
				var tab = jQuery(ui.tab);
				documents_view.active_tab = tab;
				if(!tab.data('type')) {
					return;
				}
				if(!tab.data('widget')) {
					documents_view.init_tab(tab);
				} else {
					//Returns true if anything’s changed since the last time
					if(documents_view.configure_tab(tab)) {
						tab.data('widget').reload();
					}
				}
			}
		};
		this._element.tabs(tabs_settings);
		jQuery.each(this.settings.panels, function(i, item) {
			documents_view._element.tabs('add', '#'+item, item, 0);
		});
		tabs_settings.show(null, {tab: this.active_tab});
	},
	
	init_tab: function(tab) {
		var type = tab.data('type');
		var panel = tab.data('panel');
		var widget_name = type.widget_name;
		var documents_view = this;
		Widget.createWithElement(widget_name, function(widget) {
			tab.data('widget', widget);
			type.init.call(this, tab.data('widget'));
			documents_view.configure_tab(tab);
		}, function(widget) {
			panel.append(widget._element);
		});
	},
	
	configure_tab: function(tab) {
		var type = tab.data('type');
		return type.configure.call(this, tab.data('widget'));
	},
	
	reload: function() {
		this.active_tab.data('widget').reload();
	},
	
	set_document_category_id: function(id) {
		this.settings.document_category_id = id;
		this.configure_tab(this.active_tab);
	},
	
	set_search_string: function(string) {
		this.settings.search_string = string;
		this.configure_tab(this.active_tab);
	},
	
	set_document_kind: function(kind) {
		this.settings.document_kind = kind;
		this.configure_tab(this.active_tab);
	},
	
	set_thumbnail_size: function(size) {
		this.settings.thumbnail_size = size;
		this.configure_tab(this.active_tab);
	},
	
	tab_views: {
		list: {
			widget_name: 'document_list',
			init: function(widget) {
				
			},
			configure: function(widget) {
				var changed = false;
				if(this.settings.document_category_id) {
					changed = widget.setOption('document_category_id', this.settings.document_category_id) || changed;
				}
				if(this.settings.search_string) {
					changed = widget.setOption('search_string', this.settings.search_string) || changed;
				}
				if(this.settings.document_kind) {
					changed = widget.setOption('document_kind', this.settings.document_kind) || changed;
				}
				return changed;
			},
			append_document: function(widget, document_id) {
				widget.get_list().append_row_with_data({id: document_id});
			}
		},
		thumbnail: {
			widget_name: 'document_thumbnail_view',
			init: function(widget) {
				widget.settings.allows_multiselect = true;
			},
			configure: function(widget) {
				var changed = false;
				if(this.settings.document_category_id) {
					changed = widget.setDocumentCategoryId(this.settings.document_category_id) || changed;
				}
				if(this.settings.document_kind) {
					changed = widget.setDocumentKind(this.settings.document_kind) || changed;
				}
				if(this.settings.thumbnail_size) {
					changed = widget.settings.thumbnail_size !== this.settings.thumbnail_size;
					widget.settings.thumbnail_size = this.settings.thumbnail_size;
				}
				return changed;
			},
			append_document: function(widget, document_id) {
				
			}
		},
	},
	
	append_document: function(document_id) {
		var type = this.active_tab.data('type');
		var widget = this.active_tab.data('widget');
		type.append_document(widget, document_id);
	},
	
	settings: {
		panels: ['list', 'thumbnail'],
		allow_document_kind_change: true
	}
};