div[data-widget-type='documents_view'] ul.ui-tabs-nav {
	float: right;
}

div[data-widget-type='documents_view'] {
	background-color: transparent;
	border: none;
}

div[data-widget-type='documents_view'] .ui-tabs-panel {
	margin: 0;
	padding: 0;
}

div[data-widget-type='documents_view'] ul.ui-tabs-nav li a[href="#list"] {
	background-image: url('{{writeDirectInclude=admin/icon_list_view_dark.png;template=location_only}}');
}

div[data-widget-type='documents_view'] ul.ui-tabs-nav li a[href="#thumbnail"] {
	background-image: url('{{writeDirectInclude=admin/icon_thumbnail_view_dark.png;template=location_only}}');
}

div[data-widget-type='documents_view'] ul.ui-tabs-nav span {
	display: none;
}