<div id="document_order">
  {{documents}}
</div>
<button type="button" id="document_order_add" title="{{writeString=add}}" class="new"></button>
<br />
<div id="clone_area">
  {{includeTemplate=backend_media_item}}
</div>
