<label for="document_id_{{sequence_id;defaultValue=new_}}">{{writeString=document}}</label>
<div class="grouped_items" style="padding:.1em 0;">
	<select id="document_id_{{sequence_id;defaultValue=new_}}" name="document_id[]">
		{{available_documents}}
	</select>
	<label for="url_{{sequence_id;defaultValue=new_}}">{{writeString=or_url}}</label> <input class="autowidth" type="text" id="url_{{sequence_id;defaultValue=new_}}"	 value="{{url}}" name="url[]" />
	<label for="width_{{sequence_id;defaultValue=new_}}">{{writeString=width}}</label> <input class="autowidth" type="text" id="width_{{sequence_id;defaultValue=new_}}"	value="{{width}}" name="width[]" size="4" />
	<label for="height_{{sequence_id;defaultValue=new_}}">{{writeString=height}}</label> <input class="autoheight" type="text" id="height_{{sequence_id;defaultValue=new_}}" value="{{height}}" name="height[]" size="4" />
	<label for="mimetype_{{sequence_id;defaultValue=new_}}">{{writeString=document.mimetype}}</label> <input class="autowidth" type="text" id="mimetype_{{sequence_id;defaultValue=new_}}" value="{{mimetype}}" name="mimetype[]" />
	<button type="delete" class="delete" title="{{writeString=delete}}"></button>
</div>