<fieldset class="option_groups media_entry">
	<div class="group_fields document_id">
		<label for="document_id[]">{{writeString=wns.document}}</label>
	</div>
	<div class="group_fields url">
		<label for="url[]">{{writeString=wns.media_object.or_url}}</label> <input class="ui-widget-content autowidth" size="30" type="text" name="url[]" />
	</div>
	<div class="group_fields">
		<label for="width[]">{{writeString=wns.width}}</label> <input class="ui-widget-content autowidth" type="text" name="width[]" size="4" />
	</div>
	<div class="group_fields">
		<label for="height[]">{{writeString=wns.height}}</label> <input class="autoheight ui-widget-content" type="text" name="height[]" size="4" />
	</div>
	<div class="group_fields mimetype">
		<label for="mimetype[]">{{writeString=wns.document_type.mimetype}}</label> <input class="ui-widget-content autowidth" type="text" name="mimetype[]" />
	</div>
	<div class="group_fields">
		<label> </label>
		<div class="ui-icon ui-icon-trash delete_entry delete_media"> </div>
	</div>
</fieldset>