jQuery(document).ready(function() {
	// init main content
	AdminInterface.content.find('table.tags_list').prepareWidget(function(tags_list) {
		// init sidebar

		var sidebar = AdminInterface.sidebar.find('.ui-list').prepareWidget(function(sidebar) {
			var initial_selection = "{{writeRequestValue=model_name}}";
			if(initial_selection) {
				initial_selection = isNaN(initial_selection) ? initial_selection : parseInt(initial_selection);
				sidebar.handle('loaded', function() {
					sidebar.activate_row(sidebar.row_from_row_data({model_name: initial_selection}));
				}, true, true);
			}	
			sidebar.settings.row_click_active_mode = 'activate';
			sidebar.handle('list.row-click', function(event, row, element) {
				var model_name = element.data('model_name');
				if(!element.is('.ui-state-active')) {
				 	model_name = null;
				}
				tags_list.setOption('model_name', model_name);
				tags_list.reload();
			});
		
			//Add handlers for changed namespaces
			tags_list.handle('row.updated row.deleted', function(event, returnedResult) {
				if(returnedResult.sidebar_changed) {
					sidebar.reload();
				}
			});
		});

		// init info bar
		AdminInterface.info_bar.prepareWidget(function(info_bar) {
			info_bar.add_search_input("{{writeString=widget.search.enter_search}}", function(search) {
				if(tags_list.setSearch(search)) {
					tags_list.reload();
				}
			});
	
			// add row_count_info
			info_bar.add_row_count_info_for_list(tags_list);
		});
	});
});