table.ui-list tr.ui-list-headrow th.file_info {
	text-align: right;
}
table.ui-list tr.ui-list-headrow th.file_info span {
	margin-right: 1em;
}

table.ui-list td.thumbnail img, 
table.ui-list td.thumbnail object {
	max-width: 15px;
	max-height: 15px;
}

table.ui-thumbnail-list td.thumbnail img, 
table.ui-thumbnail-list td.thumbnail object {
	max-width: none;
	max-height: none;
}

table.ui-list.ui-thumbnail-list tbody tr td {
	display: none;
}

table.ui-list.ui-thumbnail-list tbody tr {
	width: 195px;
}
table.ui-list.ui-thumbnail-list tbody tr td.thumbnail {
	display: flex;
	width: 195px;
}

table.ui-list.ui-thumbnail-list tbody tr td.delete {
	display: flex;
	padding-top: 0;
}


