table.ui-list td.thumbnail img, 
table.ui-list td.thumbnail object {
	max-width: 15px;
	max-height: 15px;
}

table.ui-thumbnail-list td.thumbnail img, 
table.ui-thumbnail-list td.thumbnail object {
	max-width: none;
	max-height: none;
}

table.ui-list.ui-thumbnail-list tbody tr td {
	display: none;
}

table.ui-list.ui-thumbnail-list tbody tr td.thumbnail {
	display: flex;
	width: 195px;
}
