jQuery(document).ready(function() {
	jQuery('table.document_list').each(function() {
		jQuery(this).prepareWidget(function(widget) {
			Widget.callStatic('detail', 'connect_detail_with_list', 'document', widget, 'setDocumentId');
			widget.handle('list-cell_click', function(event, rowIndex, col, row, cell) {
				if(col.identifier === 'delete') {
					var document_name = widget.cell_for_identifier('name_truncated', row).text();
					var delete_message = AdminInterface.strings.get_string('wns.document.delete_warning', { document_name: document_name});
					Widget.confirm("{{writeString=wns.delete_warning_title}}", delete_message, function(confirmed) {
						if(confirmed) {
							this.delete_row(row);
							document_list.fire('document-removed', row);
						}
					}.bind(this));
					event.stopPropagation();
				}
				if(col.identifier === 'is_inactive') {
					this.toggle_boolean(row, col.identifier);
					event.stopPropagation();
				}
				if(col.identifier === 'is_protected') {
					this.toggle_boolean(row, col.identifier);
					event.stopPropagation();
				}
			});
			widget.handle('list-cell_hover', function(event, rowIndex, col, row, cell) {
				if(col.identifier === 'is_inactive' || col.identifier === 'is_protected') {
					cell.css({cursor: 'pointer'});
				}
			});
			AdminInterface.strings.handle_strings_for_list_result('wns.documents.no_result', ['document_category_name', 'document_kind_name', 'language_name'], widget);
		});
	});
});
