
.ui-list.document_list .ui-list-cell.document_kind * {
	max-width: 20px;
	max-height: 15px;
}

.ui-list.document_list .ui-list-row .ui-list-cell.document_kind:focus *,
.ui-list.document_list.ui-thumbnail-list .ui-list-cell.document_kind * {
	max-width: none;
	max-height: none;
}

.ui-list.document_list.ui-thumbnail-list tbody {
	justify-content: flex-start;
}

.ui-list.document_list.ui-thumbnail-list tbody .ui-list-row {
	display: block; /* Override flexbox */
	position: relative;
	padding-bottom: 17px;
	max-width: 190px;
	flex-grow: 0;
}

.ui-list.document_list.ui-thumbnail-list tbody .ui-list-row .ui-list-cell {
	display: none;
}

.ui-list.document_list.ui-thumbnail-list tbody .ui-list-row .ui-list-cell.name_truncated,
.ui-list.document_list.ui-thumbnail-list tbody .ui-list-row .ui-list-cell.document_kind,
.ui-list.document_list.ui-thumbnail-list tbody .ui-list-row .ui-list-cell.document_kind,
.ui-list.document_list.ui-thumbnail-list tbody .ui-list-row .ui-list-cell.sort,
.ui-list.document_list.ui-thumbnail-list tbody .ui-list-row .ui-list-cell.delete {
	display: block;
}

.ui-list.document_list.ui-thumbnail-list tbody .ui-list-row .ui-list-cell.name_truncated {
	font-weight: bold;
}

.ui-list.document_list.ui-thumbnail-list tbody .ui-list-row .ui-list-cell.document_kind * {
	width: 100%;
}

.ui-list.document_list.ui-thumbnail-list tbody .ui-list-row .ui-list-cell.document_kind {
	float: right;
}

.ui-list.document_list.ui-thumbnail-list tbody .ui-list-row .ui-list-cell.sort,
.ui-list.document_list.ui-thumbnail-list tbody .ui-list-row .ui-list-cell.delete {
	position: absolute;
	bottom: 0;
}
.ui-list.document_list.ui-thumbnail-list tbody .ui-list-row .ui-list-cell.sort {
	left: 0;
}
.ui-list.document_list.ui-thumbnail-list tbody .ui-list-row .ui-list-cell.delete {
	right: 0;
}
