jQuery(document).ready(function() {
	var document_list = jQuery('table.document_list');
	document_list.each(function() {
		jQuery(this).prepareWidget(function(widget) {
			Widget.callStaticWidgetMethod('detail', 'connect_detail_with_list', 'document', widget, 'setDocumentId');
			widget.handle('list.cell-click', function(event, rowIndex, col, row, cell) {
				if(col.identifier === 'delete') {
					var file_name = widget.cell_for_identifier('name', row).text();
					Widget.confirm("{{writeString=widget.delete_confirm}}", "{{writeParameterizedString=widget.document.delete_alert;dateiname=$\{dateiname\};}}".replace(/\$\{dateiname\}/, file_name), 
					function(confirmed) {
						if(confirmed) {
							this.delete_row(row);
						}
					}.bind(this));
					event.stopPropagation();
				}
				if(col.identifier === 'is_inactive') {
					this.toggle_boolean(row, col.identifier);
					event.stopPropagation();
				}				
				if(col.identifier === 'is_protected') {
					this.toggle_boolean(row, col.identifier);
					event.stopPropagation();
				}
			});
			widget.handle('list.cell-hover', function(event, rowIndex, col, row, cell) {
				if(col.identifier === 'is_inactive' || col.identifier === 'is_protected') {
					cell.css({cursor: 'pointer'});
				}
			});
			widget.handle('list.reloaded', function(event, list_length) {
				if(list_length === 0) {
					var message = "Keine Dateien gefunden mit den folgenden Kriterien<ul>";
					var search = widget.getSearch();
					if(search !== null) {
						message = message + '<li>Suchbegriff "'+search+'"</li>';
					}
					var document_category_id = widget.getOption('document_category_id');
					if(document_category_id !== '__all') {
						if(document_category_id === '__without') {
							message = message + '<li>keine Dokumentenkategorie</li>';
						} else {
							var active_category = AdminInterface.sidebar.find('li.ui-state-active').text();
							message = message + '<li>Dokumentenkategorie "'+active_category+'"</li>';
						}
					}
					var document_kind = widget.getOption('document_kind');
					if(document_kind !== '__all') {
						document_kind_name = document_list.find('*[data-widget-type]="document_kind_input" > [selected]').text();
						message = message + '<li>Dokumentenart "'+document_kind_name+'"</li>';
					}
					message = message + '</ul>';
					Widget.notifyUser('info', message, {isHTML: true, closable: true});
				}
			}, false, true);
		});
	});
});
