/* Accordion */
/* moving into widget.less
.ui-dialog.detail-widget .ui-accordion .ui-accordion-content {
	border: none;
	background-color: #fff;
	padding: 0;
}
*/
.ui-dialog.detail-widget .ui-accordion .ui-accordion-content.general_info {
	padding: 0.5em 1em;	
	padding-bottom: .5em;
	padding-left: 1.6em;
}
/*
.ui-dialog.detail-widget .ui-dialog-content .ui-state-active,
.ui-widget-content .ui-state-active,
.ui-dialog.detail-widget .ui-dialog-content.ui-widget-content .ui-state-default {
	background: none repeat scroll 0 0 #ebedef;
	border-width: 0 0 1px 0;
}

.ui-dialog.detail-widget h3 {
	border-bottom: #C1C2C4 1px solid;
}
*/
.detail-widget table  {
	width: 100%;
}
.detail-widget table th {
	font-weight: normal;
	font-style: oblique;
	text-align: left;
}
