Widget.types.detail = {
	initialize: function() {
		this.loader = jQuery('<div/>').addClass('ui-loading');
	},
	
	set_instance: function(instance) {
		this.instance = instance;
		this.settings.save_callback = function() {
			instance.fire('saving');
			instance.saveData(instance.content.serializeArrayKV(), function() {
				instance.save_callback.apply(instance, jQuery.makeArray(arguments));
				instance.close();
			});
		};
		this.settings.cancel_callback = instance.close.bind(instance);
		return this;
	},
	
	open: function() {
		this.fire('opening');
		if(this.has_dialog) {
			this.clear_validation();
			this.content.dialog('open');
			this.select();
			return;
		}
		this.fire('opening-initial');
		this.loader.appendTo(this.content).hide();
		var detail_widget = this;
		var buttons = {
			"{{writeString=widget.save}}": this.settings.save_callback
		};
		if(this.settings.has_cancel_button) {
			buttons["{{writeString=widget.cancel}}"] = this.settings.cancel_callback;
		}
		this.content.dialog({
			title: this.settings.title,
			autoOpen: this.settings.autoOpen,
			modal: this.settings.modal,
			resizable: this.settings.resizable,
			closeOnEscape: this.settings.closeOnEscape,
			dialogClass: this.settings.dialogClass,
			width: this.settings.width,
			height: this.settings.height,
			buttons: buttons,
			position: ['center', 'top']
		}).dialog('open').bind('keydown', function(event) {
			if(event.which === 13) {
				// TODO: check if is textarea or whatever
				detail_widget.settings.save_callback();
				return false;
			}
		}).find('label[for]').bind('click', function() {
			var related_input = detail_widget.content.find("*[name='"+jQuery(this).attr('for')+"']");
			related_input.focus();
			if(related_input.is(':checkbox, :radio') && related_input.attr('disabled') == false) {
				related_input.attr('checked', !related_input.attr('checked'));
			} else {
				related_input.select();
			}
		});
		this.select();
		this.has_dialog = true;
	},
	
	close: function() {
		this.content.dialog('close');
	},
	
	clear_validation: function() {
		this.content.find('.error_display').remove();
	},
	
	validate_with: function(errors) {
		this.clear_validation();
		var detail = this;
		jQuery.each(errors, function(key, message) {
			if(message.constructor === String) {
				message = jQuery.parseHTML(message);
			}
			var validate_element = detail.content.find('.validate-'+key.escapeSelector());
			jQuery(validate_element).append(message);
		});
	},
	
	has_dialog: false,
	content: null,
	
	select: function() {
		if(this.settings.select) {
			this.content.find(this.settings.select).select();
		}
	},
	
	fill_select: function(element, data) {
		element.empty();
		var option = jQuery('<option/>');
		option.clone().text('-----').attr('value', '').appendTo(element);
		jQuery.each(data, function(i, detail) {
			option.clone().text(detail.name).attr('value', detail.id).appendTo(element);
		});
	},
	
	set_title: function(title) {
		if(!title) {
			return;
		}
		this.settings.title = title;
		if(this.has_dialog) {
			this.content.dialog('option', 'title', title);
		}
	}, 
	
	set_is_loading: function(is_loading) {
		if(is_loading) {
			this.loader.show();
			this.content.children().css("visibility", "hidden");
		} else {
			this.loader.hide();
			this.content.children().css("visibility", "visible");
		}
	},
	
	connect_detail_with_list: function(detail_name, list, idMethod, idData) {
		if(!idMethod) idMethod = 'setId';
		if(!idData) idData = 'id';
		list.settings.row_click_active_mode = 'activate';
		list.settings.row_click_active_class = 'ui-state-highlight';
		Widget.create(detail_name+"_detail", function(detail) {
			list.handle('list.row-dblclick', function(event, rowIndex, row) {
				//Init
				var cell = jQuery(event.realTarget).closest('.ui-list-cell');
				var row = cell.closest('.ui-list-row');
				var cellIndex = row.find('.ui-list-cell').index(cell);
				var col_schema = list.schema_for_col(cellIndex);
				if(col_schema.has_function) {
					return;
				}
				
				detail[idMethod](row.data(idData));
				detail.current_row = row;
				detail.fill_data();
				detail.open();
				event.preventDefault();
				event.stopPropagation();
			});
			detail.save_callback = function(returnValue) {
				var additionalData = jQuery.isPlainObject(returnValue) ? returnValue : {};
				list.update_row(detail.current_row, additionalData);
			};
		});
	},
	
	settings: {
		title: ' ',
		autoOpen: true,
		modal: false,
		resizable: true,
		closeOnEscape: true,
		has_cancel_button: true,
		auto_close_on_save: true,
		cancel_callback: jQuery.noop,
		save_callback: jQuery.noop,
		select: "input:eq(0)",
		width: 480,
		height: 'auto'
	}
};