/* Accordion */

.ui-dialog.detail-widget .ui-accordion .ui-accordion-content.general_info {
	padding: 0.5em 1em;	
	padding-bottom: .5em;
	padding-left: 1.6em;
}

.ui-dialog.detail-widget table  {
	width: 100%;
}

.ui-dialog.detail-widget .tags_in_detail {
	border-bottom: 1px dashed #DFDFDF;
	min-height: 27px;
	margin: -6px -12px 12px -12px;
}

.ui-dialog.detail-widget .tags_in_detail .tag_area {
	height: 100%;
	background-color: #888;
	border: 1px solid #000;
}

.ui-dialog.detail-widget .tags_in_detail .tag_panel {
	height: 100%;
}

.ui-dialog.detail-widget table th {
	font-weight: normal;
	font-style: oblique;
	text-align: left;
}