	<div class="group_fields">
		<label for="link_category_option">{{writeString=link_list.category_option}}</label>
		<select name="link_category_option"></select>
	</div>
	<div class="group_fields">
		<label for="template_option">{{writeString=link_list.category_option}}</label>
		<select name="template_option"></select>
	</div>
	<div class="group_fields">
		<label for="sort_option">{{writeString=link_list.category_option}}</label>
		<select name="sort_option"></select>
	</div><br style="clear:left;" />
