	<div class="group_fields">
		<label for="link_categories[]">{{writeString=wns.link_list.category_option}}</label>
		<select name="link_categories[]" {{if=eq;1=\{\{writeSettingValue=list_allows_multiple_categories\;section=admin\}\};2=true}} multiple="multiple"{{endIf}} class="ui-widget-content"></select>
	</div>
	<div class="group_fields">
		<label for="template">{{writeString=wns.link_list.template_option}}</label>
		<select name="template" class="ui-widget-content autowidth"></select>
	</div>
	<div class="group_fields">
		<label for="sort_by">{{writeString=wns.link_list.sort_option}}</label>
		<select name="sort_by" class="ui-widget-content autowidth"></select>
	</div><br style="clear:left;" />
