Widget.types.link_edit = {
	prepare: function() {
		var display_modes = this.getDisplayMode();
		var config_modes = this.getConfigurationModes();
		this.content = (config_modes.link_categories.length == 0) ? jQuery.parseHTML("{{includeTemplate=edit_no_categories}}") : jQuery.parseHTML("{{includeTemplate=edit}}");
		var _this = this;
		jQuery.each(config_modes, function(config_name, options) {
			var select_name = config_name;
			if(select_name === 'link_categories') {
				select_name += '[]';
			}
			_this.content.find("select[name='"+select_name+"']").populate(options, display_modes[config_name]);
		});
		this._element.append(this.content);

		var detail_widget;
		Widget.create('link_detail', function(widget) {
			_this.detail_widget = widget;
			widget.save_callback = _this.reload_preview.bind(_this);
		});
		
		this.result_list = jQuery('<ul/>');
		this.reload_preview();
		this._element.append(this.result_list);
		this.result_list.delegate('li', 'click', function() {
			var id = jQuery(this).data('id');
			_this.detail_widget.setLinkId(id);
			_this.detail_widget.fill_data();
			_this.detail_widget.open();
		});
	},
	
	reload_preview: function() {
		var _this = this;
		this.result_list.empty();
		this.allLinks(function(links) {
			jQuery.each(links, function(i, link) {
				_this.result_list.append(jQuery('<li/>').text(link.NAME).attr('title', "{{writeString=wns.edit_entry}}").data('id', link.ID));
			});
		});
	},
	
	save: function(callback) {
		this.saveData(this._element.serializeArrayKV(), callback);
	}
};