<form>
	<label for="string_key">{{writeString=widget.string.string_key}}</label>
	<input type="text" name="string_key" class="ui-widget-content" /><br class="validate-string_key validate-string.exists" />
	<label for="text">{{writeString=widget.string.string_text}}</label>
	<div class="strings">
		
	</div>
</form>