<form>
	<label for="string_key">{{writeString=widget.string.string_key}}</label>
	<input type="text" name="string_key" class="ui-widget-content" /><br />
	<label for="text">{{writeString=widget.string.string_text}}</label>
	<textarea rows="4" cols="30" name="text" class="ui-widget-content"></textarea>
</form>