Widget.types.string_detail = {
	initialize: function() {
		this.init_content();
		this._element.find('div.hide_if_not_saved').hide();
		Widget.callStatic('detail', 'create_for_instance', this);
	},

	init_content: function() {
		var string_detail = this;
		this._element = Widget.parseHTML("{{includeTemplate=edit}}");

		var language_content = this._element.find('.edit_language_content');
		Widget.createWithElement('language_tabs', function(widget) {
			string_detail.language_tabs = widget;
			widget.handle('element_set', function(event, element) {
				language_content.append(element);
			});
		}, function(language_tabs) {
			language_tabs.handle('tab.created', function(event, language_id, tab_content) {
				var language_content = Widget.parseHTML('{{includeTemplate=edit_language}}');
				var textarea = language_content.find('textarea');
				textarea.attr('name', textarea.attr('name')+language_id);
				textarea.val(string_detail.getTextFor(language_id));
				tab_content.append(language_content);
			}, false, true);
		});
	},

	fill_data: function() {
		this.detail_widget.disable();
		
		// get active strings and make sure the correct ones are highlighted
		var string_detail = this;
		var active_languages = string_detail.getActiveLanguages();
		
		this.stringData(function(string_data) {
			this._element.find("input[name='string_key']").val(string_data.StringKey);
			this._element.find(".updated_info").text(string_data.UpdatedInfo);
			this._element.find(".created_info").text(string_data.CreatedInfo);
			this.detail_widget.set_title(string_data.StringKey);
			this._element.find('div.hide_if_not_saved').hide();
			this.detail_widget.enable();
		});
		
		if(!this.language_tabs) {
			this.init_content();
		} else {
			jQuery.each(this.language_tabs.all_tabs(), function(language_id, tab) {
				if(jQuery.inArray(language_id, active_languages) != -1) {
					tab.addClass('tab_content_active');
					tab.removeClass('tab_content_inactive');
				} else {
					tab.addClass('tab_content_inactive');
					tab.removeClass('tab_content_active');
				}
			});
			jQuery.each(this.language_tabs.all_panels(), function(language_id, panel) {
				panel.find('textarea').val(string_detail.getTextFor(language_id));
			});
		}
	},

	settings: {
		detail_widget: {
			title: "{{writeString=wns.new_entry}}",
			width: 600
		}
	}
};