.ui-dialog.detail-widget-string_detail textarea.ui-widget-content {
	width: 40em;
}

.ui-dialog.detail-widget-string_detail span.ui-icon.ui-icon-pin-s {
	display: inline-block;
}

.ui-dialog.detail-widget-string_detail div.delete_hint {
	font-style: oblique;
	margin: 0.5em 0;
	display: none;
}

.ui-dialog.detail-widget-string_detail div.delete_hint span.text {
	display: inline-block;
	margin: 2px;
	vertical-align: top;
