div.strings .ui-tabs {
	border: none;
}
.ui-tabs .ui-tabs-panel {
	padding-left: 0;
}

label.tab_content_label {
	float: left;
	padding-right: 2em;
	padding-top:.4em;
}

textarea.ui-widget-content {
	width: 40em;
}