jQuery(document).ready(function() {
	// init main content
	var sidebar;
	AdminInterface.sidebar.find('.ui-list').prepareWidget(function(widget) {
		sidebar = widget;		
		sidebar.handle('list-selection_changed', function(event, selection) {
			var action = selection[0] && selection[0].action;
		});
	});

});