<fieldset class="divider">  
  <label for="is_admin">{{writeString=is_admin}}</label>
  <input type="checkbox" name="is_admin" id="is_admin" value="1"{{is_admin_checked}} /><br />
  <label for="is_inactive">{{writeString=is_inactive}}</label>
  <input type="checkbox" name="is_inactive" id="is_inactive" value="1"{{is_inactive_checked}} /><br />
  <label for="is_backend_login_enabled">{{writeString=user.is_backend_login_enabled}}</label>
  <input type="checkbox" name="is_backend_login_enabled" id="is_backend_login_enabled" value="1"{{is_backend_login_enabled_checked}} /><br />
</fieldset>
