<h1>{{quoteString=\{\{full_name\}\};alternate=true;defaultValue=\{\{writeString=new_entry\}\}}} <span style="font-weight: normal;color:#999;">[id: {{id}}] </span></h1>{{identifierContext=start;name=change_password}}<div class="ui-state-error error_display">{{change_password}}</div>{{identifierContext=end;name=change_password}}
<form action="{{action}}" method="post">  
<fieldset class="divider">
  <input type="hidden" name="id" id="id" value="{{id}}" />
  <label for="first_name">{{writeString=first_name}}</label>
  <input type="text" name="first_name" id="first_name" value="{{first_name}}" /><br />
	{{writeFlashValue=first_name}}
  <label for="last_name">{{writeString=last_name}}</label>
  <input type="text" name="last_name" id="last_name" value="{{last_name}}" /><br />
	{{writeFlashValue=last_name}}{{writeFlashValue=backend_first_user_name_required}}
</fieldset>
<fieldset class="divider">  
  <label for="user_name">{{writeString=user_name}}</label>
  <input type="text" name="user_name" id="user_name" value="{{user_name}}" /><br />
	{{writeFlashValue=user_name}}
  <label for="email">{{writeString=email}}</label>
  <input type="text" name="email" id="email" value="{{email}}" /><br />
	{{writeFlashValue=email}}
</fieldset>
<fieldset class="divider">  
  <label for="language_id">{{writeString=user.language}}</label>
  <select id="language_id" name="language_id">{{user_language_options}}</select><br />
</fieldset>
{{user_booleans}}
{{identifierContext=start;name=has_groups}}<fieldset class="divider"><legend>{{writeString=user.group}}</legend>
  <label for="group_ids">&nbsp;</label>{{identifierContext=start;name=group_options}}<select name="group_ids[]" id="group_ids" multiple="multiple" style="height:auto;">{{group_options}}</select>{{identifierContext=end;name=group_options}}<input type="hidden" name="has_groups" value="{{has_groups}}" />&nbsp;&nbsp;{{identifierContext=start;name=create_group_link}}{{create_group_link}}{{identifierContext=end;name=create_group_link}}
</fieldset>{{identifierContext=end;name=has_groups}}

<fieldset class="divider"><legend class="toggler{{display_class}}">{{password_legend}}</legend>
  <div style="display:{{display_style}};">
    <label for="be_password">{{writeString=password}}</label>
    <input type="password" autocomplete="off" name="be_password" id="be_password" value=""  /><br />
    <label for="be_password_confirm">{{writeString=password_confirm}}</label>
    <input type="password" autocomplete="off" name="be_password_confirm" id="be_password_confirm" value="" /><br />
  	{{writeFlashValue=password_confirm}}
  	{{writeFlashValue=password_length}}
  	{{writeFlashValue=password_new}}
	</div>
</fieldset>
<fieldset class="divider nolegend">
  <label>{{writeString=save}}</label>
  <button type="submit" title="{{writeString=save}}" name="submit" id="submit"></button>
</fieldset>
</form>
{{identifierContext=start;name=delete_button}}<fieldset class="divider">
  {{delete_button}}
</fieldset>{{identifierContext=end;name=delete_button}}

