<fieldset id="resource_toggle">
  <form style="display:inline;min-width:200px" name="change_selected" id="change_selected" action="{{change_select_action}}" method="get">
  {{identifierContext=start;name=user_options}}
    <select name="user_kind" id="user_kind" onchange="$('change_selected').submit();">{{user_options}}</select>
  {{identifierContext=end;name=user_options}}
  </form>
</fieldset>
<div id="chooser_list_medium">
{{tree}}
</div>
