<h1>{{quoteString=\{\{writeString=module.backend.users\}\};alternate=true}} Module Info</h1>
<fieldset class="divider module_info">
  <p>{{writeString=user.choose_or_create}}</p>
  <p>{{create_link}}</p>
</fieldset>