  <label></label>
  <div class="grouped_items">
    <input type="checkbox" name="is_admin" id="is_admin" value="1" {{is_admin}} />
    <label class="autowidth" for="is_admin">{{writeString=is_admin}}</label>
    <input type="checkbox" name="is_inactive" id="is_inactive" value="1" {{is_inactive}} />
    <label class="autowidth" for="is_inactive">{{writeString=is_inactive}}</label>
  </div>