Widget.types.document_type_detail = {
	initialize: function() {
		this.content = jQuery.parseHTML("{{includeTemplate=edit}}");
		Widget.callStatic('detail', 'create_for_instance', this);
	},
	
	fill_data: function() {
		this.detail_widget.disable();		
		this.typeData(function(type_data) {
			this.content.find("input[name='extension']").val(type_data.Extension);
			this.content.find("input[name='mimetype']").val(type_data.Mimetype);
			this.detail_widget.set_title("{{writeString=wns.document_type}}"+" : "+(this.detail_widget.settings.title = type_data.Extension));
			this.detail_widget.enable();		
			this.detail_widget.content.find('input[name=extension]').select();
			this.detail_widget.enable();		
		});
	},
	
	settings: {
		detail_widget: {
			title: "{{writeString=wns.document_type.create}}",
			width: 480
		}
	}
};