<form>
	<label for="extension">{{writeString=widget.extension}}</label>
	<input type="text" name="extension" class="ui-widget-content" /><br />
	<label for="mimetype">{{writeString=widget.mimetype}}</label>
	<input type="text" name="mimetype" class="ui-widget-content" /><br />
	<label for="is_office_doc">{{writeString=widget.is_office_doc}}</label>
	<input type="checkbox" name="is_office_doc" value="1" /><br />
</form>