<form>
	<label for="extension" class="validate-extension_required">{{writeString=widget.extension}}</label>
	<input type="text" name="extension" class="ui-widget-content" /><br />
	<label for="mimetype" class="validate-mimetype_required">{{writeString=widget.mimetype}}</label>
	<input type="text" name="mimetype" class="ui-widget-content" /><br />
</form>