<h1>{{module_info_link}} {{quoteString=\{\{id\}\};alternate=true;defaultValue=\{\{writeString=new_entry\}\}}}</h1>
<form action="{{action_path}}" method="post">
<fieldset><legend>[{{writeString=language}}:{{language}}]</legend>
    <label for="id">ID ({{writeString=placeholder}})</label>
    <input type="text" id="id" name="id" value="{{id}}" /><br />{{writeFlashValue=string.key_required}}{{writeFlashValue=string.key_exists}}
    <label for="text">{{writeString=string.language_display}}</label>
    <textarea name="text" id="text" rows="2" cols="20">{{text}}</textarea><br />{{writeFlashValue=string.text_required}}
</fieldset>  
<fieldset class="divider nolegend">
  <label>{{writeString=save}}</label><button type="submit" title="{{writeString=save}}"></button>
</fieldset>
</form>
{{identifierContext=start;name=delete_button}}<fieldset class="divider">
  {{delete_button}}
</fieldset>{{identifierContext=end;name=delete_button}}
