<fieldset id="resource_toggle">
  <form style="display:inline;min-width:200px" name="change_selected" id="change_selected" action="{{change_select_action}}" method="get">
  {{identifierContext=start;name=namespace_options}}
    <select name="namespace" id="namespace" onchange="$('change_selected').submit();">{{namespace_options}}</select>
  {{identifierContext=end;name=namespace_options}}
  </form>
</fieldset>
<div id="chooser_list_medium">
{{result}}
</div>
