<h1>{{quoteString=\{\{writeString=module.backend.strings\}\};alternate=true}} Module Info</h1>
<fieldset class="divider module_info">
  <p>{{writeString=strings.choose_or_create}}</p>
  <p>{{create_link}}</p>
</fieldset>
<fieldset class="divider module_info"><legend class="toggler{{toggler_style}}">{{writeString=module_info}}</legend>
  <div style="display:{{display_style}};">
  <p>{{writeString=strings.info_message}}</p>
  </div>
</fieldset>
