<h1>'{{id}}'</h1>
<fieldset><legend>[{{writeString=language}}:{{language}}]</legend>
<form action="{{action_path}}" method="post">
  <label for="id">ID ({{writeString=placeholder}})</label>
  <input type="text" id="id" name="id" value="{{id}}" /><br />
  <label for="text">{{writeString=string_language_display}}</label>
  <textarea name="text" id="text" rows="2" cols="20">{{text}}</textarea><br />
  <label></label><button type="submit" title="{{writeString=save}}"></button>
</form>
{{delete_button}}
</fieldset>