<div class="check_options fieldset">
	<div class="group_fields">
		<label for="check_option">{{writeString=wns.check.check_options}}</label>
		<select name="check_option"></select><br />
	</div>
	<div class="group_fields">
		<label for="language_id">{{writeString=wns.check.language_options}}</label>
		<select name="language_id" data-widget-type="language_input"></select><br />
	</div>
	<div class="group_fields directory_options">
		<label for="directory_option">{{writeString=wns.check.directory_options}}</label>
		<select name="directory_option"></select><br />
	</div>
	<br />
	<br />
	<button class="do_check" title="{{writeString=wns.check.do_check_title}}">{{writeString=wns.check.do_check}}</button>
</div>
<div class="check_errors_found_title error_display"></div>
<ol class="check_result fieldset">
</ol>
