<div class="check_options fieldset">
	<label for="check_option">{{writeString=wns.check.check_options}}</label>
	<select name="check_option"></select><br />
	<button class="do_check" title="{{writeString=wns.check.do_check_title}}">{{writeString=wns.check.do_check}}</button>
</div>
<ol class="check_result fieldset">
</ol>
