#dashboard-columns .dashboard-widget .dashboard-widget-content ol.check_result {
	padding-left: 1em;
}

#dashboard-columns .dashboard-widget .dashboard-widget-content li.log_level_1,
#dashboard-columns .dashboard-widget .dashboard-widget-content li.log_level_2,
#dashboard-columns .dashboard-widget .dashboard-widget-content li.log_level_3,
#dashboard-columns .dashboard-widget .dashboard-widget-content li.log_level_4 {
	color: #e3ef99;
}

#dashboard-columns .dashboard-widget .dashboard-widget-content li.log_level_5 {
	color: #A2E68A;
}
