.check_errors_found_title {
	margin-top: 1em;
}

[data-widget-type="string_check"] {
	padding-bottom: 1em;
}

[data-widget-type="string_check"] li.log_level_1,
[data-widget-type="string_check"] li.log_level_2,
[data-widget-type="string_check"] li.log_level_3,
[data-widget-type="string_check"] li.log_level_4 {
	color: #e3ef99;
}

[data-widget-type="string_check"] li.log_level_1::before,
[data-widget-type="string_check"] li.log_level_2::before,
[data-widget-type="string_check"] li.log_level_3::before,
[data-widget-type="string_check"] li.log_level_4::before {
	content: '- ';
	color: #999999;
}

[data-widget-type="string_check"] li.ok_no_errors {
	color: #8DF841;
}

[data-widget-type="string_check"] li.title_dir,
[data-widget-type="string_check"] li.title_main_dir {
	font-style: oblique;
}

[data-widget-type="string_check"] li.title_main_dir {
	margin-top: .4em;
}

[data-widget-type="string_check"] li.title_main_dir {
	color: #ffffff;
}

[data-widget-type="string_check"] li.log_level_5 {
	color: #A2E68A;
}

.check_errors_found_title {
	color: #E35327;
}
