Widget.types.page_type = {
	initialize: function() {
		if(this.settings.page_type) {
			this.setPageType(this.settings.page_type, this.settings.page_id);
		} else {
			this.settings.page_type = this.getPageType();
		}
		this.getPageTypeJs(function(js_location, error) {
			if(error) {
				Widget.notifyUser('debug', error);
				return;
			}
			jQuery.ajax({
				url: js_location,
				dataType: 'script',
				async: false
			});
		});
	},
	
	handle_preview: function() {
		Widget.types.page_type.types[this.settings.page_type].handle_preview(this.settings.page_id, this);
	},
	
	handle_admin: function() {
		Widget.types.page_type.types[this.settings.page_type].handle_admin(this.settings.page_id, this.settings.container, this);
	},
	
	settings: {
		page_type: null,
		container: null,
		page_id: null,
	},
	
	types: {}
};