span.extension {
	background-color: #d0d0d0;
	padding: 3px 2px;
	color: #333;
}

.dashboard-widget-content div.fieldset {
	background-color: #444;
	border: none;
	padding: 1em;
	margin-bottom: 1em;
}

.dashboard-widget-content label {
	color: #DDDDDD;
}

input.dump_name {
	min-width: 25em;
	padding: 2px;
}

.dashboard-widget-content div.fieldset button {
	margin-top: .8em;
}


input.ui-widget-content.dump_tool {
	background-color: #444444;
	color: #f2f2f2;
	border-color: #666666;
}

input.ui-widget-content.dump_tool.dumpfocus {
	background-color: #f2f2f2;
	color: #333;
}
