Widget.types.backup = {
	prepare: function() {
		var _this = this;
		this._element.append(jQuery.parseHTML("{{includeTemplate=backup}}"));
		var backup_file_row = jQuery.parseHTML("{{includeTemplate=file_row}}", false, 'tbody');
		var backup_file_list = this._element.find('table.backup_files');
		
		//Load
		var restorer = this._element.find('.load_from_file button').button({disabled: true});
		var restore_file = this._element.find('select[name="restore_file"]');
		restore_file.change(function() {
			restorer.button('option', 'disabled', !jQuery.trim(restore_file.val()));
		});
		
		this.possibleRestoreFiles(function(files) {
			restore_file.populate(files).change();
			jQuery.each(files, function(file_name, file_path) {
				var file_row = backup_file_row.clone();
				file_row.find('td.name').text(file_path);
				file_row.find('input[name="file_paths[]"]').val(file_path);
				file_row.appendTo(backup_file_list);
			});
		});
		
		restorer.click(function() {
			restorer.button('option', 'disabled', true);
			Widget.load();
			_this.loadFromBackup(restore_file.val(), function(count) {
				Widget.end_load();
				if(arguments[1]) {
					return;
				}
				Widget.confirm('{{writeString=module.admin.backup}}', AdminInterface.strings.get_string('wns.backup.loader.load_success', {query_count: count}), function() {
					window.location.href = window.location.href;
				}, null, '{{writeString=wns.reload}}');
			});
		});
		
		//Save
		this.dumper = this._element.find('.dump_to_file button').button({disabled: true});
		var file_name = this._element.find('input[name="file_name"]');
		var dumptool = this._element.find('input[name="dumptool"]');
		dumptool.focus(function() {
			dumptool.addClass('dumpfocus');
		}).blur(function() {
			dumptool.removeClass('dumpfocus');
		});
		this._element.find('input').change(function() {
			_this.dumper.button('option', 'disabled', !(jQuery.trim(file_name.val()) && jQuery.trim(dumptool.val())));
		});
		this.backupInfo(function(info) {
			file_name.val(info.suggested_backup_name);
			if(info.mysql_dump_tool) {
				dumptool.val(info.mysql_dump_tool);
			} else {
				Widget.notifyUser(Widget.logSeverity.INFO, '{{writeString=wns.backup.mysqldump_missing}}');
				dumptool.addClass('dumpfocus');
			}
			this._element.find('.dirname').text(info.backup_dir);
			file_name.change();
		});
		
		this.dumper.click(function() {
			_this.dumper.button('option', 'disabled', true);
			_this.backupToFile(file_name.val(), dumptool.val(), function(message) {
				_this.changed_dashboard_config();
				if(message !== undefined) {
					Widget.confirm('{{writeString=module.admin.backup}}', '{{writeString=wns.backup.exporter.export_success}} '+message, jQuery.noop, null);
				}
			});
		});
	},
	
	changed_dashboard_config: function() {
		//Simple way to reload
		this._element.empty();
		this.prepare();
	},
	
	save_callback: function(data) {
		//Do nothing
	},
	
	close: function() {
		this.detail_widget.close();
	}
	
};