span.dirname,
span.extension {
	background-color: #d0d0d0;
	padding: .2em .2em .3em;
	color: #333;
}

.dashboard-widget-content div.fieldset {
	background-color: #444;
	border: none;
	padding: 1em;
	margin-bottom: 1em;
}

.dashboard-widget-content label {
	color: #DDDDDD;
}

input.dump_name {
	min-width: 18em;
}

.dashboard-widget-content div.fieldset button {
	margin-top: .5em;
}

input.ui-widget-content.dump_tool {
	background: #DDDDDD url('');
}

input.ui-widget-content.dump_tool.dumpfocus {
	background-color: #FFFFFF;
}
