<form>
	<div id="backup_options">
		<ul>
				<li><a href="#load_from_file"><span>{{writeString=wns.backup.store_to}}</span></a></li>
				<li><a href="#dump_to_file"><span>{{writeString=wns.backup.load_from}}</span></a></li>
		</ul>
		<div id="load_from_file">
	  	<label for="choose_restore_file">{{writeString=wns.backup.file}}</label>
	    <select id="choose_restore_file" name="choose_restore_file"></select>
		</div>
		<div id="dump_to_file">
			Dump to file
		</div>
	</div>
</form>