<tr class="ui-list-row">
	<td class="name"></td>
	<td class="delete"><input type="checkbox" name="delete_files[]" title="{{writeString=wns.backup_file.delete}}" /><input type="hidden" name="file_paths[]" /></td>
</tr>