<tr class="form_input_row">
	<td class="ui-sortable-handle"> </td>
	<td><select name="field_type[]" class="switcher_field autowidth ui-widget-content"></select></td>
	<td><input name="field_name[]" type="text" size="10" class="autowidth ui-widget-content" /></td>
	<td><input name="field_label[]" type="text"	size="12" class="autowidth ui-widget-content" /></td>
	<td><input name="default_value[]" type="text" size="12" class="autowidth ui-widget-content" /></td>
	<td><input name="class_name[]" type="text" size="12" class="autowidth ui-widget-content" /></td>
	<td><input name="is_required[]" type="checkbox" class="autowidth ui-widget-content" value="1" /></td>
	<td><span class="remove-item remove_entry" title="{{writeString=widget.delete}}"> </span></td>
</tr>
