<tr>
	<td><select name="field_type[]" class="switcher_field autowidth ui-widget-content"></select></td>
	<td><input class="autowidth ui-widget-content" type="text" name="field_name[]" size="10" /></td>
	<td><input class="autowidth ui-widget-content" type="text" name="field_label[]"	size="12" /></td>
	<td><input class="autowidth ui-widget-content" type="text" name="default_value[]" size="12" /></td>
	<td><input class="autowidth ui-widget-content" type="text" name="class_name[]" size="12" /></td>
	<td><input class="autowidth ui-widget-content" type="checkbox" name="is_required[]" /></td>
	<td><span class="remove-item remove_entry" title="{{writeString=delete}}"></span></td>
</tr>
