<fieldset class="option_groups ui-widget-content">
	<div class="group_fields">
		<label for="field_type[]">{{writeString=form.type}}</label><select name="field_type[]" class="switcher_field autowidth ui-widget-content"></select>
	</div>
	<div class="group_fields">
		<label for="field_name[]">{{writeString=form.field_name_short}}</label><input class="autowidth ui-widget-content" type="text" name="field_name[]" size="10" />
	</div>
	<div class="group_fields">
		<label for="field_label[]">{{writeString=form.label_short}}</label> <input class="autowidth ui-widget-content" type="text" name="field_label[]"	size="12" />
	</div>
	<div class="group_fields">
		<label for="default_value[]">{{writeString=form.default_value_short}}</label> <input class="autowidth ui-widget-content" type="text" name="default_value[]" size="12" />
	</div>
	<div class="group_fields">
		<label for="class_name[]">{{writeString=form.class_name_short}}</label> <input class="autowidth ui-widget-content" type="text" name="class_name[]" size="12" />
	</div>
	<div class="group_fields">
		<label for="is_required[]">{{writeString=form.is_required_short}}</label> <input class="autowidth ui-widget-content" type="checkbox" name="is_required[]" />
	</div>
	<span class="remove-item remove_entry" title="{{writeString=delete}}"></span>
</fieldset>