<h1>{{module_info_link}} {{quoteString=\{\{name\}\};alternate=true;defaultValue=\{\{writeString=new_entry\}\}}} <span class="id_info">[id: {{id}}] </span></h1>
<form action="{{action}}" method="post">
<fieldset class="divider">
  <label for="name">{{writeString=name}}</label>
  <input type="text" id="name" name="name" value="{{name}}" /><br />{{writeFlashValue=name}}
  <label for="url">{{writeString=url}}</label>
  <input type="text" id="url" name="url" value="{{url}}" /><br />{{writeFlashValue=url}}
  <label for="description">{{writeString=description}}</label>
  <textarea rows="2" cols="30" name="description" id="description">{{description}}</textarea><br />
 {{identifierContext=start;name=updated_by}}<label>&nbsp;</label>
  <div class="document_info">{{updated_by}} {{updated_at}}
  </div>{{identifierContext=end;name=updated_by}}<br />
</fieldset>
<fieldset class="divider nolegend">
  <label>{{writeString=save}}</label>
  <div class="grouped_items">
    <button type="submit" title="{{writeString=save}}"></button>{{identifierContext=start;name=use_selected_tag_checkbox}}{{use_selected_tag_checkbox}}<label for="use_selected_tag">{{writeParameterizedString=link.tag_selected}}</label>{{identifierContext=end;name=use_selected_tag_checkbox}}
  </div>
</fieldset>
</form>
{{identifierContext=start;name=delete_button}}<fieldset class="divider">
  {{delete_button}}
</fieldset>{{identifierContext=end;name=delete_button}}
{{identifierContext=start;name=references}}<fieldset><legend>{{writeString=reference.existing_references}}</legend><p class="show_image">{{references}}</p></fieldset>{{identifierContext=end;name=references}}
