<div id="list_header">
  <a href="{{link_name}}" class="{{link_name_class}}">{{writeString=name}}</a><a href="{{link_date}}" class="{{link_date_class}}">{{writeString=date}}</a>
</div>
<div id="chooser_list_medium">
{{tree}}
</div>

