<h2>'{{name}}'</h2>
<fieldset><legend>{{writeString=link}} "{{name}}" [id:{{id}}]</legend>
<form action="{{action}}" method="post">
  <label for="name">{{writeString=name}}</label>
  <input type="text" id="name" name="name" value="{{name}}" /><br />{{writeFlashValue=name}}
  <label for="url">{{writeString=url}}</label>
  <input type="text" id="url" name="url" value="{{url}}" /><br />{{writeFlashValue=url}}
  <label for="description">{{writeString=description}}</label>
  <textarea rows="2" cols="30" name="description" id="description">{{description}}</textarea>{{identifierContext=start;name=owner}}
 {{identifierContext=start;name=owner}}<label>Owner</label>
  <div>{{owner}}
</div>{{identifierContext=end;name=owner}}<br />
  <br />
  <label></label><button type="submit" title="{{writeString=save}}"></button>
</form>
{{delete_button}}
</fieldset>