<fieldset id="resource_toggle">
  {{filter_selector}}
</fieldset>
<div id="list_header">
  {{sort_link}}
</div>
<div id="chooser_list_short">
  {{identifierContext=start;name=has_no_entries}}<div>{{has_no_entries}}</div>{{identifierContext=end;name=has_no_entries}}{{result}}{{tree}}
</div>