jQuery(document).ready(function() {
	AdminInterface.content.find('table.document_category_list').prepareWidget(function(content_list) {

		// Add info_bar elements
		AdminInterface.info_bar.prepareWidget(function(info_bar) {
			info_bar.add_button('add-new-item', function() {
				Widget.create('document_category_detail', function(widget) {
					widget.open();
					widget.handle('saved', function() {
						content_list.reload();
					});
				});
			}, 'n', true).add_search_input("{{writeString=wns.search.enter_search}}", function(search) {
				if(content_list.setSearch(search)) {
					content_list.reload();
				}
			}).add_row_count_info_for_list(content_list).add_pager_for_list(content_list);
		});

		// Add search result notification
		AdminInterface.strings.handle_strings_for_list_result('wns.document_category.no_result',[] , content_list);
	});
});