Widget.types.group_input = {
	prepare: function() {
		var input = jQuery('<input/>').attr('type', 'checkbox');
		var groups = this.getGroups();
		
		var fieldset = this._element.find('fieldset');
		if(groups.length === 0) {
			jQuery('<div/>').html("{{writeString=none_available.groups}}").appendTo(fieldset);
		}

		jQuery.each(groups, function(i, group) {
			var checkbox = input.clone();
			checkbox.attr('name', 'group_ids[]').attr('value', group.id).appendTo(fieldset);
			jQuery('<label/>').attr('for', "group_ids[]").text(group.name).appendTo(fieldset);
			jQuery('<br/>').appendTo(fieldset);
		}.bind(this));
	},
	
	set_checked: function(values) {
		if(!values) {
			this._element.hide();
			return;
		} else {
			this._element.show();
		}
		value_obj = {};
		jQuery.each(values, function(i, value) {
			value_obj[value] = true;
		});
		this._element.find("input[name='group_ids[]']").each(function(i, checkbox) {
			jQuery(checkbox).attr('checked', !!value_obj[checkbox.value]);
		});
	}
};