Widget.types.group_input = {
	prepare: function() {
		var option = jQuery('<option/>');
		var groups = this.getGroups();
		jQuery.each(groups, function(i, group) {
			option.clone().text(widget.group.name).attr('value', group.id).appendTo(this._element);
		}.bind(this));
	}
};