{{includeTemplate=includes/be_top}}

  {{includeTemplate=includes/be_js_constants}}
{{writeResourceIncludes}}{{addResourceInclude=admin.css}}{{addResourceInclude=datepicker.css}}{{addResourceInclude=pagetree.css}}{{addResourceInclude=print.css;media=print}}{{addResourceInclude=scriptaculous?load=effects,dragdrop;library=1.8;priority=first}}{{addResourceInclude=datepicker.js}}{{addResourceInclude=tiny_mce/tiny_mce.js;priority=first}}{{addResourceInclude=admin.js}}{{addResourceInclude=pagetree.js}}
  {{includeTemplate=includes/be_bottom}}