{{includeTemplate=includes/be_top}}

  {{includeTemplate=includes/be_js_constants}}
{{writeResourceIncludes}}
{{addResourceInclude=admin/admin.css;include_all=true}}{{addResourceInclude=admin/datepicker.css}}{{addResourceInclude=admin/pagetree.css}}{{addResourceInclude=admin/print.css;media=print;include_all=true}}{{addResourceInclude=scriptaculous?load=effects,dragdrop;library=1.8;priority=first}}{{addResourceInclude=admin/datepicker.js}}{{addResourceInclude=admin/tiny_mce/tiny_mce.js;priority=first}}{{addResourceInclude=admin/admin.js;include_all=true}}{{addResourceInclude=admin/pagetree.js}}
  {{includeTemplate=includes/be_bottom}}