<link rel="{{rel;defaultValue=stylesheet}}" {{if=ne;1=\{\{title\}\}}}title="{{title}}" {{endIf}}media="{{media;defaultValue=all}}" href="{{location}}"{{if=ne;1=\{\{crossorigin\}\}}} crossorigin="{{crossorigin}}"{{endIf}} />