<img src="{{location}}" {{if=ne;1=\{\{title\}\};2=}}title="{{title}}" {{endIf}}{{if=ne;1=\{\{alt\}\};2=}}alt="{{alt}}" {{endIf}}{{if=ne;1=\{\{id\}\};2=}}id="{{id}}" {{endIf}}{{if=ne;1=\{\{width\}\};2=}}width="{{width}}" {{endIf}}{{if=ne;1=\{\{height\}\};2=}}height="{{height}}" {{endIf}}/>