<script type="{{mimetype;defaultValue=text/javascript}}" src="{{location}}"{{if=ne;1=\{\{sri\}\}}} integrity="{{sri}}"{{endIf}}{{if=ne;1=\{\{crossorigin\}\}}} crossorigin="{{crossorigin}}"{{endIf}}></script>