<h1>SQL Dump</h1>
<fieldset>
  <form action="{{writeLink=to_self}}" method="post">
  <label for="choose_file">
  {{writeString=path_to_export_file}}
  </label>
  <input id="choose_file" name="choose_file" type="text" value="{{dump_name}}" />{{writeString=path_dump_dir}}: {{save_dir}}<br />
  <label for="dump_tool">
  {{writeString=path_to_mysqldump}}
  </label>
  <input id="dump_tool" name="dump_tool" type="text" value="{{dump_tool}}" />
  <label>&nbsp;
  </label><button type="submit" class="go" title="{{writeString=go}}"></button>
  </form>
</fieldset>