<h1>Module Info: {{writeString=module.backend.mysql_dump_exporter}}</h1>
<fieldset class="divider module_info"><legend class="toggler open">{{writeString=module_info}}</legend>
  <div style="display:block;">
  <p>{{writeString=mysql_dump_exporter.info_message}}</p>
  </div>
</fieldset>