<h1>{{quoteString=\{\{writeString=module.backend.mysql_dump_exporter\}\};alternate=true}} Module Info</h1>
<fieldset class="divider module_info"><legend class="toggler open">{{writeString=module_info}}</legend>
  <div style="display:block;">
  <p>{{writeString=mysql_dump_exporter.module_info}}</p>
  </div>
</fieldset>