Widget.types.document_category_input = {
	prepare: function() {
		this.reload();
		Widget.handle('cmos-document_categories_changed', this.reload.bind(this));
	},
	
	reload: function() {
		var val = this._element.val();
		this._element.empty();
		var option = jQuery('<option/>');
		var categories = this.getCategories(this.settings.categories_with_documents_only);
		jQuery.each(categories, function(i, category) {
			option.clone().text(category.name).attr('value', category.id).appendTo(this._element);
		}.bind(this));
		option.text(this.settings.custom_option).val('').prependTo(this._element);
		this._element.val(this.settings.initial_selection || '');
	},
	
	val: function() {
		return this._element.val();
	},
	
	settings: {
		custom_option: "----",
		initial_selection: null,
		categories_with_documents_only: false
	}

};