window.FILE_PREFIX = "{{writeConstantValue=MAIN_DIR_FE}}{{writeManagerPrefix=FileManager}}";
jQuery(document).ready(function() {
	window.AdminInterface = {
		content_language: "{{writeSessionAttribute=content_language}}",
		translations: {
			cancelButtonText: "{{writeString=wns.cancel}}",
			okButtonText: "{{writeString=wns.ok}}"
		},
		strings: Widget.create('string')
	};
	
	window.PreviewInterface = {
		current_page_id: {{current_page_id}},
		page_type_widget: "{{page_type_widget_session}}",
		admin_menu_widget: "{{admin_menu_widget_session}}"
	};
	
	Widget.handle('widget-json-call', function(event, action, attributes, options) {
		if(attributes.constructor !== String) {
			attributes.session_language = "{{language_id}}";
		}
	});
});
