Widget.types.rich_text = {
	settings: {
		customConfig: '',
		toolbar_Full: [
			['Bold','Italic','-','Subscript','Superscript'],
			['Link','Unlink','Anchor'],
			['NumberedList','BulletedList','Blockquote'],
			['Undo','Redo','-','Find','-','RemoveFormat', 'Scayt', 'ShowBlocks'],
			['Maximize'],
			'/',
			['Styles','Format'],
			['Image','HorizontalRule','Smiley','SpecialChar'],
			['Source']
		],
		skin: "kama",
		entities: false,
		baseFloatZIndex: 10000, //jQuery UI dialog’s z-indices start at 1000 or so and get incremented so we need to be an order of magnitude higher here…
		resize_enabled: false,
		height: 400,
		inline_css: ''
	},
	
	initialize: function() {
		var _this = this;
		CKEDITOR.on('dialogDefinition', function(ev) {
			var dialogName = ev.data.name;
			var dialogDefinition = ev.data.definition;
			if(dialogDefinition.rich_text_widget_additions_done) {
				return;
			}
			dialogDefinition.rich_text_widget_additions_done = true;
			if(dialogName == 'image') {
				var picker_tab = dialogDefinition.addContents({
					id : 'picker',
					label : '{{writeString=wns.richtext.image_picker}}',
					accessKey : 'P',
					elements : [
						{
							html: '<div></div>',
							id : 'picker_field',
							type : 'html'
						}
					]
				});
				dialogDefinition.onLoad = CKEDITOR.tools.override(dialogDefinition.onLoad, function(orig) {
					return function() {
						if(this.rich_text_widget_additions_done) {
							return;
						}
						this.rich_text_widget_additions_done = true;
						var dialog = this;
						var picker_field = this.getContentElement('picker', 'picker_field');
						var element = jQuery(picker_field.getElement().$);
						element.attr('data-widget-type', 'image_picker').prepareWidget(function(widget) {
							widget.set_callback(function(image_id) {
								dialog.setValueOf('info', 'txtUrl', widget.document_url_from_id(image_id));
								dialog.selectPage('info');
							});
						});
						return orig.apply(this, arguments);
					};
				});
			} else if(dialogName == 'link') {
				var infoTab = dialogDefinition.getContents('info');
				var linkType = infoTab.get('linkType');
				linkType.items.unshift(['{{writeString=wns.richtext.document_link}}', 'document']);
				linkType.items.unshift(['{{writeString=wns.richtext.external_link}}', 'external']);
				linkType.items.unshift(['{{writeString=wns.richtext.internal_link}}', 'internal']);
				linkType.setup = function(data) {
					//@todo: change type to match link if display_document, external_link_proxy or internal_link_proxy is part of the path
					this.setValue(data.type);
				};
				linkType.commit = function(data) {
					data.type = this.getValue();
					if (data.type == 'document' || data.type == 'external' || data.type == 'internal') {
						data.type = 'url';
					}
				};
				linkType.onChange = CKEDITOR.tools.override(linkType.onChange, function(orig) {
					return function() {
						orig.apply(this, arguments);
						var dialog = this.getDialog();
						
						var internal_link_chooser = dialog.getContentElement('info', 'internal_link_chooser');
						var internal_link_chooser_element = jQuery(internal_link_chooser.getElement().getParent().getParent().$);
						var external_link_chooser = dialog.getContentElement('info', 'external_link_chooser');
						var external_link_chooser_element = jQuery(external_link_chooser.getElement().getParent().getParent().$);
						var document_link_chooser = dialog.getContentElement('info', 'document_link_chooser');
						var document_link_chooser_element = jQuery(document_link_chooser.getElement().getParent().getParent().$);
						
						if(this.getValue() == 'internal') {
							internal_link_chooser_element.show();
							external_link_chooser_element.hide();
							document_link_chooser_element.hide();
						} else if(this.getValue() == 'external') {
							internal_link_chooser_element.hide();
							external_link_chooser_element.show();
							document_link_chooser_element.hide();
						} else if(this.getValue() == 'document') {
							internal_link_chooser_element.hide();
							external_link_chooser_element.hide();
							document_link_chooser_element.show();
						} else {
							internal_link_chooser_element.hide();
							external_link_chooser_element.hide();
							document_link_chooser_element.hide();
						}
						
						var editor = dialog.getParentEditor();
						if(editor.config.linkShowTargetTab && (this.getValue() == 'internal' || this.getValue() == 'external' || this.getValue() == 'document')) {
							dialog.showPage('target');
						}
					};
				});
				infoTab.add({
					html: '<div></div>',
					id : 'internal_link_chooser',
					type : 'html'
				});
				infoTab.add({
					html: '<div></div>',
					id : 'external_link_chooser',
					type : 'html'
				});
				infoTab.add({
					html: '<div></div>',
					id : 'document_link_chooser',
					type : 'html'
				});
				dialogDefinition.onLoad = CKEDITOR.tools.override(dialogDefinition.onLoad, function(orig) {
					return function() {
						if(this.rich_text_widget_additions_done) {
							return;
						}
						this.rich_text_widget_additions_done = true;
						var dialog = this;
						
						_this.prepare_chooser(dialog, 'internal_link_chooser', 'page_input', 'proxy_url');
						_this.prepare_chooser(dialog, 'external_link_chooser', 'link_input', 'proxy_url');
						var document_link_chooser_element = _this.prepare_chooser(dialog, 'document_link_chooser', 'document_input', 'absolute_url');
						
						var file_uploader = Widget.create('file_upload');
						file_uploader.allow_drag_to(document_link_chooser_element, null, function() {
							return {
								callback: _this.document_link_chooser_widget.reload.bind(_this.document_link_chooser_widget),
								error: function() {}
							};
						});
						
						return orig.apply(this, arguments);
					};
				});
			}
		});
	},
	
	prepare: function() {
		var _this = this;
		var textarea = this.textarea = this._element.find('textarea');
		var module_content = this.getModuleContents();
		if(module_content !== null) {
			textarea.val(module_content);
		}
		if(!textarea.attr('id')) {
			textarea.attr('id', Widget.uuid());
		}
		this.settings.contentsCss = this.settings.contentsCss || this.getCssUrls();
		this.settings.stylesSet = this.settings.stylesSet || this.getStyles();
		
		if(this._element.isInDom()) {
			this.replace();
		} else {
			//Wait awhile before replacing the textarea if not yet attached to document
			var interval;
			interval = window.setInterval(function() {
				if(_this._element.isInDom()) {
					window.clearInterval(interval);
					_this.replace();
				}
			}, 100);
		}
	},
	
	replace: function() {
		var _this = this;
		var instance = this.instance = CKEDITOR.replace(this.textarea[0], this.settings);
		instance.on('instanceReady', function(event) {
			instance.document.appendStyleText(_this.settings.inline_css);
		});
	},
	
	prepare_chooser: function(dialog, name, widget, url_function) {
		var chooser = dialog.getContentElement('info', name);
		var chooser_element = jQuery(chooser.getElement().$);
		var _this = this;
		Widget.createWithElement(widget, function(widget) {
			_this[name+'_widget'] = widget;
			widget.settings.default_value_label = '{{writeString=wns.richtext.links.use_url}}';
			widget.handle('element_set', function() {
				widget._element.appendTo(chooser_element);
				widget._element.change(function() {
					dialog.setValueOf('info', 'url', widget[url_function]());
					dialog.setValueOf('info', 'protocol', '');
				});
			});
		}, jQuery.noop);
		return chooser_element;
	},
	
	set_inline_css: function(css) {
		this.settings.inline_css = css;
		if(this.instance) {
			this.instance.document.appendStyleText(css);
		}
	},
	
	data_to_textarea: function() {
		if(this.instance) {
			this.instance.updateElement();
		}
	},
	
	data_from_textarea: function() {
		if(this.instance) {
			this.instance.setData(this.textarea.val());
		}
	},
	
	get_data: function() {
		if(!this.instance) {
			return this.textarea.val();
		}
		return this.instance.getData();
	},
	
	set_data: function(new_data) {
		var _this = this;
		if(!this.instance) {
			this.textarea.val(new_data);
		} else {
			this.instance.setData(new_data, function() {
				_this.instance.document.appendStyleText(_this.settings.inline_css);
			});
		}
	},
	
	destroy: function() {
		this.instance.destroy();
		delete this.instance;
	},
	
	resize_to: function(width, height) {
		if(!this.editor_contents) {
			this.editor_contents = this._element.find('.cke_contents');
		}
		if(height) {
			this.editor_contents.css('height', ''+height+'px');
		}
		if(width) {
			this.editor_contents.css('width', ''+width+'px');
		}
	}
};
