.cke_button_PickImage .cke_icon {
	background: transparent url('{{writeDirectInclude=admin/tripple_image.png;template=location_only}}') no-repeat scroll 0 0 !important;
}

.cke_dialog_ui_input_select optgroup {
	font-style: italic;
	color: #666;
}

.cke_dialog_ui_input_select option {
	padding-left: 1em;
}

span.cke_dialog {
	display: block;
}

body .cke_dialog .image_browse_area {
	border: 1px solid transparent;
	min-height: 150px;
	max-height: 350px;
	overflow-y: auto;
	white-space: normal;
}

body .cke_dialog .ui-widget-content.ui-image-picker-image {
	height: 100px;
	width: 100px;
	line-height: 1;
	overflow: hidden;
	display: inline-block;
}

body .cke_dialog .ui-widget-content.ui-image-picker-image:after {
	content: " ";
}

body .cke_dialog .ui-image-picker-image img {
	vertical-align: middle;
}

body .cke_dialog .image_browse_area:hover {
	background-color: #f2f2f2;
}

/* clearfix */
body .cke_dialog .image_browse_area:before,
body .cke_dialog .image_browse_area:after {
	content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;
}

body .cke_dialog .image_browse_area:after {
	clear: both;
}

body .cke_dialog .image_browse_area {
	zoom: 1;
	margin-bottom: 6px;
}

body .cke_dialog {
	border: 1px solid #999999;
}

body .cke_dialog .cke_dialog_body {
	border: 0;
}

body .cke_dialog .cke_dialog_title {
	background: #2d3238;
	color: #EFEFEF;
	padding: 0.6em 0.8em 2em;
}

body .cke_dialog .cke_dialog_footer {
	background: #2d3238;
	color: #EFEFEF;
}

body .cke_dialog .cke_dialog_body {
	padding: 0;
}

body .cke_dialog .cke_dialog_body .cke_dialog_close_button {
	background-image: url("{{writeDirectInclude=web/css/admin/theme/images/ui-icons_b9b9b9_256x240.png;template=location_only;fromBase}}");
	background-position: -96px -128px;
	height: 18px;
	right: 5px;
	width: 19px;
}

body .cke_dialog a.cke_dialog_ui_button_cancel,
body .cke_dialog a.cke_dialog_ui_button_cancel:hover,
body .cke_dialog a.cke_dialog_ui_button_ok,
body .cke_dialog a.cke_dialog_ui_button_ok:hover {
	background: url("{{writeDirectInclude=admin/button_gradient_dark.png;template=location_only;}}") repeat scroll 0 0 transparent;
	box-shadow: none;
	border: none;
	padding: 2px 0;
}

body .cke_dialog a.cke_dialog_ui_button span {
	text-shadow: none;
	font-weight: normal;
}

body > .cke_dialog .cke_dialog .cke_dialog_footer {
	background: #2d3238;
	color: #EFEFEF;
}

body .cke_dialog a.cke_dialog_ui_button_cancel span {
	color: #B9B9B9;
}

body .cke_dialog a.cke_dialog_ui_button_ok span {
	color: #E3EF99;
}

body .cke_dialog .ui-state-droppable {
	background-image: url('{{writeDirectInclude=admin/drag_and_drop_sidebar_hover.png;template=location_only}}');
	background-repeat: no-repeat;
	background-position: center right;
}

.cke_dialog_background_cover {
  z-index: 1500 !important;
}
