.cke_button_PickImage .cke_icon {
	background: transparent url('{{writeDirectInclude=admin/tripple_image.png;template=location_only}}') no-repeat scroll 0 0 !important;
}

.cke_dialog_ui_input_select optgroup {
	font-style: italic;
	color: #666;
}

.cke_dialog_ui_input_select option {
	padding-left: 1em;
}

.cke_dialog_background_cover {
  z-index: 1500 !important;
}
