.cke_button_PickImage .cke_icon {
	// background: transparent url('{{writeDirectInclude=admin/folder_picture.png;template=location_only}}') no-repeat scroll 0 0 !important;
	background: transparent url('{{writeDirectInclude=admin/tripple_image.png;template=location_only}}') no-repeat scroll 0 0 !important;
}

.cke_skin_kama.cke_dialog_ui_input_select optgroup {
	font-style: italic;
	color: #666;
}

.cke_skin_kama.cke_dialog_ui_input_select option {
	padding-left: 1em;
}

.cke_skin_kama .image_browse_area {
	min-height: 150px;
}

.cke_skin_kama .image_browse_area:hover {
	background-color: #f2f2f2;
}