<textarea name="{{input_name}}" data-widget-session="{{session_key}}" data-widget-type="rich_text" data-widget-picker-session="{{picker_session_key}}">
	{{text;templateFlag=FORCE_HTML_ESCAPE}}
</textarea>