<form class="page_detail">
	<div class="status_section">
	<h3 class="status">Status</h3>
		<label for="name" style="padding-left:.4em;">{{writeString=widget.page.path_name}}</label><input type="text" name="name" class="ui-widget-content path_input" />
		<a class="page_href" style="font-family:Courier;"></a><br />
		<input type="checkbox" name="global_is_inactive" value="1" /><label class="for_checkbox" for="global_is_inactive">{{writeString=widget.page.global_active}}</label> 
		<input type="checkbox" name="is_hidden" value="1" /><label for="is_hidden" class="for_checkbox">{{writeString=widget.page.hidden}}</label> 
		<input type="checkbox" name="is_protected" value="1" /><label for="is_protected" class="for_checkbox">{{writeString=widget.page.protected}}</label> 
		<input type="checkbox" name="is_folder" value="1" /><label for="is_folder" class="for_checkbox">{{writeString=widget.page.folder}}</label> 
	</div>
	<div class="accordion">
		<h3><a href="#">{{writeString=widget.page.label.template_pagetype}}</a></h3>
		<div class="accordion_content">
			<div class="group_fields">
				<label for="template_name">{{writeString=widget.page.template_name}}</label>
				<select name="template_name" class="ui-widget-content input_short"></select>
			</div>
			<div class="group_fields">
				<label for="page_type">{{writeString=widget.page.page_type}}</label>
				<select name="page_type" class="ui-widget-content input_short"></select>
			</div>
		</div>
		<h3 class="page_properties" style="display:none;"><a href="#">{{writeString=widget.page.label.properties}}</a></h3>
		<div class="page_properties" style="display:none;">
		</div>
		<h3 class="content_tab"><a href="#">{{writeString=widget.page.label.contents}}</a></h3>
		<div class="contents_container">		
		</div>
		<h3 class="page_references" style="display:none;"><a href="#">{{writeString=widget.page.label.references}}<span class="references_count"></span></a></h3>
		<div class="page_references" style="display:none;">
		</div>
	</div>	
	<div>
		<button class="cmos-button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only info-bar-element-page" name="cancel" style="display: block;">Abbrechen</button>
		<button class="cmos-button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only info-bar-element-page" name="delete" style="display: block;">Seite löschen</button>
		<button class="cmos-button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only info-bar-element-page" name="save" style="display: block;">Speichern</button>
	</div>
</form>
