<form class="page_detail">
	<div class="tags_in_detail"></div>
	<div class="status_section">
	<h3 class="status">Status</h3>
		<label for="name" class="validate-page.name_required validate-page.name_unique_required help" title="{{writeString=wns.page.path_name_hint}}" style="padding-left:.4em;">{{writeString=wns.page.path_name}}</label><input type="text" name="name" class="ui-widget-content path_input" />
		<a class="page_href" style="font-family:Courier;"></a><br />
		<input type="checkbox" name="global_is_active" /><label class="for_checkbox help" for="global_is_active" title="{{writeString=wns.page.global_active_hint}}">{{writeString=wns.page.global_active}}</label>
		<input type="checkbox" name="is_hidden" /><label for="is_hidden" class="for_checkbox help" title="{{writeString=wns.page.hidden_hint}}">{{writeString=wns.page.hidden}}</label>
		<input type="checkbox" name="is_protected" /><label for="is_protected" class="for_checkbox help" title="{{writeString=wns.page.protected_hint}}">{{writeString=wns.page.protected}}</label>
		<input type="checkbox" name="is_folder" /><label for="is_folder" class="for_checkbox help" title="{{writeString=wns.page.folder_hint}}">{{writeString=wns.page.folder}}</label>
	</div>
	<div class="accordion">
		<h3 class="content_tab"><a href="#">{{writeString=wns.page.header.description}}</a></h3>
		<div class="contents_container container_with_language_tabs">
		</div>
		<h3 class="content_tab ptat"><a href="#">{{writeString=wns.page.header.contents}}<span class="template_and_page_type">{{writeString=wns.page.header.and_pagetype}}<span class="pagetype_info info"></span>{{writeString=wns.page.header.template}}<span class="template_info info"></span><span class="edit_template_and_page_type ui-my-icon ui-icon-pencil info"></span></span></a></h3>
		<div class="configuration_container page-type-dummy container_with_language_tabs">
		</div>
		<h3 class="page_properties" style="display:none;"><a href="#">{{writeString=wns.page.header.properties}}<span class="properties_info"></span></a></h3>
		<div>
			<label for="canonical_id">{{writeString=wns.page.canonical_id}}</label>
			<select name="canonical_id" data-widget-type="page_input"></select>
			<div class="page_properties" style="display:none;">
			</div>
		</div>
		<h3 class="page_references" style="display:none;"><a href="#">{{writeString=wns.page.header.references}}<span class="references_count"></span></a></h3>
		<div class="page_references" style="display:none;">
		</div>
	</div>
	<div class="page_detail_controls">
		<div class="style_maker">
			<button class="rapila-button ui-button ui-widget ui-state-default" name="delete">{{writeString=wns.page.delete}}</button>
			<button class="rapila-button ui-button ui-widget ui-state-default" name="cancel">{{writeString=wns.cancel}}</button>
			<button class="rapila-button ui-button ui-widget ui-state-default ui-state-active" name="save">{{writeString=wns.save}}</button>
		</div>
	</div>
</form>
