<div class="panel_content">
	<div class="group_label">
		<label for="page_title" class="autowidth">{{writeString=widget.page.page_title}}</label>
		<input type="text" name="page_title" class="ui-widget-content input_long" />
		<input type="hidden" name="edited_languages[]" />
	</div>
	<div class="group_label">
		<label for="link_text">{{writeString=widget.page.link_text}}</label>
		<input type="text" name="link_text" class="ui-widget-content autowidth" />
	</div>
	<div class="group_label">
		<label class="for_checkbox" for="is_inactive">{{writeString=widget.page.active}}</label>			
		<input type="checkbox" name="is_inactive" value="1" />
	</div>
	<br style="clear:both;" />
	<div class="group_label">
		<label for="meta_description" class="autowidth">{{writeString=widget.page.meta_description}}</label>
		<input type="text" name="meta_description" class="ui-widget-content" style="width:48em;" />
	</div>
	<br style="clear:both;" />
	<div class="group_label">
		<label for="meta_keywords" class="autowidth">{{writeString=widget.page.meta_keywords}}</label>
		<input type="text" name="meta_keywords" class="ui-widget-content" style="width:48em;"/>
	</div>
	<br style="clear:both;" />
</div>
