<form>
	<div class="group_fields">
		<label for="page_type">{{writeString=wns.page.page_type}}</label>
		<select name="page_type" class="ui-widget-content input_short"></select>
	</div>
	<div class="group_fields">
		<label for="template_name">{{writeString=wns.page.template_name}}</label>
		<select name="template_name" class="ui-widget-content input_short"></select>
	</div>
	<p>{{writeString=wns.page.page_type_and_template_info}}</p>
</form>
