form.page_detail select[name='template_name'] option.default {
	font-style: italic;
}

.ui-widget-content.path_input {
	font-family: Courier;
	background: url() #EBEDEF;
	font-size: 1.0em;
	margin-right: 2em;
	margin-left: 1em;
}

input.path_input.ui-widget-content:hover,
input.path_input.ui-widget-content:selected {
	background: url() #fff;
}

.page_properties_container span {
	margin-left: 1em;
}

fieldset.page_properties_container {
	margin-top: 1em;
	margin-left: 0;
	padding-left:.2em;
	border: 1px solid #DFE1E3;
	display: none;
}

fieldset.page_properties_container legend {
	margin-left: -.3em;
	padding-left: 0 .3em;
}

div.container {
	background-color: #f2f2f2;
	border-bottom: #DDD 1px solid;
}

.contents_container {
/*	min-height: 30px;*/
}

.contents_container h4 {
	margin: 0;
	padding: .2em 0;
}

.page_detail_controls {
	background: #ebedef;
	border-top: 1px solid white;
	bottom: 25px;
	height: 29px;
	left: 0;
	padding: 0.5em 8em 0 0.5em;
	position: fixed;
	right: 0;
	text-align: right;
}
.page_detail_controls button {
	color: #666666;
	background: url("{{writeConstantValue=INT_IMAGES_DIR_FE}}/admin/button_gradient_bright.png") repeat-x 0 bottom;
	float: right;
}
.page_detail_controls button[name=save] {
	color: #E3EF99;
	background: url("{{writeConstantValue=INT_IMAGES_DIR_FE}}/admin/button_gradient_dark.png");
	float: right;
}

body.pages #admin_main {
	border-bottom: 37px solid #C1C2C4;
}

