Widget.types.page_detail = {
	prepare: function() {
		var widget = this;
		this.accordion = jQuery(this._element.find('div.accordion')).
		accordion({active: 0, autoHeight: false, clearStyle: true}).
		bind('accordionchangestart', function(event, ui) {
			if(!ui.newContent.is('.contents_container')) {
				return;
			}
			widget.load_content(ui.newContent.find('.contents'));
		});
		
		this.content_has_been_loaded = false;
		this.current_page_id = null;
		
		// templates
		var option = jQuery('<option/>');
		var template_select = this._element.find("select[name='template_name']");
		jQuery.each(this.getFrontendTemplates(), function(i, template) {
			option.clone().text(template.name).attr('value', template.value).appendTo(template_select);
		}.bind(this));
		var page_type_select = this._element.find("select[name='page_type']");
		jQuery.each(this.getPageTypes(), function(i, page_type) {
			option.clone().text(page_type.name).attr('value', page_type.value).appendTo(page_type_select);
		}.bind(this));
		this._element.find('label[for]').bind('click', function() {
			var related_input = widget._element.find("*[name='"+jQuery(this).attr('for')+"']");
			related_input.focus();
			if(related_input.is(':checkbox, :radio') && related_input.attr('disabled') == false) {
				related_input.attr('checked', !related_input.attr('checked'));
			} else {
				related_input.select();
			}
		});
		this._element.bind('keyup', function(event) {
			if(this.current_page_id === null) {
				return;
			}
			if(event.which == 13) {
				this.save();
			}
		}.bind(this));
	},
	
	disable_input: function() {
		this._element.find('input, textarea, button').attr('disabled', 'disabled');
	},
	
	enable_input: function() {
		this._element.find('input, textarea, button').attr('disabled', null);
	},
	
	accordion_active: function() {
		var accordion_headers = this._element.find('div.accordion h3');
		var result = null;
		accordion_headers.each(function(i, element) {
			element = jQuery(element);
			if(element.hasClass('ui-state-active')) {
				result = element;
				return false;
			}
		});
		return result;
	},
	
	load_page: function(page_id) {
		this.fire('page.loading', page_id);
		var page_detail = jQuery('form.page_detail');
		page_detail.hide();
		this.content_has_been_loaded = false;
		this.setPageId(page_id);
		this.fill_data();
		var active_accordion_title = this.accordion_active();
		if(active_accordion_title.next().is('.contents_container')) {
			var contents_container = active_accordion_title.next().find('.contents');
			this.load_content(contents_container);
		}
		page_detail.show();
		this.fire('page.loaded', page_id);
	},

	load_content: function(container) {
		var widget = this;
		if(this.current_page_id === null || this.content_has_been_loaded) {
			return;
		}
		container.empty();
		this.content_has_been_loaded = 1;
		Widget.create('page_type', function(page_type) {
			//Intermediate callback
			page_type.settings.page_type = widget._element.find("select[name='page_type']").val();
			page_type.settings.container = container;
			page_type.settings.page_id = widget.current_page_id;
		}, function(page_type) {
			//Initialized callback
			page_type.handle_admin();
			widget.content_has_been_loaded = true;
		});
	},
	
	fill_data: function() {
		var page_data = this.getPageData();
		var widget = this;
		this.current_page_id = page_data.Id;
		console.log(page_data.active_page_string.IsInactive, page_data.IsInactive);
		this._element.find("input[name='name']").val(page_data.Name);
		this._element.find("input[name='link_text']").val(page_data.active_page_string.LinkTextOnly);
		this._element.find("input[name='page_title']").val(page_data.active_page_string.PageTitle);
		this._element.find("input[name='global_is_inactive']").attr('checked', !page_data.IsInactive);
		this._element.find("input[name='is_inactive']").attr('checked', !page_data.active_page_string.IsInactive);
		this._element.find("input[name='is_folder']").attr('checked', page_data.IsFolder);
		this._element.find("input[name='is_hidden']").attr('checked', page_data.IsHidden);
		this._element.find("input[name='is_protected']").attr('checked', page_data.IsProtected);
		this._element.find("select[name='template_name']").val(page_data.TemplateName == null ? "" : page_data.TemplateName);
		this._element.find("select[name='page_type']").val(page_data.PageType == null ? "" : page_data.PageType).change(function() {
			widget.content_has_been_loaded = false;
		});
		this._element.find(".page_href").text(page_data.PageHref).attr('href', page_data.PageHref);

		// references
		var count_references = page_data.CountReferences;
		var count_text = count_references > 0 ? " ("+count_references+")" : '';
		if(count_references == 0) {
			this._element.find(".page_references").remove();
		} else {
			this._element.find(".references_count").text(count_text);
		}

		// page languages
		if(page_data.page_languages != undefined) {
			// console.log(page_data.page_languages);
		}
		// page_properties
		if(page_data.page_properties != undefined) {
			var page_properties_container = this._element.find("div.page_properties");
			page_properties_container.empty();
			var default_name = "{{writeString=widget.default}}";
			for(property_name in page_data.page_properties) {
				var property_container = jQuery("<div/>");
				property_container.append(jQuery('<label/>').text(property_name.substring(page_data.NameSpace.length)).attr("for", property_name));
				for(name in page_data.page_properties[property_name]) {
					if(name === 'value') {
						var background_color  ='';
						if(page_data.page_properties[property_name]['type'] == 'color') {
							background_color = page_data.page_properties[property_name][name] != '' ? page_data.page_properties[property_name][name] : page_data.page_properties[property_name]['default']
						}
						var type_class = page_data.page_properties[property_name]['type'] ? ' '+page_data.page_properties[property_name]['type'] : '';
						var property_input = jQuery('<input/>').attr({"name": property_name, "class" : 'ui-widget-content'+type_class, "value": page_data.page_properties[property_name][name], 'style' : 'background-color:'+background_color+';'});
						property_container.append(property_input);
					}
					if(name === 'default') {
						property_container.append(jQuery('<span/>').text(default_name+": "+page_data.page_properties[property_name][name]));
					}
				}
				page_properties_container.append(property_container);
			} 
		}	else {
			this._element.find(".page_properties").remove();
		}
	},
	
	delete_page: function() {
		this.deletePage();
	},
	
	save: function() {
		this.saveData(this._element.serializeArrayKV(), function() {
			this.fill_data();
			this.fire('saved');
		});
	},
	
	settings: {
		
	}
};
