Widget.types.page_detail = {
	prepare: function() {
		var _this = this;
		this.accordion = jQuery(this._element.find('div.accordion')).
		accordion({active: 0, autoHeight: false, clearStyle: true}).
		bind('accordionchangestart', function(event, ui) {
			if(ui.newContent.is('.contents_container')) {
				_this.load_content(ui.newContent);
			} else if(ui.newContent.is('.configuration_container')) {
				_this.load_configuration(ui.newContent);
			}
		});
		
		//Init buttons
		var buttons = this._element.find('.page_detail_controls');
		buttons.find('[name=save]').addClass('primary ui-state-active').click(function() {
			_this.save();
			return false;
		});
		buttons.find('[name=cancel]').click(function() {
			_this.load_page(_this.current_page_id);
			_this.enable_input();
			return false;
		});
		buttons.find('[name=delete]').click(function() {
			Widget.confirm("{{writeString=widget.delete_confirm}}", "{{writeParameterizedString=widget.page.delete_alert;name=$\{name\};}}".replace(/\$\{name\}/, _this.current_page_name()), function(confirmed) {
				if(confirmed) {
					_this.delete_page();
				}
			});
			return false;
		});
		
		this.description_has_been_loaded = false;
		this.configuration_has_been_loaded = false;
		this.current_page_id = null;
		
		// templates
		var option = jQuery('<option/>');
		var template_select = this._element.find("select[name='template_name']");
		jQuery.each(this.getFrontendTemplates(), function(i, template) {
			option.clone().text(template.name).attr('value', template.value).appendTo(template_select).addClass(template.is_default ? 'default' : '');
		}.bind(this));
		var page_type_select = this._element.find("select[name='page_type']");
		jQuery.each(this.getPageTypes(), function(i, page_type) {
			option.clone().text(page_type.name).attr('value', page_type.value).appendTo(page_type_select);
		}.bind(this));
		Widget.callStaticWidgetMethod('detail', 'clickable_labels_for', this._element);
		// this._element.find('input').each(function(i, input) {
		// 	jQuery(input).keyup(function() {
		// 		console.log(this);
		// 	});
		// });
		this._element.bind('keyup', function(event) {
			if(this.current_page_id === null) {
				return;
			}
			if(event.which == 13) {
				this.save();
			}
		}.bind(this));
	},
	
	disable_input: function() {
		this._element.find('input, textarea, button').attr('disabled', 'disabled');
	},
	
	enable_input: function() {
		this._element.find('input, textarea, button').attr('disabled', null);
	},
	
	accordion_active: function() {
		var accordion_headers = this._element.find('div.accordion h3');
		var result = null;
		accordion_headers.each(function(i, element) {
			element = jQuery(element);
			if(element.is('.ui-state-active')) {
				result = element;
				return false;
			}
		});
		return result;
	},
	
	load_page: function(page_id) {
		this.fire('loading', page_id);
		this.description_has_been_loaded = false;
		this.configuration_has_been_loaded = false;
		this.setPageId(page_id);
		this.fill_data();
		var active_accordion_title = this.accordion_active();
		var contents_container = this._element.find('div.accordion .contents_container');
		var configuration_container = this._element.find('div.accordion .configuration_container');
		contents_container.empty();
		if(active_accordion_title.next().is('.contents_container')) {
			this.load_content(contents_container);
		}
		configuration_container.empty();
		if(active_accordion_title.next().is('.configuration_container')) {
			this.load_configuration(configuration_container);
		}
		this.fire('loaded', page_id);
	},

	load_content: function(container) {
		var _this = this;
		if(this.current_page_id === null || this.description_has_been_loaded === true) {
			return;
		}
		
		this.description_has_been_loaded = true;
		var active_languages = this.getActiveLanguages();
		Widget.createWithElement('language_tabs', function(widget) {
			widget.settings.active_languages = active_languages;
			widget.handle('element_set', function(event, element) {
				container.append(element);
			});
		}, function(language_tabs) {
			language_tabs.handle('tab.created', function(event, language_id, tab_content) {
				tab_content.append(jQuery.parseHTML('{{includeTemplate=edit_language}}'));
				var language_data = _this.getLanguageData(language_id);
				tab_content.find("input[name='edited_languages[]']").val(language_id);
				tab_content.find("input[name='link_text[]']").val(language_data.LinkTextOnly);
				tab_content.find("input[name='page_title[]']").val(language_data.PageTitle);
				tab_content.find("input[name='meta_description[]']").val(language_data.MetaDescription);
				tab_content.find("input[name='meta_keywords[]']").val(language_data.MetaKeywords);
				tab_content.find("input[name='is_active[]']").attr('checked', !language_data.IsInactive);
			}, false, true);
		});
	},
	
	load_configuration: function(container) {
		var _this = this;
		if(this.current_page_id === null || this.configuration_has_been_loaded === true) {
			return;
		}
		this.configuration_has_been_loaded = true;
		
		var active_languages = this.getActiveLanguages();
		Widget.createWithElement('language_tabs', function(widget) {
			widget.settings.active_languages = active_languages;
			widget.handle('element_set', function(event, element) {
				container.append(element);
			});
		}, function(language_tabs) {
			language_tabs.handle('tab.created', function(event, language_id, tab_content) {
				tab_content.append(jQuery.parseHTML('{{includeTemplate=edit_config_language}}'));
				
				var page_type_configuration = tab_content.find('.panel_content');
				Widget.create('page_type', function(page_type) {
					//	Intermediate callback
					page_type.settings.page_type = _this._element.find("select[name='page_type']").val();
					page_type.settings.container = page_type_configuration;
					page_type.settings.page_id = _this.current_page_id;
					page_type.settings.language_id = language_id;
				}, function(page_type) {
					page_type.handle_admin();
				});
			}, false, true);
		});
	},

	
	fill_data: function() {
		var _this = this;
		var page_data = this.getPageData()
		this.current_page_id = page_data.Id;
		this._element.find("input[name='name']").val(page_data.Name);
		this._element.find("input[name='global_is_active']").attr('checked', !page_data.IsInactive);
		this._element.find("input[name='is_folder']").attr('checked', page_data.IsFolder);
		this._element.find("input[name='is_hidden']").attr('checked', page_data.IsHidden);
		this._element.find("input[name='is_protected']").attr('checked', page_data.IsProtected);
		this._element.find("select[name='template_name']").val(page_data.TemplateName == null ? "" : page_data.TemplateName);
		this._element.find("select[name='page_type']").val(page_data.PageType == null ? "" : page_data.PageType).change(function() {
			_this.configuration_has_been_loaded = false;
		});
		this._element.find(".page_href").text(page_data.PageHref).attr('href', page_data.PageHref);

		// references
		var count_references = page_data.CountReferences;
		var count_text = count_references > 0 ? " ("+count_references+")" : '';
		if(count_references == 0) {
			this._element.find(".page_references").remove();
		} else {
			this._element.find(".references_count").text(count_text);
		}

		// page_properties
		var page_properties_container = this._element.find("div.page_properties");
		var page_properties_header = this._element.find("h3.page_properties");

		if(page_data.page_properties != undefined) {
			page_properties_container.empty().show();
			page_properties_header.show();
			var default_name = "{{writeString=widget.default}}";
			for(property_name in page_data.page_properties) {
				var property_container = jQuery("<div/>");
				property_container.append(jQuery('<label/>').text(property_name.substring(page_data.PagePropertyNameSpace.length)).attr("for", property_name));
				for(name in page_data.page_properties[property_name]) {
					if(name === 'value') {
						var background_color ='';
						if(page_data.page_properties[property_name]['type'] == 'color') {
							background_color = page_data.page_properties[property_name][name] != '' ? page_data.page_properties[property_name][name] : page_data.page_properties[property_name]['default']
						}
						var type_class = page_data.page_properties[property_name]['type'] ? ' '+page_data.page_properties[property_name]['type'] : '';
						var property_input = jQuery('<input/>').attr({"name": property_name, "class" : 'ui-widget-content'+type_class, "value": page_data.page_properties[property_name][name], 'style' : 'background-color:'+background_color+';'});
						property_container.append(property_input);
					}
					if(name === 'default') {
						property_container.append(jQuery('<span/>').text(default_name+": "+page_data.page_properties[property_name][name]));
					}
				}
				page_properties_container.append(property_container);
			} 
		} else {
			page_properties_header.hide();
		}
		page_properties_container.hide();
	},
	
	current_page_name: function() {
		return this._element.find("input[name='name']").val();
	},
	
	delete_page: function() {
		this.disable_input();
		this.deletePage(this.settings.delete_callback);
	},
	
	save: function() {
		this.saveData(this._element.serializeArrayKV(), function() {
			this.fill_data();
			this.fire('saved');
		});
	},
	
	settings: {
		delete_callback: jQuery.noop
	}
};
