form.page_detail select[name='template_name'] option.default {
	font-style: italic;
}

.ui-widget-content.path_input {
	font-family: Courier;
	background: url() #EBEDEF;
	font-size: 1.0em;
	margin-right: 2em;
	margin-left: 1em;
}

input.path_input.ui-widget-content:hover,
input.path_input.ui-widget-content:selected {
	background: url() #fff;
}

.page_properties_container span {
	margin-left: 1em;
}

fieldset.page_properties_container {
	margin-top: 1em;
	margin-left: 0;
	padding-left:.2em;
	border: 1px solid #DFE1E3;
	display: none;
}

fieldset.page_properties_container legend {
	margin-left: -.3em;
	padding-left: 0 .3em;
}

div.container {
	background-color: #f2f2f2;
	border-bottom: #DDD 1px solid;
}

.contents_container {
/*	min-height: 30px;*/
}

.contents_container h4 {
	margin: 0;
	padding: .2em 0;
}



