.ui-widget-content.path_input {
	font-family: Courier;
	background: url() #EBEDEF;
	font-size: 1.0em;
	margin-right: 2em;
	margin-left: 1em;
}

input.path_input.ui-widget-content:hover,
input.path_input.ui-widget-content:selected {
	background: url() #fff;
}

.page_properties_container span {
	margin-left: 1em;
}

fieldset.page_properties_container {
	margin-top: 1em;
	margin-left: 0;
	padding-left:.2em;
	border: 1px solid #DFE1E3;
	display: none;
}

fieldset.page_properties_container legend {
	margin-left: -.3em;
	padding-left: 0.3em;
}

div.container {
	background-color: #f2f2f2;
	border-bottom: #DDD 1px solid;
}

.contents_container h4 {
	margin: 0;
	padding: .2em 0;
}

.page_detail_controls {
	height: 36px;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 25px;
	background: #ebedef;
	border-top: 1px solid #C1C2C4;
}

.page_detail_controls button {
}

.page_detail_controls button[name=save] {
	background: url("{{writeConstantValue=INT_IMAGES_DIR_FE}}/admin/button_gradient_dark.png");
}

.page_detail_controls button.ui-button.ui-state-default[name=cancel],
.page_detail_controls button.ui-button.ui-state-default[name=delete] {
	color: #666666;
	background: url("{{writeConstantValue=INT_IMAGES_DIR_FE}}/admin/button_gradient_bright.png") repeat-x 0 bottom;
	border-color: #999999;
}

.page_detail_controls div {
	height: 100%;
	border-top: 1px solid #FFF;
	padding: 0.5em 8em 0;
	float: right;
}

body.pages #admin_main {
	border-bottom: 37px solid transparent;
}

.delete_drop_zone {
	font-size: 1.5em;
	float: left;
	height: 100%;
	margin: 23px 2px 2px 20px;
	padding: 0px;
	min-height: 150px;
	width: 61px;
}

.delete_drop_zone span {
	color: transparent;
}

.delete_drop_zone.ui-state-draggable span {
	color: #ccc;
}

.delete_drop_zone.ui-state-droppable span {
	color: #f00;
}

div.delete_drop_zone.ui-droppable {
	background: transparent url("{{writeConstantValue=INT_IMAGES_DIR_FE}}/admin/content_object_trash.png") no-repeat 0 center !important;
	border-color: transparent !important;
}

div.delete_drop_zone.ui-state-droppable {
	background: transparent url("{{writeConstantValue=INT_IMAGES_DIR_FE}}/admin/content_object_trash.png") no-repeat -61px center   !important;
	border-color: transparent !important;
}

.page_detail > .accordion > .ui-accordion-content,
.page_detail > .accordion > .ui-accordion-content > .ui-tabs > .ui-tabs-panel,
.page_detail > .accordion > .ui-accordion-content > form > .ui-tabs > .ui-tabs-panel {
	padding: 0 0 0 26px;
}

.page_detail > .accordion > .ui-accordion-content {
	border: none;
	padding-bottom: 20px;
}

.page_detail > .accordion > .ui-accordion-content > .ui-tabs > .ui-tabs-nav.ui-widget-header,
.page_detail > .accordion > .ui-accordion-content > form > .ui-tabs > .ui-tabs-nav.ui-widget-header {
	padding-left: 26px;
}

.page_detail > .accordion > .ui-accordion-content > .ui-tabs,
.page_detail > .accordion > .ui-accordion-content > form > .ui-tabs {
	margin-left: -26px;
	border: none;
}

#admin_sidebar input {
	font-size: 1.1em;
	padding:.3em .4em;
	margin-left: 1.2em
}

a.page_href {
	color: #333;
	text-decoration: underline;
}

