<div class="page_property_container">
	<label for="page_property[]"></label><input name="page_property[]" class="ui-widget-content"/><span> {{writeString=wns.default}}: <span class="page_property_default_name"></span></span>
</div>