Widget.types.page_detail = {
	initialize: function() {
		this.content = jQuery("{{includeTemplate=edit}}");
		Widget.create('detail', function(widget) {
			this.detail_widget = widget;
			jQuery.extend(widget.settings, {
				title: "{{writeString=page.create}}",
				width: 600,
				save_callback: this.save.bind(this)
			});
			widget.content = this.content;
			if(this.auto_open) {
				this.open();
			}
		}.bind(this));
	},
	
	open: function() {
		if(!this.detail_widget) {
			this.auto_open = true;
			return false;
		}
		this.detail_widget.open();
	},
	
	fill_data: function() {
		this.getPageData(function(page_data) {
			this.content.find("input[name='name']").val(page_data.Name);
			this.detail_widget.set_title(this.detail_widget.settings.title = page_data.Name);
			this.content.find("input[name='is_inactive']").attr('checked', document_data.IsInactive);
			this.content.find("input[name='is_folder']").attr('checked', document_data.IsFolder);
			this.content.find("input[name='is_hidden']").attr('checked', document_data.IsHidden);
			this.content.find("input[name='is_protected']").attr('checked', document_data.IsProtected);
		});
	},
	
	save: function() {
		this.saveData(this.content.serializeArrayKV(), this.save_callback);
		return true;
	},
	
	close: function() {
		this.detail_widget.close();
		this.close_callback();
	},
	
	save_callback: jQuery.noop,
	close_callback: jQuery.noop
};