{{identifierContext=start;name=links_edit_link}}<fieldset class="divider edit_module_content">
  <div class="form_message content_edit_links">{{links_edit_link}}</div>
</fieldset>{{identifierContext=end;name=links_edit_link}}
<fieldset class="divider"><legend class="toggler open">{{writeString=content.edit_configuration}}</legend>
<label for="tags">{{writeString=content_edit.choose_tags}}</label><select id="tags" name="tags[]" multiple="multiple" style="height:auto;">{{tags}}</select><br />
<label for="list_template">{{writeString=list_template}}</label><select id="list_template" name="list_template">{{list_templates}}</select>
</fieldset>
