<h1>{{quoteString=\{\{name\}\};alternate=true;defaultValue=\{\{writeString=new_entry\}\}}}</h1>
<form action="{{action}}" method="post">
<fieldset><legend>{{writeString=tag}} [id:{{id}}]</legend>
  <input type="hidden" name="id" value="{{id}}" />
  <label for="name">{{writeString=name}}</label>
  <input type="text" name="name" value="{{name}}" readonly="readonly" />
</fieldset>
<fieldset class="divider nolegend">
  <label></label><button type="submit" title="{{writeString=save}}"></button>
</form>
</fieldset>
<fieldset><legend class="toggler open">{{writeString=tag_instances}}</legend>
{{tag_instances}}
</fieldset>
