<form class="inline" action="{{action}}" method="post">
  <input type="hidden" name="model_name" value="{{model_name}}" />
  <input type="hidden" name="tagged_item_id" value="{{tagged_item_id}}" />
  <input type="hidden" name="action" value="delete_instance" />
  <button type="submit" class="delete"></button>
  {{model_name}} {{quoteString=\{\{name\}\}}}
</form><br />
