<audio src="{{src}}" controls="controls" width="{{width}}">
	<object data="{{src}}"{{identifierContext=start;name=width}} width="{{width}}"{{identifierContext=end;name=width}}{{identifierContext=start;name=height}} height="{{height}}"{{identifierContext=end;name=height}} type="{{mimeType}}">
	  <param name="src" value="{{src}}" />
		{{content}}
	</object>
</audio>