Widget.types.tag_panel = {
	initialize: function() {
		var _this = this;
		this.panel = jQuery('<div/>').addClass('tag_panel ui-corner-all ui-widget-content').css({visibility: 'hidden'}).appendTo(document.body).css(this.settings.panel_style);
		Widget.createWithElement('tag_area', function(tag_area) {
			tag_area.handle('element_set', function(event, element) {
				_this.panel.prepend(element);
				_this.panel.prepend(jQuery('<a/>').addClass('close_panel').text('x').bind('click', function() {
					_this.hide('right');
				}));
			});
		}, function(tag_area) {
			_this.tag_area = tag_area;
		});
		this.admin_area = jQuery('<div/>').addClass('admin_area').appendTo(this.panel);
		var new_tag = jQuery('<input/>').addClass('ui-widget-content').attr('type', 'text').appendTo(this.admin_area);
		var create_new_tag = jQuery('<button/>').text('{{writeString=wns.tag.add}}').appendTo(this.admin_area).button({disabled: true});
		new_tag.bind('keyup', function(event) {
			if(jQuery.trim(new_tag.val())) {
				create_new_tag.button('enable');
			} else {
				create_new_tag.button('disable');
			}
			if(event.keyCode === 13) {
				create_new_tag.click();
			}
			if(event.keyCode === 27) {
				_this.hide();
			}
		});
		create_new_tag.bind('click', function(event) {
			if(!create_new_tag.button('option', 'disabled')) {
				_this.tag_area.append_tag(jQuery.trim(new_tag.val()));
				new_tag.val('');
				create_new_tag.button('option', 'disabled', true);
			}
		});
	},

	is_visible: function() {
		if(this.panel.css('visibility') === 'hidden') {
			return false;
		}
		return this.panel.is(":visible");
	},

	hide: function(to) {
		if(this.panel.css('visibility') === 'hidden') {
			this.panel.hide().css('visibility', '');
		}
		if(!to) {
			to = 'above'; //Currently the only supported orientation
		}
		var destination = {opacity: 0};
		if(to === 'above' || to === 'below') {
			destination[to === 'above' ? 'top' : 'bottom'] = -this.panel.height();
		} else {
			destination[to] = -this.panel.width();
		}
		this.panel.animate(destination, {complete: jQuery.fn.hide.bind(this.panel)});
	},

	show_at: function(origin, from) {
		origin = jQuery.extend({
			left: undefined,
			right: undefined,
			top: undefined,
			bottom: undefined
		}, origin);
		if(this.panel.css('visibility') === 'hidden') {
			this.panel.hide().css('visibility', '');
		}
		if(!from) {
			from = 'above'; //Currently the only supported orientation
		}
		var initial = jQuery.extend({opacity: 0}, origin);
		if(from === 'above') {
			initial.top = -this.panel.height();
		} else if(from === 'below') {
			initial.bottom = -this.panel.height();
		} else if(from === 'left') {
			initial.left = -this.panel.width();
		} else if(from === 'right') {
			initial.right = -this.panel.width();
		}
		this.panel.css(initial);
		this.panel.show();
		var destination = jQuery.extend({opacity: 1}, origin);
		this.panel.animate(destination);
	},

	toggle_at: function(origin, from) {
		if(this.is_visible()) {
			this.settings.is_open = false;
			this.hide(from);
		} else {
			this.settings.is_open = true;
			this.show_at(origin, from);
		}
	},

	settings: {
		panel_style: {
			width: null,
			height: null
		},
		is_open: false
	}
};