.tag_panel {
	position: absolute;
	background-color: white;
	width: 300px;
	min-height: 200px;
	z-index: 20;
}

.tag_panel .admin_area {
	position: absolute;
	bottom: 0px;
}

.tag_panel .admin_area input {
	float: left;
	width: 200px;
}

.tag_panel .tag_area {
	margin: 1em;
}
