.tag_panel {
	position: absolute;
	background-color: white;
	width: 300px;
	z-index: 20;
}

.close_panel {
	display: block;
	cursor: pointer;
	float: left;
	color: #fff;
	padding: 5px;
}

.tag_panel.ui-widget-content {
	background-color: #888;
	z-index: 10000;
}

.tag_panel .admin_area {
	position: absolute;
	bottom: 0px;
}

.tag_panel .admin_area input {
	margin: 0.5em;
	width: 190px;
}

.tag_panel button {
	margin-bottom: 0.2em;
}

.tag_panel .tag_area {
/*	margin: 0.6em;*/
	/* for lots of tags, should be improved to fixed bottom space */
	height: 86%;
	overflow-y: scroll;
}
