jQuery(document).ready(function() {
	// init main content
	AdminInterface.content.find('table.link_category_list').prepareWidget(function(link_category_list) {
		// init sidebar
		AdminInterface.info_bar.prepareWidget(function(info_bar) {
			info_bar.add_button('add-new-item', function() {
				Widget.create('link_category_detail', function(widget) {
					widget.open();
					widget.save_callback = function() {
						link_category_list.reload();
					};
				});
			}, 'n', true).add_search_input("{{writeString=wns.search.enter_search}}", function(search) {
				if(link_category_list.setSearch(search)) {
					link_category_list.reload();
				}
			});
			
			// add row_count_info
			info_bar.add_row_count_info_for_list(link_category_list);
		});
	});
});