jQuery(document).ready(function() {
 	AdminInterface.content.find('table.link_category_list').prepareWidget(function(link_category_list) {

		// Add info_bar elements
		AdminInterface.info_bar.prepareWidget(function(info_bar) {
			info_bar.add_button('add-new-item', function() {
				Widget.create('link_category_detail', function(widget) {
					widget.open();
				});
			}, 'n', true).add_search_input("{{writeString=wns.search.enter_search}}", function(search) {
				if(link_category_list.setSearch(search)) {
					link_category_list.reload();
				}
			}).add_row_count_info_for_list(link_category_list).add_pager_for_list(link_category_list);
		});
	});
});