jQuery(document).ready(function() {
	jQuery('table.document_category_list').each(function() {
		jQuery(this).prepareWidget(function(widget) {
			Widget.callStaticWidgetMethod('detail', 'connect_detail_with_list', 'document_category', widget, 'setCategoryId');
			widget.handle('list.cell-click', function(event, rowIndex, col, row, cell) {
				if(col.identifier === 'delete') {
					var file_name = widget.cell_for_identifier('name', row).text();
					var delete_message = AdminInterface.strings.get_parameterized_string('widget.document_category.delete_warning', { document_category: file_name});
					Widget.confirm("{{writeString=wns.delete_warning_title}}", delete_message, function(confirmed) {
						if(confirmed) {
							this.delete_row(row);
						}
					}.bind(this));
					event.stopPropagation();
				}
				if(col.identifier === 'is_inactive') {
					this.toggle_boolean(row, col.identifier);
					event.stopPropagation();
				}
			});
			widget.handle('list.cell-hover', function(event, rowIndex, col, row, cell) {
				if(col.identifier === 'is_inactive' || col.identifier === 'is_protected' || col.identifier === 'delete') {
					cell.css({cursor: 'pointer'});
				}
			});
		});
	});
});
