Widget.types.language_input = {
	prepare: function() {
		var option = jQuery('<option/>');
		// wrap select name language_id if option return_options_only is set to false
		if(!this.settings.use_admin_languages && this.settings.hide_on_monolingual && this.settings.is_monolingual) {
			this._element.next('br').hide();
			this._element.parent().find('label[for="'+this._element.attr('name').escapeSelector()+'"]').hide();
			this._element.hide();
			var selected = this.getSelectedLanguageId();
			if(selected) {
				option.text(selected).attr('value', selected).appendTo(this._element);
				this._element.val(selected);
			}
			return false;
		}
		var languages = this.getLanguages(this.settings.use_admin_languages);
		jQuery.each(languages, function(i, language) {
			option.clone().text(language.language_name).attr('value', language.id).appendTo(this._element);
		}.bind(this));
		if(this.settings.international_option) {
			option.text(this.settings.international_option).val('').prependTo(this._element);
		}
		
		//Add change handler
		this._element.change(function() {
			if(this.settings.store_value) {
				this.setSelectedLanguageId(this._element.val());
			}
			this.fire('value-changed', this._element.val());
		}.bind(this));
		var current_value = this.getSelectedLanguageId();
		if(current_value === null) {
			current_value = '';
		}
		this._element.val(current_value);
	},
	
	val: function() {
		return this._element.val();
	},
	
	settings: {
		international_option: "{{writeString=wns.language.international}}",
		hide_on_monolingual: true,
		use_admin_languages: false,
		store_value: false
	}
};