  <fieldset style="margin-top:.5em;">
    <legend style="padding-top:.5em;">{{writeString=legend_group_rights}}</legend>
    <label for="add_right">{{writeString=create_new_entry}}</label><button type="button" class="new" id="add_right" title="{{writeString=create_new_right}}">&nbsp;</button>
    <div id="user_rights">
      {{group_rights}}
    </div>
  </fieldset>