<div class="urights">
  <label for="page_id_{{right_id}}">{{writeString=page}}</label>
  <div class="grouped_items">
    <select id="page_id_{{right_id}}" name="page_id_{{right_id}}">
      {{options_pages}}
    </select>
    <input type="hidden" name="right_numbers[]" value="{{right_id}}" />
    <label class="edit autowidth" for="may_edit_page_details_{{right_id}}" title="{{writeString=right_may_edit_page_details}}">&nbsp;</label>
    <input type="checkbox" name="may_edit_page_details_{{right_id}}" id="may_edit_page_details_{{right_id}}" value="1" {{may_edit_page_details}} />
    <label class="edit_content autowidth" for="may_edit_page_contents_{{right_id}}" title="{{writeString=right_may_edit_page_contents}}">&nbsp;</label>
    <input type="checkbox" name="may_edit_page_contents_{{right_id}}" id="may_edit_page_contents_{{right_id}}" value="1" {{may_edit_page_contents}} />
    <label class="delete autowidth" for="may_delete_{{right_id}}" title="{{writeString=right_may_delete}}">&nbsp;</label>
    <input type="checkbox" name="may_delete_{{right_id}}" id="may_delete_{{right_id}}" value="1" {{may_delete}} />
    <label class="new autowidth" for="may_create_children_{{right_id}}" title="{{writeString=right_may_create_children}}">&nbsp;</label>
    <input type="checkbox" name="may_create_children_{{right_id}}" id="may_create_children_{{right_id}}" value="1" {{may_create_children}} />
    <label class="view autowidth" for="may_view_page_{{right_id}}" title="{{writeString=right_may_view_page}}">&nbsp;</label>
    <input type="checkbox" name="may_view_page_{{right_id}}" id="may_view_page_{{right_id}}" value="1" {{may_view_page}} />
    <label class="inherit autowidth" for="is_inherited_{{right_id}}" title="{{writeString=right_is_inherited}}">&nbsp;</label>
    <input type="checkbox" name="is_inherited_{{right_id}}" id="is_inherited_{{right_id}}" value="1" {{is_inherited;defaultValue=checked="checked"}} />
  </div>
</div>