  <fieldset style="margin-top:.5em;">
    <legend class="toggler">{{writeString=group.legend_right}}</legend>
    <label for="add_right">{{writeString=general.create}}</label><button type="button" class="new" id="add_right" title="{{writeString=right.create}}">&nbsp;</button>
    <div id="user_rights">
      {{group_rights}}
    </div>
  </fieldset>