Widget.types.string = {
	get_string: function() {
		var result = this.getString.apply(this, arguments);
		if(result.is_template) {
			return jQuery.parseHTML(result.string);
		} else {
			return document.createTextNode(result.string);
		}
	},
	
	handle_strings_for_list_result: function(string_key, keys, widget, no_result_message, option_getter) {
		option_getter = option_getter || 'getOption';
		no_result_message = no_result_message || "{{writeString=widget.no_result.default_message}}";
		var message_id = 'search_message'+widget.widgetId;
		var strings = this;
		widget.handle('reloaded', function(event, list_length) {
			if(list_length !== 0) {
				var prev_message = Widget.notificationWithIdentifier(message_id);
				prev_message && prev_message.data('functions').close();
				return;
			}
		
			message = jQuery('<div/>').append(strings.get_string(string_key));
			var criteria_list = jQuery('<ul/>').appendTo(message);
			var append_message = function(string_detail, parameters) {
				criteria_list.append(jQuery('<li/>').append(strings.get_string(string_key+'.'+string_detail, parameters)));
			};
		
			var search = widget.getSearch({search: search});
			if(search !== null) {
				append_message('search', {search: search});
			}
			jQuery.each(keys, function(i, key) {
				var option = widget[option_getter](key);
				if(option && option != '__all') {
					var parameters = {};
					parameters[key] = option;
					append_message(key, parameters);
				}
			});
			if(criteria_list.children().length > 0) {
				Widget.notifyUser('info', message, {isHTML: true, closable: false, identifier: message_id, searchInfo: true});
			} else {
				Widget.notifyUser('info', no_result_message, {isHTML: true, closable: false, identifier: message_id, searchInfo: true});
			}
		}, false, true);
	},
	
	get_parameterized_string: function() {
		var result = this.getString.apply(this, arguments);
		if(result.is_template) {
			return result.string;
		} else {
			return document.createTextNode(result.string);
		}
	}
}