#cmos_admin_menu {
	position: absolute;
	overflow: hidden;
	left: 0;
	right: 0;
}

#cmos_admin_menu .cmos_logo {
	padding:.3em 1em .3em .3em;
	color: #e3ef99;
}

#cmos_admin_menu .admin_menu_right .activity_indicator {
	margin: 0px 7px -3px 0px;
}

#cmos_admin_menu .admin_menu_right {
	right: 0;
	padding-right: 0;
}

#cmos_admin_menu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	font-size: 13px;
	height: 31px;
	color: #FFF;
	z-index: 100;
}

#cmos_admin_menu .ui-widget-header {
	height: 31px;
	padding: 0;
}

#cmos_admin_menu .admin_menu_right,
#cmos_admin_menu .admin_menu_left {
	position: absolute;
	top: 0;
	height: 23px;
	margin: 4px 0px;
}

#cmos_admin_menu .admin_menu_left { 
	left: 0;
}

#cmos_admin_menu .admin_menu_right {
	position: absolute;
	right: 0;
}

#cmos_admin_menu .admin_menu_right > *,
#cmos_admin_menu .admin_menu_left > * {
	display: inline-block;
}

#cmos_admin_menu .cmos-button {
	margin: 0 0 0 .7em;
	padding: .2em 1.4em .3em 1.4em;
	height: 22px;
}

#cmos_admin_menu .admin_menu_right span.cmos-button.ui-state-default {
	display: inline-block;
	margin-right: 1em;
}

#cmos_admin_menu .ui-widget-header select {
	background-color: transparent !important;
	border: #000 1px solid;
	border-color: #000 #555 #666 #555;
	padding: .2em .1em .0em 2em;
	color: #e3ef99;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	min-width: 20em;
	line-height: 11px;
	text-align: left;
	margin-left: .7em;
	height: 22px;
}

#cmos_admin_menu .ui-widget,
#cmos_admin_menu .ui-widget-header,
#cmos_admin_menu .ui-widget-header select {
	font-size: 12px;
}

#cmos_admin_menu .ui-widget-header select.content_language {
	min-width: 10em !important;
	padding-left: .2em;
}

#cmos_admin_menu .ui-widget-header select option	 {
	color:#000;
	background-color: #EBEDEF;
	padding:.2em .3em .2em 1.5em;
	padding-left: 1.5em;
	margin: 0em 0;
}

#cmos_admin_menu .ui-widget-header select option:hover {
  /*does not work*/
	background-color: red !important;
}

#cmos_admin_menu .ui-widget-header select option.separator {
	border-top: 1px solid #e3ef99;
	font-size: 3px;
}

#cmos_admin_menu .ui-widget-header select option[selected]	 {
	color:#B8D600 important;
	background-color: #B8D600;
	padding-bottom: 0;
}

#cmos_admin_menu .admin-menu-button {
	display: inline-block;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

#cmos_admin_menu button.cmos-button.dashboard,
#cmos_admin_menu button.cmos-button.logout_link {
	padding: 2px 2px 2px 2px;
	height: 21px;
	width: 22px;
	margin: 0 0 0 .7em;
	background: transparent url("{{writeConstantValue=INT_IMAGES_DIR_FE}}/admin/dashboard_icon.gif") no-repeat center;
}

#cmos_admin_menu span.domain_name {
	color: #DDDDDD;
}

#cmos_admin_menu button.cmos-button.dashboard span,
#cmos_admin_menu button.cmos-button.logout_link span {
	display: none;
}

#cmos_admin_menu button.dashboard:hover,
body.dashboard #cmos_admin_menu button.cmos-button.dashboard {
	background-image: url("{{writeConstantValue=INT_IMAGES_DIR_FE}}/admin/dashboard_icon_hover.gif");
}

#cmos_admin_menu button.cmos-button.logout_link {
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	background: transparent url("{{writeConstantValue=INT_IMAGES_DIR_FE}}/admin/logout_icon.gif") no-repeat center;
}

#cmos_admin_menu > div {
	padding: .3em .7em;
	border: none;
	border-bottom: @border;
}

#cmos_admin_menu .cmos-button.ui-state-default,
.ui-state-default, .ui-widget-content .ui-state-default {
	background: url() transparent;
}

#cmos_admin_menu .cmos-button.ui-state-hover,
#cmos_admin_menu .cmos-button.ui-state-active {
	color: #e3ef99;
}

.admin_menu_maximizer {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}