#rapila_admin_menu {
	position: absolute;
	overflow: hidden;
	left: 0;
	right: 0;
}

#rapila_admin_menu .rapila_logo {
	padding: 0 10px;
	color: #e3ef99;
}

#rapila_admin_menu .admin_menu_right .activity_indicator {
	margin: 3px;
}

#rapila_admin_menu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	font-size: 13px;
	height: 31px;
	color: #FFF;
	z-index: 100;
}

#rapila_admin_menu .ui-widget-header {
	height: 31px;
	padding: 0;
}

#rapila_admin_menu .rapila-icon {
	margin: 0 1em;
}

#rapila_admin_menu .admin_menu_right,
#rapila_admin_menu .admin_menu_left {
	position: absolute;
	top: 0;
	height: 23px;
	line-height: 23px;
	margin: 4px 0px;
}

#rapila_admin_menu .admin_menu_left { 
	left: 0;
}

#rapila_admin_menu .admin_menu_right {
	position: absolute;
	right: 5px;
	padding-right: 0;
}

#rapila_admin_menu .admin_menu_right > *,
#rapila_admin_menu .admin_menu_left > * {
	vertical-align: top;
	display: inline-block;
}

#rapila_admin_menu .rapila-button {
	margin: 0 0 0 7px;
	padding: 3px 14px 3px 14px;
	height: 22px;
}

#rapila_admin_menu .admin_menu_right span.rapila-button.ui-state-default {
	display: inline-block;
	margin-right: 10px;
}

#rapila_admin_menu .ui-widget-header select {
	background-color: transparent !important;
	border: #000 1px solid;
	border-color: #000 #555 #666 #555;
	padding: 2px 1px 0 12px;
	color: #C4C4C4;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	min-width: 20em;
	text-align: left;
	margin-left: 7px;
	height: 22px;
}

#rapila_admin_menu .ui-widget,
#rapila_admin_menu .ui-widget-header,
#rapila_admin_menu .ui-widget-header select {
	font-size: 12px;
}

#rapila_admin_menu .ui-widget-header select.ui-state-active {
	color: #e3ef99;
}

#rapila_admin_menu .ui-widget-header select.content_language {
	min-width: 10em !important;
	padding-left: 2px;
}

#rapila_admin_menu .ui-widget-header select option {
	color:#000;
	background-color: #EBEDEF;
	padding: 2px 3px 2px 15px;
	padding-left: 15px;
	margin: 0;
}

#rapila_admin_menu .ui-widget-header select option.default_option {
	/* color: #B9B9B9; */
}

#rapila_admin_menu .ui-widget-header select option.separator {
	border-top: 1px solid #e3ef99;
	font-size: 3px;
}

#rapila_admin_menu .ui-widget-header select option.separator_top {
	border-top: 1px solid #B8D600;
}

#rapila_admin_menu .ui-widget-header select option[selected] {
	color:#B8D600 important;
	background-color: #B8D600;
	padding-bottom: 0;
}

#rapila_admin_menu .admin-menu-button {
	display: inline-block;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

#rapila_admin_menu span.open-tag-panel {
	line-height: 1.5em;
}

#rapila_admin_menu button.rapila-button.dashboard,
#rapila_admin_menu button.rapila-button.logout_link,
#rapila_admin_menu button.open-tag-panel,
#rapila_admin_menu button.open-documentation,
#rapila_admin_menu button.open-action {
	padding: 2px 2px 2px 2px;
	height: 21px;
	width: 22px;
	margin: 0 0 0 7px;
}

#rapila_admin_menu button.open-tag-panel,
#rapila_admin_menu button.open-documentation,
#rapila_admin_menu button.open-action {
	background-image: url("{{writeDirectInclude=admin/tag.png;template=location_only}}");
	background-repeat: no-repeat;
	height: 24px;
	width: 25px;
	border: 0;
	padding: 0;
}

#rapila_admin_menu button.open-action {
	background-image: url("{{writeDirectInclude=admin/action_white.png;template=location_only}}");
}

#rapila_admin_menu span.domain_name {
	color: #DDDDDD;
}

#rapila_admin_menu button.rapila-button.dashboard span,
#rapila_admin_menu button.rapila-button.logout_link span,
#rapila_admin_menu button.open-tag-panel span,
#rapila_admin_menu button.open-documentation span,
#rapila_admin_menu button.open-action span {
	display: none;
}

button.rapila-button.logout_link {
	border-radius: 12px;
	background: transparent url("{{writeDirectInclude=admin/logout_icon.gif;template=location_only}}") no-repeat center; 
}

button.rapila-button.dashboard {
	background:transparent url("{{writeDirectInclude=admin/dashboard_icon.gif;template=location_only}}") no-repeat center; 
}

#rapila_admin_menu button.dashboard:hover,
body.dashboard #rapila_admin_menu button.rapila-button.dashboard {
	background-image: url("{{writeDirectInclude=admin/dashboard_icon_hover.gif;template=location_only}}");
}

#rapila_admin_menu > div {
	padding: 3px 7px;
	border: none;
	border-bottom: 1px solid #D4D8DC;
}

#rapila_admin_menu select {
	-webkit-appearance: none;
	background:transparent url("{{writeDirectInclude=admin/select_gradient_dark.png;template=location_only}}") no-repeat center right;
}

.admin_menu_maximizer {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}
