<div id="rapila_admin_menu" style="display: {{style;defaultValue=none}};" data-widget-type="admin_menu" data-widget-session="{{session}}">
	<div class="ui-widget-header ui-widget"><div class="admin_menu_left"></div><div class="admin_menu_right"></div>
	</div>
</div>