<form>
	<div class="status_section">
		<label for="link_category_id">{{writeString=wns.link_category}}</label>
		<select name="link_category_id" class="ui-widget-content" data-widget-type="link_category_input"></select><br />
		<label for="language_id">{{writeString=wns.language}}</label>
		<select name="language_id" class="ui-widget-content" data-widget-type="language_input"></select><br />
		<div class="hide_if_not_saved">
			<label>{{writeString=wns.created_info}}:</label><span class="created_info status"></span><br />
			<label>{{writeString=wns.updated.info}}:</label><span class="updated_info status"></span>
		</div>
	</div>
	<label for="name" class="validate-name_required">{{writeString=wns.name}}</label>
	<input type="text" name="name" class="ui-widget-content" /><br />
	<label for="url" class="validate-url_required">{{writeString=wns.link.url_info}}<a class="url_preview">{{writeString=wns.link.goto_url}}</a></label>
	<input type="text" name="url" class="ui-widget-content" /><br />
	<label for="description">{{writeString=wns.description}}</label>
	<textarea rows="2" cols="30" name="description" class="ui-widget-content"></textarea><br />
</form>