Widget.types.link_detail = {
	initialize: function() {
		var _this = this;
		this.init_content();
		this._element.find('div.hide_if_not_saved').hide();
		this._element.find("select[name='language_id']").prepareWidget();
		this.link_category_input = this._element.find("select[name='link_category_id']").prepareWidget(function(link_category_input_widget) {
			link_category_input_widget.settings.initial_selection = _this.settings.initial_category_id || '';
			link_category_input_widget.settings.disabled = !!_this.settings.predefined_link_category_id;
		}, function(link_category_input_widget) {
			if(_this.settings.predefined_link_category_id) { 
				link_category_input_widget._element.val(_this.settings.predefined_link_category_id);
			}
		});
		Widget.callStatic('detail', 'create_for_instance', this);
	},

	init_content: function() {
		this._element = Widget.parseHTML("{{includeTemplate=edit}}");
		var link_detail = this;
		Widget.createWithElement('tag_area', function(widget) {
			link_detail.tag_area = widget;
			widget.settings.auto_load = false;
			widget.settings.dnd = false;
			widget.settings.deletable = true;
			widget.setModelName('Link');
			widget.handle('element_set', function(event, element) {
				link_detail._element.find('div.tags_in_detail').append(element);
			});
		}, jQuery.noop);
	},

	fill_data: function() {
		this.detail_widget.disable();
		this.linkData(function(link_data) {
			this._element.find("input[name='name']").val(link_data.Name);
			this._element.find("input[name='url']").val(link_data.Url);
			this._element.find("textarea[name='description']").val(link_data.Description);
			this._element.find("input[name='is_inactive']").prop('checked', link_data.IsInactive);
			this._element.find("select[name='language_id']").val(link_data.LanguageId || '');
			this._element.find(".updated_info").text(link_data.UpdatedInfo);
			this._element.find(".created_info").text(link_data.CreatedInfo);
			this._element.find(".detail_id").text(link_data.Id);
			this._element.find('div.hide_if_not_saved').show();

			if(link_data.Url !== '') {
				this._element.find('a.url_preview').attr('href', link_data.Url);
			}
			if(!this.settings.predefined_link_category_id) {
				this.link_category_input.val(link_data.LinkCategoryId || '');
			}
			if(link_data.Id) {
				this.tag_area.setTaggedItemId(link_data.Id);
				this.tag_area.reload_tags();
			}
			this.detail_widget.set_title(this.detail_widget.settings.title = link_data.Name);
			this.detail_widget.enable();
		});
	},

	settings: {
		detail_widget: {
			title: "{{writeString=wns.new_entry}}",
			width: 530
		},
		initial_category_id: null,
		predefined_link_category_id: null
	}

};
