Widget.types.document_category_detail = {
	initialize: function() {
		this.content = jQuery.parseHTML("{{includeTemplate=edit}}");
		Widget.callStatic('detail', 'create_for_instance', this);
		this.content.find('input[name="name"]').select();
	},
	
	fill_data: function() {
		this.detail_widget.disable();		
		this.categoryData(function(category_data) {
			this.content.find("input[name='name']").val(category_data.Name);
			this.content.find("input[name='max_width']").val(category_data.MaxWidth);
			this.content.find("input[name='is_inactive']").prop('checked', category_data.IsInactive);
			this.content.find("input[name='is_externally_managed']").prop('checked', category_data.IsExternallyManaged);
			this.content.find(".updated_info").text(category_data.UpdatedInfo);
			this.content.find(".created_info").text(category_data.CreatedInfo);
			this.content.find("span[class='detail_id']").text(category_data.Id);
			this.detail_widget.set_title(this.detail_widget.settings.title = category_data.Name);
			this.detail_widget.content.find('input[name="name"]').select();
			this.detail_widget.enable();		
		});
	},

	close: function() {
		this.detail_widget.close();
		this.close_callback();
	},
	
	settings: {
		detail_widget: {
			title: "{{writeString=wns.document_category.create}}",
			width: 530
		}
	}

};