<form>
	<div class="status_section">
		<input type="checkbox" name="is_externally_managed" value="1" />
		<label for="is_externally_managed">{{writeString=widget.is_externally_managed}}</label><br />
		<label>ID:</label><span class="detail_id">{{id}}</span>
	</div>
	<label for="name">{{writeString=name}}</label>
	<input type="text" name="name" class="ui-widget-content" /><br />
	<label for="max_width">{{writeString=max_width}}</label>
	<input type="text" name="max_width" class="ui-widget-content" /><br />
</form>