jQuery(document).ready(function() {
	// init main content
	AdminInterface.content.find('table.language_list').prepareWidget(function(language_list) {
		// init info_bar
		AdminInterface.info_bar.prepareWidget(function(info_bar) {
			info_bar.add_button('add-new-item', function() {
				Widget.create('language_detail', function(widget) {
					widget.open();
					widget.save_callback = function() {
						language_list.reload();
					};
				});
			}, 'n', true);
	
			// add row_count_info
			info_bar.add_row_count_info_for_list(language_list);
		});
	});
});