Widget.types.role_input = {
	prepare: function() {
		this.checkbox_prototype = jQuery('<input/>').attr('type', 'checkbox');
		this.allRoles(function(roles) {
			var fieldset = this._element.find('fieldset');
			if(roles.length === 0) {
				jQuery('<div/>').addClass('no_entries_info').html("{{writeString=wns.roles.none_available}}").appendTo(fieldset);
			}
		
			jQuery.each(roles, function(i, role) {
				var checkbox = this.checkbox_prototype.clone();
				checkbox.attr('name', 'role_keys[]').attr('value', role.role_key).appendTo(fieldset);
				jQuery('<label/>').attr('for', 'role_keys[]').text(role.role_key+" / "+role.description).appendTo(fieldset);
				jQuery('<br/>').appendTo(fieldset);
			}.bind(this));
		});
	},
	
	checked_roles: function() {
		var result = [];
		this._element.find("input[name='role_keys[]']:checked").each(function() {
			result.push(this.value);
		});
		return result;
	},
	
	set_checked: function(values) {
		if(!values) {
			this._element.hide();
			return;
		} else {
			this._element.show();
		}
		value_obj = {};
		jQuery.each(values, function(i, value) {
			value_obj[value] = true;
		});
		this._element.find("input[name='role_keys[]']").each(function(i, checkbox) {
			jQuery(checkbox).attr('checked', !!value_obj[checkbox.value]);
		});
	}
};