Widget.types.role_input = {
	prepare: function() {
		var input = jQuery('<input/>').attr('type', 'checkbox');
		var roles = this.getRoles();

		var fieldset = this._element.find('fieldset');
		if(roles.length === 0) {
			jQuery('<div/>').html("{{writeString=role.none_available_message}}").appendTo(fieldset);
		}
		jQuery.each(roles, function(i, role) {
			var checkbox = input.clone();
			checkbox.attr('name', 'role_keys[]').attr('value', role.role_key).appendTo(fieldset);
			jQuery('<label/>').attr('for', 'role_keys[]').text(role.role_key+" / "+role.description).appendTo(fieldset);
			jQuery('<br/>').appendTo(fieldset);
		}.bind(this));
	},
	
	set_checked: function(values) {
		if(!values) {
			this._element.hide();
			return;
		} else {
			this._element.show();
		}
		value_obj = {};
		jQuery.each(values, function(i, value) {
			value_obj[value] = true;
		});
		this._element.find("input[name='role_keys[]']").each(function(i, checkbox) {
			jQuery(checkbox).attr('checked', !!value_obj[checkbox.value]);
		});
	}
};