.ui-icon.ui-icon-user-backend,
.ui-icon.ui-icon-user-admin_area,
.ui-icon.ui-icon-user-frontend,
.ui-icon.ui-icon-user-admin {
	width: 18px;
	height: 18px;
}

.ui-icon.ui-icon-user-backend,
.ui-state-hover .ui-icon.ui-icon-user-backend {
	background-image: url('{{writeDirectInclude=admin/preview-user.gif;template=location_only}}') !important;
}

.ui-icon.ui-icon-user-admin_area,
.ui-state-hover .ui-icon.ui-icon-user-admin_area {
	background-image: url('{{writeDirectInclude=admin/admin_manager-user.gif;template=location_only}}') !important;
}

.ui-icon.ui-icon-user-frontend,
.ui-state-hover .ui-icon.ui-icon-user-frontend {
	background-image: url('{{writeDirectInclude=admin/frontend-user.gif;template=location_only}}') !important;
}

.ui-icon.ui-icon-user-admin,
.ui-state-hover .ui-icon.ui-icon-user-admin {
	background-image: url('{{writeDirectInclude=admin/admin-user.gif;template=location_only}}') !important;
}
