div.dashboard_tasks {
	height: 100%;
}

#admin_main .other_tasks {
	float: right;
	border: 1px dotted black;
	width: 250px;
	min-height: 300px;
}

#admin_main .dashboard_tasks .context_tasks {
	margin-right: 280px;
	border: 1px dotted red;
	min-height: 300px;
}