<form>
	<label for="name">{{writeString=wns.name}}</label>
	<input type="text" name="name" class="ui-widget-content" /><br />
	<div class="status_section hide_if_not_saved">
 		<label>{{writeString=wns.created_info}}:</label><span class="created_info status"></span><br />
 		<label>{{writeString=wns.updated.info}}:</label><span class="updated_info status"></span><br />
		<label>ID:</label><span class="detail_id">{{id}}</span>
	</div>
	<div class="roles_section" data-widget-type="role_input" style="clear:right;">
		<label>{{writeString=wns.user.roles}}</label><br />
		<fieldset class="option_groups">
		</fieldset>
	</div>
</form>