<form>
	<div class="status_section">
		<div class="hide_if_not_saved">
			<label>{{writeString=wns.created_info}}:</label><span class="created_info status"></span><br />
			<label>{{writeString=wns.updated.info}}:</label><span class="updated_info status"></span><br />
			<label>{{writeString=wns.id}}</label><span class="detail_id"></span>
		</div>
	</div>
	<label for="name">{{writeString=wns.name}}</label>
	<input type="text" name="name" class="ui-widget-content" />
	<div class="roles_section" data-widget-type="role_input" style="clear:right;">
		<label>{{writeString=wns.user.roles}}</label>
		<fieldset class="option_groups">
		</fieldset>
	</div>
</form>