Widget.types.group_detail = {
	initialize: function() {
		this.content = jQuery("{{includeTemplate=edit}}");
		Widget.create('detail', function(widget) {
			this.detail_widget = widget.set_instance(this);
			jQuery.extend(widget.settings, {
				title: "{{writeString=group.create}}",
				width: 400
			});
			widget.content = this.content;
			if(this.auto_open) {
				this.open();
			}
		}.bind(this));
	},
	
	open: function() {
		if(!this.detail_widget) {
			this.auto_open = true;
			return false;
		}
		this.detail_widget.open();
	},
	
	fill_data: function() {
		this.getGroupData(function(group_data) {
			this.content.find("input[name='name']").val(group_data.Name);
			this.content.find(".updated_info").text(group_data.UpdatedInfo);
			this.content.find(".created_info").text(group_data.CreatedInfo);
			this.detail_widget.set_title(this.detail_widget.settings.title = group_data.Name);
		});
	},
	
	close: function() {
		this.detail_widget.close();
		this.close_callback();
	},
	
	save_callback: jQuery.noop,
	close_callback: jQuery.noop
};