Widget.types.group_detail = {
	initialize: function() {
		this.content = jQuery.parseHTML("{{includeTemplate=edit}}");
		this.content.find('div.hide_if_not_saved').hide();
		Widget.callStatic('detail', 'create_for_instance', this);
		this.roles_section = this.content.find("div.roles_section").prepareWidget(function(roles) {
			this.handle('saving', function(event, data) {
				delete data.role_keys;
				data.roles = roles.checked_roles();
			});
		}.bind(this));
	},
	
	open: function() {
		if(!this.detail_widget) {
			this.auto_open = true;
			return false;
		}
		this.detail_widget.open();
	},
	
	fill_data: function() {
		this.detail_widget.disable();		
		this.groupData(function(group_data) {
			this.content.find("input[name='name']").val(group_data.Name);
			this.content.find(".updated_info").text(group_data.UpdatedInfo);
			this.content.find(".created_info").text(group_data.CreatedInfo);
			this.content.find(".detail_id").text(group_data.Id);
			
			this.roles_section.ensureWidget(function(roles) {
				roles.set_checked(group_data.Roles);
			});
			this.detail_widget.set_title(this.detail_widget.settings.title = group_data.Name);
			this.content.find('div.hide_if_not_saved').show();
			this.detail_widget.enable();		
		});
	},
	
	settings: {
		detail_widget: {
			title: "{{writeString=wns.group.create}}",
			width: 550
		}
	}
};