jQuery(document).ready(function() {

	var sidebar = AdminInterface.sidebar;
	var content_list = AdminInterface.content;
	var info_bar = AdminInterface.info_bar;

	var handlers = [];

	sidebar.children('[data-widget-type]').prepareWidget(function(widget) {
		sidebar = widget;
	}.deferred(handlers));
	content_list.children('[data-widget-type]').prepareWidget(function(widget) {
		content_list = widget;
	}.deferred(handlers));
	info_bar.prepareWidget(function(widget) {
		info_bar = widget;
	}.deferred(handlers));

	jQuery.when.apply(jQuery, handlers).then(function() {

		// Prepare file_upload in sidebar
		Widget.create('file_upload', function(file_upload) {
			file_upload.allow_drag_to(sidebar._element, '.ui-list-row:not(.magic_column)', function(target) {
				var dropped_on_document_category_id = sidebar.collect_row_data(target).document_category_id;
				return {document_category_id: dropped_on_document_category_id, callback: function(document_id) {
					var selected_document_category_id = content_list.getOption('document_category_id');
					if(selected_document_category_id == '__all' || selected_document_category_id == dropped_on_document_category_id) {
						content_list.append_row_with_data({id: document_id});
					}
				}};
			});
		});

		// Add info_bar elements
		info_bar.add_button('add-new-item', function() {
			Widget.create('document_detail', function(widget) {
				widget.settings.initial = {document_category_id: sidebar.active_row().data('document_category_id')};
				widget.open();
				widget.handle('saved', function() {
					content_list.reload();
				});
			});
		}, 'n', true).add_button('add-new-item', function() {
			Widget.create('sidebar_input', function(widget) {
				widget.add_new_sidebar_input("{{writeString=wns.document_category.default_name}}", 'DocumentCategory', null, 'rapila-document_category_changed');
			});
		}).add_search_input("{{writeString=wns.search.enter_search}}", function(search) {
			if(content_list.setSearch(search)) {
				content_list.reload();
			}
		}).add_row_count_info_for_list(content_list).add_button('toggle-thumbnail-view rapila-icon', function(event, item) {
			if(item.text() === 'thumbnails') {
				// Switch to thumbnail view
				item.text('list');
				content_list.thumbnail_view(true);
			} else {
				// Switch from thumbnail view
				item.text('thumbnails');
				content_list.thumbnail_view(false);
			}
		}, 't', 'commons').text('thumbnails');

		// Add and remove tag and force reload list with heading if it was the first or the last one
		Widget.create('model_drag_and_drop').handle('model-dragged-onto-Document', function(event, item_id, dragged_model, dragged_item_id, status, success) {
			if(dragged_model !== 'Tag') {
				return;
			}
			if(success.is_first_of_model) {
				content_list.reload('force');
			}
		});
		Widget.handle('rapila-tag-removed-from-Document', function(event, result) {
			if(result.was_last_of_model) {
				content_list.reload('force');
			}
		});

		// Remove sidebar item
		var remove_item = info_bar.add_button('remove-item', function() {
			var row = sidebar.active_row();
			var rowData = sidebar.collect_row_data(row);
			if(rowData.document_category_id) {
				function remove_active_category() {
					sidebar.delete_row(row);
					Widget.fire('rapila-document_category_changed', {removed: true, id: rowData.document_category_id});
				}
				content_list.categoryHasDocuments(rowData.document_category_id, function(has_documents) {
					if(has_documents) {
						Widget.confirm("{{writeString=wns.rapila_alert.information}}", "{{writeString=wns.document_category.delete_information}}", function(confirmed) {
							if(confirmed) {
								remove_active_category();
								content_list.setOption('document_category_id', null);
								content_list.reload();
							}
						});
					} else {
						remove_active_category();
					}
				});
			}
		}).disable();

		// Edit sidebar item
		var edit_item = info_bar.add_button('edit-item', function() {
			Widget.create('document_category_detail', function(widget) {
				widget.setDocumentCategoryId(sidebar.active_row_datas()[0].document_category_id);
				widget.open();
				widget.fill_data();
			});
		}).disable();

		// Sidebar element changed
		Widget.handle('rapila-document_category_changed', function(event, info) {
			if(info.updated) {
				sidebar.update_row(sidebar.row_from_row_data({document_category_id: info.id}));
			} else if (info.inserted) {
				sidebar.reload();
			} else if (info.removed) {
				var row = sidebar.row_from_row_data({document_category_id: info.id});
				if(row) {
					row.remove();
				}
			}
		});

		// Sidebar selection changed
		sidebar.settings.row_click_active_mode = 'activate';
		sidebar.handle('list-selection_changed', function(event, selection) {
			var document_category_id = selection[0] && selection[0].document_category_id;
			var has_detail = selection.length === 1 && document_category_id.constructor === Number;
			remove_item[has_detail ? 'enable' : 'disable']();
			edit_item[has_detail ? 'enable' : 'disable']();
			content_list.setOption('document_category_id', document_category_id);
			content_list.reload();
			jQuery('#new_sidebar_input').remove();
		});

		// Search no result handling
		AdminInterface.strings.handle_strings_for_list_result('wns.documents.no_result', ['document_category_name', 'document_kind_name', 'language_name', 'tag_name'], content_list);
	});
});
