<div><button class="edit{{class_active}}{{edit_inactive}}" onclick="location.href='{{link}}';" title="{{writeParameterizedString=edit.item_title;title=\{\{title\}\};position=last}}">{{externally_managed}} {{title}} {{max_width}}</button></div>