<div><button class="edit has_text{{class_active}}{{edit_inactive}}" onclick="location.href='{{link}}';" title="{{writeParameterizedString=edit.item_title;title=\{\{title\}\};position=last}}">{{title}}</button></div>